[2016-04-17 10:52] RealRancor commented on #2356
Voting to remove the completely webserver tips and only have ownCloud specific stuff in there.

No one is really maintaining this stuff and the documentation of a web application shouldn't try to teach people how to optimize their environments.

[2016-04-17 10:55] oparoz commented on #2356
Maybe you're right. Things move fast and it's easy to make a mistake if one doesn't understand his or her environment before applying recommendations.

[2016-04-17 10:56] RealRancor commented on #2358
php-fpm is not officially supported, only Apache2 + mod_php. I would also say:

https://github.com/owncloud/documentation/issues/2356

[2016-04-17 10:58] RealRancor commented on #2357
:+1:

We're disabling gzip in the nginx config since a longer time (https://github.com/owncloud/documentation/issues/344, https://github.com/owncloud/documentation/pull/922) as that had caused issues with E-Tags in the past.

[2016-04-17 18:15] RealRancor commented on #2334
@Xenopathic Just remembered https://github.com/owncloud/core/issues/21934#issuecomment-203887626

So no, php5-libsmbclient is not packaged for the oC9 repos and either needs to be installed from the distros package (if its available there) or via PECL / from source:

https://github.com/eduardok/libsmbclient-php#getting-started

[2016-04-18 13:04] DeepDiver1975 opened #2359 "Contacts documentation is outdated ...."
https://doc.owncloud.org/server/9.0/user_manual/pim/contacts.html

This still reflects the old conatcts app ... no idea on how to continue on this.
The new app will constantly evolve and there is not fixed feature set which can be identified to be part of 9.0. Same applies to the calendar actually.

[2016-04-18 14:11] rullzer opened #2360 "Document data-fingerprint"
The `data-fingerprint` is added in https://github.com/owncloud/core/pull/24054. More details in https://github.com/owncloud/enterprise/issues/966.

Basically it is a property to let the clients find out if a backup has been restored.
We should probabaly have generic restore-backup docs and what to do.

CC: @carlaschroder

[2016-04-18 18:57] carlaschroder commented on #2358
Heh, seems like only yesterday there was a lot of activity around cleaning up and re-organizing performance tips :) I agree, Apache is so well-documented it's really not worth the effort of maintaining this. Time to review all the tips pages, I thinks.

[2016-04-18 18:58] carlaschroder commented on #2357
This can be part of reviewing/removing all the tips stuff.

[2016-04-18 18:59] carlaschroder commented on #2356
Agreed.

[2016-04-18 19:01] carlaschroder commented on #2331
At last, this particular issue which has plagued us forever is resolved! Feast your eyes upon https://doc.owncloud.org/ and https://doc.owncloud.com/; there is no more useless search form. It searched only the index.html pages and it was not possible to make it do deeper searches.

[2016-04-18 19:01] #2331 closed

[2016-04-18 19:32] RealRancor commented on #2359
Calendar is tracked here: https://github.com/owncloud/documentation/issues/2278

If there is a rework of the docs someone could have a look at https://github.com/owncloud/documentation/issues/1121

[2016-04-18 22:48] carlaschroder commented on #2288
Done. https://github.com/owncloud/documentation/commit/260a8e27245c356c98d707550eda6b743603e31e

[2016-04-18 22:48] #2288 closed

[2016-04-19 11:51] turb opened #2361 "Document Debian downstream/upstream migration"
We discovered this morning the Debian/ownCloud disagreement about upgrades.

We are running ownCloud 7.0.4+dfsg-4~deb8u4 (Debian packaging), and I am personally running ownCloud 9.0.1-1.1 (ownCloud packaging).

I don't want to discuss who is right or wrong about this. It seems that everybody has agreed on the disagreement: ownCloud is removed from Debian official packaging, end of story.

However,

[2016-04-19 14:00] jospoortvliet commented on #2361
@turb the directory structure is the largest issue, you have to copy over the files to the location ownCloud will expect them to be in. I don't know exactly what other changes they made but note that you first have to upgrade to the latest *official* version in the 7.0.x series - the custom patches might break stuff but hopefully not.

In any case, more than EVER: DO A BACKUP BEFORE YOU START. Bec

[2016-04-19 15:31] carlaschroder commented on #2334
Egads. What fresh hell is this.

[2016-04-19 16:02] carlaschroder commented on #2334
Closing for https://github.com/owncloud/documentation/pull/2362
@Xenopathic @RealRancor please review

[2016-04-19 16:02] #2334 closed

[2016-04-19 16:06] carlaschroder commented on #2360
Thanks @rullzer

[2016-04-19 16:39] carlaschroder commented on #2345
Closing for https://github.com/owncloud/documentation/pull/2363; we've been banging on this for months, and it's just too difficult to document. Users of ancient distros will have to get help from their distro maintainers.

[2016-04-19 16:39] #2345 closed

[2016-04-19 19:48] carlaschroder commented on #2359
Then off to the doc Wiki they go.

[2016-04-19 19:48] carlaschroder commented on #2359
@DeepDiver1975 @RealRancor Is this an issue only for 9.0+?

[2016-04-19 20:48] RealRancor commented on #2359
Only 9.0+

[2016-04-19 21:29] carlaschroder commented on #2359
Thanks! When development settles down they'll go back into the manual.

https://github.com/owncloud/documentation/pull/2364

[2016-04-19 21:29] #2359 closed

[2016-04-19 21:31] carlaschroder opened #2365 "contacts & calendar"
Moved to wiki for now; keep this to track issues
https://github.com/owncloud/documentation/issues/2278
https://github.com/owncloud/documentation/issues/1121
https://github.com/owncloud/documentation/issues/2359

[2016-04-20 00:16] carlaschroder commented on #2358
All pruned. Only oC-relevant contents remain. I'm a little sad to see it go because several contributors worked on it. But it's hard to maintain, and everything that was in it is abundantly documented.
master: https://github.com/owncloud/documentation/commit/8205754767237ea50cd0034d9d0eddffe704a2ce
stable9: https://github.com/owncloud/documentation/commit/5c288e653490d6ed47f0668747c87a4324214df5
s

[2016-04-20 00:16] #2358 closed

[2016-04-20 00:16] carlaschroder commented on #2357
https://github.com/owncloud/documentation/issues/2358#issuecomment-212181480

[2016-04-20 00:16] #2357 closed

[2016-04-20 00:17] carlaschroder commented on #2356
https://github.com/owncloud/documentation/issues/2358#issuecomment-212181480

[2016-04-20 00:17] #2356 closed

[2016-04-20 00:20] carlaschroder commented on #2323
https://github.com/owncloud/documentation/pull/2363

[2016-04-20 00:20] #2323 closed

[2016-04-20 04:21] RealRancor commented on #2358
:+1:

Maybe still relevant stuff could be moved to the wiki?

[2016-04-20 07:04] oparoz commented on #2358
I agree that it would be the right location for that content.

[2016-04-20 09:11] turb commented on #2361
@jospoortvliet I don't know when I will have the opportunity to test this (on a test machine with a copy, obviously). I may provide some feedback then.

[2016-04-20 09:36] PVince81 opened #2368 "Document new config arg "urlType" for home object store config in config.php"
See https://github.com/owncloud/core/pull/21139/files#diff-2f769bc01ffefdf14eb04404218e7582R977

Not sure whether these parameters are automatically documented as part of the script or have a separate page.

@carlaschroder

[2016-04-20 09:41] ChristophWurst opened #2369 "Document un-hiding hidden files"
https://github.com/owncloud/core/pull/23952 introduced an option for users to show hidden files. Before that change, those hidden files were shown all the time. The new default is to hide those files unless the user has checked the checkbox in the settings menu.

[2016-04-20 09:57] RealRancor commented on #2358
Moved to: https://github.com/owncloud/documentation/wiki/Performance-Tuning-%28unofficial%29

For now without the suggestions in #2356, #2357 and #2358

[2016-04-20 09:57] RealRancor commented on #2361
Make also sure that its currently not really recommended to move the datadir: https://github.com/owncloud/documentation/issues/2303 so the old one (no idea where Debian has placed it) should be kept.

[2016-04-20 14:55] carlaschroder commented on #2368
The manual page for config.php is auto-generated from https://github.com/owncloud/core/blob/master/config/config.sample.php, thanks to magic from @MorrisJobke.

[2016-04-20 15:05] carlaschroder opened #2370 "Direct links to Google Drive/Dropbox configuration"
https://github.com/owncloud/core/pull/22214

[2016-04-20 15:07] carlaschroder commented on #2369
Yay, hiding hidden files!

[2016-04-20 15:46] carlaschroder commented on #2340
Release note added.
master: 1fd897f
stable9: bdf342b

[2016-04-20 15:46] #2340 closed

[2016-04-20 16:06] carlaschroder commented on #2346
@CaptionF @schiesbn Ok, finally getting to this-- what additional information should I add? It seems fairly simple.

[2016-04-20 16:43] CaptionF commented on #2346
@schiesbn @carlaschroder please make a real example, moving the keys to a different folder /var/keys
or another server  with servername folder_path.

What would be the default outcome of
occ encryption:show-key-storage-root  ?

[2016-04-20 19:00] MorrisJobke commented on #2368
@PVince81 You are too late: https://github.com/owncloud/documentation/commit/dd6edf88f4b3882cce5923f1235c0efcb95874ec
😜 The script runs every night and automatically pushes the changes (if there are some) 😉

[2016-04-20 19:00] #2368 closed

[2016-04-20 21:08] carlaschroder commented on #2289
OK, this should be more precise, and spells out where the search parameters are configured.
13f62ecef9a540805741ceb
https://github.com/owncloud/documentation/commit/6e7b231988fce811d2551ba0e4aabe975ef4ce5a

[2016-04-20 21:08] #2289 closed

[2016-04-20 21:10] carlaschroder commented on #2278
closing for https://github.com/owncloud/documentation/pull/2364

[2016-04-20 21:10] #2278 closed

[2016-04-20 21:11] #2204 closed

[2016-04-20 21:12] carlaschroder commented on #2199
Last call before closing... thanks!

[2016-04-20 21:26] carlaschroder commented on #1845
https://github.com/owncloud/documentation/pull/2371

[2016-04-20 21:26] #1845 closed

[2016-04-20 21:26] carlaschroder commented on #2154
https://github.com/owncloud/documentation/pull/2371

[2016-04-20 21:26] #2154 closed

[2016-04-21 06:54] fwolfst opened #2372 "Remove or Update Full-Text-Search Configuration Documentation"
The documentation about enabling full-text search is very unclear. It should either be removed or improved. I - for example do not find the full-text search app anywhere. I am happy to help out a bit with the text, but need proper instructions first :)

https://github.com/owncloud/documentation/blob/master/admin_manual/configuration_server/search_configuration.rst

[2016-04-21 13:45] gig13 commented on #2199
Ok to close

[2016-04-21 13:45] #2199 closed

[2016-04-21 15:27] carlaschroder commented on #2372
Looks like it's been removed from 8.2 and 9.0 https://github.com/owncloud/search_lucene/issues/113#issuecomment-194223171

[2016-04-21 15:47] carlaschroder commented on #2372
All gone.
master: e23e8d94fcf67d69084b28c8
stable9: 7bd9d66cae0099deb3fa1bdb
stable8.2: 0d402b6d0efdf8c020

[2016-04-21 15:47] #2372 closed

[2016-04-21 15:48] RealRancor commented on #2372
I think it was never available for oC 8.2+ and only provided for 8.2 because of a bug in the appstore

[2016-04-21 21:17] carlaschroder commented on #2250
I don't see this on my 2.0 client. Just an upload indicator at the very top left of the screen.

[2016-04-21 21:31] carlaschroder commented on #2298
https://github.com/owncloud/android/pull/1627

[2016-04-21 21:31] #2298 closed

[2016-04-21 21:31] carlaschroder commented on #2251
https://github.com/owncloud/android/pull/1627

[2016-04-21 21:31] #2251 closed

[2016-04-21 21:33] carlaschroder commented on #1627
Yes!

[2016-04-21 21:33] #1627 closed

[2016-04-22 08:48] #2347 closed

[2016-04-22 13:09] fwolfst commented on #2372
Thanks @carlaschroder . But its really a pity. Would be a real selling point.

[2016-04-22 14:31] jnweiger commented on #2334
So many options.
a) distro
b) PECL
c) source https://github.com/eduardok/libsmbclient-php#getting-started
d) SUSE obs https://software.opensuse.org/download.html?project=isv%3AownCloud%3Adevel&package=php5-libsmbclient

[2016-04-22 15:29] cdamken opened #2379 "Wrong path in the mimetype documentation"
@carlaschroder
In the documentation in https://doc.owncloud.com/server/8.2/admin_manual/configuration_mimetypes/mimetype_aliases.html#adding-custom-aliases

says the path /config/mimetype....
and  should be /resources/config/mimetype.....

[2016-04-22 15:41] #2342 closed

[2016-04-22 17:33] neflyte-prime commented on #2334
Those are all great options and the documentation would benefit from their mention.

[2016-04-22 18:09] carlaschroder commented on #2334
Here's the main problem with documenting this:  It's a complicated mess.

1. Option d requires the user to configure yet another 3rd-party repo
2. Options b & c, the ownCloud manuals are not about teaching every aspect of system administration and PHP
3. Option a, life is too short to track and document packaging in even the major distros and multiple versions. We already struggle with this and it

[2016-04-22 18:12] neflyte-prime commented on #2334
The documentation now seems to be updated with a PECL solution which is light-years ahead of what it was when the request was submitted.  To me, this satisfies the requirement for clarification and also ensures that you don't need to keep a hundred things up to date.  My only complaint was that the original document had a broken link to the library and this has been elegantly fixed by referring th

[2016-04-22 19:46] carlaschroder commented on #2379
https://github.com/owncloud/documentation/pull/2380

[2016-04-22 19:46] #2379 closed

[2016-04-24 17:33] jcharaoui commented on #2361
I've just successfully upgraded from the Debian package of ownCloud 7.0.13 to a tarball installation of ownCloud 9.0.1.

Moving onto the tarball release of ownCloud 7.0.13 was actually quite straightforward. The main configuration file is located in /etc/owncloud/config.php, so obviously that needs to be moved over to the new installation folder. Same for /etc/owncloud/htaccess, if any local modif

[2016-04-25 13:06] rperezb commented on #2250
@carlaschroder worthy a shared screen?

[2016-04-25 15:08] carlaschroder commented on #2226
https://github.com/owncloud/android/pull/1627

[2016-04-25 15:08] #2226 closed

[2016-04-25 16:28] michaelstingl commented on #2236
@carlaschroder I found another wrong section about "Configuration File":
https://doc.owncloud.com/server/9.0/admin_manual/configuration_files/external_storage_configuration_gui.html#configuration-file

This links to:
https://doc.owncloud.com/server/9.0/admin_manual/configuration_files/external_storage_configuration.html

… and this finally links to the OCC page:
https://doc.owncloud.com/server/9.0

[2016-04-25 20:37] carlaschroder commented on #743
closing for age and inactivity.

[2016-04-25 20:37] #743 closed

[2016-04-25 20:39] carlaschroder commented on #1952
done somewhere, sometime.

[2016-04-25 20:39] #1952 closed

[2016-04-25 20:40] carlaschroder commented on #1808
Meh. Don't need this.

[2016-04-25 20:40] #1808 closed

[2016-04-25 22:02] carlaschroder commented on #2324
Android https://github.com/owncloud/android/pull/1627

[2016-04-25 22:26] carlaschroder commented on #2333
@Xenopathic Can you give an example for the oC config? I am lost.

[2016-04-25 22:27] carlaschroder commented on #2252
https://github.com/owncloud/android/pull/1627

[2016-04-25 22:27] #2252 closed

[2016-04-25 22:27] carlaschroder commented on #2250
https://github.com/owncloud/android/pull/1627

[2016-04-25 22:27] #2250 closed

[2016-04-25 22:28] carlaschroder commented on #2249
https://github.com/owncloud/documentation/pull/2380

[2016-04-25 22:28] #2249 closed

[2016-04-26 00:14] H4ndl3 commented on #2014
@aktavor69
Changing `security.limit_extensions` isn't necessary. It doesn't change anything other than making you see a 404 error instead of 403 if you don't change `cgi.fix_pathinfo` to 1.

@josh4trunks

No, I had the same problem. Without `cgi.fix_pathinfo = 1` the server wants to redirect the visitor of `domain.com` to `domain.com/index.php/` (notice the slash at the end) which doesn't exit.

[2016-04-26 00:25] josh4trunks commented on #2014
not sure why you guys need it enabled, in my testing with freebsd I can have it disabled. your essentially doing the path splitting (but more intelligently) in the php block.

maybe some other setting is causing the difference. but I dont think there is a security worry here, our php block limits what files could ever be executed.

[2016-04-26 08:16] MorrisJobke commented on #2328
Stored as https://github.com/owncloud/documentation/wiki/Tips-for-occ-on-shared-hosting

[2016-04-26 08:16] #2328 closed

[2016-04-26 10:30] Xenopathic commented on #2333
I'm no expert on this, but I think the following should be set:

* Service name: cloudFiles (almost always)
* Region: whatever is specified by Rackspace (should be obvious)
* Bucket: user-defined, think of it like a subdirectory of the whole Rackspace storage
* Username: user-defined
* API-key: user-defined

[2016-04-26 13:33] RealRancor commented on #2361
Quoting @jospoortvliet from https://github.com/owncloud/core/issues/24232#issuecomment-214252515

[2016-04-26 13:34] DeepDiver1975 opened #2384 "[Developer Docs] repair steps for app migration is now in info.xml"
3 new entries in info.xml can be used from execute repair steps
- before database migration
- after database migration
- as background job to be executed async after migration in live operations

[2016-04-26 15:09] #391 closed

[2016-04-26 15:10] #394 closed

[2016-04-26 15:10] #478 closed

[2016-04-26 15:12] #713 closed

[2016-04-26 15:13] #729 closed

[2016-04-26 15:13] #941 closed

[2016-04-26 15:15] #943 closed

[2016-04-26 15:16] #445 closed

[2016-04-26 15:18] #749 closed

[2016-04-26 15:21] carlaschroder commented on #1154
I'm just the tech writer here, not the Web developer. I need either a PR, or to close this.
@jancborchardt @cmonteroluque

[2016-04-26 15:23] carlaschroder commented on #1307
Tis done.

[2016-04-26 15:23] #1307 closed

[2016-04-26 15:25] carlaschroder commented on #1615
This is in the admin or user manual somewhere.

[2016-04-26 15:25] #1615 closed

[2016-04-26 15:26] carlaschroder commented on #1618
I could use a PR here, please. Otherwise closing.

[2016-04-26 15:27] #1778 closed

[2016-04-26 15:28] carlaschroder commented on #1801
I need a PR, please, properly tested. Otherwise I'm closing it.

[2016-04-26 15:31] #1970 closed

[2016-04-26 15:32] carlaschroder commented on #1971
This was corrected; closing.
https://doc.owncloud.org/server/9.0/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions

[2016-04-26 15:32] #1971 closed

[2016-04-26 15:34] carlaschroder commented on #2035
Closing because nobody knows how to tune the search.

[2016-04-26 15:34] #2035 closed

[2016-04-26 15:36] carlaschroder commented on #2064
Sorry @rullzer, I missed this.  Where does it go? I need the actual page. A PR would be wonderful.

[2016-04-26 15:36] #2071 closed

[2016-04-26 15:37] #2137 closed

[2016-04-26 15:38] carlaschroder commented on #2211
@Xenopathic What do you mean "loading the settings"? Is there a button to click?

[2016-04-26 16:21] cmonteroluque commented on #1154
moving to backlog. There just simply isn't enough priority to this. Good point @carlaschroder

[2016-04-26 16:23] Mannshoch opened #2385 "Question: how to use occ with shared hoster?"
I only have a shared hoster. I have no ssh connection. Could I use occ on an other way like sending commands over the browser http address bar?

[2016-04-26 18:03] jospoortvliet commented on #2361
My current draft, please, feedback is very welcome:

## The process

We're going to start with upgrading the ownCloud 7 Debian packages to ownCloud 7 from our packages. This will be the hardest part as they are quite different. Follow these steps:

*   Make a backup of the database and, if possible, the data folder. See [our documentation](https://doc.owncloud.org/server/7.0/admin_manual/maintenan

[2016-04-26 18:52] Xenopathic commented on #2211
@carlaschroder Simply loading the personal/admin settings will trigger a recheck of every configured storage, alternatively, clicking on the status icon (green dot/red square) also triggers a recheck

[2016-04-26 22:46] carlaschroder commented on #2214
https://github.com/owncloud/documentation/pull/2387

[2016-04-26 22:46] #2214 closed

[2016-04-27 11:06] RealRancor commented on #2361
@jospoortvliet

is:

is

[2016-04-27 12:25] usonianhorizon opened #2388 "[Suggestion] Add to documentation for "Manual Installation on Linux" regarding BINLOG_FORMAT and installation"
This relates to an issue I had while doing a fresh install (see [here](https://forum.owncloud.org/viewtopic.php?f=38&t=36281)), and having received the previously reported error:

[code]

In that thread I offered that it might be helpful to add the following both to the section describing to  [BINLOG_FORMAT](https://doc.owncloud.org/server/9.0/admin_manual/configuration_database/linux_database_con

[2016-04-27 19:05] uticorenmg opened #2390 "na opção 'only from those groups' checked e usuários fora do grupo definido estão acessando o owncloud."
the option 'only from Those groups' I select one ldap group users who are in it must have access to owncloud.

However, users who are not in this group are able to access the owncloud too.

[2016-04-27 19:14] #385 closed

[2016-04-27 19:14] #387 closed

[2016-04-27 19:14] #388 closed

[2016-04-27 19:14] #389 closed

[2016-04-27 19:14] #419 closed

[2016-04-27 19:14] #420 closed

[2016-04-27 19:14] #421 closed

[2016-04-27 19:14] #644 closed

[2016-04-27 19:14] #645 closed

[2016-04-27 19:14] #654 closed

[2016-04-27 19:14] #656 closed

[2016-04-27 19:14] #693 closed

[2016-04-27 19:14] #756 closed

[2016-04-27 19:14] #1066 closed

[2016-04-27 19:14] #1089 closed

[2016-04-27 19:14] #1112 closed

[2016-04-27 19:14] #1244 closed

[2016-04-27 19:14] #1256 closed

[2016-04-27 19:14] #1322 closed

[2016-04-27 19:14] #1363 closed

[2016-04-27 19:14] #1479 closed

[2016-04-27 19:14] #1594 closed

[2016-04-27 19:14] #1616 closed

[2016-04-27 19:14] #1649 closed

[2016-04-27 19:15] #1705 closed

[2016-04-27 19:15] #1706 closed

[2016-04-27 19:15] #1711 closed

[2016-04-27 19:15] #1811 closed

[2016-04-27 19:15] #1823 closed

[2016-04-27 19:15] #1885 closed

[2016-04-27 19:15] #1896 closed

[2016-04-27 19:15] #1902 closed

[2016-04-27 19:15] #1906 closed

[2016-04-27 19:15] #1940 closed

[2016-04-27 19:18] #2064 closed

[2016-04-27 19:22] carlaschroder commented on #2361
Looks good so far, with @RealRancor's suggestions.

[2016-04-27 21:20] carlaschroder commented on #2388
Probably a good idea.

[2016-04-27 21:44] carlaschroder commented on #2388
ok then, see how this works for you: https://github.com/owncloud/documentation/pull/2392

[2016-04-27 21:44] #2388 closed

[2016-04-27 22:02] carlaschroder commented on #2390
@nickvergessen @butonic -- can you help?

[2016-04-27 22:13] uticorenmg commented on #2390
Of course ... if you have any solution would be great.

If you need any information, please ask me.

[2016-04-28 06:42] nickvergessen commented on #2390
Please create a new issue in the core repository and provide the required information and use english language only:
https://github.com/owncloud/core/issues/new

[2016-04-28 06:42] #2390 closed

[2016-04-28 09:03] jospoortvliet commented on #2361
@RealRancor I don't understand the part about /var/lib/owncloud/data  - I thought users will have to move it to /var/www/owncloud/data before running the upgrade?

[2016-04-28 09:12] RealRancor commented on #2361
@jospoortvliet We had discussed in https://github.com/owncloud/documentation/issues/2303 and https://github.com/owncloud/documentation/pull/1588 that moving the datadir is currently not supported / possible as there are various hardcoded path within ownCloud which could cause issues when moving it.

[2016-04-28 09:13] RealRancor commented on #2361
Follow-up: There are at least two open issues https://github.com/owncloud/core/issues/20628, https://github.com/owncloud/core/issues/18134 which needs to be fixed before the datadir can be moved reliable.

[2016-04-28 11:50] MorrisJobke commented on #1594
Will be killed anyway - superseeded by https://github.com/owncloud/documentation/issues/2384 in 9.1

[2016-04-28 14:45] carlaschroder commented on #2385
@MorrisJobke, I thought I saw something about this-- ?
@RealRancor, you see everything :)

[2016-04-28 15:01] RealRancor commented on #2385
occ is a command line tool so the only chance is probably to create an own script running something like shell_exec which executes the occ command.

However note:
- it makes no sense to run ./occ upgrade via the webbrowser as you will get timeouts aswell
- you probably don't want to allow a script to do shell_exec

[2016-04-28 20:08] carlaschroder commented on #2346
New PR with expanded examples https://github.com/owncloud/documentation/pull/2394
please review!

[2016-04-28 20:08] #2346 closed

[2016-04-28 20:11] carlaschroder commented on #2385
I checked-- at the moment, the only access to occ is via command shell. Sorry @Mannshoch.

[2016-04-28 20:27] MorrisJobke commented on #2385
Wiki: https://github.com/owncloud/documentation/wiki/Tips-for-occ-on-shared-hosting Voila :D

[2016-04-28 20:29] MorrisJobke commented on #2385
But if you don't have shell command then there is no way yet to run the occ command.

@DeepDiver1975 Had the idea to provide an app to run the command from the web UI, but this was not finished AFAIK.

[2016-04-29 02:51] SaerAlmukhlfi opened #2401 "it is not issue "how I install this ?""
sorry , but I don't know how installing this at own9
the website apps.owncloud.com didn't open , so I need to install it manually

can someone help me please  ;

[2016-04-29 07:07] MorrisJobke opened #2402 "Improve encryption manual"
I just want to dump an IRC log about how encryption works:

[code]

Maybe we document this how the encryption work in detail and what is possible.

[2016-04-29 07:17] RealRancor commented on #2385
@MorrisJobke Are you sure?

from https://github.com/owncloud/core/pull/24135

This matches my suggestion above:

[2016-04-29 07:17] RealRancor commented on #2401
@SaerAlmukhlfi Please use the forums or the users mailinglist for such questions: https://owncloud.org/support/

The issue tracker here is used for issues and suggestions within the oC documentation.

[2016-04-29 08:37] MorrisJobke commented on #2385
Yes, but only for the upgrade subcommand. The mentioned app would also allow the other occ subcommands ;)

[2016-04-29 09:07] ghost opened #2403 "Packages: differentiate between ownCloud update and package revison update"
Just had a user complaining about the package update process at the forums:

https://forum.owncloud.org/viewtopic.php?f=38&t=36352

The packages are currently showing:

even if only a package revision update is done:

However on such revision update of the package no occ upgrade run is needed and oC cloud be just put out of maintenance mode. It might be useful to document this in the package updat

[2016-04-29 09:09] RealRancor commented on #2385
But you still can use an own PHP script to execute the other subcommands: https://stackoverflow.com/questions/5882650/how-to-execute-a-shell-script-in-php

[2016-04-29 09:13] MorrisJobke commented on #2385
Sure :)

[2016-04-29 09:40] RealRancor commented on #2403
Ref to the core issue: https://github.com/owncloud/core/issues/24339

[2016-04-29 09:49] nickvergessen commented on #2403
I think we can fix packaging to automatically unset maintenance mode in this case and not bug the user at all with it.

[2016-04-29 10:10] RealRancor commented on #2403
Yes, that could be another possibility. Lets see what we can achieve in https://github.com/owncloud/core/issues/24339

[2016-04-29 10:19] jancborchardt commented on #1860
Still an issue. Show me where to change it and I will.

[2016-04-29 10:22] jancborchardt commented on #452
https://doc.owncloud.org/server/9.0/user_manual/pim/sync_thunderbird.html still says

and has the old screenshot.

[2016-04-29 10:22] jancborchardt commented on #452
(Good on closing the issues and cleaning up though, I like that! :)

[2016-04-29 15:06] carlaschroder commented on #452
PRs welcome.

[2016-04-29 17:45] carlaschroder commented on #2236
All fixed.

[2016-04-29 17:45] #2236 closed

[2016-04-30 11:28] Xenopathic commented on #2401
There were some networking problems with the ownCloud website over the last few days, that was probably the cause of your issues. I think it's all back to normal now.

[2016-04-30 11:28] #2401 closed

[2016-04-30 13:37] RealRancor opened #2404 "Removing old / removed documents on doc.owncloud.org"
Recently a lot of stuff where moved around which leads to still existing documents like:

https://doc.owncloud.org/server/9.0/admin_manual/installation/nginx_configuration.html
https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/performance_tuning/webserver_tips.html

It might be needed to do a cleanup of doc.owncloud.org to remove the old stuff.

[2016-05-02 12:55] PVince81 commented on #2384
@DeepDiver1975 mind posting an example `info.xml` to see how it looks like ?

[2016-05-02 16:10] carlaschroder commented on #2385
Closing; I think this is sufficiently answered.

[2016-05-02 16:10] #2385 closed

[2016-05-04 09:37] turb commented on #2361
Tested with this:
* copy to a test VM (install Debian owncloud, copy data dir, copy DB, remove "trusted_domains" entry for the sake of the test)
* remove Debian owncloud 7 -- `apt-get remove owncloud`
* install Owncloud's owncloud, per [documentation](https://software.opensuse.org/download/package?project=isv:ownCloud:community:7.0&package=owncloud)
* copy configuration:
 * `cp /etc/owncloud/confi

[2016-05-04 11:37] NightKhaos commented on #2205
https://gist.github.com/NightKhaos/de52f1804eaa207ab6fa730afba34f06

Useful configuration artifacts created while diagnosing owncloud/core#24426

[2016-05-04 14:06] rperezb commented on #2248
@carlaschroder 👋  kindly remember, this version is expected to be released next week, around 10th May

[2016-05-04 14:08] rperezb opened #2405 "[iOS] Allow editing when sharing a folder by link"

[2016-05-04 18:47] jospoortvliet commented on #2361
@RealRancor but isn't the data dir /var/www/owncloud/data by default, hardcoded?

[2016-05-04 18:48] jospoortvliet commented on #2361
thanks @turb for the feedback!

[2016-05-04 19:30] RealRancor commented on #2361
@jospoortvliet

The datadir is freely choose able during the setup:

https://doc.owncloud.org/server/9.0/admin_manual/installation/installation_wizard.html#data-directory-location

Once it is set (like it is done /var/lib/owncloud/data on Debian) it shouldn't be moved to another place for the reasons mentioned above.

[2016-05-05 15:13] carlaschroder commented on #2248
\o/

[2016-05-05 15:35] carlaschroder commented on #2404
There are some technical glitches -- I'll do some cleanup when they're fixed.

[2016-05-06 09:37] felixboehm opened #2406 "Sync Client not syncing"
There are many reasons why it might look like the sync client is not syncing.
Collection of known reasons and checks will help users to resolve their issues.

- Sync client running?
- Check internet connection?
- Sync is paused?
- Files / folders not selected to sync in selective sync settings?
- Can you access the files in the web browser?
- If a new file / folder is not synced to your laptop
  -

[2016-05-06 09:51] RealRancor opened #2407 "oC 9 packages for Ubuntu/Debian are not installing owncloud-config-apache.conf.default as a default"
Something got changed silently again in the packages which is not reflected in the documentation. :see_no_evil:

Previously the owncloud.conf was installed to:

``/etc/apache2/conf-available/owncloud.conf``

and was automatically enabled to make oC instantly available via apache. Now there is only a:

``/usr/share/doc/owncloud-files/owncloud-config-apache.conf.default``

which needs to be copied a

[2016-05-06 14:36] carlaschroder commented on #2407
Thanks @RealRancor
@jnweiger, did I miss an announcement about this change?

[2016-05-06 14:55] jnweiger commented on #2407
It's a bug. Not to be documented please.
Tested RPM packages today, they instal the owncloud.conf just fine...

[2016-05-06 15:01] carlaschroder commented on #2407
ok thanks @jnweiger.

[2016-05-06 15:41] jnweiger commented on #2407
@RealRancor looks like another Ubuntu-16.04 issue to me
<pre>
docker run -ti owncloud-9.0.2-1.1-s2-ce-9.0-ubuntu_14.04
# ls -la /etc/apache2/conf-enabled/owncloud.conf
lrwxrwxrwx 1 root root 31 May  6 16:09 /etc/apache2/conf-enabled/owncloud.conf -> ../conf-available/owncloud.conf
</pre>

but

<pre>
docker run -ti owncloud-9.0.2-1.2-s2-ce-9.0-ubuntu_16.04
# ls -la /etc/apache2/conf-enabled/ownclou

[2016-05-06 15:53] RealRancor commented on #2407
@jnweiger Yes, good point. The owncloud-deps-php5 on Ubuntu 14.04 has the DEBIAN/postinst, preinst scripts but owncloud-deps-php7 installed on Ubuntu 16.04 not.

[2016-05-06 16:19] carlaschroder commented on #2407
Sorry, closed this too soon :)

[2016-05-07 08:01] jospoortvliet commented on #2361
@RealRancor ok, understood. So I'll adjust the steps to keep the data dir where it is until it's possible to move it in oC 10 or so ;-)

[2016-05-09 00:23] John475 opened #2408 "Incorrect smart quote in command example."
Don't know if this is where to post this. I haven't tried to help out with documentation before. I did just notice that the 9.0 Server Admin Manual has a typo under ownCloud Deployment Recommendations >
Session Management

Session Management
Local session management on the application server. PHP sessions are stored in a tmpfs mounted at the operating system-specific session storage location. You

[2016-05-09 09:29] jnweiger commented on #2407
@RealRancor Thank you! Of course you are right!
@carlaschroder this is a candidate for best input on a closed issue. :-)

[2016-05-09 15:52] carlaschroder commented on #2408
Fixed. Thank you @John475
master: 0de5643b49a56ed68b5
stable9: 2cc8c0480c479d88100df1acb3
stable8.2: 70faa20700b14c4059388a47e7
stable8.1: a26c6cc18ea1e40c53a9d7c68
stable8: 1b92c0791f0f20e30a427bcad

[2016-05-09 15:52] #2408 closed

[2016-05-09 16:01] michaelstingl opened #2410 "Missing information about Code Signing/integrity check"
I didn't found information about:

- How can I trigger a rescan manually? (The rescan link is only shown when a integrity check failed and I can't use this link later, because it only works with a token.)
- How often does ownCloud run the integrity check in the background?

@LukasReschke Can you help here?

[2016-05-09 16:12] michaelstingl commented on #2410
I found `sudo -u www-data php occ integrity:sign-app` which checks only the core. And the ooc page in our docs say, it is for ownCloud core developers only.

[2016-05-09 17:11] jospoortvliet commented on #2361
Updated https://github.com/owncloud/documentation/issues/2361#issuecomment-214830792 to reflect the current text.

[2016-05-09 18:46] carlaschroder commented on #2405
@rperezb I don't see this-- in the share dialog I can press the little i button on 'share with users and groups' to expose 'can edit' and 'can share'. But there are no edit options for a link share.

[2016-05-09 18:49] carlaschroder commented on #2405
Ah, folders, not files. Never mind!

[2016-05-09 22:11] carlaschroder commented on #2246
PR: https://github.com/owncloud/ios/pull/646

[2016-05-09 22:11] #2246 closed

[2016-05-09 22:12] carlaschroder commented on #2405
PR: https://github.com/owncloud/ios/pull/646

[2016-05-09 22:12] #2405 closed

[2016-05-09 22:12] carlaschroder commented on #2248
PR: https://github.com/owncloud/ios/pull/646

[2016-05-09 22:12] #2248 closed

[2016-05-09 22:12] carlaschroder commented on #2247
PR: https://github.com/owncloud/ios/pull/646

[2016-05-09 22:12] #2247 closed

[2016-05-10 15:00] carlaschroder opened #2411 "Permalinks for folders and files that work across internal users when sharing #11732"
https://github.com/owncloud/core/issues/11732

[2016-05-10 16:40] turb commented on #2361
Follow-up about upgrades:
* 7.0 => 8.0: OK
 * had to skip tasks app install as I was too lazy to install from another branch
 * hit owncloud/documents#449 (purged the browser cache)
* 8.0 => 8.1: OK (incl. tasks)
* 8.1 => 8.2: OK
* 8.2 => 9.0: OK, except:
 * hit owncloud/tasks#296
 * at first I thought that all events had been lost; it was simpler: all calendars had been disabled (I reenabled them

[2016-05-10 17:36] carlaschroder commented on #2407
OK :)

[2016-05-10 17:36] #2407 closed

[2016-05-11 10:19] jospoortvliet commented on #2361
@turb you're a hero. Thanks for your feedback. Will add warnings to the article about this. I haven't gotten other feedback so I guess I'll just publish today, see what happens - I think I did the best I could.

[2016-05-11 10:28] jospoortvliet commented on #2361
https://owncloud.org/blog/upgrading-owncloud-on-debian-stable-to-official-packages/ - published. I don't think this fits in the documentation. Any thoughts on making sure people can find it, Carla, other than social/google/etc which I'll do anyhow?

[2016-05-11 10:36] Steve8291 opened #2413 "Manual Installation Prerequisites"
In the list of php modules
`PHP module mb multibyte`
is listed.
I noticed that this is actually called:
`mbstring`
at least on Ubuntu.
This could be fixed to
`PHP module mbstring`

[2016-05-11 14:04] carlaschroder commented on #2361
@jospoortvliet I'll take a look. Maybe some links in the upgrade pages. This is an excellent howto.

[2016-05-11 15:06] carlaschroder commented on #2413
Thanks @Steve8291. Those are the PHP module names, and not the names as they may be altered by distro packaging.  I'll add a note to the Ubuntu installation example listing which modules are supplied by libapache2-mod-php5, which provides mbstring & others.

[2016-05-11 20:28] MorrisJobke commented on #2384
https://github.com/owncloud/core/pull/24582/files#diff-944aae63884d4ba3cc29038548a84288

[2016-05-12 06:37] RealRancor opened #2416 ""Enterprise Subscription" vs. "Enterprise Edition" vs. "Server Edition" vs. "Community Edition""
While doing https://github.com/owncloud/documentation/pull/2415 i've noticed that currently different therms are used within the documentation:

"Enterprise Subscription"
"Enterprise Edition"
"Server Edition"
"Community Edition"

Even the .com page here is currently not clear about that:

https://owncloud.com/community-or-enterprise/

The page there has "Community Edition" and "Enterprise Edition"

[2016-05-12 14:28] carlaschroder commented on #2416
Let's keep the old terminology and use just Community edition and Enterprise edition. Server edition is Community with paid support, and Enterprise subscription has paid support and enterprise apps. The newer terms have not been used consistently, so we might as well stick with the old terms.

[2016-05-12 15:05] carlaschroder commented on #2416
I may be the only one who actually used the new terms :)

[2016-05-12 19:34] carlaschroder commented on #601
Forgot to close this-- tips for shared hosters are on both the updater app and upgrade pages.

[2016-05-12 19:34] #601 closed

[2016-05-12 22:25] carlaschroder commented on #2416
@RealRancor I'll do this, if you haven't already started, Let me know.

[2016-05-12 22:34] RealRancor commented on #2416
Nope, haven't done this yet. Feel free to take over :-)

[2016-05-12 22:35] carlaschroder commented on #2416
Cool, I need something easy :)

[2016-05-13 14:00] carlaschroder opened #2417 "Files mp4 and flv are not reproduced in files_videoplayer #47"
https://github.com/owncloud/files_videoplayer/issues/47#issuecomment-218983274
document supported formats

[2016-05-13 19:39] carlaschroder commented on #2416
master: https://github.com/owncloud/documentation/pull/2418
stable9: e950806cad14e3ab8ecbc25843
stable8.2: 1f5287da7d96b4a42cc25c236
stable8.1: 56b8ff7d5c2587667
stable8: be2cb1eee4174f7cecfcce9a2c

[2016-05-13 19:39] #2416 closed

[2016-05-13 19:45] RealRancor commented on #2416
Nice :+1:

[2016-05-13 19:46] carlaschroder commented on #2406
Cool, thanks @felixboehm. Have you seen the existing troubleshooting section? It hasn't been update in awhile, but it has a lot of information   https://doc.owncloud.org/desktop/2.2/troubleshooting.html

[2016-05-13 20:29] RealRancor commented on #601
https://github.com/owncloud/documentation/commit/07c683e2cfb73312af77797314786d550578d129 is also a good addition to this. Should be fine from my PoV.

[2016-05-16 13:20] RealRancor commented on #2014
First drawback to have the nginx config in the wiki:

https://github.com/owncloud/documentation/wiki/ownCloud-9.x-nginx-config/_compare/9a42c4d94eeb20f650c56d9e93b338295737e494...5aa4ea180b4aac9c77f911d0f85640dd73a0bf21

Those lines where removed without further discussions however those needs to be kept in there.

cc @PaulAnnekov

[2016-05-16 13:31] carlaschroder commented on #2014
@RealRancor I understand the problem with Wiki docs; anyone can muck them up. My issue with keeping the Nginx documentation in the admin manuals is long, inconclusive discussions, and nobody has authoritative answers. I don't have the knowledge to review them, or the resources to deal with them.

[2016-05-16 13:48] carlaschroder commented on #2322
Closing as this isn't a doc issue, but a feature request.

[2016-05-16 13:48] #2322 closed

[2016-05-16 13:59] carlaschroder commented on #2014
I'm open to putting Nginx back into the admin manuals, with the caveat that it may make me grumpy :)

[2016-05-16 14:04] RealRancor commented on #2014
Maybe a short note that changes to the config in the wiki should be discussed in an issue here would be an alternative?

[2016-05-16 14:17] PaulAnnekov commented on #2014
@RealRancor sorry for that.

In my own defence I can say this wouldn't happen if you write a comment why this duplication must stay here. You have not added a comment in code (required!), you have not provided the reason of file update (https://github.com/owncloud/documentation/wiki/ownCloud-9.x-nginx-config/_history nothing helpful from you). You got what you got :).

As for now it duplicates wit

[2016-05-16 14:32] carlaschroder commented on #2014
@RealRancor I doubt that a note would help much. If this is going to need gatekeeping, then the Wiki is the wrong place.

@PaulAnnekov, a little courtesy is a good thing. Like asking before making changes to someone else's work.

[2016-05-16 14:39] RealRancor commented on #2014
@PaulAnnekov Seriosly no. If i'm starting to add comments to each stuff in the config file this would just blow the config up.

See https://github.com/owncloud/documentation/issues/2404

[2016-05-16 14:59] PaulAnnekov commented on #2014
@carlaschroder that's why I said `sorry` :).

@RealRancor no need to add description to everything, it's stupid. The same rule applies to code. You add a comment only to places that need it. If it's controversial (and it is, separate issue was created #1824) - add a comment. Answer to "why?" question will be simple "#1824" string, 5 chars.

[2016-05-16 17:00] carlaschroder commented on #2014
@RealRancor Let's try it in the wiki a little longer. If it becomes unworkable we'll put it back in the admin manual.

[2016-05-16 19:32] stefanmohl commented on #2205
@carlaschroder I think this issue is more subtle than you would expect! In the latest 9.0.2.2 update, all of us who thought we only needed to do some apache configuration (and knew how to do it) ended up with a dead site. See https://github.com/owncloud/core/issues/24426

Considering how common it is to do this, and the fact that it completely breaks at least 9.0.2.2 (and maybe also older versions

[2016-05-17 16:14] carlaschroder commented on #2417
Updated master through 8.0.

[2016-05-17 16:14] #2417 closed

[2016-05-17 16:49] carlaschroder commented on #2413
Well that was fun. `PHP module mb multibyte` was not correct. `mbstring` is the correct module name. Thanks @Steve8291
master: cd3b78c0eff3997ba3acaba1
stable9: 724f7fc9d4d38950ff405
stable8,2: faf704bf37f2c2f0b5ac4240
stable8.1: 706149e476c1796419cbf7bd91c
stable8: af6fdbd90b18c98ca9e1

[2016-05-17 16:49] #2413 closed

[2016-05-17 17:43] RealRancor commented on #2417
Ref: https://github.com/owncloud/documentation/commit/dbd03452223f2a389da2558de0b3a039d4faced2

[2016-05-18 00:16] carlaschroder commented on #2404
ok, done, the Broom of Cleansing has swept.

[2016-05-18 00:16] #2404 closed

[2016-05-18 16:26] carlaschroder commented on #741
master: 7a7e4540c6be49fb1b5c263a
stable9: 79b3f221092a1abb7dad
stable8.2: e9a4d7cdc32b07bdee8403
stable8.1: b377710f0cbf88928b8467e
stable8: f174440f572bc64849

[2016-05-18 16:40] carlaschroder commented on #741
I'll put in a request to add something to the Changelog page after these changes go live.

[2016-05-18 21:51] carlaschroder commented on #2324
Android and iOS can create federated shares, but not accept them yet.

[2016-05-18 21:51] #2324 closed

[2016-05-18 22:49] carlaschroder commented on #2333
https://github.com/owncloud/documentation/pull/2430

[2016-05-18 22:49] #2333 closed

[2016-05-19 09:09] felixboehm commented on #2406
Yes, and I couldn't find possible reasons there. Observing this to be a frequent questions.

[2016-05-19 13:18] Boilerplate4u commented on #2205
Well, I'm not sure that approach would be very productive I'll tell ya :-)

Frequently occurred questions is a good marker for lack of information or where to find it. In this case, I think one should consider a general use of "best practice" and promote "specification by example" i.e add knowledge and experinece to the "how to" library.

I'm pretty sure that will be more usefull  for everyone on

[2016-05-19 16:02] carlaschroder commented on #290
closing for age.

[2016-05-19 16:02] #290 closed

[2016-05-19 16:32] carlaschroder commented on #1496
Barely alive. Bumping to the next release so I don't have to keep looking at it.

[2016-05-19 16:33] #1801 closed

[2016-05-19 16:35] carlaschroder commented on #1878
Closing as resolved.

[2016-05-19 16:35] #1878 closed

[2016-05-19 22:26] carlaschroder commented on #2211
master: 60e934a5b12e1f60a016
stable9: 7067941cbef89727d58d269
stable8.2: 05472314d49cb0dbc60d77ce15f5f

[2016-05-19 22:26] #2211 closed

[2016-05-19 22:43] carlaschroder commented on #2302
This does not make sense. The config.php setting and GUI setting appear to conflict. Closing as not a doc issue, but a confusion issue.

[2016-05-19 22:43] #2302 closed

[2016-05-19 22:49] carlaschroder commented on #2302
opened issue in core: https://github.com/owncloud/core/issues/24738

[2016-05-19 23:08] carlaschroder commented on #2361
master: 150bd8077c79b2d5e
stable9: 3423bb1fc0f797ab2
stable8.2: 1dd11dfd81f4dcc0c
stable8.1: dce14a7f016b8ecbdd6d4c1e91
stable8: fc74ab92f459f245bf8cba6

[2016-05-19 23:08] #2361 closed

[2016-05-20 05:07] RealRancor opened #2431 "9.0.3: New way to index.php-less URLs"
oC Version: 9.0.3
Resf: https://github.com/owncloud/core/pull/24539, https://github.com/owncloud/core/pull/24540

[2016-05-20 06:33] butonic opened #2432 "Describe Log levels by how the statemant will be used"
I stumbled over https://labs.ig.com/logging-level-wrong-abstraction. The introduction appealed to me because I am reading too many OC logfiles, anyway. I keep finding myself ignoring useless lines and craving for the debug log quite often, so I propose we give app developers a reommendation which log level to use:

**DEBUG**: information that is useful during development. Usually very chatty, and

[2016-05-20 10:37] PVince81 opened #2433 "Update tags documentation for group permissions"
- main ticket: https://github.com/owncloud/enterprise/issues/1208

- [ ] update doc for tag names in tag manager: https://github.com/owncloud/systemtags_management/pull/4/files#diff-04c6e90faac2675aa89e2176d2eec7d8R8
- [ ] add mention of new field to select groups when selecting "Restricted" tag. People from the selected groups will be able to assign the tag, but others won't. The "Restricted" tag

[2016-05-20 14:36] michaelstingl commented on #2410
@cmonteroluque Who can help here? Thanks!

[2016-05-20 14:59] carlaschroder opened #2434 "Don't delete files when a backup on the server is restored #2325"
https://github.com/owncloud/client/issues/2325

[2016-05-20 15:28] carlaschroder commented on #2410
@PVince81 can you help?

[2016-05-20 15:31] PVince81 commented on #2410
Apart from @LukasReschke, no idea.
Will have to dig into the code a bit to find out why.

[2016-05-20 15:41] PVince81 commented on #2410
From what I remember the command `occ integrity:sign-app` was supposed to be usable by non-core apps.

From looking at the code, the integrity check only runs at install time and after an update. (grepped for `runInstanceVerification`. There is no command to rerun the check.

@michaelstingl is there any particular use case for requiring to run a recheck from the CLI ?

[2016-05-20 15:44] PVince81 commented on #2410
Just a sec, I think I found something. Trying...

[2016-05-20 15:51] PVince81 commented on #2410
Okay, here we go:
1) There is **no** periodic rescan
2) A rescan is done either:
    - at install time
    - at update time
    - when clicking "Rescan" in the web UI
    - running `./occ integrity:check-core` or `./occ integrity:check-app $appid`

The trouble with the CLI ones is that you need to specify the app name where the rescan needs to be done. There is no command that rescans all shipped

[2016-05-20 16:00] PVince81 opened #2435 "Document `--unscanned` option of occ files:scan"
In general when running `occ files:scan $userid` or `occ files:scan --all` it will rescan all files and folders, even the ones already known.

However in some situations we only want to explore the not yet explored folders from an aborted scan or from a newly created external storage. In such cases, the "size" column has the value "-1" in the database. In general there is a background job (through

[2016-05-20 16:07] carlaschroder commented on #2435
Cool :)

[2016-05-20 23:06] michaelstingl commented on #2410
@PVince81 Thank you very much!

[2016-05-23 05:16] RealRancor opened #2442 "Recent nginx config changes"
@Rickowski Whats the rationale of your current change in:

https://github.com/owncloud/documentation/wiki/ownCloud-9.x-nginx-example-configuration/_compare/1898b4025f612ab74b23ff8dc74615d3c2cb1a3b...91ad8882e8d1d15fca08140fa11d84f77e0cc882

If i understand this correctly:

https://stackoverflow.com/questions/11530862/regex-question-mark-and-colon

the ``?:`` is just "non capturing" as we don't nee

[2016-05-23 05:55] josh4trunks commented on #2442
that change should be reverted, non-capturing is best in this case. the match is not being used for squat

[2016-05-23 06:29] RealRancor commented on #2205
@stefanmohl @Boilerplate4u The documentation is open for contributions

[2016-05-23 14:07] carlaschroder commented on #2442
And here I had the crazy idea that putting Nginx pages in the Wiki would be fewer hassles.

[2016-05-23 19:47] carlaschroder opened #2443 "restore nginx pages to admin manual"
Because putting them in the Wiki is not working out.

[2016-05-23 19:48] carlaschroder commented on #2443
ref: https://github.com/owncloud/documentation/issues/2442

[2016-05-23 19:50] carlaschroder commented on #2443
See this PR: https://github.com/owncloud/documentation/pull/2242

[2016-05-24 06:31] rperezb opened #2444 "[ownBrander] Included new Desktop branded options"
Hey @carlaschroder this will be released, around 1st June:

- [ ] ubuntu 16.04 support https://github.com/owncloud/ownbrander/issues/602
- [ ] Show the quota information for a different folder than the root https://github.com/owncloud/ownbrander/issues/593
- [ ]  Server url hint https://github.com/owncloud/ownbrander/issues/587
- [ ]  Enable/Disable sharing options https://github.com/owncloud/ownb

[2016-05-24 10:13] mmattel commented on #2443
Many thanks for readding nginx to the documentation...
If you need a reviewer, add me to your upcoming PR :smile:

[2016-05-24 13:02] schiesbn opened #2445 "Improved mounting of public links shares"
https://github.com/owncloud/core/pull/24771

We improved the way people can add a public link share to their ownCloud. You no longer add  the  URL of your ownCloud to the "add to your ownCloud field", instead you enter your federated cloud id. The owner will then send you a federated cloud share and you will be re-directed to your ownCloud. After login you will get the notification about a new fed

[2016-05-24 15:28] carlaschroder commented on #2445
This sounds very cool.

[2016-05-24 15:31] carlaschroder commented on #2444
Thanks @rperezb

[2016-05-24 16:37] carlaschroder commented on #2445
@schiesbn Is this in any releases yet?

[2016-05-24 17:10] Boilerplate4u commented on #2205
@RealRancor - Ok, I'll dig into it when I've got some spare time. Shouldn't be that hard but lack of time is the hardest part :-)

[2016-05-24 22:13] carlaschroder commented on #2444
@rperezb Is there a way for me to see these before release?

[2016-05-25 07:23] nickvergessen opened #2449 "Update notifications via notifications API"
Core and app updates are checked all 24h via a background job.

Via the notifications API the update notification is then also available in the sync client and therefor helps people to remember to update their instances, even though they never check the web
UI.

The admin can pick a custom group of users to notify for updates. This is useful for “secure installations” where no syncing user is an a

[2016-05-25 08:27] phil-davis commented on #2449
For clarification, I think you mean "checked every 24 hours"

[2016-05-25 10:37] pierrejochem commented on #1112
Is something like this for Version 9 available?

[2016-05-25 14:06] carlaschroder commented on #2449
Nice, thanks @nickvergessen

[2016-05-25 15:34] ChristophWurst opened #2450 "9.1 auth changes"
This is meta-issue for the auth related changes we need to document.

In 9.1 we added the following features:
* Ability to track/list/kill browser sessions
* Ability to create/kill device specific passwords
* Password changes log out connected browsers/devices automatically
* Clients use the device specific password either as password for basic auth or use a new header
* Admins can enforce clients

[2016-05-25 17:15] carlaschroder commented on #2450
Thanks @ChristophWurst.

[2016-05-25 17:35] carlaschroder commented on #2443
lol you may be sorry you asked @mmattel

[2016-05-26 17:03] carlaschroder commented on #2431
GAH. I sure do miss the days of simple static HTML pages, and all you had to do to be a good web dev was avoid using blink tags.

[2016-05-26 18:57] carlaschroder commented on #2431
@RealRancor Can you help? I'm having a hard time wrapping my mind around this. Is this about configuring the ownCloud server URL to https://mysite instead of https://mysite/owncloud? I have read https://github.com/owncloud/core/pull/24539, https://github.com/owncloud/core/issues/24525, and https://github.com/owncloud/core/issues/24426, and still struggling.

[2016-05-26 19:01] carlaschroder commented on #2431
@PVince81 @DeepDiver1975 ? ^^

[2016-05-26 19:08] carlaschroder commented on #2445
Ah, not merged yet.

[2016-05-26 20:17] RealRancor commented on #2431
@carlaschroder Not that familiar with that stuff but from what know:

oC 9.0.0 - 9.0.2 enabled the index-less URLs (e.g. https://demo.owncloud.org/apps/files/ instead of https://demo.owncloud.org/index.php/apps/files/) automatically if ``mod_rewrite`` and ``mod_env`` was enabled according to https://github.com/owncloud/core/pull/14081 . Those versions took the value of ``overwrite.cli.url`` from t

[2016-05-26 21:23] MTRichards commented on #2450
@ChristophWurst how do I enable 2factor?

[2016-05-26 22:05] carlaschroder commented on #2443
https://github.com/owncloud/documentation/pull/2451

[2016-05-26 22:05] #2443 closed

[2016-05-27 07:42] ChristophWurst commented on #2450
@MTRichards by installing and enabling a 2FA provider app. https://github.com/owncloud/twofactor_email is an example second factor, currently the challenge can be passed with the hard-coded value 'passme'. The app does not yet send emails with codes, this will be implemented soon.

Core asks each enabled 2FA provider if the second factor is enabled for the user. If there is at least one provider a

[2016-05-27 09:49] MTRichards commented on #2450
Cool, got it. I was looking at the beta, wondering how to make it all work.
Thanks!

[2016-05-27 13:10] michaelstingl opened #2453 "How to generate the config_report from the Admin page (Enterprise only)"
I couldn't find information how to download the config_report.

@carlaschroder Could you add this to our docs?

[2016-05-27 16:48] carlaschroder commented on #2453
It is described on the occ page, https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html#config-commands. I'll add some references to other pages.

[2016-05-27 17:58] carlaschroder commented on #2453
https://github.com/owncloud/documentation/pull/2454

[2016-05-27 17:58] #2453 closed

[2016-05-29 05:33] Waqar731 opened #2456 "Unable to Find the Code file"
Hi
I have installed latest version of Owncloud successfully on my machine. First of all i got the login screen. Then i successfully login and go to first page after login screen. Now On this page there is a button with the name 'upload file' as can be shown in the screenshot attached below.
My question is that in which file the code behind this upload button is written? Actually i want to customiz

[2016-05-29 08:05] RealRancor commented on #2456
@Waqar731 The issue tracker is not the place to ask such questions. Please use https://mailman.owncloud.org/mailman/listinfo/devel instead

[2016-05-29 09:11] #2456 closed

[2016-05-31 08:59] rperezb opened #2464 "Create text files within the iOS app"
- Create text files within the iOS app done in: https://github.com/owncloud/ios/issues/1905
- I'll wait to document this till edit option is already in place: https://github.com/owncloud/ios/issues/664
- Both of them will be included within the 3.5.0 version, ftm, we haven't set a release time

[2016-05-31 09:52] rperezb opened #2465 "[iOS] Clear cache option"
- Thanks to this new option users may be able to delete all the local files within the current account
- Important, favorite files won't be deleted by definition these files are available and updated within the device
https://github.com/owncloud/ios/issues/640#issuecomment-221244461
- Besides in this issue we have changed the way the account is deleted, the goal is to make it simpler since it was

[2016-05-31 12:25] rperezb opened #2466 "[Android] Available offline"
In order to avoid misunderstanding between the meaning of favorite on the web gui and on the mobile apps we have changed the feature name to "available offline" plus we have updated the icons so that they are pretty similar (indeed, they are based on) the desktop client, 1 platform goal!

Android work on: https://github.com/owncloud/android/issues/1218

(iOS will follow)

[2016-05-31 15:15] carlaschroder commented on #2453
stable9: c75aaf4b5c8ceebb11839510fd0c8fe

[2016-05-31 17:18] carlaschroder commented on #2464
Nice features, thanks!

[2016-05-31 18:02] carlaschroder commented on #2431
ok I think I get it. Thanks @RealRancor

[2016-06-01 16:00] carlaschroder commented on #2410
Thanks @PVince81, I'll add some clarification to the manual.

[2016-06-01 16:58] carlaschroder commented on #2410
master: https://github.com/owncloud/documentation/pull/2468
stable9: bf1fa3234052d796379f6, ec7766ed7e3d0f44

[2016-06-01 16:58] #2410 closed

[2016-06-01 21:22] carlaschroder commented on #2435
PR: https://github.com/owncloud/documentation/pull/2469

[2016-06-01 21:22] #2435 closed

[2016-06-07 14:25] alexjustesen opened #2474 "Unable to create events"
I'm using Calendar v1.2.2 and I am unable to create events within the app. OC version is 9.0.2 with no security or setting warnings and no additional apps installed.

[2016-06-07 19:48] RealRancor commented on #2474
@alexeyvolkoff Please re-open in https://github.com/owncloud/calendar/issues and use the shown issue template there.

[2016-06-08 09:56] ChristophWurst commented on #2450
Can someone point me to the manuals and sections where I should document the changes? Thanks

cc @PVince81

[2016-06-08 10:01] PVince81 commented on #2450
For authentication/session management for the admin's POV, maybe add a new TOC section "Session management" for https://doc.owncloud.org/server/9.1/admin_manual/.

But some features also affect regular users like the device tokens, that one could go here https://doc.owncloud.org/server/9.1/user_manual/userpreferences.html or in a new TOC section of the user manual "Session management" and/or "Devi

[2016-06-08 19:40] RealRancor opened #2477 "Add a warning when the transaction isolation level is not READ_COMMITED"
New warning on the admin page:

oC 8.0+

Ref: https://github.com/owncloud/core/pull/24889

[2016-06-08 19:50] nickvergessen commented on #2477
We already have a section about that. Maybe it needs to be linked together with the message

[2016-06-08 19:59] RealRancor commented on #2477
From what i can see those are only referring to the BINLOG_FORMAT issues in the past.

[2016-06-09 08:03] nickvergessen commented on #2477
https://doc.owncloud.org/server/9.0/admin_manual/configuration_database/linux_database_configuration.html?highlight=transaction#mysql-mariadb-with-binary-logging-enabled

Yes, I guess that is what I meant. Maybe we should just extend that block a bit.

[2016-06-09 10:52] ChristophWurst commented on #2450
Not sure where to document that. Changing the password is not documented, see https://doc.owncloud.org/server/9.0/user_manual/userpreferences.html.

[2016-06-15 13:43] FilipeDanielGS opened #2488 "Difficulty with caldav"
Hello, I'm using ownCloud 9 with calendar app rainloop 1.2 and 4.18.
When I create an event and invite a participant to rainloop, the invitation is sent only to the invite attached without formatting html to accept. The same rainloop user receiving external calls, eg gmail, the call is received with the option to accept the formatting in html. However, when you click to accept the event is not aut

[2016-06-16 12:17] cdamken commented on #2431
The rewrite happens in 9.0.2 too

[2016-06-16 12:37] RealRancor commented on #2488
@FilipeDanielGS Please use the forums or the users mailinglist for such questions (See: https://owncloud.org/support/)

This issue tracker here is only used for reporting issues or suggestions of the documentation available at https://doc.owncloud.org

[2016-06-16 12:39] RealRancor commented on #2431
@cdamken Yes, but automatically if mod_rewrite and mod_env was available. With oC 9.0.3 an admin needs to explicitly enable this as written above.

[2016-06-16 13:37] cdamken commented on #2431
@RealRancor that is correct :smile:

[2016-06-16 21:49] #2488 closed

[2016-06-17 10:23] PVince81 opened #2490 "Add hint about Galera cluster transactions to avoid deadlocks"
This page mentions Galera: https://doc.owncloud.org/server/9.1/admin_manual/installation/deployment_recommendations.html
Or should be added to "known issues"

See http://severalnines.com/blog/avoiding-deadlocks-galera-set-haproxy-single-node-writes-and-multi-node-reads from https://github.com/owncloud/core/issues/14757#issuecomment-223492913

@felixboehm @butonic

[2016-06-17 14:02] felixboehm commented on #2490
There is also a loadbalancer from mariaDB called maxScale, I recommend to use this as it provides read / write splitting.
https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale/maxscale-readwrite-splitting-with-galera-cluster/

[2016-06-17 14:04] felixboehm commented on #2490
A good point in docs to mention this and warn might be here: https://doc.owncloud.com/server/9.0/admin_manual/installation/deployment_recommendations.html#id2

[2016-06-17 15:56] PVince81 opened #2491 "Add info telling that ownCloud only supports InnoDB for MySQL (not MyISAM)"
In OC 7 there was a PR that introduced a repair step that converts MyISAM tables to InnoDB: https://github.com/owncloud/core/pull/9492

We should add a hint in the documentation that MyISAM isn't supported. There are some shared hosters that do not support InnoDB.

Also maybe add a hint in the setup check section?

@RealRancor @DeepDiver1975 @icewind1991 @felixboehm

[2016-06-17 16:31] felixboehm commented on #2491
This should be checked during install. Maybe the admin should verify that he really wants to install to MyISAM?

[2016-06-18 10:27] RealRancor opened #2492 "Remove ie8+9 support"
https://github.com/owncloud/core/pull/25129

Target: 9.1

[2016-06-20 19:54] RealRancor commented on #2205
@Boilerplate4u @stefanmohl @NightKhaos Please review https://github.com/owncloud/documentation/issues/2489

[2016-06-22 15:34] tflidd commented on #2303
Is there any feasible way to do that? If it is not in the config-file, it must be in the database somewhere and you could search for it in a database-dump. Or do apps save the path somewhere else as well?

[2016-06-23 12:39] adrianoafonso commented on #1447
Hello there again.
Just reporting that I updated today:
[code]
And any of the CIFS shares that I had configured broke down.
Trying to rollback php5-libsmbclient 0.5.0-9.1.

[2016-06-23 12:59] RealRancor commented on #1447
@adrianoafonso The issue tracker here is used for issues / requests for the documentation. :-)

[2016-06-23 17:53] RealRancor opened #2493 "Disallow symlinks in local storages that point outside the datadir"
Very likely that a lot of users will start wining about this:

oC 9.1+

Ref: https://github.com/owncloud/core/pull/24899

[2016-06-28 17:16] PVince81 commented on #2205
Ok, I have been experimenting because I haven't found any proper instructions.

On 9.0.2:

1. Make sure .htaccess works (Apache config)
1. Make sure .htaccess is writable for the web server
1. Setup ownCloud from scratch using the web U
1. See that "index.php" is in the URL (redirected from setup)
1. Change browser's URL and remove "index.php" => ownCloud still works
1. Log out, log in
1. Short UR

[2016-06-28 17:20] PVince81 commented on #2205
Upgrade to 9.0.3RC1:

1. Pick a workaround 9.0.2 instance from https://github.com/owncloud/documentation/issues/2205#issuecomment-229117430
1. Move the folder to another location
1. Extract 9.0.3RC1 tarball
1. Adjust permissions, also set write permissions to .htaccess (the new one)
1. Copy "data" and "config" from the old 9.0.2 folder (I used `cp -Rva ../owncloudtest.old/{config,data} .` with "a"

[2016-06-28 17:33] PVince81 commented on #2205
Update to 9.1.0beta2, same result. Still works.

[2016-06-28 17:42] PVince81 commented on #2205
Setting up 9.0.3RC1 or 9.1.0beta2 from scratch does **NOT** work even with writable `.htaccess`. And once it didn't work, upgrading also doesn't auto-adjust `.htaccess`. Not sure what is going on here...

There was that bit about "front_controller_active" maybe.

But then why did it work when I updated ? A hidden setting somewhere ?

[2016-06-28 17:42] PVince81 commented on #2205
@RealRancor annnd, sorry for the hijack. I thought this was about index.php :cry:

[2016-06-28 17:43] PVince81 commented on #2431
Ok, I have been experimenting because I haven't found any proper instructions.

On 9.0.2:

1. Make sure .htaccess works (Apache config)
1. Make sure .htaccess is writable for the web server
1. Setup ownCloud from scratch using the web U
1. See that "index.php" is in the URL (redirected from setup)
1. Change browser's URL and remove "index.php" => ownCloud still works
1. Log out, log in
1. Short UR

[2016-06-28 17:43] PVince81 commented on #2431
Setting up 9.0.3RC1 or 9.1.0beta2 from scratch does **NOT** work even with writable `.htaccess`. And once it didn't work, upgrading also doesn't auto-adjust `.htaccess`. Not sure what is going on here...

There was that bit about "front_controller_active" maybe.

But then why did it work when I updated ? A hidden setting somewhere ?

[2016-06-28 17:45] PVince81 commented on #2431
Ok, seems https://github.com/owncloud/documentation/issues/2431#issuecomment-221982282 might be it.

Will try later.

[2016-06-28 17:45] RealRancor commented on #2431
@PVince81 oC 9.0.3+ won't automatically enable index.php-less URLs as stated in: https://github.com/owncloud/documentation/issues/2431#issuecomment-221982282

You need to configure ``htaccess.RewriteBase`` in your config.php and do either the update/upgrade to the next version or run ``occ maintenance:update:htaccess``

[2016-06-28 17:46] PVince81 commented on #2431
@RealRancor the strange thing is that on my private server I upgraded from 9.0.2 to 9.1.0beta2 and 9.1 lost the ability. But from my tests above 9.0.3RC1 to 9.1.0beta2 worked.
So maybe we need a repair step or migration step for people with packages.
As for the automatic updater an update from 9.0.2 to 9.0.3 will be forced first anyway.

CC @jnweiger @SergioBertolinSG for the above infos

[2016-06-28 18:07] danimo opened #2494 "Document side effects of having federated sharing enabled"
The comfort of federated Sharing comes with a few side effects, such as potentially leaking email addresses with the sharer. This should be documented so the user can make an informed decision on whether or not he wants to disable this feature.

[2016-06-29 07:20] PVince81 commented on #2431
This is what I observed:

- in OC < 9.0.3: need to make `.htaccess` writable then setup/upgrade: this will make index.php-less work
- in OC >= 9.0.3: need config.php option "htaccess.RewriteBase" to be set **and** writable `.htaccess`, run upgrade and it will work
- upgrading from OC < 9.0.3 to OC >= 9.0.3 automatically generates "htaccess.RewriteBase". However, need to make sure that `.htaccess`

[2016-06-29 08:04] RealRancor commented on #2431
Don't forget the ``occ maintenance:update:htaccess`` in oC 9.0.3+

[2016-06-29 09:38] MorrisJobke commented on #2431
Yes. This was added with https://github.com/owncloud/core/pull/24539.

[2016-06-29 11:28] cdamken commented on #2431
Its also in the config.sample.php:
https://github.com/owncloud/core/blob/v9.0.3/config/config.sample.php#L381-L385

[2016-06-30 05:18] childnode commented on #2431
seriously ... we should allow "untrusted" web application code to manipulate the htaccess file?!
Sound like a no-go ...

is there a way to get the htaccess content printed or as diff / patch as an alternative?!

[2016-06-30 05:24] RealRancor commented on #2431
@childnode Just don't use this feature if you're worry about the security

[2016-06-30 08:22] PVince81 opened #2496 "[Dev] Document API deprecation policy"
Last time we talked about this, it was three years after the time the deprecation was announced:
http://karlitschek.de/2015/06/building-a-platform/

Also see https://github.com/owncloud/documentation/pull/1251/files#r33139418

@dragotin @DeepDiver1975

[2016-07-04 13:27] 90er opened #2497 "Calendar App Contact E-Mail Address"
Hi,

i have a question: is it possible to see the e-mail address(es) of an recipient while choosing him in new calender entry? My contact shown below has for example three e-mail addresses.

![teilnehmer](https://cloud.githubusercontent.com/assets/17730136/16561843/a037567a-41fb-11e6-9ca5-70fa49fad545.png)

Thanks

Best regards
Wolfgang

[2016-07-05 05:16] RealRancor commented on #2497
@90er This is the issue tracker for the documentation available at https://doc.owncloud.org/. Please close here and ask such questions at either the users mailinglist or the forums (see https://owncloud.org/support).

[2016-07-05 05:26] #2497 closed

[2016-07-05 19:32] qugu opened #2498 "Move/copy file or directory functionality in OC9?"
Hi all,

I'm a proud user of OC9 (recently updated from OC7) and really like the new features.
In OC7 I used a community plugin which allowed moving files or directories around. The plugin is not suitable for OC9 and I don't want to use any 3-d party plugins anymore, because I consider them to be dirty hacks, which usually break something while improve something. I haven't found this _obvious_ fea

[2016-07-06 07:31] PVince81 commented on #2498
See https://github.com/owncloud/core/issues/10656
It says "move" but could also be done for "copy".

[2016-07-06 07:31] #2498 closed

[2016-07-06 11:02] brianjmurrell commented on #2205
@carlaschroder:

Except that it's not just "Apache stuff" any more, right?

[2016-07-10 10:02] RealRancor commented on #2205
https://github.com/owncloud/documentation/pull/2489 was merged so closing

[2016-07-10 10:02] #2205 closed

[2016-07-11 08:48] RealRancor commented on #2491
@felixboehm Probably needs a new issue in https://github.com/owncloud/core/issues as such a request gets lost in the documentation tracker

@PVince81 PR in #2501

[2016-07-11 08:59] #2474 closed

[2016-07-11 08:59] #2477 closed

[2016-07-11 08:59] #2491 closed

[2016-07-11 13:51] brianjmurrell opened #2515 "how to delete a calendar item?"
The documentation for the calendar app for 9.0 is non-existent and documentation for previous versions are not applicable to 9.0.

So, using the OC calendar app, how does one delete an event?  There doesn't seem to be a delete button or icon anywhere in the event dialog, even with ```More ...``` expanded.

[2016-07-11 13:52] DeepDiver1975 commented on #2515
![bildschirmfoto von 2016-07-11 15-52-24](https://cloud.githubusercontent.com/assets/1005065/16732882/7ae4c5fe-477f-11e6-8fc3-faad50a06604.png)

[2016-07-11 13:55] brianjmurrell commented on #2515
That red Delete button did not exist on the event I was trying to delete.  It does seem to exist on other events.  Not sure why the one I wanted to delete didn't have one.

[2016-07-11 14:00] brianjmurrell commented on #2515
I guess we can just close this if and until I see it again.

[2016-07-11 14:00] #2515 closed

[2016-07-11 14:05] brianjmurrell opened #2516 "should events local users are invited to be added to their calendars?"
Some calendar servers I have used take the approach that when one local user invites a second local user the event is added to the invitee's calendar immediately with the option to accept/decline it rather than using e-mail as the scheduling router.

Is this how OC is intended to operate or is OC expecting to send e-mails to invitees, even if they have an account on the same OC instance and they a

[2016-07-11 14:38] RealRancor commented on #2516
@brianjmurrell This issue tracker is used for issues to the documentation. Furthermore the calendar and contacts app are currently under heavy development and won't get any documentation yet (see e.g. https://github.com/owncloud/documentation/issues/2365).

If you want to start a discussion please use the developers mailinglist here:

https://mailman.owncloud.org/mailman/listinfo/devel

or even cr

[2016-07-11 15:42] brianjmurrell commented on #2516
But _/owncloud/calendar/_ is just the caldav (client) calendar app isn't it?

Surely this lack of either populating the local users calendar and/or sending an e-mail is in core, isn't it?

[2016-07-11 15:51] RealRancor commented on #2516
Might be. I think it's still something which shouldn't be discussed in a documentation tracker until it is clarified. And the clarification is best done at the developers mailinglist as this very likely get lost in here.

[2016-07-19 14:54] PVince81 opened #2522 "Add heartbeat path to excluded SSO paths"
Need to add the path "/heartbeat" to the paths that must NOT be redirected to the IDP here: https://doc.owncloud.org/server/8.2/admin_manual/enterprise_user_management/user_auth_shibboleth.html

In case of public upload, there is no other ajax request that would refresh the session. So if a public upload is running longer than the session timeout (or session.gc_maxlifetime), the heartbeat must be

[2016-07-19 15:54] PVince81 opened #2523 "Document "how to get owner by file id""
Was already asked twice on IRC:

Examples are in this PR: https://github.com/owncloud/core/pull/21858

[2016-07-19 16:05] DeepDiver1975 commented on #2522
great catch - THX

[2016-07-19 16:12] PVince81 commented on #2522
@DeepDiver1975 mind doing the PR for the doc after checking on a test shib instance whether this works as intended ? Usually 12 minutes should be enough of a wait, else the heartbeat can be accelerated by hacking the interval in js.js

[2016-07-19 16:27] DeepDiver1975 commented on #2522
will do tomorrow

[2016-07-20 11:00] PVince81 opened #2524 "Explain how to restore backups when using package managers"
Despite the documentation saying you should only backup "config", "data" and the database, some people do a `rsync` of the full owncloud folder. This is fine when using tarballs.

However when using a package manager, when one restores from backup they must not restore the source code because it might not match the currently installed package version.

If they do so, the source code files will not

[2016-07-22 06:34] Ark74 opened #2525 "Modified skelleton detected as an integrity issue"
The skelleton files could be removed from the hash file sums since modifications to them are presented as integrity issues on the 9.0.x release.
So they are not presented as a problem on each login.

[2016-07-22 06:34] Ark74 commented on #2525
Sorry wrong place.

[2016-07-22 06:34] PVince81 commented on #2525
Indeed, that's something that should be modified in core

[2016-07-22 07:08] RealRancor commented on #2525
@PVince81 @Ark74 Modifications of the skeleton files are the wrong way. Instead point the skeletondir config.php option to a new place which holds the modified skeleton files.

[2016-07-22 07:39] Ark74 commented on #2525
Ö wow! I wasn't aware of that.
So under this logic, then the custom skeleton path should remain under the data directory?
Otherwise it will keep been recognized as an issue, right?
Thanks

[2016-07-22 07:41] RealRancor commented on #2525
@Ark74 It can be moved either to the datadir or to an external path like /var/www/skeleton or similar.

[2016-07-22 07:48] Ark74 commented on #2525
So it's open to the server space, not only ownCloud installation, that's neat.
I'll check it out.
Thanks again :+1: @PVince81 @RealRancor

[2016-07-22 07:48] #2525 closed

[2016-07-22 10:44] Flachzange opened #2533 "[9.0 /9.1] Upgrade/migration instructions for calendars/contacts when using IMAP user backend"
When using the IMAP user backend, calendars and contacts for such users are not migrated automatically when upgrading from 8.x to 9.x.

9.0.x includes cli commands to migrate such objects manually. These commands have been dropped in 9.1. Moreover, the old 8.x calendar and contacts tables are dropped from the database when upgrading to 9.1.

So it is crucial for all 8.x users that make use of the

[2016-07-22 10:51] DeepDiver1975 commented on #2533
Thanks a lot! @Flachzange

Are you interested in writing the docs a well?
Anybody is welcome to contribute. Thanks a lot!

[2016-07-23 06:44] Flachzange commented on #2533
Sure, however, I don't know where this information belongs and how the overall organizational process on contributing to documentation is.

[2016-07-23 10:22] RealRancor opened #2534 "Allow admins to add system wide root certificates"
Since oC 9.0:

Introduced with https://github.com/owncloud/core/pull/21336 but documentation for this is (as quite often) completely missing.

[2016-07-24 11:02] RealRancor commented on #2431
Some more infos:

https://central.owncloud.org/t/the-requested-uri-login-cannot-be-processed-by-the-script-owncloud-index-php/993

[2016-07-25 09:32] RealRancor opened #2535 "External storage scanning don't work when using session credentials -> "Workaround""
from https://doc.owncloud.org/server/9.1/admin_manual/configuration_files/external_storage/auth_mechanisms.html#password-based-mechanisms

To make it work the following might help:

from https://github.com/owncloud/core/issues/25581#issuecomment-234898791

[2016-07-26 08:42] vascowhite opened #2538 "Publishing apps to the app store"
The [documentation](https://doc.owncloud.org/server/9.0/developer_manual/app/publishing.html#app-store-publishing) currently tells a developer __what__ they need to do and what standards they need to maintain to get an app published in the app store. However, it does not give any guidence on __how__ to go about publishing an app.

There should be a step-by-step guide somewhere that covers at least

[2016-07-26 14:15] DeepDiver1975 opened #2539 "[admin manual] document occ command encryption:change-key-storage-root"

[2016-07-27 20:25] RealRancor opened #2546 "Document apc.enable_cli=1 for cli again"
from https://github.com/owncloud/core/issues/24823#issuecomment-221710992

@Xenopathic Could you provide some background info about this so it can be documented?

[2016-07-28 12:31] cdamken commented on #2431
Sorry, you don't have access to that topic!

@danimo Could you check why I don't have access there (I'm log in)

[2016-07-28 12:34] RealRancor commented on #2431
@cdamken Sorry, had messed up the permissions. Should work again.

[2016-07-30 18:55] Xenopathic commented on #2546
APC(u) CLI will not make any difference to oC, since each SAPI has a separate memcache. There is never any benefit to enabling apc.enable_cli. That warning is in case other memcaches are used, e.g. Redis, which can always be accessed, so the CLI might need to do memcache things. With APC(u), not so much :see_no_evil:

[2016-07-30 22:10] RealRancor commented on #2546
Ahh, good stuff. That was the missing info i was looking for. It doesn't look like something for the documentation so will write a FAQ entry at central tomorrow.

Thanks for your reply :+1:

[2016-07-30 22:10] #2546 closed

[2016-07-31 10:52] RealRancor commented on #2546
Write-up done in a FAQ entry on central:

https://central.owncloud.org/t/memcache-oc-memcache-apcu-not-available-for-local-distributed-cache/1241

Hope i got everything right.

[2016-08-01 14:26] #2431 closed

[2016-08-03 17:42] RealRancor commented on #2535
This here:

https://doc.owncloud.org/server/9.1/admin_manual/configuration_files/external_storage_configuration_gui.html#adding-files-to-external-storages

doesn't work anymore if "using session credentials" is used.

[2016-08-04 09:41] mmattel opened #2557 "nginx: How to enable index.php-less URLs"
@RealRancor
After merging https://github.com/owncloud/documentation/pull/2552, what needs to be done/changed when using nginx? I have not looked into the details, but should be covered...

[2016-08-04 09:59] RealRancor commented on #2557
@mmattel Nothing needs to be done. The nginx config provided in the official documentation is already enabling and using index.php-less URLs.

[2016-08-04 11:35] mmattel commented on #2557
This is great news and true (just tested) :+1:

We should document this in this paragraph like:
[code]

[2016-08-05 01:41] K4nape opened #2560 "WebDav networking map (windows) error"
hello, guys.
I have problem, i can't connect to me owncloud why?
![o](https://cloud.githubusercontent.com/assets/10292911/17423823/bebd2ee2-5ac6-11e6-8aca-b265a84e3024.jpg)

Thanks for answer

[2016-08-05 05:50] RealRancor commented on #2560
@K4nape

Please don't use the bugtrackers for support questions. Close here and ask your question at:

https://central.owncloud.org/

[2016-08-05 09:56] RealRancor commented on #2339
@PVince81 @DeepDiver1975 This can be closed as the PRs above where merged

[2016-08-08 10:01] #2557 closed

[2016-08-08 13:18] bahamut714 opened #2569 "Remove realrancor from commit access they are deliberately inserting malicious code"

[2016-08-08 19:48] RealRancor opened #2573 "Build master as 9.2"
Seems that the "master" branch here is currently build to https://doc.owncloud.org/server/9.1/* instead of https://doc.owncloud.org/server/9.2/*:

1. https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/security_setup_warnings.html has already the central.owncloud.org link from  https://github.com/owncloud/documentation/pull/2547
2. https://github.com/owncloud/documentation/pull/2

[2016-08-09 06:40] PVince81 commented on #2573
@danimo can you deploy master as 9.2 and have stable9.1 of the docs be the 9.1 docs ?

[2016-08-09 09:33] DeepDiver1975 commented on #2384
[code]

[2016-08-09 22:59] carlaschroder commented on #2573
I got this. Maybe. If Mr Jenkins does what I tell him to :)

[2016-08-09 23:38] carlaschroder commented on #2573
Allrightythen, 9.2 admin, user, and dev manuals should all be 9.2/master now.
https://github.com/owncloud/documentation/commit/5ce9a98be1fda409f64b915e52aa37dae5522c61
https://github.com/owncloud/documentation/commit/b4ee161adba315aa2bc2be8f1ed3cd2504198207

http://doc.owncloud.com/ update with 9.2
https://github.com/owncloud/doc-index-com/commit/063d32918bbd421213ff65cbc8f5dfd6ad107459

[2016-08-10 16:41] #2573 closed

[2016-08-11 14:26] felixboehm opened #2575 "DB cluster & recommendation"
ownCloud docs tell opposite requirements
- NDB Cluster recommendation https://doc.owncloud.com/server/9.0/admin_manual/operations/scaling_multiple_machines.html#database-layer
- different recommendations here: https://doc.owncloud.com/server/9.0/admin_manual/installation/deployment_recommendations.html#general-recommendations
  - "MySQL/MariaDB Galera Cluster with 4x master – master replication."

[2016-08-11 21:23] #2560 closed

[2016-08-11 21:55] carlaschroder commented on #2539
@DeepDiver1975 This is already documented, is there another page that needs this?
https://doc.owncloud.org/server/9.2/admin_manual/configuration_files/encryption_configuration.html#occ-encryption-commands
https://doc.owncloud.org/server/9.2/admin_manual/configuration_server/occ_command.html#encryption

Though I did have to correct the newRoot filepath in

master: 495398fb80a3b03
stable9.1: 27cec54

[2016-08-11 21:56] carlaschroder commented on #2539
argh bad copypaste. I made the correction to https://doc.owncloud.org/server/9.2/admin_manual/configuration_server/occ_command.html#encryption

[2016-08-11 23:08] #2524 closed

[2016-08-18 00:10] #2539 closed

[2016-08-19 00:00] carlaschroder commented on #2535
https://github.com/owncloud/documentation/commit/55f1a9e728385ef8d8c9de69680837e055ca3c0a

[2016-08-19 00:00] #2535 closed

[2016-08-19 00:04] carlaschroder commented on #2494
@danimo Are there any other side effects to document?

[2016-08-22 11:59] RealRancor commented on #2493
Proposal in https://github.com/owncloud/documentation/pull/2580

[2016-08-22 12:35] RealRancor commented on #2492
Fix in https://github.com/owncloud/documentation/pull/2580

[2016-08-22 12:54] #2492 closed

[2016-08-22 12:54] #2493 closed

[2016-08-22 16:24] dercorn opened #2582 "Appliance upgrade procedure"
@carlaschroder please add a new item "Upgrading the appliance" to https://doc.owncloud.com/appliance/

The text should be as follows:

After converting your appliance to a paid license, you may upgrade to the current version of ownCloud.
In the menu, go to "ownCloud Production" and then to "Register Download Repository"
Leave user and password blank and enter this URL into Repo:
https://<user>:<pa

[2016-08-22 18:32] tflidd opened #2583 "Migration of owncloud server: data/-folder must not change"
In the migration guide for owncloud installations:
https://doc.owncloud.org/server/9.0/admin_manual/maintenance/migrating.html

in step 4, it says:

Moving the data/-folder is not supported because there are references elsewhere that already caused problems: https://github.com/owncloud/documentation/issues/2303

[2016-08-22 19:23] carlaschroder commented on #2582
Thanks @dercorn

[2016-08-22 19:25] carlaschroder opened #2584 "Add occ command to expire the trashbin"
https://github.com/owncloud/core/pull/25878

[2016-08-22 20:46] carlaschroder commented on #2516
Closing as not a doc issue.

[2016-08-22 20:46] #2516 closed

[2016-08-22 21:02] carlaschroder commented on #2534
Yeah, docs go missing when there is no one to write them.

[2016-08-22 22:12] ghost opened #2585 "core docs in client docs"
Seems a deployment script goes grazy:

https://doc.owncloud.org/desktop/2.2/search.html?q=theme

e.g. core docs like:

https://doc.owncloud.org/desktop/2.2/ocdoc/developer_manual/core/theming.html?highlight=theme

was deployed to the client docs

[2016-08-23 07:04] PVince81 commented on #2585
@danimo @carlaschroder the docs are rebelling!

[2016-08-23 08:33] RealRancor commented on #2534
Sure, but it might be useful to have a process that one implementing a new feature should also write the documentation for it. The one implementing it knows best how to describe that feature. This would avoid that stuff get missed.

[2016-08-23 15:09] carlaschroder commented on #2585
@danimo Help please, this is the ocdoc subrepo mess I made.

[2016-08-23 15:15] dercorn opened #2586 "out-dated screenshot in SharePoint documentation"
@carlaschroder The screenshot depicting the available methods for authentication credentials is not in sync with version 9.x of ownCloud.

See https://doc.owncloud.com/server/9.0/admin_manual/enterprise_external_storage/sharepoint-integration_configuration.html#creating-a-sharepoint-mount

Attached is the current state:

![screen shot 2016-08-23 at 14 57 49](https://cloud.githubusercontent.com/ass

[2016-08-23 17:36] carlaschroder commented on #2586
Awesome, thanks for the screenshot @dercorn

[2016-08-23 17:43] carlaschroder commented on #2586
master: d1848215be4b1fce7711
stable9.1: cf60296c3e604ed984aee
stable9: 427635f97435095ee1a5ee

[2016-08-23 17:43] #2586 closed

[2016-08-23 17:44] carlaschroder commented on #2583
Yikes, that is a bad error. Thanks @tflidd

[2016-08-23 18:14] carlaschroder commented on #2583
https://github.com/owncloud/documentation/pull/2587

[2016-08-23 18:14] #2583 closed

[2016-08-23 20:58] carlaschroder commented on #2534
https://github.com/owncloud/documentation/pull/2588

[2016-08-23 20:58] #2534 closed

[2016-08-24 04:11] RealRancor opened #2589 "Proxy + upload issues"
Reason: The file upload (BIN, 1.00 MB) was restricted by the rule 'Content Analysis Rules\Content Policy\Block Upload - Large Files'.

https://github.com/owncloud/core/issues/25524#issuecomment-241916886

[2016-08-24 22:18] carlaschroder commented on #2584
This looks like the Versions app occ command:

``versions
 versions:cleanup   Delete versions``

https://doc.owncloud.org/server/9.2/admin_manual/configuration_server/occ_command.html#versions

Are they going to conflict?
Is the Trashbin command this:

`trashbin:versions:expire`

[2016-08-24 22:19] carlaschroder commented on #2584
@DeepDiver1975 @VicDeo @PVince81

[2016-08-24 22:19] carlaschroder commented on #2584
@DeepDiver1975 @VicDeo @PVince81

[2016-08-24 22:35] carlaschroder opened #2590 "adjust supported php versions in documentation for 9.2"
adjust supported php versions in documentation for 9.2 - we only support 5.6 and 7.0 https://github.com/owncloud/core/pull/25513

[2016-08-25 06:58] PVince81 commented on #2584
@carlaschroder no, before this PR there were two commands:
- trashbin:cleanup: deletes ALL files of all trashbins for all users
- versions:cleanup: deletes ALL versions of all versions of all users

Now there are two new commands which are based on retention rules from config.php:
- trashbin:expire: deletes only expired files according to "trashbin_retention_obligation" setting
- versions:expire:

[2016-08-25 07:54] phil-davis commented on #2584
@PVince81 this point is not so clear:
"versions:cleanup: deletes ALL versions of all versions of all users"
do you mean:
"versions:cleanup: deletes ALL prior versions of all **files** of all users" (i.e. all but the current version of each file)

[2016-08-25 07:55] PVince81 commented on #2584
@phil-davis yes, what you say is more accurate. I was biased by what we call "versions" in OC which is all versions stored in files_versions except the current file.

[2016-08-25 15:58] carlaschroder commented on #2584
'deletes ALL versions of all versions of all users'

This is necessary when the clones become too numerous :D

[2016-08-25 18:10] RealRancor commented on #2534
@carlaschroder Nice, thanks. Good to see you here again :+1:  :dancers:

[2016-08-25 18:52] carlaschroder opened #2592 "occ updates after Sept 20 releases"
https://github.com/owncloud/documentation/issues/2584
occ command trashbin:expire versions:expire
Add howtos to other relevant pages

1st commit to master: https://github.com/owncloud/documentation/commit/b2e2c526f12c50cc3e636bf892ba905940ed63c9

[2016-08-25 18:52] carlaschroder commented on #2584
https://github.com/owncloud/documentation/issues/2592

[2016-08-25 18:52] #2584 closed

[2016-08-26 18:53] #2589 closed

[2016-08-29 13:43] PVince81 opened #2596 "Document federated resharing"
Some of my findings about how it works: https://github.com/owncloud/core/issues/25807#issuecomment-243125504

[2016-08-29 17:02] timreeves commented on #2014
The version re Updater which ended up in the [online docu](https://doc.owncloud.org/server/9.1/admin_manual/installation/nginx_owncloud_9x.html) did not work for me:

`location ~ ^/(?:updater|ocs-provider)(?:$|/) {
        try_files $uri/ =404;
        index index.php;
    }
`

I had a look and think about it and changed it to the version suggested by @josh4trunks on 24th March, which does work:

[2016-08-29 17:06] RealRancor commented on #2014
@timreeves There is an open issue about the update of the updater directive here:

https://github.com/owncloud/documentation/pull/2551

[2016-08-29 19:59] carlaschroder commented on #2590
master (9.2) only: 1b34c0209ed42785ad6202473

[2016-08-29 19:59] #2590 closed

[2016-08-29 20:17] carlaschroder opened #2599 "[dev] document provisioning api call to disable a user"
https://github.com/owncloud/core/issues/12601#issuecomment-243227679

[2016-08-29 20:23] carlaschroder commented on #2596
The current docs say "you have a single share option, and that is can edit." https://doc.owncloud.org/server/9.1/admin_manual/configuration_files/federated_cloud_sharing_configuration.html?highlight=federation

[2016-08-31 19:28] carlaschroder commented on #2582
Ah, I forgot that it's in the enterprise repo. New PR: https://github.com/owncloud/enterprise/pull/1550

[2016-08-31 19:28] #2582 closed

[2016-08-31 21:08] carlaschroder commented on #2575
@felixboehm Ok, let me make sure I understand this correctly. The short version: remove the NDB Cluster recommendation, recommend only Galera, and make sure that InnoDB requirement is documented in all relevant docs?

[2016-08-31 21:40] carlaschroder commented on #2533
@Flachzange I'll write it up, and if you would review it that would be helpful. Stay tuned.

[2016-08-31 23:02] carlaschroder commented on #2433
https://github.com/owncloud/documentation/pull/2600

[2016-08-31 23:02] #2433 closed

[2016-09-01 19:07] carlaschroder opened #2601 "user / group management / schema"
https://github.com/owncloud/enterprise/issues/1464

[2016-09-01 22:31] carlaschroder commented on #2575
https://github.com/owncloud/documentation/pull/2602

[2016-09-01 22:31] #2575 closed

[2016-09-02 10:19] PVince81 opened #2603 "[9.2] Setting to exclude folders"
From https://github.com/owncloud/core/pull/19235.

See new config setting https://github.com/owncloud/core/pull/19235/files#diff-2f769bc01ffefdf14eb04404218e7582R1109
Some explanation about the difference with blacklisted: https://github.com/owncloud/core/pull/19235#issuecomment-220640013

@carlaschroder

[2016-09-02 10:43] PVince81 opened #2604 "Document basic makefile commands"
See https://mailman.owncloud.org/pipermail/devel/2016-September/002630.html for some basic commands

@carlaschroder please find a home for these in the developer documentations.
There might be a place where we mention "git submodule update" which isn't needed any more. Might be suitable.

[2016-09-05 14:14] pako81 opened #2605 "Manual installation procedure: detail required modules for various distros"
The idea here is to provide details on the required and recommended modules for a typical ownCloud installation, using Apache and MariaDB, for the various distributions. Our documentation currently only covers Ubuntu 14.04 LTS - we may want to extend this, at least for what concern the manual installation procedure. We could add more examples here: https://doc.owncloud.com/server/9.1/admin_manual/

[2016-09-05 16:11] cdamken commented on #2605
@carlaschroder  Can you include this too?

[2016-09-06 09:41] PVince81 commented on #2604
https://doc.owncloud.org/server/9.1/developer_manual/general/devenv.html#get-the-source

[2016-09-06 09:42] PVince81 commented on #2604
hmm, I see that it requires the ocdev tool, so we might need to adjust it.

[2016-09-06 09:43] PVince81 commented on #2604
ocdev ticket: https://github.com/owncloud/ocdev/issues/51

[2016-09-06 10:38] PVince81 commented on #2604
Here a PR to change the commands to "git clone" and "make" for master: https://github.com/owncloud/documentation/pull/2606

[2016-09-06 14:43] butonic opened #2608 "[admin] document conditional logging"
https://github.com/owncloud/core/pull/15965#issue-72126790 contains a textual description. config.sample.php contains
[code]

[2016-09-06 14:49] butonic commented on #2608
oh it is mentioned in https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/config_sample_php_parameters.html?highlight=logging#logging

but not in https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/logging_configuration.html?highlight=logging

@carlaschroder maybe remove the latter? or redirect it to the former?

[2016-09-06 17:14] carlaschroder commented on #2605
I appreciate this a lot. However, this is a maintenance nightmare, isn't it enough to state the minimum required versions? I really don't want to get bogged down in tracking package names for individual distros, and especially trying to penetrate Red Hat's loony system of providing updates for key packages like PHP, which is not well-organized or well-documented.

OTOH this is useful and you've al

[2016-09-06 17:18] carlaschroder commented on #2604
@PVince81 I can proofread, but I don't know enough to do a technical review of dev manual pages, or to write them.

[2016-09-06 17:26] carlaschroder commented on #2608
@butonic I'll have a look. Morris used to keep config.sample.php.html synchronized with core, so maybe I need to update it.

[2016-09-06 17:27] PVince81 commented on #2604
@carlaschroder that's fine. I was mostly trying to find a home and section for this block:
[code]

I'll add it to the dev env docs then.

[2016-09-06 19:44] carlaschroder commented on #2608
I updated the logging page to match config.sample.php.
https://github.com/owncloud/documentation/pull/2609

[2016-09-06 19:44] #2608 closed

[2016-09-06 22:45] dln949 opened #2610 "Confused on update process on ownCloud installed using Linux metapackage"
I am sorry, but after reading through the documentation, I am still confused, I am not sure among all the pages and links of documentation which “overrules” the other or how they are to be coordinated with each other, and therefore which I should be following in my case. Thank you in advance for helping to answer these questions.

1. I installed ownCloud 9.1.0 using the linux metapackage “owncloud

[2016-09-07 06:02] RealRancor commented on #2610
I agree as this is prone to a lot of errors. To answer 2. (as also in the forums):

Yes, this will be a problem as you're not allowed to move the folder. Other options are:

- Keep the files in /var/www/owncloud and use the files there
- Don't use the repositories and do a manual installation

[2016-09-07 14:21] cdamken commented on #2605
IMO The packages doesn't change to much, they are always the same.

It could be in the wiki, but at least should be a link in our documentation.

[2016-09-07 16:44] carlaschroder commented on #2605
OK, I'll add it to the wiki for now. We can always add it to the admin manual later. It's a bigger problem to remove things from the admin manual because they come up in google searches forever.

[2016-09-07 19:17] PVince81 opened #2612 "Stray conflicts in admin docs"
Stray conflicts in admin docs on stable9.1

[code]

@carlaschroder @RealRancor in case you know how to resolve them

[2016-09-07 20:50] carlaschroder commented on #2612
@PVince81 Easy peasey, that's just formatting errors. I'll fix them. I like easy :)

[2016-09-07 22:18] carlaschroder commented on #2612
Fixed. 17fa045273d919f166b2

[2016-09-07 22:18] #2612 closed

[2016-09-07 22:28] carlaschroder commented on #2610
Sorry for the confusion, @dln949. I'll review the installation docs and see if I can impriove them.

1. When you install from packages, then yes, you should always use your package manager for updates.

Regarding #2, data directory location, you can choose any directory you want in the installation wizard. see  https://doc.owncloud.org/server/9.1/admin_manual/installation/installation_wizard.html#

[2016-09-07 23:31] carlaschroder commented on #2605
Thanks very much for writing this, @pako81. For now it's in the doc Wiki, and I'll think about adding it to the admin manual.
Wiki: https://github.com/owncloud/documentation/wiki/Manual%20installation%20details%20for%20multiple%20distros,%20ownCloud%209.0%20and%209.1

[2016-09-07 23:38] carlaschroder commented on #2605
stable9.1: 6bfe921dfd531d24b96f4aa24
stable9: d465b7b48114ec06f1e56ab0960

[2016-09-07 23:38] #2605 closed

[2016-09-08 06:15] RealRancor commented on #2610
@carlaschroder I think the main issue here is that you don't need to set these strong permissions as the packages are setting it already correctly or am i wrong?

[2016-09-08 07:02] dln949 commented on #2610
Well, from my perspective, one problem is this seeming contradiction:

On the one hand, I am installing from the ubuntu metapackage "owncloud", which one would normally expect would set up the correct permissions.  And, part of the instructions for installing from that package say to then follow the instructions for the installation wizard.

On the other hand, the instructions for the installation

[2016-09-08 07:05] dln949 commented on #2610
Another problem is this second seeming contradiction:

On the one hand, I am installing from the ubuntu metapackage "owncloud", which one would normally expect would mean that updates would be handled through Ubuntu's package management system.  And, part of the instructions for installing from that package say to then follow the instructions for the installation wizard.

On the other hand, the in

[2016-09-09 15:40] danlight opened #2616 "no Share icon for non Admin users"
OC 9.1 on CENTOS 7 fully patched
Everything seems to work properly but Sharing is not available for new users
CASE:
Existing User A
Create new user B
Create Group C
Make User A and user B members of Group C

New user B cannot share any folder/file because there is no share icon in the web UI
If I add User B to the admin group the share icon shows up for them.

Share api is on
Allow share via link

[2016-09-09 15:42] RealRancor commented on #2616
@danlight This is the issue tracker of the "Documentation and manual" of ownCloud. Please close here and use https://central.owncloud.org/ for such support questions.

[2016-09-09 15:54] RealRancor commented on #2339
cc @carlaschroder as @PVince81 or @DeepDiver1975 didn't noticed that this can be closed.

[2016-09-09 15:54] danlight commented on #2616
RE Posted in forums

[2016-09-09 15:54] #2616 closed

[2016-09-12 07:24] #2339 closed

[2016-09-12 15:28] carlaschroder commented on #2339
Thanks @RealRancor

[2016-09-14 13:58] MostHated commented on #2303
This worked perfectly to move my data directory to a new iscsi connection on my NAS from using local storage.

https://manandkeyboard.tk/2014/09/15/owncloud-and-an-external-hard-drive/

[2016-09-14 14:48] carlaschroder opened #2621 "LDAP documentation questions"
https://github.com/owncloud/core/issues/26108

[2016-09-20 08:47] PVince81 opened #2626 "Missing features in user manual"
See https://github.com/owncloud/documentation/blob/stable9.1/user_manual/whats_new.rst

There are more user-related features in https://github.com/owncloud/core/wiki/ownCloud-9.1-Features

Let me add these in a PR.

[2016-09-20 13:11] hfiel opened #2628 "scl httpd24 and rh-php56"

[2016-09-20 13:12] hfiel commented on #2628
Sorry, my fault!

[2016-09-20 13:12] #2628 closed

[2016-09-21 09:04] PVince81 commented on #2592
seems we're past that date now :smile:

[2016-09-21 09:04] RealRancor opened #2629 "Use system cron for stray lock cleanup"
From @PVince81 in https://github.com/owncloud/core/issues/22116#issuecomment-248550954

[2016-09-21 15:06] carlaschroder commented on #2592
Yeah, a little bit :)
stable9.1: b4a7154f4fef57dde6e

[2016-09-21 19:17] carlaschroder commented on #2592
https://github.com/owncloud/documentation/pull/2634

[2016-09-21 19:17] #2592 closed

[2016-09-22 15:45] carlaschroder commented on #2603
Does the new doc page address this?
https://github.com/owncloud/documentation/pull/2613

[2016-09-22 16:27] carlaschroder commented on #2603
Of course it does :) Closing.

[2016-09-22 16:27] #2603 closed

[2016-09-22 16:31] RealRancor commented on #2626
@carlaschroder Also something to close as https://github.com/owncloud/documentation/pull/2627 was already merged

[2016-09-22 16:55] carlaschroder commented on #2629
master: e2e7f1769e7baad0b1266
stable9.1: 83d917c
stable9: eb1397f

[2016-09-22 16:55] #2629 closed

[2016-09-22 17:09] carlaschroder commented on #2434
https://github.com/owncloud/documentation/pull/2446

[2016-09-22 17:09] #2434 closed

[2016-09-22 17:20] RealRancor commented on #2629
Nice place. :+1:  Wasn't sure where to put this in.

[2016-09-22 17:51] carlaschroder commented on #2629
Yup. One of these days I need to blog about troubleshooting, and where to find the manual page and other resources.

[2016-09-22 17:58] carlaschroder commented on #2626
Thanks @RealRancor

[2016-09-22 17:58] #2626 closed

[2016-09-27 06:37] PVince81 opened #2638 "PHPDoc API doc generator missed info"
The \OCP\Contacts class contains several static methods: https://github.com/owncloud/core/blob/master/lib/public/Contacts.php

However the website doesn't show any of them: https://doc.owncloud.org/api/namespaces/OCP.Contacts.html

@DeepDiver1975 any idea how/when the doc generator script is run ?

[2016-09-27 07:51] PVince81 opened #2639 "Mention parallel cron job execution"
This page https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/background_jobs_configuration.html?highlight=cron#cron should have a mention about the support for parallel cron jobs.

Basically it is possible to run "cron.php" several times and it will run jobs in parallel.
I'm not sure how this would be done in a regular one server setup since the cron running is done using a syst

[2016-09-27 07:51] PVince81 commented on #2639
important mention: parallel cron only supported since 9.1

[2016-09-27 11:28] PVince81 opened #2640 "No more update simulation starting with 9.2"
See https://github.com/owncloud/core/pull/26172

@carlaschroder @RealRancor

[2016-09-27 14:40] DeepDiver1975 commented on #2638
this is totally deprecated - https://github.com/owncloud/core/blob/master/lib/public/Contacts/IManager.php is to be used

[2016-09-27 14:40] DeepDiver1975 commented on #2638
and docs are there https://doc.owncloud.org/api/classes/OCP.Contacts.IManager.html

[2016-09-29 08:22] davitol opened #2641 "People to ask for backport is not updated"
In ownCloudDeveloperManual it is said:

[code]

[code]

[2016-09-29 13:53] a-rode opened #2642 "Please update iOS Docu"
https://doc.owncloud.org/ios/ios_app.html

On this page it still says "Favorite" instead of "available offline" and the picture is outdated since it shows the star instead of the arrow, as introduced in iOS App Update 3.5.0

Thanks!

@carlaschroder

[2016-09-29 19:59] RealRancor opened #2643 "Remove old nginx config examples and operations docs from server"
With https://github.com/owncloud/documentation/pull/2635 the nginx_owncloud_9x.html was merged back into the nginx_examples.html file. However the first one is still available at:

https://doc.owncloud.org/server/9.2/admin_manual/installation/nginx_owncloud_9x.html
https://doc.owncloud.org/server/9.1/admin_manual/installation/nginx_owncloud_9x.html
https://doc.owncloud.org/server/9.0/admin_manual/

[2016-09-30 08:12] DeepDiver1975 commented on #2384
In addition console commands are registered in the info.xml now as well - see https://github.com/owncloud/core/pull/26248/files#diff-61c3c5e77e33ccd96ec3bb36af722aacR28

[code]

[2016-09-30 13:50] dalenoe opened #2644 "ndb database support"
Is there anyway I can force the installer to create a database using the ndbcluster engine instead of the default InnoDB. I am trying to setup a system that scales.

Relevant documentation: https://doc.owncloud.org/server/9.1/admin_manual/operations/scaling_multiple_machines.html

[2016-10-01 09:44] RealRancor opened #2645 "occ_command.html has still dav:migrate-* commands"
https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html#dav-commands

dav:migrate-addressbooks and dav:migrate-calendar was removed for 9.1+: https://github.com/owncloud/core/pull/23976

A user mentioned that also already in https://github.com/owncloud/documentation/issues/2533

[2016-10-01 11:24] RealRancor commented on #2644
The question here is more if this is still supported / supported at all.

[2016-10-01 11:25] RealRancor commented on #2643
Same with https://github.com/owncloud/documentation/pull/2602 where the files are still there:

https://doc.owncloud.org/server/9.1/admin_manual/operations/index.html
https://doc.owncloud.org/server/9.1/admin_manual/operations/scaling_multiple_machines.html

and so on. Also valid for master/9.2

[2016-10-01 11:29] RealRancor opened #2646 "Provide "latest" documents URL for the latest stable release"
Currently with each release the search engine results get messed up as e.g. 9.1 is available at:

https://doc.owncloud.org/server/9.1/admin_manual/

where 9.0 is available at:

https://doc.owncloud.org/server/9.0/admin_manual/

When you google for https://www.google.de/search?q=owncloud+upgrade for example the first hit is the 9.0 documentation, followed by the 7.0 documentation.

To avoid this i

[2016-10-01 11:35] RealRancor commented on #2533
@DeepDiver1975 Are other user backend (like LDAP) also affected from this or is this something special only for the IMAP user backend?

[2016-10-01 11:53] RealRancor opened #2647 "Remove 7.0 docs from index and add "outdated" header to these"
https://doc.owncloud.org/ has the end-of-life docs of 7.0 listed and available at https://doc.owncloud.org/server/7.0/admin_manual/

Three suggestions:

1. Remove oC 7.0 docs from the index
2. Remove oC 7.0 docs from the server (like it was done for 6.0)
3. or add a header like https://github.com/owncloud/documentation/pull/1876 to the 7.0 docs

cc @carlaschroder

[2016-10-01 12:25] tflidd commented on #2533
Why aren't they migrated by default? I mean it is nice to have this documented, but who reads all the release notes if one does a series of major upgrade once a year? From my POV, the upgrading require too much knowledge of owncloud interna.

[2016-10-01 12:59] RealRancor commented on #2533
@tflidd Because of the reason @DeepDiver1975 explained here:

But if you run the occ command afterwards this should work out from my understanding - right?

https://github.com/owncloud/core/issues/23059#issuecomment-225828137

[2016-10-01 13:21] tflidd commented on #2533
Or issue a warning at the end of occ upgrade in case imap user backend is used. And perhaps establish some check for the upgrade from 9.0 to 9.1 if the migrations were run before deleting the old contacts/calendar-table definitively.

[2016-10-02 09:28] RealRancor commented on #2533
@tflidd Yes, but thats something more for the core issue tracker https://github.com/owncloud/core/issues

In the documentation we can do something about that on a short-term by documenting the needed steps to catch at least a few users which are reading the documentation / release notes.

A warning or change of the migration as suggested is something which probably won't happen that fast.

[2016-10-02 10:08] RealRancor commented on #2645
Fix is in https://github.com/owncloud/documentation/pull/2649

[2016-10-02 10:08] RealRancor commented on #2533
Documentation proposal in Fix is in https://github.com/owncloud/documentation/pull/2649

[2016-10-02 10:27] RealRancor commented on #2642
Same for the android app: https://github.com/owncloud/documentation/issues/2466

[2016-10-02 10:34] RealRancor commented on #2224
Probably should also include https://github.com/owncloud/documentation/issues/2120 so the older issue could be closed?

[2016-10-02 10:37] RealRancor commented on #2285
Fix is in https://github.com/owncloud/documentation/pull/2650

[2016-10-02 15:20] #2285 closed

[2016-10-03 15:49] carlaschroder commented on #2643
I'll see what I can do. I must rely on others to clean up obsolete pages from the server. Thanks @RealRancor

[2016-10-03 15:55] carlaschroder commented on #2647
Good idea!

[2016-10-03 21:54] carlaschroder commented on #2646
That is a great idea. I shall think about how to do it.

[2016-10-03 23:27] #2533 closed

[2016-10-03 23:27] #2645 closed

[2016-10-03 23:33] carlaschroder commented on #2644
ndb is not recommended; see https://github.com/owncloud/documentation/issues/2575. That also has a good link to "Scaling PHP".

[2016-10-03 23:33] #2644 closed

[2016-10-03 23:34] carlaschroder commented on #2644
If you still want to use NDB cluster, then install and set up your DB first, and then install the ownCloud files.

[2016-10-03 23:35] carlaschroder commented on #2638
Can this be closed? @PVince81 @DeepDiver1975

[2016-10-03 23:36] carlaschroder commented on #2639
@felixboehm @cdamken Do you have any suggestions about this?

[2016-10-03 23:38] carlaschroder commented on #2641
So who should we name?    <- another easy one :)
@PVince81 @DeepDiver1975

[2016-10-03 23:39] carlaschroder commented on #2647
This is how we added the obsolete banner before https://github.com/owncloud/documentation/pull/1876/files

[2016-10-04 07:38] PVince81 commented on #2641
@carlaschroder makes sense.

Actually it's more like "if you think that something should be backported, say so and ask XYZ for confirmation". Basically the PR submitter says they want to backport but need a confirmation.
This is a small nuance that is different than "asking for permission to backport". :smile:

[2016-10-04 09:25] PVince81 commented on #2224
Yeah, should include #2120 and any others

[2016-10-04 10:40] rperezb opened #2659 "[ownBrander] New branding option within the desktop client for users to update their hardcoded server url between versions"
This latest release of the ownBrander includes a new branding option within the desktop client; Update of server url. This option is expected to be used only if you want to modify the server url to which your customers  will connect from one desktop version to the following one.

![screen shot 2016-10-04 at 11 16 25](https://cloud.githubusercontent.com/assets/1846927/19071289/99b9d13e-8a2f-11e6-8c

[2016-10-04 12:02] cdamken commented on #2639
@PVince81 Would be possible to add 2 or 3 cronjobs in the crontab?
If does not work to call the same file we can create several cron.php files?
i.E:
[code]
and add them in
[code]

What do you think?

[2016-10-04 12:08] PVince81 commented on #2639
Don't duplicate the cron.php file, it doesn't make sense.

The way I understand it, parallel cron could work with the crontab you proposed but pointing at one single cron.php. Not sure if that makes sense in a single-node server.

@DeepDiver1975 @butonic ?

[2016-10-04 13:01] cdamken commented on #2639
IMO, I think it could make sense in jobs that take too much time, for example the LDAP job sometimes take a lot of time (in some cases more than 5 hours) and that gives the chance that the trashbin, versions and email notifications works parallel

[2016-10-04 16:51] carlaschroder commented on #2641
@PVince81 Who is XYZ? Surely not Frank :)

[2016-10-04 16:58] carlaschroder commented on #2659
Thanks @rperezb!

[2016-10-04 20:42] PVince81 commented on #2641
I think asking @DeepDiver1975 and me should be fine.

Also wondering whether the feature maintainer is more suitable because they have a better understanding of the consequences.

[2016-10-04 22:47] carlaschroder commented on #2641
@PVince81 I'll change it to feature maintainer, and then if there are questions they can escalate to you or @DeepDiver1975. That seems better than bugging you for everything.

[2016-10-04 23:27] carlaschroder commented on #2641
master: a980a5ceee5b20fe
stable9.1: c6fd8721b34704c023f
stable9: c6fd8721b34704c023f
stable8.2: 48470ab12feccc93b8a5e
stable8.1: 70e5f40c8823a84dbefe4ed
stable8: 09e509432b265c31783c719ac

[2016-10-04 23:27] #2641 closed

[2016-10-05 22:15] carlaschroder commented on #2640
cd407281b67ed287caac2180

[2016-10-05 22:15] #2640 closed

[2016-10-05 23:24] carlaschroder commented on #2647
obsolete banner--
stable7 CE: c0c66b7ed07e0f2315873cfe2

[2016-10-06 03:15] RealRancor commented on #2647
Mhhh, looks a little bit strange as it is shown within the header:

https://doc.owncloud.org/server/7.0/admin_manual/

[2016-10-06 06:04] RealRancor commented on #2640
@carlaschroder
Why keep this in the docs if its not available anymore? I think the release notes should be enough to note that.

Furthermore there is also a reference to --skip-migration-test in maintenance/update.rst as well as in configuration_server/occ_command.rst

[2016-10-06 15:55] carlaschroder commented on #2647
Yep, that's the best I can do without taking a deep dive into the style sheets. Which isn't going to happen :)

[2016-10-06 16:40] carlaschroder commented on #2640
@RealRancor Because if the docs don't say something, someone will complain, and then you will open a PR with a big warning box how it was removed :)

I'll update occ_command.rst.

[2016-10-06 16:42] carlaschroder commented on #2640
Also, this is a feature that has caused a fair bit of confusion, so it needs some documentation beyond the release notes.

[2016-10-06 16:57] carlaschroder commented on #2640
occ_command.rst update for 9.2 only 3b8fc0a73926a7129ebbfdbf3

[2016-10-07 08:54] cdamken opened #2661 "Bye bye F5 (Function Key)"
The Desktop sync-client used to have a F5 funktion that removed the `.csync_journal.db` in case the DB was corrupted.

e.g: https://github.com/owncloud/client/issues/5226#issuecomment-251916494

Now the user has to do it manually.

Is it possible to put it in the documentation in the troubleshooting part?

@carlaschroder

[2016-10-07 13:58] jnweiger commented on #2646
@carlaschroder @RealRancor I like that. Wearing my sysadmin hat for the next few hours, I'll look into the cron jobs of doc.owncloud.org --

[2016-10-07 16:34] jnweiger commented on #2646
Symbolic links and htaccess are disabled on doc.owncloud.org, I have to dig deeper...

[2016-10-07 17:00] carlaschroder opened #2662 "Require libsmbclient 0.8.0"
https://github.com/owncloud/windows_network_drive/pull/48

[2016-10-07 17:00] carlaschroder commented on #2661
Yes! Thanks @cdamken

[2016-10-08 12:50] ghost opened #2665 "CardDAV for system users incl. federated servers (oC 9.0+)"
Always wondering what the following command is used for:

`occ dav:sync-system-addressbook`

The docs itself about it is not really descriptive:

After digging around it seems this was introduced by @DeepDiver1975 in https://github.com/owncloud/core/pull/20719

However the documentation for this and the usage is completely missing. It seems one can attach an external CardDAV client to:

http://exa

[2016-10-09 11:41] RealRancor commented on #2647
Ahh, then i'm fine. We don't need to win a style prize here so closing as fixed :+1:

[2016-10-09 11:41] #2647 closed

[2016-10-10 06:31] PVince81 commented on #2665
This is only for internal use for federated sharing. Basically when two OC servers trust each other, they use this internal Carddav endpoint to synchronize user info between the instances to make it possible to search by user in the share dialog autocomplete.

Attaching an arbitrary client shouldn't be possible without knowing the token that federated servers have exchanged.

@DeepDiver1975 please

[2016-10-10 16:35] carlaschroder opened #2666 "[9.1.1] Documentation about Mutltibucket #1547"
https://github.com/owncloud/enterprise/issues/1547

[2016-10-10 23:01] jnweiger commented on #2646
Please reopen, if there is more coolness applicable here!

[2016-10-11 03:46] carlaschroder commented on #2646
@jnweiger This is great! A happy URL :) Could you make it even happier and point it to 9.1 instead of 9.2?   It should be the latest stable / major version.

I like directory listings. People like to find stuff. :+1:

[2016-10-11 07:07] CaptionF opened #2667 "php-smbclient required when upgrading from Ubuntu 14.04 to 16.04"
@carlaschroder It has happened several times that customers and prospects have missed to get the php smbclient package from their distros.

Maybe it makes sense to include a paragraph into the docu about it.  This is for versions that we support on php7.0 as users may have upgraded from older OS  to newer with PHP7 as default.

To get the package under Ubuntu:
the following command will ensure tha

[2016-10-11 22:38] carlaschroder commented on #2667
@CaptionF The manual installation page lists "PHP module smbclient". The PHP module names are used so we don't have to maintain a giant page full of package names for multiple distros. There is a Wiki page with multiple distro examples at https://github.com/owncloud/documentation/wiki/Manual%20installation%20details%20for%20multiple%20distros,%20ownCloud%209.0%20and%209.1
I'll see what I can do to

[2016-10-12 05:36] RealRancor commented on #2665
The default system users CardDAV also?

[2016-10-12 14:14] PVince81 opened #2670 "Document ldap update group command"
From https://github.com/owncloud/user_ldap/pull/14

Command was backported to 9.1 and 9 so need to update the docs there as well.

@carlaschroder

[2016-10-12 14:18] PVince81 commented on #2670
Basically instead of having to wait for group syncing, you can make it happen right now with this command:
[code]

If users have been added or removed from these groups in LDAP, OC will update its local info.
If a group was deleted in LDAP, OC will also delete the local mapping info about this group (local delete).

@jvillafanez that's all, right ?

[2016-10-12 16:30] carlaschroder opened #2671 "get updated occ example after core fix is merged"
https://github.com/owncloud/documentation/commit/3b8fc0a73926a7129ebbfdbf3d5020517e24d877

[2016-10-13 12:46] PVince81 opened #2672 "Remove all ocdev references"
Apparently ocdev isn't maintained any more and has been removed from `pip3`, so the commands will not work any more.

Either we need to republish it to pip under another account or adjust the documented commands to be based on git.

As for the app generator, this is likely not replaceable so would need to remove it completely.

In an ideal world, either we need a new maintainer for ocdev or even b

[2016-10-13 12:46] PVince81 commented on #2672
ref ocdev: https://github.com/owncloud/ocdev

[2016-10-13 13:24] DeepDiver1975 commented on #2672
I'm all in to drop that thing - especially because it's python - we shall focus on php

[2016-10-13 15:19] carlaschroder commented on #2672
ocdev appears in three places in the developer manual. This whole page is about ocdev:
https://doc.owncloud.org/server/9.2/developer_manual/app/startapp.html

These pages reference it:
https://doc.owncloud.org/server/9.2/developer_manual/app/testing.html
https://doc.owncloud.org/server/9.2/developer_manual/app/tutorial.html

The first one could be removed. The other two need to be edited so they s

[2016-10-13 15:49] jnweiger commented on #2646
Ah, you mean, there is a difference between "latest is stable" and "latest is bleeding edge" ? Hmm, haven't thought of that.... :-)

Switching latest to happy little 9.1 now.

[2016-10-13 17:49] carlaschroder commented on #2646
Thank you @jnweiger . Yes, there is a wee difference :)

[2016-10-13 17:51] carlaschroder commented on #2646
@jnweiger I'm getting a 403 error for https://doc.owncloud.org/server/latest/admin_manual/

[2016-10-13 17:52] carlaschroder commented on #2667
In progress...I'm overhauling the installation docs. sigh. too many options :)

[2016-10-13 20:45] Son9o commented on #1238
I would like to be re-opened as the issue came back, and regardless of whether the package applies proper labels or not the manual installation Doc should show how to fix the issue.
Please see https://github.com/owncloud/core/issues/26345#issue-182369061

[2016-10-13 20:57] RealRancor commented on #1238
@Son9o Please create a new issue explaining what part of the docs needs to be fixed and how it needs to be fixed.

[2016-10-13 21:07] Son9o opened #2674 "[9.1] [CentOS7] SELinux labels"
Following installation of owncloud-files-9-1-1 package,  I was unable to proceed with web installation due to incorrect SELinux labels, I've attempted to re-apply the labels following:
https://doc.owncloud.org/server/9.1/admin_manual/installation/selinux_configuration.html
however only applying:

has solved this issue for me.

[2016-10-14 12:43] jnweiger commented on #2646
Gnaaa, it is way to easy to break. Fixed for now. I am certain, I'll break it again, when we want to update it in the future... :-(

[2016-10-14 18:16] carlaschroder commented on #2646
Thanks for fixing it! Yes, computers are so much :)

[2016-10-14 18:16] #2646 closed

[2016-10-14 18:16] carlaschroder commented on #2646
so much fun :)

[2016-10-17 07:15] RealRancor commented on #2303
There might be a occ command allowing to move the datadir in the future: https://github.com/owncloud/core/issues/25970

[2016-10-17 11:54] jvillafanez commented on #2670
Yep.

Just a couple of things to take into account:
* new groups in LDAP won't be synced with this command
* The LDAP TTL configuration (by default 10 minutes) still applies. This means that recently deleted groups from LDAP might be considered as "active" and might not be deleted in ownCloud immediately

[2016-10-17 21:31] carlaschroder opened #2675 "Sharing sidebar does not show "Shared with you by ..." for remote shares #19376"
https://github.com/owncloud/core/issues/19376

[2016-10-17 21:35] carlaschroder opened #2676 "Add documentation on how to run WND Listener at boot and automatically restart as service #39"
https://github.com/owncloud/windows_network_drive/issues/39

[2016-10-18 07:30] PVince81 opened #2677 "Update developer documentation to use info.xml for background jobs"
The docs still show the old way: https://doc.owncloud.org/server/9.1/developer_manual/app/backgroundjobs.html

Change it to use the info.xml way:

[code]

Side note: it would also be good to add some info about how to test background jobs... usually one needs to set all values to 0 in the jobs table:

[code]

@DeepDiver1975 was the info.xml way added in 9.1 or 9.2 ?

@DeepDiver1975 @carlaschroder

[2016-10-18 07:37] PVince81 commented on #2677
also, do we still need a static `run()` method or should all jobs extend from `TimedJob` ?

[2016-10-18 14:13] ghost opened #2678 "Another webserver module breaking ownCloud (or more exactly the PDF reader)"
German post at https://central.owncloud.org/t/pdf-reader-geht-nicht/2870

To sum-up:

The user had issues like shown on the screenshot there if PDFs where accessed with a reverse proxy in front. He had to disable the "proxy_html" Apache module to get this issue solved.

[2016-10-19 16:00] RealRancor opened #2679 "Put more weight into installing libsmbclient-php / php-libsmbclient"
In the last few weeks quite a lot users reported some issues with external SMB storages which got fixed by installing https://github.com/eduardok/libsmbclient-php instead of using the smbclient fallback.

There are quite a few issues in the documentation:
1. There is not that much weight put into installing libsmbclient-php. From my PoV every user should use that and only use the fallback to the s

[2016-10-20 22:27] carlaschroder commented on #2676
master: 225d1d93289de50b7bba1395ce88
stable9.1:  1e8b0f92476ea8776468f88d

We can add this to the admin manual when we have an authoritative solution. Currently it's a work in progress

[2016-10-20 22:27] #2676 closed

[2016-10-20 23:30] carlaschroder commented on #2671
master only: 7b99fe656e259552e3031ed9f3

[2016-10-20 23:30] #2671 closed

[2016-10-20 23:39] carlaschroder commented on #2679
Agreed. *computer voice* Working...

[2016-10-20 23:53] carlaschroder commented on #2674
Thank you @Son9o, I'll take a look at this.

[2016-10-21 00:42] carlaschroder commented on #2646
Index.com page updated
9d507d95166a5245a5372a06ae8543a

[2016-10-21 00:43] carlaschroder commented on #2646
commit is here: https://github.com/owncloud/doc-index-org

[2016-10-21 00:43] carlaschroder commented on #2646
Commit is here: https://github.com/owncloud/doc-index-org/commit/9d507d95166a5245a5372a06ae8543aa4faf53d1

[2016-10-21 13:07] RealRancor commented on #2360
@carlaschroder @PVince81 Could be closed as https://github.com/owncloud/documentation/issues/2446 was merged?

[2016-10-21 16:02] carlaschroder commented on #2674
It works! I shall update the docs. Thanks!

[2016-10-22 07:11] RealRancor commented on #1778
Finally had a look at this issue and created https://github.com/owncloud/documentation/pull/2688 after stumbling over https://github.com/swiftmailer/swiftmailer/issues/545

[2016-10-24 08:42] jnweiger commented on #2643
rm ./9.1/admin_manual/installation/nginx_owncloud_9x.html ./9.0/admin_manual/installation/nginx_owncloud_9x.html ./9.2/admin_manual/installation/nginx_owncloud_9x.html
done. For 8.1 and 8.2 these remain.

rm 9.1/admin_manual/operations/* 9.2/admin_manual/operations/*
done. @RealRancor does this cover your 'and so on' or is there more?

[2016-10-24 08:50] RealRancor commented on #2643
@jnweiger All gone, thanks for taking care :+1:

[2016-10-24 08:50] #2643 closed

[2016-10-24 09:18] PVince81 opened #2694 "Document data dir behavior when data dir becomes unavailable"
The data directory contains a hidden file ".ocdata".
If that file is missing, ownCloud will refuse to deliver anything and return a "503 Service not available" error. This is to prevent clients to believe that the files are gone.

The purpose of this file is for setups where the "data" folder is mounted (like NFS) and for some reason the mount didn't appear after rebooting. In the case the mount i

[2016-10-24 09:34] dumblob commented on #2694
As per @PVince81's comment https://github.com/owncloud/core/issues/26450#issuecomment-255689616 , add also the following to the documentation.

[2016-10-24 15:16] dumblob commented on #2694
Also document behavior of ownCloud server when the data directory (`.ocdata` to be more specific) appears again. The doc should also answer the following question. Does ownCloud regularly check the existence of `.ocdata` or does it only check when a request comes (through web interface or WebDAV)?

[2016-10-24 17:04] carlaschroder opened #2699 "issue with downloading large files #1467"
https://github.com/owncloud/enterprise/issues/1467

[2016-10-24 17:48] carlaschroder commented on #2643
Thank you @jnweiger! :+1:

[2016-10-25 08:39] SergioBertolinSG opened #2701 "Document LDAP occ ldap:set-config command"
Having the user_ldap app enabled, when using occ's ldap:set-config command we get this output:

[code]

The configKeys available to set aren't listed in the command or help. But also aren't in the documentation.

https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html?highlight=ldap#ldap-commands

I guess the options which can be set are these:

| app | key | value |

[2016-10-25 08:57] SergioBertolinSG commented on #2701
Apparently ldap app uses camelcase for keys:

+-------------------------------+---------------------------------------------+
| Configuration                 |                                             |
+-------------------------------+---------------------------------------------+
| hasMemberOfFilterSupport      |                                             |
| hasPagedResultSupport         |

[2016-10-27 21:27] carlaschroder commented on #2674
@Son9o I went with https://github.com/owncloud/documentation/issues/2693; you might be interested in the discussion there as it's a nice SELinux tutorial. I incorporated your ruleset into the Troubleshooting section https://github.com/owncloud/documentation/pull/2693

[2016-10-27 21:27] #2674 closed

[2016-10-27 21:37] carlaschroder commented on #2666
https://github.com/owncloud/documentation/pull/2709

[2016-10-27 21:37] #2666 closed

[2016-10-27 22:05] carlaschroder commented on #2701
holy cow that is a lot. Thanks @SergioBertolinSG, I'll work on it next week. I wonder if the keys could be added to the help output?

[2016-11-04 10:21] phisch opened #2711 "Update theming documentation"
[owncloud/core#26462](https://github.com/owncloud/core/pull/26462) introduced new theming functionality where an app can provide a theme and it changed a theme directory inconsistency, thus doc needs to be updated.

The breaking change affects both current themes, and new themes provided by an app.

Example apps that provide a theme:
https://github.com/PhilippSchaffrath/oc-app-theme
https://github

[2016-11-07 09:39] PVince81 commented on #1626
I don't see this in any dev doc, @carlaschroder did you close this by mistake ?

[2016-11-10 12:09] RealRancor opened #2712 "Nginx: "Cache js, css and files for half a year" for oC9.2"
https://github.com/owncloud/core/pull/26591

oC9.2+

[2016-11-11 09:31] RealRancor opened #2713 "Add "Unsupported" banner to oc8.0 CE manual"
With 8.0.16 oC 8.0 reached its end-of-life. The same as done in https://github.com/owncloud/documentation/commit/c0c66b7ed07e0f2315873cfe2de5a30cf8762bcf could make sense here

cc @carlaschroder

[2016-11-14 16:23] PVince81 commented on #2131
From what I see in my local test with v8.2.7:

1. Restore the file from backup
1. Restore the file's encryption keys from backup
1. Run 'occ files:scan` => this makes the scanner find it, but in the DB it will have the "size" set to encrypted size (wrong and bigger) and the "encrypted" flag is 0
1. Update the "encrypted" flag to 1 in the DB
1. Download the file once as the user => the file's size

[2016-11-15 11:07] cmonjeau opened #2715 "Syncing problem with external storage FTP using "Log-in credentials, save in session" through LDAP"
Hello,

## OVERVIEW

I use an external storage (FTP) on my owncloud instance. I've configure it with a LDAP and all works find. Users can access to their FTP home directory^and create or delete files.

## ISSUE

My problem is when I create (or remove) files directly on the server (without owncloud service), these files do not appear on the owncloud session.

Note : I use the AJAX CRON method in my

[2016-11-15 11:09] cmonjeau commented on #2715
Oups wrong plate

[2016-11-15 11:09] #2715 closed

[2016-11-15 11:12] RealRancor commented on #2715
@cmonjeau Yes, the correct place would be https://central.owncloud.org/

[2016-11-17 11:29] PVince81 commented on #2131
CC @felixboehm @cdamken

[2016-11-18 19:09] carlaschroder commented on #2713
I think I can do this.

[2016-11-18 19:34] carlaschroder commented on #2713
26022bb489218120977592409755
That should do it. It looks perfect on my local build; I'll verify the live version after it goes live. Mr Jenkins takes a good 30 minutes.

[2016-11-18 21:08] carlaschroder commented on #2713
And tis done! \o/

[2016-11-18 21:08] #2713 closed

[2016-11-18 21:25] carlaschroder commented on #2662
https://github.com/owncloud/documentation/commit/fc13fe5f3ac4856b3d00f0d9fe5a9b3f4f43e150

[2016-11-18 21:25] #2662 closed

[2016-11-18 22:36] RealRancor commented on #2713
Nice, thanks. Looks good :+1:

[2016-11-20 23:38] carlaschroder commented on #1626
No idea. That was a year ago.

[2016-11-20 23:39] carlaschroder commented on #1626
Ah, closed in April. Still no idea.

[2016-11-20 23:42] #2712 closed

[2016-11-21 12:27] Kawohl opened #2719 "wrong release in enterprise documenation 9.2 instead of 9.1.2."
http://doc.owncloud.com/#owncloud-9-2

should actually be 9.1.2

[2016-11-21 12:30] Kawohl commented on #2719
forget it sorry.

[2016-11-21 12:30] #2719 closed

[2016-11-21 15:54] PVince81 commented on #2150
Doc for custom storage, but more in the context of external storages: https://github.com/owncloud/documentation/pull/2721

[2016-11-21 20:19] carlaschroder opened #2722 "select instant uploads videos or images #762- iOS"
https://github.com/owncloud/ios/issues/762

[2016-11-22 14:19] scheppi2610 commented on #343
why don't you just offer a platform where users can upload their translated versions and reference them to english original versions. That should enable everybody to decide whether an possibly slightly outdated documentation might be even better than not understanding a up-to-date english one.
I could imagine of translating a couple of basic documents into german where changes are not likely to ha

[2016-11-22 21:43] carlaschroder commented on #2699
https://github.com/owncloud/documentation/pull/2700

[2016-11-22 21:43] #2699 closed

[2016-11-23 07:14] RealRancor commented on #2699
@carlaschroder So an old redis is causing issues while downloading large files? It would be really great if such stuff would be communicated to the community. 😃

[2016-11-23 09:44] ghost opened #2725 "Search on doc.owncloud.org is missing parameters containing a dot (maybe other special chars aswell)"
If just searching for ``rewriteBase`` some results are showing up:

https://doc.owncloud.org/server/latest/admin_manual/search.html?q=rewriteBase

however when searching for ``htaccess.RewriteBase`` there are no results:

https://doc.owncloud.org/server/latest/admin_manual/search.html?q=htaccess.RewriteBase

[2016-11-23 10:26] PVince81 opened #2726 "Update app dev documentation for Doctrine Migrations"
- how to create a new app, how to bootstrap the initial DB (still XML file ?)
- how to generate migrations, what command to run, how to specify it

@DeepDiver1975

[2016-11-23 10:27] PVince81 commented on #2726
- how to do this for core

[2016-11-23 10:28] PVince81 commented on #2726
add here maybe https://doc.owncloud.org/server/9.1/developer_manual/app/schema.html

[2016-11-23 19:18] RealRancor opened #2727 "Typo / wrong text in "Converting Database Type""
https://doc.owncloud.org/server/latest/admin_manual/configuration_database/db_conversion.html#converting-database-type

currently has:

That sentence doesn't make any sense.

[2016-11-25 08:19] PVince81 opened #2728 "Update best practices when implementing storage backends"
When extending `StorageAdapter`, it is best to also implement some methods like `rename`, `isCreatable` etc for performance reasons. Not doing so will still work but be slow because the default method would use a stream copy + delete for rename.

To be added to https://doc.owncloud.org/server/9.2/developer_manual/app/extstorage.html

@jvillafanez

[2016-11-25 15:14] hodyroff opened #2729 "Add documentation for deleting shares"
https://doc.owncloud.org/server/9.1/user_manual/files/access_webgui.html
A description on how to delete shares is missing in the explanations. Such a delete of a share is the only way to recall shares others have done with files you own.
In addition in the share permission section we should say that any changes affect the future only.

[2016-11-27 16:22] ghost opened #2730 "Update caching of .woff files for oC 9.2+"
Something similar to https://github.com/owncloud/documentation/pull/2714 needs to be done for .woff files as seen in https://github.com/owncloud/core/pull/26591 and https://github.com/owncloud/core/pull/26591/files#diff-8052c42ab3b8aa06a3f5f788a4ddccc2R30

I have no idea about .woff files as explained in #2714 so contributions are welcome.

[2016-11-28 14:54] butonic opened #2731 "Add curl examples for all API calls"
eg https://doc.owncloud.com/server/9.1/developer_manual/core/ocs-share-api.html is pretty vague without a curl example. see https://doc.owncloud.com/server/9.1/developer_manual/core/ocs-share-api.html

[2016-11-28 14:57] butonic commented on #2731
also mention token generation / app passwords for SAML scenarios

[2016-11-29 17:25] PVince81 opened #2733 "Unknown target name oc"
From the build script:
[code]

@carlaschroder

[2016-11-29 22:14] carlaschroder commented on #2733
I couldn't figure out how to make it go away. The trailing underscore makes Sphinx think it's a label. So, ignore.

[2016-11-29 22:26] carlaschroder commented on #2729
How to un-share is already documented. Do you think it needs more emphasis? Un-sharing files is also documented for sync and mobile clients.

https://doc.owncloud.org/server/9.1/user_manual/files/access_webgui.html
"Share
    Share the file or folder with a group or other users, and create public shares with hyperlinks. You can also see who you have shared with already, and revoke shares by clicki

[2016-11-29 22:38] carlaschroder commented on #2667
This was improved and updated in several locations; closing.

[2016-11-29 22:38] #2667 closed

[2016-11-29 22:53] carlaschroder commented on #2642
Which picture? There are several on that page.

[2016-11-29 23:07] carlaschroder commented on #1133
closing for age.

[2016-11-29 23:07] #1133 closed

[2016-11-29 23:09] carlaschroder commented on #1624
closing for age.

[2016-11-29 23:09] #1624 closed

[2016-11-29 23:10] carlaschroder commented on #1894
closing for age.

[2016-11-29 23:10] #1894 closed

[2016-11-29 23:16] carlaschroder commented on #1912
Ancient. Closing.

[2016-11-29 23:16] #1912 closed

[2016-11-29 23:16] carlaschroder commented on #1942
closing for age.

[2016-11-29 23:16] #1942 closed

[2016-11-29 23:18] carlaschroder commented on #1978
This was completed somewhen.

[2016-11-29 23:18] #1978 closed

[2016-11-29 23:20] #2301 closed

[2016-11-29 23:23] carlaschroder commented on #2365
closing for age.

[2016-11-29 23:23] #2365 closed

[2016-11-29 23:31] carlaschroder commented on #2621
Resolved with tips page in doc wiki.

[2016-11-29 23:31] #2621 closed

[2016-11-29 23:33] #1880 closed

[2016-11-29 23:34] carlaschroder commented on #2369
https://github.com/owncloud/documentation/issues/2448

[2016-11-29 23:34] #2369 closed

[2016-11-30 00:32] carlaschroder commented on #2661
Forgot to close this; it is documented.

[2016-11-30 00:32] #2661 closed

[2016-11-30 00:33] carlaschroder commented on #2725
Aiee. This needs web dev magic.

[2016-11-30 00:38] carlaschroder commented on #2727
Try having a few beers. Then it looks fine! See how this looks to you.
https://github.com/owncloud/documentation/pull/2737/files

[2016-11-30 00:39] #2727 closed

[2016-11-30 01:00] carlaschroder commented on #2679
Closing for https://github.com/owncloud/documentation/pull/2710

[2016-11-30 01:00] #2679 closed

[2016-11-30 15:46] a-rode commented on #2642
I am referring to the 3rd picture https://doc.owncloud.org/ios/_images/ios-betsyross.png . It shows a star instead of the Download icon at the bottom. Thanks

[2016-11-30 19:40] carlaschroder commented on #2642
Thanks @a-rode!

[2016-12-01 12:21] #2733 closed

[2016-12-01 12:48] carlaschroder commented on #2411
master: f5588f7077972c12633272419c4a2f
stable9.1: 47aaae7745d22f6dde79b7dbd

[2016-12-01 12:48] #2411 closed

[2016-12-01 12:52] carlaschroder commented on #401
closing for age

[2016-12-01 12:52] #401 closed

[2016-12-01 12:53] carlaschroder commented on #452
closing for age

[2016-12-01 12:53] #452 closed

[2016-12-01 12:54] carlaschroder commented on #1121
closing for age

[2016-12-01 12:54] #1121 closed

[2016-12-01 12:55] carlaschroder commented on #1154
closing for age

[2016-12-01 12:55] #1154 closed

[2016-12-01 12:55] carlaschroder commented on #1250
closing for age

[2016-12-01 12:55] #1250 closed

[2016-12-01 12:56] carlaschroder commented on #1860
closing for age

[2016-12-01 12:56] #1860 closed

[2016-12-01 12:57] davitol opened #2740 "ownCloud Manual pdf redirects to https://doc.owncloud.org/desktop/2.1/ instead of https://doc.owncloud.org/desktop/2.2 in ownCloud 9.1.3 RC1"
Page 5
![screen shot 2016-12-01 at 13 51 02](https://cloud.githubusercontent.com/assets/10596560/20794712/e729be18-b7cd-11e6-8d2d-632c56b1aac1.png)

[2016-12-01 13:12] carlaschroder commented on #2740
Thanks, fixed 9.2-9.0. Give Mr Jenkins some time to publish the corrections.

[2016-12-01 13:12] #2740 closed

[2016-12-02 09:13] DeepDiver1975 opened #2747 "Kill bookmarks documentation - the app is unmaintained"

[2016-12-04 13:53] fcturner commented on #2249
People should note that this doesn't work with strong permissions. The `occ` command doesn't throw an error if `mimetypelist.js` couldn't be updated when it has too strong permissions.

Solution: execute `chmod 777 mimetypelist.js` and run the command again.

[2016-12-05 09:59] pako81 opened #2748 "Procedure for publishing a new branded iOS app"
In regards to the procedore for publishing a new branded iOS app, our documentation is still pointing to the use of  xcarchive:

https://doc.owncloud.com/branded_clients/branded_ios_app/publishing_ios_app_9.html

This is however an obsolete procedure, since xcode-> application loader shoult instead be used as @michaelstingl explained me. We would need therefore to update our doc accordingly.
@sett

[2016-12-06 12:35] michaelstingl commented on #2748
@nasli Could you help here?

[2016-12-06 16:10] settermjd commented on #2747
Give me a bit to get familiar with it and I'll see what I can do. Be back in touch about this next week (all being well)

[2016-12-06 16:20] settermjd commented on #2731
@butonic thanks for adding this. Will get that sorted out.

[2016-12-06 16:23] settermjd commented on #2729
@hodyroff based on Carla's feedback, do you feel further clarification is required?

[2016-12-06 17:12] felixboehm opened #2752 "[Meta] Documentation Process"
## Define process for documentation

If things need documentation, what to do?
- open issue in this repo
- search for label "documentation" through all ownCloud repos:
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Aowncloud+sort%3Aupdated-desc+label%3Adocumentation
- mention team: @owncloud/doc

## Documentation Documentation

Where to put the documentation for the document

[2016-12-08 09:10] PVince81 commented on #2303
@settermjd can you pick this up ?

[2016-12-08 09:16] RealRancor commented on #2303
It might also help people to explain, which hardcoded path variables are still in the database and how to change them after the datadir move.

[2016-12-08 09:25] PVince81 commented on #2303
Usually something like:
[code]
For example:
[code]
From what I see there is always a trailing slash.

[2016-12-08 09:52] RealRancor commented on #2303
Probably also the logrotate path is another one or am i wrong: https://github.com/owncloud/core/issues/20628 ?

[2016-12-08 09:54] PVince81 commented on #2303
Hmmm indeed, log rotate as well

[2016-12-08 14:09] michaelstingl opened #2753 "Document required HTTP/WebDAV methods (in FAQ?)"
Today, a user asked me about the HTTP/WebDAV methods ownCloud uses. Could we document it somewhere?

This are the answers I've got from my colleagues:

@davivel

@guruz

@davivel

New Messages

@PVince81

00006724

[2016-12-08 14:12] PVince81 commented on #2753
@RealRancor I thought we had this somewhere but somehow couldn't find it

[2016-12-08 14:24] RealRancor commented on #2753
@PVince81 Nope, there is no such list in the documentation. I'm using something like:

[code]

in my nginx config without any issues.

[2016-12-08 16:59] RealRancor commented on #2303
Just have checked a database dump and only found the oc_storages entry with an absolute path. I'm not using log rotate so this is most likely the reason why its not there.

Example: https://central.owncloud.org/t/massive-data-rollback/4427/3

[2016-12-08 16:59] settermjd commented on #2753
I'll get that done. Thanks for raising it.

[2016-12-09 08:41] settermjd commented on #2752
This might be better moved to the Wiki.

[2016-12-09 09:09] settermjd commented on #2747
@DeepDiver1975 is the application deprecated or schedule to be removed? Or is it already gone? I'm still quite new to ownCloud, so I'm still finding my feet with everything.

[2016-12-09 09:29] settermjd commented on #2752
Wondering if Required Reviews might be something to use as well.

[2016-12-09 09:43] dercorn commented on #2752
Here's my five cents: I absolutely endorse reviews. Apart from that I think it's best to ask for help from the whole team for general topics and only ping specific people when you know that they're the only ones who can contribute to the topic at hand.

[2016-12-09 09:56] settermjd commented on #2731
Agreed. Would be a good minimum. Perhaps having examples in PHP, Python, Ruby, JavaScript, and Go might also be helpful.

[2016-12-09 09:57] PVince81 commented on #2731
side note: pyocclient takes that burden away from you: https://github.com/owncloud/pyocclient

[2016-12-09 11:56] davivel commented on #2753
This could help:

https://github.com/cernbox/smashbox/blob/master/protocol/protocol.md

[2016-12-10 10:18] flolerchi opened #2756 "synchronisation of my shared calendar and tasks not functional any more"
I have recognized, that the synchronisation of my shared calendar and my shared tasks are not working anymore. My own parts of my shared calendar and tasks are synchronized, but not the parts of the user I have shared with.

My idea was to remove the shared user and add them again but it was also not possible, because the delete button is not functional.

Calendar version 1.4.1
Owncloud version 9.

[2016-12-10 10:52] RealRancor commented on #2756
@flolerchi Have you noticed the following text shown in the textfield while creating your issue:

[2016-12-10 11:33] flolerchi commented on #2756
oh sorry, i found the right place now

[2016-12-10 11:33] #2756 closed

[2016-12-12 12:00] settermjd opened #2759 "Ensure the latest version (1.5) of Sphinx is installed"
There are a number of features, including the ability to add captions to code snippets, which are available in the latest version of Sphinx. This issue is tasked with ensuring that that version is available.

Will need to:

- [ ] Update the Vagrantfile in the repo
- [ ] Check the Jenkins configuration

[2016-12-12 17:43] PVince81 opened #2761 "fast_cgi error in doc"
[code]

@RealRancor @settermjd

[2016-12-12 18:17] #2761 closed

[2016-12-13 11:38] #2747 closed

[2016-12-13 11:39] settermjd commented on #2731
PR #2760 addresses this issue. Just have to finish documenting the requests and response attributes. But otherwise it's ready for review.

[2016-12-13 12:31] cdamken opened #2765 "Move documentation from 9.2 to 10 on doc.owncloud.com/org"
In doc.owncloud.com/org is written:

ownCloud 9.2¶
This documents the next ownCloud release.

is it possible to remove it?

@settermjd @pmaier1

[2016-12-13 12:36] pmaier1 commented on #2765
1. The link is broken
2. Why remove it? Rename it to 10? How was this done in the past? Only publish docs when the version is actually released?

[2016-12-13 12:59] settermjd commented on #2765
It would make sense, at least from a promotional perspective, to give some information about upcoming releases, so that people know what they can expect. However, I agree that having release documentation for a release that will never exist shouldn't happen.

[2016-12-13 13:18] pmaier1 commented on #2765
True. Moreover it is needed for early adopters/testers to have docs available before releases as @michaelstingl said. This way they have informational resources and docs can be improved before the actual release.

[2016-12-13 15:11] PVince81 commented on #2765
Don't remove the link, redirect to the 10.0 docs instead due to potential existing links in tickets, etc.

[2016-12-13 15:26] settermjd commented on #2765
@PVince81 where are the 10.0 docs?

[2016-12-13 15:30] PVince81 commented on #2765
Hmm, looks like the 10.0 docs need to be deployed first. @crrodriguez

[2016-12-13 15:48] settermjd commented on #2765
How does that happen?

[2016-12-14 15:49] PVince81 commented on #2765
@jnweiger @crrodriguez @michaelstingl please deploy the 10.0 docs then rewrite 9.2 links to 10.0.

[2016-12-14 16:25] jnweiger commented on #2765
urks. where are the 10.0 docs?

[2016-12-14 16:26] PVince81 commented on #2765
on master, might need to setup a build ?

Or reuse whatever infra is doing the 9.2 build and publish to 10.0 folder instead

[2016-12-14 21:12] DeepDiver1975 commented on #2765
as usual and as in every repo:
master is the next major we are working on :wink:

[2016-12-15 15:50] settermjd opened #2768 "Update virus scanner section of the documentation"
After recent discussions with @cornelius, the virus scanner section of the documentation needs to be updated. What's required, as best I understand it, is further information in the documentation about **_how_** the process works with ClamAV, in addition to the existing information on installing and configuring.

[2016-12-16 17:49] ghost opened #2769 "Document session.auto_start = 0 requirement for PHP (php.ini)"
Regarding https://github.com/owncloud/core/issues/26828, it seems ownCloud needs to have a [session.auto_start = 0 configured in the php.ini](https://secure.php.net/manual/en/session.configuration.php#ini.session.auto-start). This is the same issue like in the linked core issue happens also on e.g. Drupal: https://www.drupal.org/node/6696#comment-114141

[2016-12-17 15:18] RealRancor commented on #2769
There are also tons of other possible issues caused by wrong / misconfigured PHP environments: https://github.com/owncloud/core/issues/25927#issuecomment-262703655

[2016-12-19 11:11] butonic opened #2770 "We don't really ship PHP modules in our tarball ..."
Obviously, we don't ship any php modules in the tarball. We should change: https://doc.owncloud.org/server/9.2/admin_manual/installation/source_installation.html#prerequisites

[code]

[2016-12-19 11:50] PVince81 commented on #2770
With "modules", maybe it was meant to be the "3rdparty" folder and some dependencies ?

[2016-12-19 12:03] RealRancor commented on #2770
Most likely. Plus the PHP "modules" are called "extensions" anyway: https://secure.php.net/manual/en/extensions.php

[2016-12-20 11:21] settermjd commented on #1618
@te-online, @SergioBertolinSG is this still an issue?

[2016-12-20 11:34] SergioBertolinSG commented on #1618
Yes, also in latest version: https://doc.owncloud.org/desktop/2.2/building.html

[2016-12-20 11:37] settermjd commented on #2135
I'm in the middle of getting this implemented. Hope to have it finalised in the next few days.

[2016-12-20 11:45] settermjd commented on #2384
Has this ended up in the documentation?

[2016-12-20 12:47] phil-davis commented on #1618
That doc is in the client repo. See PR https://github.com/owncloud/client/pull/5396
Comment there if you think the change is correct.

[2016-12-20 13:32] felixboehm opened #2772 "add troubleshooting for wnd connection and wnd:listener"
Windows network drive connections and setup of wnd:listen often does not work in the first place.

Trouble shooting:

- Check the connection with `smbclient` on the commandline of the ownCloud server.

- Connecting to a DFS needs extra care, the shares are case sensitive.

So this would work

[code]

and this not

[code]

[2016-12-20 13:38] felixboehm commented on #2772
@settermjd added this to mileston

[2016-12-20 13:39] settermjd commented on #2768
This has been implemented (or is in the process of being so in #2771. Given that, I'm closing this issue.

[2016-12-20 13:39] #2768 closed

[2016-12-20 14:08] polcape commented on #1918
I have federated each other many owncloud (5 in total) but only 2 of these have the green light for the  user list exchanged. Why?

It is a batch process or manual? Can i force this sync?

[2016-12-20 15:03] settermjd commented on #2772
@felixboehm do you just want this added to [the existing documentation](https://doc.owncloud.com/server/9.2/admin_manual/enterprise_external_storage/windows-network-drive_configuration.html#windows-network-drive-listener)?

[2016-12-20 16:08] SamuAlfageme opened #2775 "The email icon for the Desktop Client docs is broken"
The mail icon shown in the Desktop Sync client documentation:

![desktop](https://doc.owncloud.org/desktop/2.2/_static/img/social/mail.svg)

It's not loading the custom envelope character that can be seen in the rest of the docs:

![rest](https://doc.owncloud.org/_static/img/social/mail.svg)

* *Check the image URLs to see the different paths*
* Note that these kind of static resources should be g

[2016-12-20 16:09] settermjd opened #2776 "Fix bug in the "Credential Handling" section of the ownCloud Client Manual"
There's an error in [the Credential Handling section of the ownCloud Client Manual](https://doc.owncloud.org/desktop/1.8/advancedusage.html#credential-handling)

[code]

In the command above, a user is trying to sync their root filesystem to their ownCloud server. However, because of permission issues (notice $ instead of #) he can't do this. The verbose error of `owncloudcmd` shadows this also:

[2016-12-20 16:13] settermjd commented on #2303
@PVince81 on it. Thanks for the notification.

[2016-12-20 18:41] felixboehm commented on #2772
Yes, as you did. Thank you

[2016-12-20 18:41] #2772 closed

[2016-12-21 08:22] SergioBertolinSG opened #2777 "Document occ user:setting command"
Currently the output of occ user:setting command is:

![screen shot 2016-12-21 at 09 19 37](https://cloud.githubusercontent.com/assets/9048796/21382014/c604df24-c75e-11e6-871b-b39530bc15bb.png)

When using the --help option we can see:

![screen shot 2016-12-21 at 09 20 36](https://cloud.githubusercontent.com/assets/9048796/21382023/cfab2f6a-c75e-11e6-83d7-1d2208c41d12.png)

The problem is, those

[2016-12-21 08:24] PVince81 commented on #2777
The app key argument cannot be specified because it's specific to apps.

But the docs could mention a few of them: "core", "files_trashbin", "user_ldap", etc.

Best is to first run `occ user:setting someuser` to find out what keys are already set and replace those.
For the keys that are not in the database there is no way for the code to find out what they are.

[2016-12-21 08:25] PVince81 commented on #2777
The same applies for the config command: `occ config:*`

[2016-12-21 14:10] settermjd opened #2778 "Errors in the command line installation section of the admin manual"
From @dercorn:

I found a number of hiccups in https://doc.owncloud.com/server/9.1/admin_manual/installation/command_line_installation.html

1. The punctutation is flawed
2. The 2nd step does not mention our script which takes care of [setting the correct permissions](https://doc.owncloud.com/server/9.1/admin_manual/installation/installation_wizard.html#strong-perms-label). It is mentioned at the

[2016-12-21 15:12] settermjd commented on #2759
Decided to not go ahead with this.

[2016-12-21 15:12] #2759 closed

[2016-12-21 15:44] butonic opened #2780 "master key based encryption is the only one that makes sense"
@settermjd master key based encryption is the only one that makes sense, but it is badly documented. > To activate it you need to:

If you happen to restructire the encryption stuff can you try to make this more prominent?

[2016-12-21 16:01] settermjd commented on #2780
Thanks for the input. I'll get it in the work queue.

[2016-12-21 17:25] settermjd commented on #2770
On it.

[2016-12-22 08:51] PVince81 opened #2782 "Document how to write a workflow app"
Workflow engine is only available in EE, so this would belong to the EE parts of the docs.

Here is an example app https://github.com/nickv-oc/workflow_doctopdf

Ref original ticket for workflow: https://github.com/owncloud/workflow/issues/81

@settermjd

CC @hodyroff

[2016-12-22 09:10] SergioBertolinSG commented on #2782
The examples are no longer in that url, I copied them here: https://github.com/SergioBertolinSG/workflow_plugins

[2016-12-22 10:52] michaelstingl opened #2783 "Directory tree depth limit needs to be documented in the client docs (FAQ?)"
see https://github.com/owncloud/client/issues/1067

[2016-12-22 10:57] hodyroff commented on #1122
Outdated, all such migrations should have happened in the meantime.

[2016-12-22 10:57] #1122 closed

[2016-12-22 11:00] hodyroff commented on #1626
Share API is currently here: https://doc.owncloud.org/server/9.1/developer_manual/core/ocs-share-api.html
Whats wrong with it?

[2016-12-22 11:16] PVince81 commented on #1626
Share**e**, extra "e" 😉

I prefer to call it "recipients" instead of "sharee".
There's a new OCS endpoint that is used by the share dialog autocomplete when you pick a user/group to share to. That's the one.

[2016-12-22 16:03] pmaier1 commented on #1626
Well, 'sharee' is a common term in the 'internet/cloud dictionary'. Since 'recipient' is way more clear and easier to understand I vote for it.

[2016-12-23 14:07] ghost opened #2784 "Put more weight to unsupported php-fpm/mod_fcgid et. al."
There are people repeatedly creating issues at the bugtracker for configuration issues like seen in e.g.

https://github.com/owncloud/core/issues/26868, https://github.com/owncloud/client/issues/5373 or https://github.com/owncloud/core/issues/25949

when using non-supported modules like php-fpm/mod_fcgid and others.

There are even bugs in Apache and php-fpm (when running with Apache) like seen in

[2016-12-25 04:32] ZinkDifferent commented on #1935
To revive this, I'm experiencing slow transfer performance and data loss when connecting via MacOS Finder's webdav implementation.

This is on nginx/1.10.0 installed via EasyEngine (with redis cache and php7).

Any updates on this?

[2016-12-25 10:06] RealRancor commented on #1935
@ZinkDifferent Contact a OS X or Nginx community about this issue

[2016-12-25 11:24] ZinkDifferent commented on #1935
Yeah, don't worry about it -- I'm moving to NextCloud, since I just read about the split (and undoubtedly meltdown and eventual shutdown of owncloud), and I'm not surprised, considering such responses.

Later!

__
ceci n'est pas un iPad

[2016-12-25 11:42] RealRancor commented on #1935
@ZinkDifferent There is not meltdown nor shutdown of ownCloud. Thats just marketing FUD of others.

And you're just in the wrong repository here, if you see a reply where you get pointed to the correct location as an issue you're wrong here anyway. bb

[2016-12-27 10:53] settermjd commented on #1918
@owncloud/doc can anyone provide further details on this please?

[2016-12-27 11:25] settermjd commented on #2733
@PVince81 is this still an issue?

[2016-12-27 11:36] #2778 closed

[2016-12-27 11:41] settermjd commented on #2777
@SergioBertolinSG what version of `occ` is this referring to? I'm on 9.1.2 and that option isn't available.

[2016-12-27 11:44] settermjd commented on #2782
Can I get further information on this, pls?

[2016-12-27 11:51] settermjd commented on #2780
@butonic just to clarify, the quoted text above is what you want corrected? Sorry, should have asked when I originally looked at this ticket.

[2016-12-27 11:56] settermjd commented on #2402
@MorrisJobke what are the minimum set of requirements for documenting encryption?

[2016-12-27 12:14] settermjd commented on #2402
## How Can Encryption Be Disabled?

Is the user password always needed, or are the jobs put into the background to decrypt the users files?

The only way to disable encryption is to run the “decrypt all” script, which decrypts all files and disables encryption.

## Is It Possible To Disable Encryption With The Recovery Key?

Yes, if every user uses the recovery key, “decrypt all” will use the reco

[2016-12-27 14:18] michaelstingl commented on #1918
@polcape Please note this is the issue tracker for the ownCloud documentation published at https://doc.owncloud.org.

This issue tracker is NOT the place to ask for support of ownCloud itself. Please use https://central.owncloud.org instead.

[2016-12-27 14:19] michaelstingl commented on #1918
@settermjd This issue is still closed. Do you want to reopen it? What exactly do you need?

[2016-12-27 14:58] settermjd commented on #1918
I wasn't completely sure of the intent of the issue, so was seeking clarification. If it's purely a support request, then I'll leave it closed. Thanks for your feedback.

[2016-12-28 09:59] settermjd commented on #2784
I've attempted to make the text clearer, and easier to follow. Can you let me know if this is enough?

[2016-12-28 10:00] settermjd commented on #2777
@PVince81 any thoughts/input?

[2016-12-28 20:31] butonic commented on #2780
The above is just the current status given by our support team. It is far from polished, sorry. I created the issue because the current documentation as a whole seems to promote user individual keys. IMO we should recommend master key based encryption, because the only threat model we can really defend against with server side encryption is a non trustworthy storage admin (if storage and applicati

[2016-12-29 11:43] settermjd commented on #2780
Thanks for the update @butonic. @Peter-Prochaska - you thoughts/input pls?

[2016-12-29 16:19] settermjd commented on #2776
Just realised that this should have been raised as an issue in the https://github.com/owncloud/client repo. Closing and moving there.

[2016-12-29 16:19] #2776 closed

[2016-12-29 16:22] settermjd commented on #2731
Closing as the implementing PR is now merged to master.

[2016-12-29 16:22] #2731 closed

[2016-12-29 16:23] settermjd commented on #2729
@hodyroff I've added a specific section on deleting a share in #2788.

[2016-12-29 16:23] settermjd commented on #2729
Closing, as the PR is in place to resolve this issue. Any further comment should be added there, instead of here.

[2016-12-29 16:23] #2729 closed

[2016-12-29 16:49] settermjd commented on #2604
@PVince81 doing a quick grep of the code doesn't reveal anything. So I'll add it to that section of the docs that you referenced above.

[2016-12-30 07:24] butonic commented on #2780
Hm, thinking about this it would probably make most sense to start with the threat model.

[2016-12-30 12:22] settermjd commented on #2770
As this is being implemented by #2785, I'm closing this now. All future discussion should happen there.

[2016-12-30 12:22] #2770 closed

[2016-12-30 12:24] settermjd commented on #2303
Closed, after the related PR (#2781) was merged.

[2016-12-30 12:24] #2303 closed

[2016-12-30 13:04] settermjd commented on #2672
Ok, after reading through a good chunk of the `ocdev` source, it doesn't appear possible to do what it does purely with git, especially in the case of the `startapp` command. I get why the tool was written, as it definitely automates away a lot of work.

Tbh, I'd be happy to begin porting it to PHP. But since I'm not strictly here to develop, I don't have a lot of flexibility in that regard. I bel

[2017-01-02 10:45] MorrisJobke commented on #2402
Looks good so far - maybe @schiessle can proof read it too (as he is the encryption master ;))

[2017-01-02 11:55] settermjd commented on #2784
Closing as the related PR (#2786) has been merged.

[2017-01-02 11:55] #2784 closed

[2017-01-02 11:57] settermjd commented on #2672
I started https://github.com/owncloud/ocautomate tasked with porting ocdev to PHP. It's only at a very early stage at the moment. But, with help, it could be completed relatively quickly. I'm spending  time on it, as time is available. Given that, I can't guarantee when, exactly, it will be completed.

[2017-01-04 11:07] sehucke commented on #2131
Hi @PVince81 !

Can I safely set __all__ entries in oc_filecache to "encrypted=1"? Or do I have to exclude some of them (like directories, encryption keys, cache etc.)?

I use OC with encryption quiet a while (currently 9.1.2) and the oc_filecache was messed up (Many entries for non-existent files and directories.). I thought I could use occ files:scan to build it up from scratch, but now I cannot

[2017-01-04 11:49] sehucke commented on #2131
Just found the answer. :-) Hope this helps...
https://github.com/owncloud/core/issues/22042#issuecomment-179270934

[2017-01-04 11:59] settermjd commented on #2445
This is on hold pending further information in the related, core, ticket.

[2017-01-04 12:05] cdamken commented on #2131
@settermjd could you add this too (https://github.com/owncloud/documentation/issues/2131#issuecomment-270354051)

[2017-01-04 15:54] sehucke commented on #2131
Would be good to know @PVince81 if above solution must be applied to the folders `files_trashbin` and `files_versions`, too. My aim is to restore access to every single encrypted file possibly residing in my data directory.

In the meantime I am restoring a backup to get the data back on-line. Nevertheless, this brings back my `oc_filecache` with many garbage in there. Hopefully, there will be a f

[2017-01-05 11:09] settermjd commented on #2402
@schiessle - your feedback pls.

[2017-01-07 13:22] settermjd commented on #2325
@owncloud/doc can I get input on this please?

[2017-01-07 13:37] settermjd commented on #1496
If this is still alive, I've added a short section in the antivirus configuration section of the documentation which lists the criteria which a virus scanner needs to fulfill to work with ownCloud.

[2017-01-08 01:10] mightyCelu opened #2794 "Nginx example incorrect for ACME requests"
When using the first nginx example ACME requests will get a 404 response since a later regex-based location will override the match.

[2017-01-09 09:40] PVince81 commented on #2782
I think no one here is familiar with how to do it, need to have a look at the example apps.

If that's not enough then someone will need to dig into the code to find all possible workflow engine events like https://github.com/SergioBertolinSG/workflow_plugins/blob/master/workflow_notification/appinfo/application.php#L44

[2017-01-09 09:41] PVince81 commented on #2733
If I see this again, I'll reopen

[2017-01-09 10:13] SergioBertolinSG commented on #2777
Current master (9.2.0 pre alpha)

[2017-01-09 11:01] michaelstingl commented on #2325
@settermjd I've no idea here. Perhaps @PVince81 knows who is the expert for this?

[2017-01-09 11:06] PVince81 commented on #2131
Apply "encrypted = 1" to all files under "files/" but not directories.
No need to do it for "files_versions" or "files_trashbin" because these aren't scanned/found by occ files:scan.

[2017-01-09 11:42] PVince81 commented on #2325
Will need to dig deep into the code to find all possible values...

[2017-01-09 12:36] settermjd commented on #2794
@owncloud/doc can I get a review pls?

[2017-01-09 12:46] settermjd commented on #2769
This issue is a good candidate for two PRs; one for the original issue referenced, and a second for a FAQ style section on issues with PHP configurations. I'll add a PR to address both.

[2017-01-09 13:03] PVince81 commented on #2794
@josh4trunks mind checking if https://github.com/mightyCelu/documentation/commit/371eeeb2c2a368c2668e83db635107b1d2b08a97 is correct ?

[2017-01-09 17:28] josh4trunks commented on #2794
:+1:
The fix makes sense to me, the deny block matches with a regex so in order to not use that `^~` is needed here.

But as a related comment, there really isn't a need for us to document this. It has nothing to do with ownCloud, but I guess it should be in there because it is in our **.htaccess**

[2017-01-10 11:29] settermjd commented on #2794
@josh4trunks thanks for the review and feedback. I agree with your final point, that if it's in the ownCloud source somewhere, even if it's a .htaccess file, then it should be accurate.

[2017-01-10 11:29] #2794 closed

[2017-01-10 14:00] davivel commented on #1626
Ayayayay, endpoint update incoming?

[2017-01-10 14:07] settermjd commented on #2728
Not sure why I've linked #2791 to this issue. Perhaps it was a mistake. Perhaps not.

[2017-01-10 15:22] aheusingfeld commented on #2794
@mightyCelu @josh4trunks Just out of curiosity: What is the reason the `.well-known/acme-challenge/` URI is part of the owncloud HTTPS configuration? I only have it in the HTTP/ Port 80 config as the spec at https://ietf-wg-acme.github.io/acme/ states

Do you have a reference stating it must also be present under HTTPS?

[2017-01-10 17:18] josh4trunks commented on #2794
@aheusingfeld that is a good point. I thought it used to allow any privileged port, but obviously this is no longer the case.
I haven't personally used ACME say I can't say much on it. But, I agree that line, if kept, should be in the HTTP server block.

[2017-01-11 07:21] suyashjain opened #2802 "Right process to disable encryption"
Hi,

Recently I enabled the encryption on my owncloud server, but it does not seems to be very feasible as I have started facing lot of issue where users are not able to access the shared files. So I have decided to disable the encryption.

Can you please provide the right steps to disable decryption.

Thanks

Suyash

[2017-01-11 15:54] PVince81 opened #2803 "Document object store differences"
Primary object store mode and external storage mode use a different storage format.

The external storage variant stores the file in a tree-like manner, so the object keys are like:
- "somedir/"
- "somedir/somefile.txt" + contents of file as data
- "somedir/anotherfile.txt" + contents of file as data

But this has the drawback that it's bad for performance because it is difficult to propagate etag

[2017-01-12 10:38] kdslkdsaldsal opened #2804 "Wrong statement in source_installation.rst for php.ini config options"
My account got flagged, seems because of this my comment in https://github.com/owncloud/documentation/pull/2799/files/6c8b247e394027bd26f97a7152cff78a296620a7#diff-25006775d47d90bb1b266dc81ec432ec got lost:

[2017-01-12 10:56] settermjd commented on #2802
This seems more of a support-specific question. @cdamken?

[2017-01-12 13:27] settermjd commented on #2777
I've added a PR (#2806) to address this issue. Please add any further discussion there.

[2017-01-12 13:27] #2777 closed

[2017-01-12 13:29] settermjd commented on #1496
If this is still an issue, please reopen.

[2017-01-12 13:29] #1496 closed

[2017-01-12 13:31] settermjd commented on #1960
This is being closed, as the commands are not being added now, and there's no clear indication of whether and when they will be.

[2017-01-12 13:31] #1960 closed

[2017-01-12 13:32] settermjd commented on #2131
I'm closing this, as a PR (#2805) is now available to implement the required changes. Please add any further discussion there.

[2017-01-12 13:32] #2131 closed

[2017-01-12 14:04] settermjd commented on #2135
Closing this, as a PR (#2807) has been created to handle this issue. Please continue the conversation there, if necessary.

[2017-01-12 14:04] #2135 closed

[2017-01-12 14:06] settermjd commented on #2677
Closing, as the related PR (#2801) has been merged.

[2017-01-12 14:06] #2677 closed

[2017-01-12 14:15] settermjd commented on #2523
@PVince81 can you leave your thoughts to my question on that issue, pls?

[2017-01-12 14:22] settermjd commented on #2145
@PVince81 is this still an issue?

[2017-01-12 15:11] PVince81 commented on #2145
Yes, we didn't change the messages much

[2017-01-12 16:32] settermjd commented on #2728
Closing as the related PR (#2800) has been merged.

[2017-01-12 16:32] #2728 closed

[2017-01-12 16:40] settermjd commented on #2639
@PVince81 can you clarify exactly how this would happen?

[2017-01-12 16:41] settermjd commented on #2538
@owncloud/doc can anyone provide advice/specifics?

[2017-01-12 16:45] PVince81 commented on #2639
The way I understand and observed it, you could open three console tabs and in each run "php cron.php" and they'd all three run in parallel. Each of these processes would acquire their own list of jobs to process without overlap.

Now for how to set this up in a real environment, maybe with clustering, I have no idea.

[2017-01-12 16:58] michaelstingl commented on #2538
@DeepDiver1975 Do you know more about app store submissions?

[2017-01-12 17:15] PVince81 commented on #2538
Note: this will likely change for the market.

[2017-01-13 09:27] michaelstingl opened #2808 "Document glitch with multiple edits in offline session"
We found a glitch with multiple edits of a user while there is no internet connection. Perhaps this could be added to the iOS docs/FAQ…

https://github.com/owncloud/enterprise/issues/1703#issuecomment-272387300

[2017-01-13 14:29] settermjd commented on #2804
Thanks for mentioning.

[2017-01-13 14:48] kdslkdsaldsal commented on #2802
@settermjd @suyashjain Support questions like this belongs to https://central.owncloud.org/.

How to disable encryption is already explained at the documentation:

https://doc.owncloud.org/server/latest/admin_manual/configuration_files/encryption_configuration.html#disabling-encryption

Afterwards you can use the occ command to decrypt files shown here:

https://doc.owncloud.org/server/latest/admi

[2017-01-14 12:39] kdslkdsaldsal commented on #2804
Fix is in https://github.com/owncloud/documentation/issues/2809

[2017-01-16 04:58] #2769 closed

[2017-01-16 04:58] #2804 closed

[2017-01-16 04:58] settermjd commented on #2802
Thanks for the further feedback @kdslkdsaldsal

[2017-01-16 04:58] #2802 closed

[2017-01-16 05:53] settermjd commented on #2694
Thanks for the input @dumblob

[2017-01-16 09:41] settermjd commented on #2678
@owncloud/doc who could best provide input and guidance on this?

[2017-01-16 09:44] settermjd commented on #2730
@owncloud/doc, @PVince81 @DeepDiver1975 can you provide feedback, pls?

[2017-01-16 10:06] settermjd commented on #2466
@rperezb I've just installed ver 2.2.0 and this terminology now seems updated.

[2017-01-16 10:08] michaelstingl commented on #2678
@tboerger @dercorn We just discussed this. Could you have a look here?

[2017-01-16 10:08] settermjd opened #2811 "Update Android client documentation to reflect changes in version 2.2.0"
After installing the Android client, I've found that [the related documentation](https://doc.owncloud.org/android/android_app.html) appears out of date. Given that, the documentation should be updated to reflect the latest version.

[2017-01-16 10:35] settermjd commented on #343
Having an international community would necessitate having the documentation translated as widely as possible. But, at this stage, I'll need to do further research before being able to suggest a solid course of action. But thanks for raising the issue.

[2017-01-16 13:08] tomneedham opened #2812 "App developer -> controller doucmentation should mention @NoSubAdminRequired annotation"
https://github.com/owncloud/documentation/blob/master/developer_manual/app/controllers.rst

The authentication section should mention the @NoSubadminRequired annotation on route methods allowing normal users access to the route. I got caught out on this and Thomas came to the rescue: https://github.com/owncloud/core/pull/26449/commits/cb1d1ed965a97ffd06ff186ff15a7b52348393d5

[2017-01-17 10:31] settermjd commented on #2783
@michaelstingl, owncloud/client/pull/5466 was created to address this. Thanks for creating an issue for it.

[2017-01-17 11:53] settermjd commented on #2808
@michaelstingl, is this applicable to the Android client as well?

[2017-01-17 11:55] michaelstingl commented on #2808
@davivel @davigonz ^?

[2017-01-19 13:50] butonic commented on #2639
@cdamken regarding https://github.com/owncloud/documentation/issues/2639#issuecomment-251381056

Trashbin and Version expiry should be manually deleted from the oc_jobs table and the new occ commants should be used for dedicated cron jobs that run only once per day.

@DeepDiver1975 @PVince81 if we want to kill ajax and web cron ... can we drop the jobs from the table by default. They are only nece

[2017-01-23 06:21] settermjd commented on #2783
Closing, as owncloud/client#5466 has been merged.

[2017-01-23 06:21] #2783 closed

[2017-01-23 12:51] pmaier1 opened #2815 "Improve enterprise logging docs / add comparison to CE"
1. Enterprise logging:
https://doc.owncloud.com/server/9.1/admin_manual/enterprise_logging/enterprise_logging_apps.html
needs to include all logged events => https://github.com/owncloud/enterprise/blob/master/admin_audit/appinfo/info.xml

2. Comparison of logging features between CE and EE

**ownCloud Server (Community Version)**

- System-Fehler-Logging (PHP-Fehler, DAV-Fehler, fehlgeschlagene Lo

[2017-01-23 19:12] mdpeters67 opened #2816 "Microsoft Visual C++ Runtime Error"
I'm trying to use the latest windows x64 client version 2.2.4 but it persistently crashes after a few minutes of syncing.

1. Install client and select local 6TB disk as source.
2. Sync runs for a time then crashes with Runtime Error
3. Reinstalled several times, tried using different sync accounts, nothing changes the problem.

A popup window tells me that Microsoft Visual C++ Runtime Error has o

[2017-01-24 05:00] settermjd commented on #2816
Thanks for raising these issues. But the best place to ask them is in the [forums](https://central.owncloud.org) or on [IRC](irc://#owncloud@freenode.net).

[2017-01-24 05:03] settermjd commented on #2815
@pmaier1 thanks for raising the issue.

[2017-01-24 05:05] settermjd commented on #2701
@SergioBertolinSG are these all the keys?

[2017-01-24 05:37] settermjd commented on #2701
Closing as #2817 is now implementing the required changes. Please add any further comments there.

[2017-01-24 05:37] #2701 closed

[2017-01-24 08:54] settermjd commented on #2145
Are these errors pointing to the same thing?

[2017-01-24 09:00] #2276 closed

[2017-01-24 09:34] mdpeters67 commented on #2816
That is where I started and was told (maybe incorrectly) to log it in the
git channel.

Best regards,

[image:
https://pbs.twimg.com/profile_images/378800000341389485/d6d190f323345a5eb41ed167875ab613_normal.png]
<http://www.lazarusalliance.com/>

*Michael D. Peters* <http://www.lazarusalliance.com/>

  <http://www.lazarusalliance.com/>

eJD, MBA, C|CISO, CISSP, CRISC, <http://www.lazarusalliance.c

[2017-01-24 09:39] settermjd commented on #2023
I've done some experimentation and research and come up with the revised styling below. To me, it appears more readable.

<img width="882" alt="revised-admonition" src="https://cloud.githubusercontent.com/assets/196801/22241779/326bfdd2-e221-11e6-9732-ad0283a1361f.png">

Here's the CSS for it. I've only made minor changes, primarily in colour and text shadow.

[code]

[2017-01-24 09:40] settermjd commented on #2023
@PVince81 - yes/no?

[2017-01-24 10:27] PVince81 commented on #2023
It burns my eyes a bit and the white isn't that well visible on blue.

We could wait for @felixheidecke to get some design input

[2017-01-24 10:42] felixheidecke commented on #2023
Hey guys. I'll be back next week and will provide design recommendations and/or a design :kissing:

[2017-01-24 11:25] settermjd commented on #1864
Closing as the related PR (#2820) is now merged.

[2017-01-24 11:25] #1864 closed

[2017-01-24 11:27] settermjd commented on #2023
Sounds good.

[2017-01-24 12:47] settermjd commented on #2496
@PVince81 can you give further guidance on what you're seeking here, please?

[2017-01-24 12:50] settermjd commented on #2464
@rperezb do you still intend to document these features?

[2017-01-24 12:52] settermjd commented on #2494
@danimo can you provide further information on this issue please?

[2017-01-24 13:30] dercorn opened #2822 "Missing documentation for LDAP settings -> Directory Settings"
In the documentation of the [advanced LDAP settings](https://doc.owncloud.com/server/9.1/admin_manual/configuration_user/user_auth_ldap.html?highlight=ldap#directory-settings) there are some items that are currently undocumented.
These are:
- Dynamic Group Member URL
- Nested Groups
- Paging chunksize

Please close the gap.

[2017-01-24 13:35] PVince81 commented on #2496
When talking with @DeepDiver1975 and @felixboehm about this lately, we agreed on the following:
- an API added in ownCloud version X only needs to be maintained as long as X is not EOL
- the API can be removed completely in a future version Y if the release date of version Y is later than the EOL date of X.
- before removing an API completely, need to deprecate a year or so. (add `@deprecated` tag

[2017-01-24 13:43] settermjd commented on #2822
@jvillafanez @cdamken can you provide further information please?

[2017-01-24 13:48] #2019 closed

[2017-01-24 14:18] kdslkdsaldsal commented on #2816
@settermjd If runtime errors happening then i think its better to point the user to the correct repository. In this case that would be https://github.com/owncloud/client/issues.

@mdpeters67 When reporting an issue there please search for this error first. If nothing pops up in your search then create a new issue there make sure that you're also filling out the issue template shown.

[2017-01-24 14:46] settermjd commented on #2694
Closing as the implementing PR (#2810) is merged.

[2017-01-24 14:46] #2694 closed

[2017-01-24 14:50] dercorn commented on #2678
the module mod_proxy_html should not be active anywhere in the chain.

[2017-01-24 14:51] settermjd commented on #2753
Any suggestions on where best to put this documentation? @michaelstingl @PVince81

[2017-01-25 08:49] PVince81 commented on #2753
Developer docs, but not sure where. Maybe a new section about HTTP APIs ?

[2017-01-25 08:49] PVince81 commented on #2753
could be something similar / close to the OCS Share API page

[2017-01-25 12:18] settermjd commented on #343
@felixboehm is this something that you're working on?

[2017-01-25 12:41] settermjd commented on #2159
I've created PR #2828 to implement the recommendations here, which includes the note from @karlitschek. Is anything further required?

[2017-01-26 08:45] mmattel opened #2829 "Documentation: Core: Override config.php values through ENV variables (merged)"
This is just a reminder for
https://github.com/owncloud/core/pull/26570#issuecomment-274826311

[2017-01-26 10:20] #2812 closed

[2017-01-26 11:17] settermjd commented on #2816
@mdpeters67 as @kdslkdsaldsal has suggested, can you raise this in https://github.com/owncloud/client/issues pls?

[2017-01-27 08:03] settermjd commented on #2642
Just acquired an iOS device and will update the docs shortly.

[2017-01-27 08:09] settermjd commented on #2464
I've just stepped through the functionality on an iOS device, making screenshots as I went along. Nice feature btw. I'll document it shortly.

[2017-01-27 08:13] settermjd commented on #2722
I've taken several screenshots and will update the docs shortly. However, I don't see any wifi-only option in the latest build (3.5.2 (21dfb82).

[2017-01-27 12:28] settermjd commented on #2464
Experimenting with the most recent version, 3.5.2, I didn't see the ability to create a text file. But in PR owncloud/ios/pull/835 I've documented the edit text files feature.

[2017-01-30 08:29] PVince81 commented on #2765
@tboerger @jnweiger any update ?

[2017-01-30 12:26] tboerger commented on #2765
I have no idea how or where this should happen.

[2017-01-30 12:50] PVince81 commented on #2765
@jnweiger or @crrodriguez might know ?

[2017-01-30 14:33] jnweiger commented on #2765
The change for the start pages of doc.owncloud.com and doc.owncloud.org is proposed here
https://github.com/owncloud/doc-index-com/pull/2

Rebuild of these pages can be triggered at:
https://rotor.int.owncloud.com/view/Documentation/job/ownCloud.com-Documentation-HTML-Index-Page/

@settermjd I suggest these actions:
* accept that PR,
* click on that rotor job.
I'll do that, if you can check for si

[2017-01-30 19:10] michaelstingl opened #2832 "Document platform-wide limitations, excluded files"
- [ ] Folder or file with a space at the end (https://github.com/owncloud/enterprise/issues/1258)
- [ ] .htaccess ([config/config.sample.php](https://github.com/owncloud/core/blob/v9.1.3/config/config.sample.php#L1106))
- [ ] `*.part` files (https://github.com/owncloud/core/issues/7496)
- [ ] [client/sync-exclude.lst](https://github.com/owncloud/client/blob/master/sync-exclude.lst)
- [ ] … what el

[2017-01-31 10:22] settermjd commented on #2765
@jnweiger can you give me access pls?

[2017-01-31 11:04] #2639 closed

[2017-01-31 11:15] settermjd commented on #2780
This is outside my realm of expertise. I'll add what is there and then make it a work in progress.

[2017-01-31 13:08] jnweiger commented on #2765
done. Now you can do it yourself1

[2017-01-31 13:47] settermjd commented on #2765
Awesome. Thanks.

[2017-01-31 14:10] #2464 closed

[2017-01-31 14:12] settermjd commented on #2780
@butonic when you have time, I'd love your input on #2835 and #2834 pls.

[2017-01-31 14:18] settermjd commented on #2722
Closing as this is being implemented in owncloud/ios/pull/834.

[2017-01-31 14:18] #2722 closed

[2017-01-31 14:22] settermjd commented on #2811
Closing as owncloud/android/issues/1885 addresses this.

[2017-01-31 14:22] #2811 closed

[2017-01-31 14:46] settermjd commented on #2642
Closing as the related PR https://github.com/owncloud/ios/issues/829 has been merged.

[2017-01-31 14:46] #2642 closed

[2017-01-31 14:47] settermjd commented on #2638
@PVince81 @DeepDiver1975 yes/no for being closed?

[2017-01-31 14:49] settermjd commented on #2604
Closing as the implementing PR #2789 has been merged.

[2017-01-31 14:49] #2604 closed

[2017-01-31 14:54] settermjd commented on #2599
I couldn't find an occ command for this, so have asked in Mattermost for further feedback.

[2017-01-31 15:11] davivel commented on #2808
No, Android works differently. User works always with the last version of the file, no matter if it was uploaded before or not. If the app has no network access meanwhile, only the last version is uploaded (it's the only version in the device).

[2017-01-31 15:11] davivel commented on #2808
cc @settermjd @michaelstingl ^^

[2017-01-31 15:39] michaelstingl commented on #2808
Oh, I see. Old school file systems do bring benefits.

[2017-01-31 15:46] PVince81 commented on #2599
`./occ user:disable user_id`.

But this ticket is about the provisioning API that is HTTP based (yeah, so many APIs...).

The provisioning API is documented here: https://doc.owncloud.org/server/9.1/admin_manual/configuration_user/user_provisioning_api.html#users-getuser.

It looks like the "enabled" attribute is already listed there. To disable a user, PUT with "enabled=false".

[2017-01-31 16:00] settermjd commented on #2599
That's what I was thinking. But, I'm having issues getting access to a test installation to validate that assumption.

[2017-01-31 16:05] settermjd commented on #2599
I have one now. Thanks to Pasquale!

[2017-01-31 16:20] shterionyanev opened #2838 "CardDAV nginx problem"
Hi guys,

I am trying to connect ownCloud with CardDAV but unsuccessfully... I have the following error

I read all issues before and tried to e rewrite and redirect CardDAV but as I said without success.
We are running ownCloud on ngnix server: `nginx version: nginx/1.10.0 (Ubuntu)`

Here is the configuration:
[code]

[2017-01-31 16:21] settermjd commented on #2599
I tried to alter that setting, using the following curl request:

[code]

It always returns:

[code]

[2017-01-31 16:23] settermjd commented on #2599
`./occ user:enable` and `./occ user:disable` works fine though.

[2017-01-31 16:24] PVince81 commented on #2599
Boo, I don't see it in the code... Needs to be added eventually.

The one I was thinking of was completely different https://github.com/owncloud/core/pull/25876 (I did remember testing something with "enabled", but it was for 2FA)

[2017-01-31 16:26] settermjd commented on #2599
ah ok. It's late in the day and I'm slowing down. I should have checked the code first. Thanks for the update. I'll just update the occ command.

[2017-01-31 16:27] PVince81 commented on #2599
No worries.

I made a ticket here https://github.com/owncloud/core/issues/27061

[2017-01-31 16:28] settermjd commented on #2599
Actually, the occ command's already documented for enabling/disabling users. 👍

[2017-01-31 16:45] kdslkdsaldsal commented on #2838
@shterionyanev From the issue template shown when creating a new issue here:

[2017-01-31 16:56] #2496 closed

[2017-01-31 17:44] pmaier1 opened #2839 "oC User classes"
I wrote down the available user classes in oC and thought this would be nice for the docs. Just dumped this here rawly.

@PVince81 and/or @butonic might want to have a look.

- User
  - Regular user (from LDAP, oC user backend or other backend)
  - Personal space: Permissions as granted by the admin
  - Shared space: Permissions as granted by sharer
  - Apps: All enabled, might be restricted by gr

[2017-02-01 06:46] kdslkdsaldsal commented on #2832
1. Any of the ones described here: https://github.com/owncloud/client/blob/v2.2.4/src/libsync/syncengine.cpp#L427-L464
2. Invalid chars described here: https://github.com/owncloud/client/blob/v2.2.4/csync/src/csync_exclude.c#L256-L267

The client doc has already a documentation part about excluded files located here:

https://doc.owncloud.org/desktop/2.2/architecture.html#ignored-files

[2017-02-01 06:51] kdslkdsaldsal commented on #2816
@settermjd I think this could be closed. People tend to do a "one shot" bugreport and never showing up again afterwards. The error itself seems to be also already reported at the bugtracker of the client and a dev advised to use the upcoming 2.3: https://github.com/owncloud/client/issues/4945

[2017-02-01 09:39] settermjd commented on #2816
Thanks @kdslkdsaldsal. Much appreciated.

[2017-02-01 09:39] #2816 closed

[2017-02-01 09:41] settermjd commented on #2839
@pmaier1, I don't understand what this is referring to. Can you clarify pls?

[2017-02-01 10:10] settermjd commented on #2838
Thanks for the further information @kdslkdsaldsal

[2017-02-01 10:10] #2838 closed

[2017-02-01 10:11] settermjd commented on #2665
@PVince81 is this right to be closed?

[2017-02-01 10:14] PVince81 commented on #2665
@DeepDiver1975 ^

[2017-02-01 10:33] voroyam opened #2840 "ownCloud Desktop Client Manual - Button sends to https://doc.owncloud.org/"
When I click on the link to the ownCloud Desktop Client Manual, I am send to the doc.owncloud.org page instead of the doc.owncloud.org/desktop/2.2/ page, where the Desktop Client Manual is.

[2017-02-01 16:25] kdslkdsaldsal commented on #2840
@vorayam Could you specify where this link is located / where you're clicking? IMHO this is currently not real clear.

[2017-02-02 12:34] voroyam commented on #2840
nevermind, I can't replicate the usecase and I don't remember it anymore :D

[2017-02-02 13:23] #2840 closed

[2017-02-02 13:33] voroyam opened #2841 "Please add the location of owncloud.conf to the doc"
doc location:

https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/harden_server.html#enable-hsts-label

paragraph:

Enable HTTP Strict Transport Security

location of the owncloud.conf file
/etc/apache2/sites-available/default-ssl.conf

Maybe it can be added above the box with the code.

[2017-02-04 17:42] kdslkdsaldsal commented on #2841
This is a location only valid for Ubuntu / Distro. IMHO it makes no sense to add even more distro specific stuff to the documentation.

An administrator should be capable of reading his webservers documentation and tutorials on how to add such stuff.

[2017-02-04 17:49] tuxmaster opened #2842 "Missing link about the FPM settings"
On the FPM part of the documentation at https://doc.owncloud.org/server/9.1/admin_manual/installation/source_installation.html#php-fpm-tips-label
There should an link to this description https://central.owncloud.org/t/no-basic-authentication-headers-were-found-message/819
Because apache for example need  the line

to get fpm to work.

[2017-02-06 10:43] PVince81 opened #2843 "Add occ command to cleanup orphaned remote storages"
See https://github.com/owncloud/core/issues/15701 and https://github.com/owncloud/core/pull/26379

The explanation about what this does is here https://github.com/owncloud/core/pull/26379#issuecomment-275640233.

To be backported to stable9.1 and stable9.

@settermjd

[2017-02-06 14:58] settermjd commented on #2841
@kdslkdsaldsal I agree. The documentation _should_ be kept as ownCloud-specific as possible, and not stray too far towards vendor-related concerns.

[2017-02-06 14:58] #2841 closed

[2017-02-08 13:17] guruz opened #2848 "Publish client 2.3 docs"
https://doc.owncloud.org/desktop/2.3 -> 404

FYI @settermjd

[2017-02-08 15:26] settermjd commented on #2832
Hey @michaelstingl I'm not sure where to put it yet. But I'm having a look at the moment and will find a suitable location.

[2017-02-08 15:37] settermjd commented on #2670
Closing as #2817 has been merged.

[2017-02-08 15:37] #2670 closed

[2017-02-08 15:50] michaelstingl commented on #2832
@hodyroff Any idea where to where to put it? /cc @cdamken

[2017-02-08 16:02] settermjd commented on #2808
@michaelstingl - sorry about the delay. I thought I'd created the PR sooner.

[2017-02-08 16:03] michaelstingl commented on #2808
@settermjd np

[2017-02-08 16:04] settermjd commented on #2808
Please add any further comments in owncloud/ios/pull/839.

[2017-02-08 16:17] settermjd commented on #2775
@SamuAlfageme I can't find the section of the docs which you're referring to. Can you paste a link pls?

[2017-02-08 16:19] settermjd commented on #2678
Ok. I'll update the docs.

[2017-02-09 10:22] settermjd commented on #2808
Closing as owncloud/ios/issues/839 is now merged.

[2017-02-09 10:22] #2808 closed

[2017-02-09 10:41] #2678 closed

[2017-02-09 11:43] settermjd commented on #2748
@pako81 thanks for including me. My knowledge on iOS development is very limited though. @nasli?

[2017-02-09 12:05] DeepDiver1975 commented on #2665
there is a need fro these two commands and we shall add docs on these two commands.

But there is no need in documenting the CardDAV url - at least not in the current state because the url is only used between federated servers.

[2017-02-09 12:16] settermjd commented on #2450
@PVince81, @ChristophWurst, @MTRichards: Is documentation of _"Password changes log out connected browsers/devices automatically"_ the only remaining change to be completed on this ticket?

[2017-02-09 13:20] settermjd commented on #2665
Thanks for the input. Checking in admin_manual/configuration_server/occ_command.rst, both of them are documented. Given that, I'm closing this issue.

[2017-02-09 13:20] #2665 closed

[2017-02-09 13:41] PVince81 commented on #2450
@settermjd yes, looks like it

[2017-02-09 15:07] settermjd commented on #2450
Thanks. Just wanted to be sure.

[2017-02-09 15:07] #2843 closed

[2017-02-09 15:34] dercorn commented on #2678
Done.

Cornelius Wachinger

cornelius@owncloud.com <mailto:cornelius@owncloud.com>
ownCloud GmbH - www.owncloud.com <http://www.owncloud.com/>

Your Data, Your Cloud, Your Way!

ownCloud GmbH, GF: Tobias Gerlinger, Holger Dyroff, Harald Weimer
Leipziger Platz 21, 90491 Nürnberg, HRB 28050 (AG Nürnberg)