[2017-02-09 16:11] tboerger commented on #2848
Why did I get assigned? I don't know anything about the docs workflow.

[2017-02-09 16:14] settermjd commented on #2538
@nasli can you provide guidance on this?

[2017-02-09 16:34] guruz commented on #2848
"Senior DevOps Engineer at ownCloud GmbH" from https://github.com/tboerger

[2017-02-09 16:38] tboerger commented on #2848
@guruz sure, I'm a DevOps engineer, but I can't do everything and I'm far away from knowing everything that happens here :)

[2017-02-09 17:00] settermjd commented on #2150
Working on this at the moment.

[2017-02-09 17:43] guruz commented on #2848
:-) ok @jnweiger to the rescue plz

[2017-02-10 14:42] PVince81 opened #2859 "Missing backslashes in background job names"
See https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/background_jobs_configuration.html

`OCAFiles_TrashbinBackgroundJobExpireTrash` should be `OCA\Files_Trashbin\BackgroundJob\ExpireTrash`. Maybe need to double the slash in rst ?

Once fixed, please backport to stable9.1 and stable9 as well.

@settermjd

[2017-02-10 15:27] settermjd commented on #2859
Thanks for raising this. Not sure how I missed it.

[2017-02-14 09:02] PVince81 opened #2864 "Document new chunking protocol"
https://github.com/owncloud/core/issues/26981

@DeepDiver1975 can you take care of it or at least give guidelines to @settermjd about what/how to document it ?

CC @butonic

[2017-02-14 09:03] PVince81 commented on #2864
This is the doc of the old webdav/chunking: https://github.com/cernbox/smashbox/blob/master/protocol/protocol.md

[2017-02-14 14:48] settermjd commented on #2859
There was a bug in the last build, which prevented the fix from being applied. Currently waiting on build 153 to complete to see if the fix worked.

[2017-02-14 15:15] settermjd commented on #2859
Ok, the fix works. Backporting to stable9.1 and stable9.

[2017-02-15 12:20] #2726 closed

[2017-02-16 11:44] settermjd commented on #2859
Merged to master, stable9.1, and stable9.

[2017-02-16 11:44] #2859 closed

[2017-02-16 11:56] settermjd commented on #2848
@guruz I need to talk with you about this. Can you msg me in the group/team chat when you have a moment?

[2017-02-17 10:28] #2596 closed

[2017-02-20 12:40] cdamken opened #2885 "LDAP Quota documentation"
@settermjd

Could you please add in the LDAP configuration: Probably here: https://doc.owncloud.com/server/9.1/admin_manual/configuration_user/user_auth_ldap.html#special-attributes

feel free to change anything 😄 you know better how to explain it all 👍

The assigning from quota works like this:

1.- ownCloud default quota is set as 1st choice.
2.- Administrators can modify the quota in the user p

[2017-02-20 15:52] settermjd commented on #2885
sure can.

[2017-02-20 18:22] mmattel opened #2886 "Possible update to devlopment documentation necessary"
@PVince81 as discussed on IRC

When trying to setup a development environment following https://github.com/owncloud/documentation/blob/master/developer_manual/general/devenv.rst
I ran into some issues. The most important issue was, that ``make`` did not finish sucessfully.

After digging I found the root cause on the failing make.

- It seems that the version from nodejs provided on Ubuntu 16.04 i

[2017-02-20 18:25] PVince81 commented on #2886
Regarding sudo, better not do development as root.

If using the web server user instead, then `sudo -uwwwrun make` would work as it's not root.

[2017-02-20 18:25] PVince81 commented on #2886
The guzzle stuff cannot be fixed easily. Basically it tells us to switch to a newer library with different APIs...

[2017-02-20 18:26] PVince81 commented on #2886
Maybe `make` itself could detect the setup early and:
- show error if nodejs too old
- show error if run as root

[2017-02-21 08:29] #2370 closed

[2017-02-22 14:03] settermjd commented on #2023
Hey @felixheidecke any suggestions or recommendations?

[2017-02-23 09:11] #2885 closed

[2017-02-23 15:42] PVince81 opened #2891 "Document OC.Plugins"
Extension point is defined as follows:

[code]

Plugins can register themselves to this extension point using this:
[code]

[2017-02-23 15:43] PVince81 commented on #2891
Usually I'd use the name of the class as extension name, so `MyExtensionPointName` could be `MyClass`. This makes it clearer that you receive that instance.

@IljaN @felixheidecke

[2017-02-24 09:19] PVince81 opened #2892 "Document share permissions and allowed file operations"
This was always a bit obscure.
There was a day where I wrote smashbox tests and had to figure them all out.

They are currently documented inline in the code: https://github.com/owncloud/smashbox/blob/master/lib/oc-tests/test_sharePermissions.py#L43.

I've taken them out and put them below for better readability:

Permissions masks:
- **READ** = 1
- **UPDATE** = 2 ("can update" in web UI)
- **CREA

[2017-02-24 09:21] PVince81 commented on #2892
@settermjd I suppose this would fit in the user's documentation so that regular users can know what kind of permissions they are allowing. These then need to be documented in a more user-friendly manner.

Developers might be interested in the actual permission values, so maybe a section for these should be put in the developer documentation.

[2017-02-24 11:40] voroyam opened #2893 "link to occ page in Converting Database Type"
For better understanding how to Convert the Database Type via occ command, a link to the occ page could be integrated.

https://doc.owncloud.org/server/9.1/admin_manual/configuration_database/db_conversion.html

https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html?highlight=occ

[2017-02-24 15:56] mmattel opened #2894 "Unit testing documentation might need an update"
Info from https://phpunit.de/manual/current/en/installation.html
PHPUnit 6.0 requires PHP 7

https://doc.owncloud.org/server/9.2/developer_manual/core/unit-testing.html

[code]
--> ok

but (option ``--self-update`` as mentioned in the documentation)

[code]
--> fail

[2017-02-27 09:41] #2675 closed

[2017-02-27 09:43] settermjd commented on #2894
Might need to provide further options, should people not be on PHP 7.0 or not be in a position to upgrade, yet.

[2017-02-27 11:36] #2893 closed

[2017-02-27 14:07] #2842 closed

[2017-02-28 08:27] PVince81 commented on #2765
Still nothing under the 10.0 URL https://doc.owncloud.org/server/10.0/admin_manual/.

@settermjd do you need further help from admins ?

[2017-02-28 14:22] settermjd commented on #2765
A new Jenkins build's been created to for this. Just testing that it works.

[2017-02-28 14:24] settermjd commented on #2848
A new Jenkins build's been created to for this. Just testing that it works.

[2017-02-28 14:42] settermjd commented on #2848
@guruz this is now working. Checking the docs, a few version details need to be updated though. I'll sort that out asap.

[2017-02-28 14:42] #2848 closed

[2017-02-28 15:04] settermjd commented on #2765
Ok, the link now works, but the version listed in the documentation is wrong. I'll create a separate PR to resolve this now.

[2017-03-01 17:06] kdslkdsaldsal opened #2905 ""Short Encryption FAQ" in wrong manual (user instead of admin)"
With https://github.com/owncloud/documentation/pull/2793 a new FAQ for encryption was introduced. However it seems this ended up in the users manual:

https://doc.owncloud.org/server/9.2/user_manual/files/encrypting_files.html#encryption-faq

but i think its way better placed in the admin manual.

[2017-03-02 09:17] settermjd commented on #2905
Hey @kdslkdsaldsal NextCloud and ownCloud are two separate projects mate. Was the reference to NextCloud intentional?

[2017-03-02 09:32] settermjd opened #2906 "Update links in the database configuration section of the administration manual"
The links to the four supported databases (_MySQL_, _MariaDb_, _PostgreSQL_, and _Oracle_) at the top of the database configuration section of the administration manual point to the related vendor documentation. They _should_ link to the relevant sections of the database configuration documentation.

[2017-03-02 09:41] kdslkdsaldsal commented on #2905
Nope, absolutely not. Just wrong copy'n'paste. :-) The correct reference would be https://github.com/owncloud/documentation/pull/2793

[2017-03-02 13:39] michaelstingl opened #2910 "document occ configreport:generate command"
@phisch made [configreport feature](https://github.com/owncloud/configreport/) available for all oC editions.

I also comes with a fancy `occ configreport:generate` command.

@settermjd Please add a hint to [the docs page for the occ commands](https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html).

@phisch Which versions ship with configreport app?

[2017-03-02 15:46] #2894 closed

[2017-03-02 17:06] settermjd commented on #2765
I've created #2907 to change the references to the previous next release, 9.2, to 10.0. As soon as that's ready, then the next version of the documentation is ready to go, as Jenkins has been updated with a new job to build the 10.0 documentation.

I've not changed https://doc.owncloud.com/ yet, as the 10.0 release isn't scheduled until the end of March. However, if it should be changed, just let

[2017-03-03 10:13] #2906 closed

[2017-03-03 12:28] pako81 opened #2913 "Procedure for enabling master-key encryption"
Currently the procedure for correctly enabling master-key encryption is not extensively documented. From what I can say, the steps for correctly enabling it are as follow:

1. `sudo -u www-data php occ app:enable encryption`
2. `sudo -u www-data php occ encryption:enable`
3. `sudo -u www-data php occ encryption:enable-master-key`
4. `sudo -u www-data php occ encryption:encrypt-all`

@PVince81 is t

[2017-03-03 13:06] PVince81 commented on #2913
I seem to remember reviewing some docs about master key. Maybe they weren't backported to the 9.1 docs yet ? @settermjd

[2017-03-03 15:41] cdamken commented on #2913
there is only a link to the occ command, but there is no real explanation about the master_key

[2017-03-03 19:05] mmattel commented on #2886
Info, after doing a apt-get dist-upgrade, I neeed to redo the nodejs installation.

[2017-03-06 10:33] settermjd commented on #2913
I remember working on something like this just last week, actually.

[2017-03-06 10:36] settermjd commented on #2913
Looks like it wasn't back ported to 9.1 I'll do that now.

[2017-03-06 10:51] settermjd commented on #2913
The changes in 68ada269f5b44d44a1173ae4812970534bd72673 have been backported to stable9 and stable9.1.

[2017-03-06 10:54] pako81 commented on #2913
@settermjd thanks. Should we not also add the 4. `sudo -u www-data php occ encryption:encrypt-all` step after master-key has been enabled in order to encrypt all files with this master-key ?

[2017-03-06 10:58] #2905 closed

[2017-03-06 11:22] settermjd commented on #2913
That's included in #2918. Given that, closing this issue now.

[2017-03-06 11:22] #2913 closed

[2017-03-06 11:57] settermjd commented on #2780
Closing as related PR's have been merged.

[2017-03-06 11:57] #2780 closed

[2017-03-06 12:31] SamuAlfageme commented on #2775
@settermjd oops, this was buried, sorry! Sure, it's the desktop sync client documentation: https://doc.owncloud.org/desktop/2.3/

[2017-03-06 12:32] settermjd commented on #2775
Thanks.

[2017-03-06 12:56] #2585 closed

[2017-03-06 13:24] settermjd commented on #1618
Fixed in owncloud/client/issues/5399

[2017-03-06 13:24] #1618 closed

[2017-03-06 13:25] settermjd commented on #2023
@felixheidecke - any feedback?

[2017-03-06 13:38] felixheidecke commented on #2023
@settermjd could you provide a [jsfiddle](https://jsfiddle.net/)?

[2017-03-06 16:38] rperezb commented on #2466
@settermjd in the android documentation it appears "favorite" which is not any longer an option

[code]

[2017-03-07 10:06] PVince81 opened #2922 "Document settings page registration"
@tomneedham please add details and @settermjd will perform his mighty formatting and rewording magic

- how can an app register a section in the admin or personal section ? (info.xml)
- example implementation of AdminPanel / PersonalPanel / ISettings
- how to use an existing section id
- how to create an own section id and have it translated (<-- am struggling with this one)

[2017-03-07 10:16] Sciss opened #2923 "Move local sync directory (Debian)"
hi,

I installed owncloud-client on a new computer (Debian Stretch), and added an account. But I accidentally skipped the directory selection, now everything is synced to `~/ownCloud`. I want this to be `/mnt/Data/ownCloud`. The desktop client doesn't have any preferences dialog, I can't find a way to change the directory location? I would expect this to be in the "General" tab of the UI. What can

[2017-03-07 10:40] Sciss commented on #2923
I managed to rerun the wizard by choosing 'remove' from the account context menu. I think it would be good to offer this as an option, or at least add it to the FAQ of the documentation.

[2017-03-07 10:48] settermjd commented on #2923
@Sciss thanks for raising the issue. I'll get the documentation updated.

[2017-03-07 10:49] phil-davis commented on #2923
There is no "move local sync directory" capability in the client UI. You have to do something like the workflow that you did - remove the undesired sync connection and add a desired one. You can add the desired one first, to get it syncing the files down from the server, and then remove the undesired one later.

[2017-03-07 10:51] settermjd commented on #2923
@phil-davis should this be added to an FAQ?

[2017-03-07 10:53] settermjd commented on #2923
Actually, I'll add it to https://doc.owncloud.com/desktop/2.3/faq.html

[2017-03-07 10:57] phil-davis commented on #2923
Yes, that sounds good - something like "I want to move my local sync folder"

[2017-03-07 12:01] tomneedham commented on #2922
Apps must now register for admin and personal sections using the info.xml file - `OC_App::registerPersonal` and `OC_App::registerAdmin` may now be removed. Apps still using these calls will have their settings panels represented in the 'Additional' section.

For each panel an app wishes to register, an entry must be added into the `<settings>` element in info.xml, specifying the class name of the

[2017-03-07 12:15] tomneedham commented on #2922
Added a ticket to track custom app-provided sections https://github.com/owncloud/core/issues/27327

[2017-03-07 16:28] SamuAlfageme commented on #2923
See related: https://github.com/owncloud/client/issues/5387

[2017-03-07 16:37] settermjd commented on #2923
Interesting.

[2017-03-08 08:41] PVince81 opened #2924 "How to configure mysql for 4-byte unicode"
@DeepDiver1975 please add snippets or links here

cc @davitol (who was looking for it)
cc @settermjd (the documentation magician)

[2017-03-08 11:37] DeepDiver1975 commented on #2924
all required mysql/mariadb setting are listed here: https://github.com/owncloud/core/blob/master/config/config.sample.php#L1084-L1107

[2017-03-08 19:34] michaelstingl opened #2925 "Link to desktop 2.2 client docs on main page"
https://doc.owncloud.org/ and https://doc.owncloud.com/ still link to the 2.2 docs, but we already released the 2.3 clients

@settermjd

[2017-03-09 10:24] settermjd commented on #2925
Will have that sorted in a few minutes.

[2017-03-09 10:32] #2925 closed

[2017-03-09 11:19] settermjd commented on #2924
Am on it!

[2017-03-09 11:22] settermjd commented on #2925
These changes have been released on .com and .org. Thanks for chasing this up.

[2017-03-09 16:51] settermjd commented on #2466
@rperezb this should be changed as part of owncloud/android/pull/1885

[2017-03-09 16:58] settermjd commented on #2023
Will see what I can find.

[2017-03-09 17:00] settermjd commented on #2023
Actually, all I have is the CSS snippet above mate.

[2017-03-10 08:11] #2923 closed

[2017-03-10 09:03] rperezb opened #2927 "[iOS] Distribution process"
Not sure if we keep using https://doc.owncloud.org/branded_clients/branded_ios_app/publishing_ios_app.html as reference for our customers to create the iOS mobile app, if so, this is not up-to-date

FYI @michaelstingl @felixboehm @settermjd

[2017-03-10 09:43] michaelstingl commented on #2927
duplicate for https://github.com/owncloud/documentation/issues/2748

[2017-03-10 09:43] #2927 closed

[2017-03-10 20:48] scorpaanon commented on #2839
The user permissions.

[2017-03-11 09:37] kdslkdsaldsal opened #2928 "Default preview_max_x and preview_max_y description wrong / misleading in documentation"
Concerning https://doc.owncloud.org/server/latest/admin_manual/configuration_files/previews_configuration.html#maximum-preview-size:

The documentation is currently saying:

When having a look into the code it seems that the default is 2048 not null (no limit):

https://github.com/owncloud/core/blob/v9.1.4/lib/private/Preview.php#L125-L126

Only if:

``
  'preview_max_x' => null,
  'preview_max_y'

[2017-03-11 09:42] ghost opened #2929 "Sync config_sample_php_parameters.rst with changes from core"
Concerning: https://doc.owncloud.org/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html and https://github.com/owncloud/documentation/blob/master/admin_manual/configuration_server/config_sample_php_parameters.rst

It seems the mentioned file was autogenerated in the past from the config.sample.php of core. This was done in commits like e.g. https://github.com/ownclou

[2017-03-11 09:47] kdslkdsaldsal commented on #2929
The script to do this job seems to be located at https://github.com/MorrisJobke/ownCloud-config-converter

Would make sense to fork this / place this in the documentation tracker here and revert the nextcloud changes from https://github.com/MorrisJobke/ownCloud-config-converter/commit/9bfb3e460618949ce48c64189136a71931cd780e

[2017-03-12 08:56] kdslkdsaldsal opened #2930 "Move "trusted domains" description out of the "Installation Wizard" section"
Currently the description about the trusted domains is placed within the "Installation Wizard" section:

https://doc.owncloud.org/server/latest/admin_manual/installation/installation_wizard.html#trusted-domains

The trusted domains setting isn't related to the installation wizard at all and that setting is automatically configured during the installation. But people might need to configure that la

[2017-03-14 04:56] settermjd commented on #2930
@kdslkdsaldsal where do you suggest it go?

[2017-03-14 06:02] settermjd commented on #2929
I've forked the repository and have almost finished a revised version of it, one that works with ownCloud again.

[2017-03-14 07:12] kdslkdsaldsal commented on #2929
Nice. Here is the reference to the forked repo: https://github.com/owncloud/ownCloud-config-converter

[2017-03-14 11:10] settermjd commented on #2929
@kdslkdsaldsal I forked the original repository (owncloud/ownCloud-config-converter) and refactored it quite a bit so that it works again with ownCloud. On having a think about it, as ownCloud and NextCloud, it didn't seem likely that sharing the same repository would either work nor make long-term sense. So a fork seemed like the most logical step to take.

[2017-03-14 11:19] settermjd commented on #2775
I fixed this last week by updating the Jenkins configuration. I should have closed this then. Sorry for any confusion as a result of not doing so.

[2017-03-14 11:19] #2775 closed

[2017-03-14 11:21] #2711 closed

[2017-03-14 11:22] #2765 closed

[2017-03-14 11:43] jvillafanez commented on #2822
The nested groups checkbox makes the LDAP connector aware of possible groups inside groups. By default a group will only contain users; if there is any additional group there it will be likely ignored (I have to check the code to know the exact behaviour).

The paging chunk size refers to the size of the expected response. I think all LDAP providers have some limits regarding the number of items t

[2017-03-14 11:52] settermjd commented on #2725
I've done some investigation into Sphinx-Doc configuration options. I've not found anything, yet, that indicates how to correct the situation. However, I'm planning to attempt further research on IRC.

[2017-03-14 13:36] settermjd commented on #2725
Searching on IRC, Slack (Write the Docs channel), and StackOverflow as well as parsing through the JavaScript code (`admin_manual/_build/html/com/searchindex.js` and `admin_manual/_build/html/com/_static/searchtools.js`) have yielded some information.

What I've found is that the search term `htaccess.RewriteBase` will likely never be stored in the search index. The search tool will likely split t

[2017-03-14 14:05] cdamken commented on #2822
I haven't tested either. @owncloud/qa-team Do we have some test for this?

[2017-03-15 15:01] #2822 closed

[2017-03-16 09:28] butonic opened #2937 "Encryption, enable Recovery key needs updated description"
on https://doc.owncloud.org/server/10.0/admin_manual/configuration_files/encryption_configuration.html it says

On OC 10 there no longer is a Personal page. It is called Settings ... I just tried enabling recovery, but cannot even find the section ... but that is an encryption app issue.

[2017-03-16 09:31] settermjd commented on #2937
Having a look at this now. Thanks for mentioning it.

[2017-03-16 10:09] settermjd commented on #2937
I've been playing around with 10.0.0 alpha and see that, after enabling server-side encryption, that I can enable the recovery key under `Settings -> Admin -> Encryption`. Assuming that I understand you correctly, I'll update the docs in a moment.

[2017-03-16 10:22] #2928 closed

[2017-03-16 10:24] settermjd commented on #2922
@tomneedham thoughts on #2931 pls

[2017-03-18 10:22] kdslkdsaldsal opened #2941 ""Uploading big files > 512MB" -> Notes box could be misunderstood"
Concerning: https://doc.owncloud.org/server/latest/admin_manual/configuration_files/big_file_upload_configuration.html

This page currently has the following note box at the beginning of the page

One could assume that the sync client could also workaround the 64bit limit mentioned before:

But thats a "hard limit" which is still valid, even if the sync client is used.

[2017-03-20 13:16] butonic opened #2943 "Antivirus app lacks av_max_file_size documentation"
The antivirus app has a av_max_file_size config option, shown in the admin settings as `File size limit, -1 means no limit` but the screenshots on https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/antivirus_configuration.html dont reflect them.

[2017-03-20 14:37] settermjd commented on #2937
I'll put this on until https://github.com/owncloud/core/issues/27398 is resolved.

[2017-03-22 17:35] PVince81 opened #2950 "Document Webdav REPORT on files endpoint"
1. Favorite some files in the web UI
1. Create a file "report-favorite.xml" with the following contents
[code]
1. `curl -u admin:admin -X REPORT -H "Content-Type: text/xml" --data-binary "@report-favorite.xml" 'http://localhost/owncloud/remote.php/dav/files/admin/'`

This will return a multistatus result containing all favorite files from any subdirectory:
[code]

It only returns the required prop

[2017-03-22 20:40] tomneedham commented on #2922
Merged in https://github.com/owncloud/documentation/pull/2931#event-1006407094

[2017-03-22 20:40] #2922 closed

[2017-03-27 11:42] #2941 closed

[2017-03-27 11:47] settermjd commented on #2943
This is being reworked on #2947.

[2017-03-28 12:12] #2829 closed

[2017-03-28 13:05] michaelstingl opened #2956 "Document ALL oC capabilities"
Once we have added the [smashbox API docs](https://github.com/cernbox/smashbox/blob/master/protocol/protocol.md) to our docs, we need to list and explain ALL oC capabilities.

The current information looks incomplete:
https://github.com/cernbox/smashbox/blob/master/protocol/protocol.md#capabilities-call

The client code could provide more information:
https://github.com/owncloud/client/blob/master

[2017-03-29 07:08] PVince81 opened #2957 "Support for multiple link share"
- Update the OCS Share API pages to specify that multiple link shares are allowed, these: https://doc.owncloud.org/server/10.0/developer_manual/core/ocs-share-api.html
- Also add the optional "name=" attribute for specifying a link share name on create or update. Add this attribute there: https://doc.owncloud.org/server/10.0/developer_manual/core/ocs-share-api.html

@settermjd

[2017-03-29 07:12] PVince81 opened #2958 "Update external storage docs for 10.0"
The UI and flow has changed so might need to update screenshots.

@settermjd please try it out, let me know if you need help to set it up.

[2017-03-29 09:17] michaelstingl opened #2961 "Don't link old client docs"
<img width="926" alt="owncloud_documentation_overview_ _owncloud_documentation" src="https://cloud.githubusercontent.com/assets/214010/24447353/ef62ac52-1470-11e7-95f7-83f08b5090c0.png">

Only the latest stable version of the desktop sync client is supported.

@settermjd Please remove from https://doc.owncloud.com/ and https://doc.owncloud.org/

[2017-03-29 09:28] dercorn commented on #2956
I second that. I had a customer telling me about undocumented API calls to modify tags and comments.

[2017-03-30 06:34] tflidd opened #2963 "Move data directory - SQL command"
https://doc.owncloud.org/server/10.0/admin_manual/maintenance/manually-moving-data-folders.html

it says that the sql command to move the data folder from `/var/www/owncloud/data` to `/mnt/owncloud` is:
[code]
But shouldn't it be the other way round?
[code]
@settermjd

[2017-03-30 08:01] IljaN opened #2964 "Document checksums"
With 10.0 we implemented a checksum feature which checks the file-integrity on upload and download by computing a checksum after the file-transfer is finished.

## Desktop Sync-Client

### Checksum Algorithm Negotiation
The client queries the server capabilities after login to decide which checksum algorithm to use.
Currently SHA1 is hard-coded in the official server-release and can`t be changed b

[2017-03-30 08:41] IljaN commented on #2964
@guruz Please review and feel free to edit above as needed.

[2017-03-31 21:33] butonic opened #2967 "Add UNIQUE_ID to logging section"
On https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/logging_configuration.html we should

- [ ] add a dedicated section on how to install mod_unique_id and and changin the log format to add the unique_id. If the UNIQUE_ID environment variable is present OC will also use it for the owncloud log file, which allows matching log entries from apache to oc and vice versa.

- [ ] rec

[2017-03-31 22:13] butonic opened #2968 "Give a recommentdation for a JSON based Apache log file"
After https://doc.owncloud.org/server/9.1/admin_manual/installation/source_installation.html#additional-apache-configurations add a section on how to make apache log json. Rationale: [structured data](https://www.loggly.com/blog/why-json-is-the-best-application-log-format-and-how-to-switch/) is perfect for machine readable log files.

[code]

* UIQUE_ID is optional, see https://github.com/owncloud

[2017-04-02 13:40] kdslkdsaldsal opened #2969 "Add "Unsupported" banner to server 8.1 documentation"
Now that oC 8.1 is [unsupported](https://github.com/owncloud/owncloud.org/pull/1169) it could make sense to add an "unsupported" banner to the 8.1 documentation the same way it was done for 8.0 in https://github.com/owncloud/documentation/issues/2713

[2017-04-02 13:47] kdslkdsaldsal commented on #2961
Then it could make sense to either completely remove the https://doc.owncloud.org/desktop/2.2/ version or add an "unsupported" banner the same way it is/was done for the server documentation: https://github.com/owncloud/documentation/issues/2969

[2017-04-02 13:58] kdslkdsaldsal opened #2970 "Add "Unsupported" banner to client documentation"
Seems https://doc.owncloud.org/desktop/2.0/ is still around. Could make sense to add an "Unsupported" banner to that one like in https://github.com/owncloud/documentation/issues/2969

[2017-04-03 15:05] voroyam opened #2972 "system_requirements: wrong format, broken links"
Second paragraph - on Web Site it's a list, on github it's a table.

also on Web Site 3rd Item in the list: after "see"  the link is broken.

Forth paragraph 3rd item in the list - broken link after "See"

ref:

web site:
https://doc.owncloud.com/server/9.1/admin_manual/installation/system_requirements.html#memory

github:
https://github.com/owncloud/documentation/blob/master/admin_manual/installa

[2017-04-03 15:17] PVince81 opened #2973 "9.1 docs warnings"
[code]

@settermjd

[2017-04-03 18:44] guruz commented on #2964
I'm too afraid to edit as there is no version control in comments (is there?)

[code]
Remove and replace all this with "..." ?

This sounds like it computes multiple of them?

spelling

You mean compares AFTER the last chunk right? When merging the chunks?

Otherwise looks good to me, I wonder if this is blog material too? ( @hodyroff )

[2017-04-04 14:25] IljaN commented on #2964
@guruz It does :sunglasses:

[2017-04-05 11:36] settermjd commented on #2973
Thanks. Will sort it out.

[2017-04-05 14:37] voroyam opened #2981 "Enterprise Edition Installation"
https://doc.owncloud.com/server/9.1/admin_manual/enterprise_installation/index.html

The fist 7 Links - link to pages with very little content, so it would be better just to include the content in to the original page above, and let the Oracle Database Setup as it is, so users won't have to jump from page to page.

[2017-04-05 14:54] voroyam opened #2982 "Jive Integration"
Why is there a question in the docu?

https://doc.owncloud.com/server/9.1/admin_manual/enterprise_external_storage/jive_configuration.html

...for that user (we won’t be able to get more access tokens)

[Ask for info to know how to solve this issue?]

It’s very important that the user access to ownCloud through....

Also, the links on this page should be in code format.

The warning should be in t

[2017-04-06 07:31] DeepDiver1975 commented on #2982
We shall completly remove jive from the docs - this is no longer available in 9.1 release - possibly earlier.

[2017-04-06 11:11] settermjd commented on #2982
Ok. So, just to confirm @DeepDiver1975, remove it from the 10.0 and stable 9.1 release?

[2017-04-06 11:22] settermjd commented on #2981
On review, it seems to make sense to combine all of the information into one, single, page.

[2017-04-06 11:22] DeepDiver1975 commented on #2982
yes - at least - one need to double check if jive is part of previous releases as well

[2017-04-06 11:45] pmaier1 opened #2983 "Document 'comments' API"
Please document the comments API ('Comments' app) for developers. @PVince81 can provide input.

[2017-04-06 11:47] pmaier1 opened #2984 "Document 'tagging' API"
Please document the tagging API ('Collaborative tags' app) for developers. @PVince81 can provide input.

[2017-04-06 12:07] pmaier1 opened #2986 "Document 'private link' feature"
Please add a section to the user docs explaining the 'private link' feature which was previously called 'local link' or 'permanent link'. I had a look at the 9.1 docs and didn't find anything related.

**Input**
- The link points to the unique file id (-> identical for every user)
- You need access to be able to view/download files via those links (not a share link!)
- Can be used to point others

[2017-04-06 12:09] PVince81 commented on #2983
for that I'll have a look at the browser's network console to see what it's sending, it's the easiest way to get concrete examples for the XML exchange

[2017-04-06 12:11] settermjd commented on #2982
Ok. I'll remove it tomorrow.

[2017-04-06 12:37] umlaeute opened #2988 "clarify the preference for `cron` jobs"
the [documentation](https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/background_jobs_configuration.html?highlight=cron#cron-jobs) mentions three ways for setting up a cron-job to do maintenance tasks:
- ajax
- webcron
- cron

while the documentation does state that *cron* is the preferred way and *ajax* not, i find that statement a little bit too soft.
it seems that currently

[2017-04-06 12:49] felixboehm opened #2989 "Add Option path to occ files:transfer-ownership"
documentation for `occ files:transfer-ownership` in 2 locations:

- https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/file_sharing_configuration.html?highlight=transfer#transferring-files-to-another-user
- https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/occ_command.html#file-operations

Please Add:
- Parameter --path

[2017-04-07 08:16] voroyam commented on #2972
@settermjd  can you review this?

[2017-04-07 08:16] voroyam commented on #2981
can we merge it?

[2017-04-07 08:26] PVince81 opened #2991 "Document account sync command"
10.0 only:

- document account sync command
- add a reference to a section about "what kind of occ commands do I need to run regularily"

This is important because people using LDAP or other user backends with 10.0 **must** add this command to their cron.

@DeepDiver1975 @settermjd

[2017-04-07 12:05] #2981 closed

[2017-04-07 20:30] meliody opened #2992 "Cron job with correct working directory"
I recognized that on my Ubuntu Xenial (16) it was mandatory to set the working directory before issuing the php command. So the cron entry looks like this:
`*/15 *   * * *   cd /var/www/owncloud && /usr/bin/php -f /var/www/owncloud/cron.php`

If this is the correct way of handling the issue I would suggest an update to the manual here:
admin_manual/configuration_server/background_jobs_configuratio

[2017-04-10 07:15] PVince81 commented on #2991
@davitol do you have an example command ?

[2017-04-10 07:43] davitol commented on #2991
LDAP authentication:
sudo -u www-data  ./occ user:sync "OCA\User_LDAP\User_LDAP"

User external, Samba:
[code]
Shibboleth Users:
[code]

[2017-04-10 08:10] PVince81 commented on #2991
@DeepDiver1975 @butonic recommendations how often to run these in system cron ?

[2017-04-10 14:02] PVince81 opened #2995 "Warnings for master build"
[code]

@settermjd

[2017-04-10 19:05] kdslkdsaldsal commented on #2988
https://doc.owncloud.org/server/latest/admin_manual/configuration_files/external_storage_configuration_gui.html#detecting-files-added-to-external-storages might be also updated to reflect the issue with webcron

[2017-04-12 12:53] michaelstingl opened #2996 "[Desktop] Document policy for the supported Linux distributions"
We have updated our policy regarding the supported Linux distributions.

@settermjd Please update the [Desktop section in the System Requirements](https://github.com/owncloud/documentation/blob/master/admin_manual/installation/system_requirements.rst#desktop)

[2017-04-12 13:23] michaelstingl opened #2997 "Unite doc.owncloud.com and doc.owncloud.org"
Content is the same. Why are there 2 URL's ?

@settermjd @pmaier1 @hodyroff @evirichard

[2017-04-12 13:25] pmaier1 commented on #2997
If content is exactly the same, makes no sense => merge, please.

[2017-04-12 13:25] PVince81 commented on #2997
maybe legacy stuff ? a long time ago dot com was the EE docs and dot org was the CE docs.
Then they were merged into the same sets of docs.

[2017-04-12 13:27] hodyroff commented on #2997
One in Community design and one in Enterprise design. Customers are looking under .com URL while Users are looking under .org URL ... a little bit of square the circle ... proposals with reasoning welcome ...

[2017-04-13 14:46] michaelstingl opened #2998 "Document best practice examples to rotate/compress oC logfiles"
[Current information](https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#logging) is very minimal:

Also: [Logging Configuration](https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/logging_configuration.html)

Please document how to actually use it. (Examples: http://www.thegeekstuff.com/2010/07/logrotate-examples)

@cdamken

[2017-04-15 11:52] settermjd commented on #2997
I agree that as the documentation is exactly the same, that it makes no sense to continue the current situation as it is for much longer. I'd suggest rolling one into the other one by setting up a 301 redirect, along with setting the desired domain as the canonical domain to help ensure that search results favour the desired domain.

[2017-04-15 12:22] settermjd commented on #2995
Not sure how these crept in. Fixing them now.

[2017-04-18 09:34] #2995 closed

[2017-04-18 11:57] settermjd commented on #2982
Closed as the related PR's been merged.

[2017-04-18 11:57] #2982 closed

[2017-04-18 12:01] settermjd commented on #2996
Thanks @michaelstingl. On it.

[2017-04-18 12:13] settermjd commented on #2983
@PVince81 can you provide that information here?

[2017-04-18 12:13] settermjd commented on #2984
@PVince81, if you can share more information, that'd be much appreciated.

[2017-04-18 12:22] settermjd commented on #2988
Thanks @kdslkdsaldsal for the extra information and thanks @umlaeute for raising the issue.

[2017-04-18 20:56] PVince81 opened #3004 "10.0 doc warnings"
[code]

@settermjd are you not seeing these on a local build ? Should we add something to travis so it appears earlier on each PR ?

[2017-04-18 20:57] PVince81 commented on #2991
This is a critical component in OC 10.0 when using non-local users and needs to be documented before the final releases. @settermjd is there anything missing to be able to move forward ?

[2017-04-18 20:58] PVince81 commented on #2991
@DeepDiver1975 @butonic how often to run those ? every 15 minutes ?

[2017-04-19 09:25] PVince81 opened #3007 "occ encryption:change-key-storage-root is limited to data directory"
Change this:
https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/occ_command.html#encryption

and provide an example inside the data directory, ex: "data/allkeys".

An admin can first mount a separate volume to "data/allkeys" if they want the keys to be stored elsewhere.

Add warning that it's not supported to store keys outside of the data directory path.

@settermjd

[2017-04-19 10:16] guruz commented on #2924
Should a link to this documentation also be displayed in the install wizard HTML thing that comes up on a new install?
I'd imagine people want to know it then and not later after they set everything up?

[2017-04-20 08:31] PVince81 commented on #2891
Here is an example with how it's done for extending the "New" menu button in the files app:
- extension point: https://github.com/owncloud/core/blob/v10.0.0RC1/apps/files/js/newfilemenu.js#L76
- text editor which plugs in to add an entry for "new text file", here: https://github.com/owncloud/files_texteditor/blob/v10.0.0RC1/js/editor.js#L648

[2017-04-20 09:41] settermjd commented on #2991
Ok, on it.

[2017-04-20 12:10] PVince81 commented on #2991
Don't run with `OC\User\Database` as it makes no sense. Users from the users page or provisioning API are automatically present in oc_accounts.

[2017-04-20 12:13] DeepDiver1975 commented on #2991
I'd do it on demand .... especially since users are not deleted but there is printout to the admin

[2017-04-20 13:33] felixboehm opened #3011 "10.0. Release checklist"
# Check documentation for 10.0.0 release

- [ ] Install ownCloud 10.0
- [ ] Update to ownCloud 10.0
- [ ] Marketplace: Install and update apps

@settermjd @PVince81 @DeepDiver1975
Please add ...

[2017-04-20 13:43] PVince81 commented on #3011
- [ ] account sync command: https://github.com/owncloud/documentation/issues/2991
- [ ] multiple link shares: https://github.com/owncloud/documentation/issues/2957
- [ ] 4-byte support: https://github.com/owncloud/documentation/issues/2924
- [ ] transfer ownership with new option `--path`: https://github.com/owncloud/documentation/issues/2989
- [ ] checksums: https://github.com/owncloud/documentat

[2017-04-20 14:22] butonic commented on #2991
not every 15 min. The job took 3h for 85k ldap users here ... I'd say daily is probably a good start. Also, the job is only necessary to pick up changes from a backend for users that don't log in regularily. Upon login a user will be updated, so the account table stays up to date. The only thing that might happen if a user is not updated is that eg displayname, email and quota become outdated.

We

[2017-04-22 07:23] settermjd commented on #2991
@PVince81 I've just created a PR to fix this issue. I'm not sure if it does exactly what you have in mind. But please add your feedback to the PR if it doesn't.

[2017-04-22 13:56] settermjd commented on #3011
Thanks for bringing all these related items together so concisely!

[2017-04-23 11:38] #2988 closed

[2017-04-23 11:43] #2930 closed

[2017-04-25 11:18] settermjd commented on #3004
I'd suggest we should do that. But what exactly, I'm not sure. Given the way that reStructuredText works, these are not easy to always catch without a lot of effort. But it should be achievable.

[2017-04-25 11:20] settermjd commented on #3004
On the latest build of master I don't see these. Some of them would likely have been fixed in previous PRs.

[2017-04-25 11:45] settermjd commented on #3007
I don't quite understand what you're asking here. Do you mean that you want this added to the end of the section:

[2017-04-25 12:05] settermjd commented on #2961
Shall do. I'll remove all references to the old versions, and remove the builds in Jenkins.

[2017-04-25 12:10] settermjd commented on #2961
Closed too quickly.

[2017-04-25 12:17] settermjd commented on #2961
Ok, the Jenkins projects for client 2.2 and server 8.1 (and earlier) have been removed.

[2017-04-25 12:17] #2961 closed

[2017-04-25 12:18] settermjd commented on #2963
@tflidd sounds logical to me.

[2017-04-25 12:36] #2963 closed

[2017-04-25 12:48] settermjd commented on #2964
@IljaN, so, what you're after is for this to be added, as-is, to the docs?

[2017-04-25 13:05] PVince81 commented on #3007
I think it must be relative to the data directory, not the root.

[2017-04-25 13:19] settermjd commented on #2924
@DeepDiver1975. wouldn't the lines in config be 1126 - 1157?

[2017-04-25 18:21] #3004 closed

[2017-04-25 22:37] #2991 closed

[2017-04-26 10:35] pmaier1 opened #3020 "Document new config.php option to allow medial searches with LDAP"
https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html?highlight=ldap#ldap

The README of the LDAP app https://github.com/owncloud/user_ldap/blob/master/README.md covers everything, I guess.

In case there is more input needed:
- PR with quick explanation: https://github.com/owncloud/user_ldap/pull/42#issue-201616694
- @cdamken or @PVince81 can hel

[2017-04-26 10:36] pmaier1 commented on #3011
- [ ] Document new config.php option to allow medial searches with LDAP https://github.com/owncloud/documentation/issues/3020

[2017-04-26 13:46] #2989 closed

[2017-04-26 14:00] settermjd commented on #2924
This will be resolved when #2926 is merged. Just need a final review and ok on that PR.

[2017-04-26 14:26] settermjd commented on #3011
@pmaier1 #3021, which fixes #3020, is ready for review.

[2017-04-26 14:57] PVince81 commented on #2957
- [ ] The page looks broken: https://doc.owncloud.org/server/10.0/developer_manual/core/ocs-share-api.html

[2017-04-26 14:58] PVince81 commented on #2957
Basically when you create or edit a share with share type 3 (link share), it is now possible to create multiple of them and also to pass a "name=" parameter to specify a user-defined name. The "name" attribute also appears in responses.

[2017-04-26 16:05] PVince81 opened #3022 "Import config.sample.php converter script, use makefile"
Import https://github.com/owncloud/administration/tree/master/config-sample-converter into this repo.

Find a way to run it regularily.

Maybe add a Makefile target to trigger it easily.

@settermjd

[2017-04-26 16:14] PVince81 commented on #3022
The script is not up to date, need to change the path to "configuration_server" instead of "configuration".

Apparently it doesn't bootstrap the core repo so if we make it a makefile rule, might need to automatically fetch that file from github. A simple wget with the proper URL + branch name might do.

[2017-04-27 12:11] settermjd commented on #3022
I got to working on this some time ago after another issue suggested the same thing. As a result, I forked the original repo and did some basic refactoring to have it use Symfony console. As it's for ownCloud, I gave it a better name too: https://github.com/owncloud/ownCloud-config-converter

[2017-04-27 12:12] settermjd commented on #3022
I meant to work on it further, but it's not (strictly speaking) what I'm meant to be on. But, despite that, I made a good start on it.

[2017-04-27 12:12] settermjd commented on #3022
I'd suggest that would could have it as a composer dependency and run it with a Make target.

[2017-04-27 12:29] settermjd commented on #2957
I think I follow what you're saying.

[2017-04-27 13:12] settermjd commented on #2957
@PVince81 #3026 fixes the formatting issues on ocs-share-api.

[2017-04-27 13:26] #3020 closed

[2017-04-27 13:28] settermjd commented on #2924
Closing as I just merged #2926.

[2017-05-02 14:36] felixboehm opened #3028 "add docs for wnd:listener v2 for 10.0.1"
Chapter: https://github.com/owncloud/documentation/blob/master/admin_manual/enterprise/external_storage/windows-network-drive_configuration.rst#setup-notifications-for-an-smb-share

Needs rework, as the listener did change a lot. @jvillafanez for input.

Further findings / Notes:
- [ ] add the disclaimer, that the listener in 9.1 is a technical preview only, and it should not be used in production

[2017-05-03 11:32] #2964 closed

[2017-05-03 12:30] settermjd commented on #2957
@PVince81 what are/is "multiple link shares"?

[2017-05-03 14:13] davitol opened #3030 "Documentation related Default quota and other kind of quotas should be added"
@settermjd I could not find info related to how to set that quota in the documentation

![screen shot 2017-05-03 at 16 01 00](https://cloud.githubusercontent.com/assets/10596560/25664618/76bafc3e-301b-11e7-9537-7df37410532f.png)

[2017-05-03 14:33] phil-davis commented on #2957
You can share the same file or folder many times, each with its own combination of permissions, expiry and (human-readable) name. Each of those will have a unique share_id.
So you can give out the share id details to different people, and they will get different permissions with different expiry dates etc, and you can potentially remove access for a person by deleting the share_id that you have gi

[2017-05-03 16:18] PVince81 commented on #2957
don't use the term "share_id", it will be very confusing for developers who think it is the share id in the DB.

Use the term "share token" instead.

But I'm not sure it needs to be that technical.

Multiple link shares simply means that now you can create more than one link shares. Each link has a different token and different permissions.

Then if you want you can give some real life use case ex

[2017-05-03 16:29] michaelstingl opened #3031 "Remove unmaintained Documents App from docs?"
As far as I know, the "[Documents App](https://github.com/owncloudarchive/documents)" is obsolete. Can it be removed from [user](https://doc.owncloud.com/server/9.1/user_manual/documents.html) and [admin](https://doc.owncloud.com/server/9.1/admin_manual/configuration_files/collaborative_documents_configuration.html?highlight=documents) docs?

@pmaier1 @settermjd

00007573

[2017-05-03 22:11] eehmke opened #3032 "Document "add new user""
When a new user is created, and is added to an existing group, it is necessary to remove the group shares and recreate them. Otherwise the new user is not able to read the files shared in the group. This procedure must be documented.

[2017-05-04 02:41] phil-davis commented on #3032
I just tried this on an oC server running 9.1.3. I:
a) created a group 'TestGroup' and put an existing user in it
b) logged in as that user and shared a folder to the group
c) added a new user 'new.user' and put them in 'TestGroup'
d) logged in as 'new.user'
Result: 'new.user' can see the folder and files in it. I could open the files in the web UI and download them.

I would say that if you have

[2017-05-04 03:11] phil-davis opened #3033 "Share API doc describes item_source and file_source the same"
https://github.com/owncloud/documentation/blob/master/developer_manual/core/ocs-share-api.rst
item_source - The unique node id of the item being shared.
file_source - The unique node id of the item being shared.

If these really are redundant always-identical response attributes, then it would be nice to explicitly say that (otherwise it looks suspiciously like a copy-paste without changing the te

[2017-05-04 05:00] PVince81 commented on #3033
They are the same. Legacy reasons.

In the past when core sharing was about other things than files then only "item_source" was used and not "file_source". Nowadays core sharing API is only about files, so both contain the same value.

[2017-05-04 06:46] phil-davis commented on #3033
See #3034 for some extra text to confirm to readers that item_source and file_source are really the same.
When I read the table at first, I wondered if there was just a copy-paste problem there with 2 attributes having an identical description. So a bit of explanation might be helpful for others?

[2017-05-04 09:13] phil-davis commented on #3033
PR merged

[2017-05-04 09:13] #3033 closed

[2017-05-04 09:18] settermjd commented on #3032
I'm in agreement with @phil-davis. This appears more like a bug than a feature.

[2017-05-04 09:18] #3032 closed

[2017-05-04 09:18] settermjd commented on #3031
Sure can. Just need to do a bit of double-checking.

[2017-05-04 09:20] settermjd commented on #2957
@PVince81 your use case in the last sentence is excellent for clarity. Thanks.

[2017-05-04 09:43] eehmke commented on #3032
I was redirected here when I was contributing to an issue.
https://github.com/owncloud/core/issues/25481#issuecomment-298974984
Are you sure the new.user can not only see the shared files, but actually open and read them? That was my original problem, and it was solved by deleting the share (by the owner of the files) and recreate it.

[2017-05-04 09:58] phil-davis commented on #3032
@eehmke yes, as new.user I opened the files in the webGUI and I downloaded the file to make sure that I could really read it.
I tried your sequence of:
1) Delete new.user
2) Create new.user with new password...
3) Grant TestGroup to new.user
4) Login as new.user
5) View files online, download a file, upload a file
It is all successful.

If you can find a sequence of user account/group/permission c

[2017-05-04 10:31] eehmke commented on #3032
Maybe it is caused by the fact that the share has been original created with owncloud 8.x.x and was migrated to 9 and then to 10. That would explain that you cannot reproduce it now. Ok, my problem is solved and I cannot find the reference where I got the hint to recreate the share. Thanks for looking into it.

[2017-05-04 12:24] settermjd opened #3035 "Document that permissions cannot be changed for public share links"
While working through #2957 I encountered the error below:

[code]

That I'm aware of, this isn't documented anywhere, so I believe it's worth making an update to the documentation to add it.

[2017-05-04 16:25] pmaier1 commented on #3031
Yes, you can remove it starting with 10.0. It's not really obsolete but a community app and we [decided](https://github.com/owncloud/platform/issues/21) not to maintain it further. If we find a maintainer in the community they can still maintain it but it does not have to be explained in our official docs.

[2017-05-05 08:08] PVince81 commented on #3035
It should be possible to change permissions if you are the owner of the link.

Change from "read-write" to "read-only". I think the message isn't accurate.

It might display this message if you use an unsupported combination of permissions.
Only these are supported so far: https://github.com/owncloud/core/blob/master/core/js/sharedialoglinkshareview.js#L98

In 10.0.1 we'll also support removing th

[2017-05-05 09:03] settermjd commented on #3035
@PVince81 thanks for the update. I should be far more familiar with this than I am, so I'm taking this as motivation to continue my education. I'll research further and see what I find.

[2017-05-05 09:24] PVince81 opened #3037 "Release notes not up to date in 10.0 admin page"
See https://doc.owncloud.org/server/10.0/admin_manual/release_notes.html

These PRs were merged https://github.com/owncloud/documentation/pull/3024

Did the doc didn't build lately or is it a different file ? @settermjd

[2017-05-05 09:31] settermjd commented on #3037
I asked in #server - will chase up if it's not gained traction by Monday.

[2017-05-05 09:33] PVince81 commented on #3037
@jnweiger @crrodriguez can you help ?

would also be good to have a monitor that checks whether something was built at all during the last days

[2017-05-05 11:19] jvillafanez opened #3039 "Updated behaviour in the LDAP app for OC 10"
Please check https://github.com/owncloud/user_ldap/pull/85 (the PR notes and my first comment) for the changes introduced

@settermjd

[2017-05-05 11:35] settermjd commented on #3035
[The logic](https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/API/Share20OCS.php#L616) seems quite peculiar, but this would verify the point I'm making.

[2017-05-05 11:47] #3031 closed

[2017-05-05 13:19] PVince81 commented on #3035
Yep, you found it.

[2017-05-08 07:36] sharidas opened #3040 "Documentation required for switch between master and user specific keys"
Regarding the feature to select either master key or user specific key encryption implemented here: https://github.com/owncloud/core/pull/27512 needs documentation.

[2017-05-08 08:14] settermjd commented on #3035
Thanks, I think. :-)

[2017-05-08 08:21] settermjd commented on #2972
Sorry for the delay. Ok, the main reason you're not seeing the same thing is that the website link you've pasted refers to version 9.1 of the docs, but the github link is to master, which will deploy to [10.0](https://doc.owncloud.com/server/10.0/admin_manual/installation/system_requirements.html#memory). If you have a look at 10.0, you'll see that a table's rendered. What might help is if I backp

[2017-05-08 08:30] voroyam commented on #2972
Indeed, can you backport it?

[2017-05-08 08:35] settermjd commented on #2972
I can indeed.

[2017-05-08 08:37] voroyam commented on #2972
Great

[2017-05-09 08:16] tomneedham commented on #3039
I believe this page can be killed https://doc.owncloud.com/server/10.0/admin_manual/configuration_user/user_auth_ldap_cleanup.html 💥

[2017-05-09 09:18] settermjd commented on #2957
@phil-davis (& @PVince81) after working through it quite a lot over the last few days, while I can create multiple link shares to the same file (I've not looked at folders), they can only be assigned the read permission. No other permission can be set, nor can the permission be changed afterward.

[2017-05-09 09:34] settermjd commented on #2957
And after reading through the code, I believe that permissions **cannot** be set for public link shares. I could well be wrong though. As I understand the code:

1. If the public link share is for a folder with public upload, then [the permissions are set to _read_, _create_, _update_, and _delete_](https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/API/Share20OCS.php#L349-L354).

[2017-05-09 12:05] jnweiger opened #3043 "appliance docu needs a deep link to big files handling"
![big-files-chapter](https://cloud.githubusercontent.com/assets/1108546/25849838/5e351b0a-34c0-11e7-9427-239d1c543f1e.png)

I have difficulties finding, where the link should point to.

[2017-05-09 12:33] PVince81 commented on #2957
Yes, files can only be read.
Only folders have "read" or "read+write" permissions.

[2017-05-09 12:51] settermjd commented on #2957
@PVince81 is this issue now done, given the merge of #3044?

[2017-05-09 13:23] voroyam opened #3046 "Replacement of the "deployment recommendation" picture"
I would like to replace the current picture for the deployment recommendation for Large Enterprises and Service Providers with this one.

![p5](https://cloud.githubusercontent.com/assets/24212810/25852659/648be9c0-34ca-11e7-8535-a8ec4fc566ec.png)

Location in the documentation:
https://github.com/owncloud/documentation/blob/master/admin_manual/installation/deployment_recommendations.rst#recommende

[2017-05-09 15:00] felixboehm commented on #3046
much cleaner - like it.

[2017-05-09 15:27] PVince81 commented on #2957
do we have any screenshots or descriptions of the link share feature that might require updating ? (sorry if we discussed this already, I forgot)

[2017-05-09 16:07] jnweiger opened #3048 "Appliance config misses proxy config"
Old PD-Menue has no step to configure a http proxy.
Check if new univention appliance has this!

Documentation should explain the manual steps in any case!

[2017-05-09 17:03] voroyam commented on #3046
Here are the other 2 pictures

![medium](https://cloud.githubusercontent.com/assets/24212810/25862918/07d64c32-34ea-11e7-9230-13d6bb927200.png)

![small](https://cloud.githubusercontent.com/assets/24212810/25862924/0c09e5ca-34ea-11e7-8c4b-9df355a95dce.png)

[2017-05-10 07:41] felixboehm commented on #3046
Redis should be recommended always

Remove Apache

[2017-05-10 08:32] voroyam commented on #3046
![redis-removed](https://cloud.githubusercontent.com/assets/24212810/25889947/eb690cf6-356b-11e7-85ae-1408f84425a2.png)

[2017-05-10 08:58] hsteinhaus commented on #741
Just stumbled into the same problem after upgrading Centos via yum. Previously installed: 8.2 (latest), now for some reason 9.1 is the latest stable. Upgrade failed.

As a developer, I can understand the idea of gradual upgrades, however as a user, I find this concept ridiculous. It completely voids any brought by the package manager. This feels a bit like downgrading to Windows...

[2017-05-10 14:47] michaelstingl commented on #2910
@settermjd We need this documented for our daily support work. Is there any information missing?

[2017-05-10 15:51] guruz commented on #2360
This is not documented in https://doc.owncloud.org/server/10.0/admin_manual/maintenance/backup.html or https://doc.owncloud.org/server/10.0/admin_manual/maintenance/restore.html

I consider this quite important as not doing this leads to sync issues.

[2017-05-11 07:10] settermjd commented on #2360
Thanks @guruz. I'll get on it.

[2017-05-11 07:10] settermjd commented on #2910
Sorry, not sure how this slipped. I'll get it going.

[2017-05-11 07:17] settermjd commented on #741
Thanks for adding a further comment @hsteinhaus

[2017-05-11 07:19] settermjd commented on #2957
Not sure. I'll have to check.

[2017-05-11 07:22] settermjd commented on #3043
Thanks @jnweiger, I'll get it sorted.

[2017-05-11 11:07] jnweiger commented on #3037
There is a jenkins job on rotor, that fails with rotor unknown host.
Unfortunantely the copying is not done with an explicit scp but with some builtin jenkins service.
Thus it cannot be tested manually.

[2017-05-11 11:18] settermjd commented on #3011
#3050's been created to document custom groups functionality. The last piece of the puzzle is guest users. Just need the right version of ownCloud so that I can document it.

[2017-05-11 11:19] settermjd commented on #3037
Anything that we can do about it?

[2017-05-11 11:21] DeepDiver1975 commented on #3037
![bildschirmfoto von 2017-05-11 13-20-55](https://cloud.githubusercontent.com/assets/1005065/25946728/b3766488-364c-11e7-9256-d4f6f725bac4.png)

[2017-05-11 11:21] DeepDiver1975 commented on #3037
there is an auth issue between rotor and the doc server @tboerger any idea? THX

[2017-05-11 11:29] settermjd commented on #3035
Closing as this is, effectively, covered in the PR that documented the link feature.

[2017-05-11 11:29] #3035 closed

[2017-05-11 11:29] michaelstingl commented on #2996
Backport needed for all supported server versions.

[2017-05-11 11:31] jnweiger commented on #3037
from rotor I get telnet doc.owncloud.org 22
Trying 50.30.33.159...
telnet: connect to address 50.30.33.159: Connection refused

from other systems port 22 is reachable.

[2017-05-11 11:32] tomneedham opened #3051 "Document ability for apps to define their own settings sections"
Related core PR: https://github.com/owncloud/core/pull/27634

Whats new since OC10:
 - Apps can define their own settings sections in addition to panels

Steps to do this:
 - Add a `<settings-sections>` element in info.xml of the app. Sub element of `<personal>` or `<admin>` with the class name of the section. (See https://github.com/owncloud/core/pull/27634)
 - Create the relevant class, for exam

[2017-05-11 12:00] jnweiger commented on #3037
Got it: conference.owncloud.org is on a different machine than doc.owncloud.org since beginning of may. Jenkins should now actually use hostname doc.owncloud.org instead of conference.owncloud.org
yeah!

[2017-05-11 12:54] jnweiger commented on #3037
https://rotor.int.owncloud.com/view/Documentation/job/ownCloud-Documentation(10.0)/66/

succeeded.

[2017-05-11 13:36] PVince81 commented on #3037
@jnweiger you could setup a monitor that checks the mtime of the target files (any file that always changes when building the docs). If the mtime is higher than 2 days then something went wrong.

[2017-05-11 14:05] jnweiger commented on #3037
Thanks @PVince81 good point. Made a note in the admin kanban for monitoring.

[2017-05-11 14:07] jnweiger commented on #3037
I am still worried if the jenkins job did anything usefull or not. To me https://doc.owncloud.org/server/10.0/admin_manual/release_notes.html looks the same as before.

[2017-05-11 23:39] mkormendy commented on #2784
These two issues above with regard to apache and php-fpm are now defunct bugs that have been resolved in more recent versions of each software.

[2017-05-12 07:38] kdslkdsaldsal commented on #3037
@jnweiger For me https://doc.owncloud.org/server/10.0/admin_manual/release_notes.html looks good now and contains all new entries previously missing.

[2017-05-12 08:51] settermjd commented on #3037
@jnweiger how can we be notified about future issues?

[2017-05-12 09:34] settermjd commented on #3011
#3054's been created to document the Guest functionality.

[2017-05-12 09:40] tboerger commented on #3037
In the future the docs will be wrapped into docker containers and the asset copying gets dropped. Which email should be notified if the Jenkins job fails?

[2017-05-12 10:03] jnweiger commented on #3037
@kdslkdsaldsal thanks. My part-time-fix seems done then :-) Leaving the proper solution to @tboerger

[2017-05-12 10:45] settermjd commented on #2910
@michaelstingl I reworked #2911 to implement this.

[2017-05-12 10:48] settermjd commented on #2997
@mrlinux1 we were talking about this last week. What can we do to merge these, or are you already on it?

[2017-05-12 10:51] settermjd commented on #3030
I raised that with engineering and will document it when I know more. Thanks for raising it.

[2017-05-12 10:52] pako81 commented on #3030
it seems this is already documented here: https://doc.owncloud.com/server/9.1/admin_manual/configuration_user/user_configuration.html

[2017-05-12 10:53] settermjd commented on #2998
@michaelstingl will it be sufficient to just expand on what's already there (and to make it clearer)?

[2017-05-12 10:55] davitol commented on #3030
@pako81 WFM. I looked for that and I could not find it. Let's close the ticket. Thank you two for the interest

[2017-05-12 10:55] #3030 closed

[2017-05-12 10:56] settermjd commented on #3030
No worries.

[2017-05-12 10:59] michaelstingl commented on #2998
Our current docs say, logfiles will be overwritten. This is not useful. If we know a better way to handle it, we can expand it there.

@cdamken @pako81 Do you have recommendations for oC admins how to handle logfiles and logrotation.

[2017-05-15 07:19] #2910 closed

[2017-05-15 07:29] settermjd commented on #3011
I'm ready if the outstanding PRs are approved (and merged).

[2017-05-15 07:36] PVince81 commented on #2983
Some info can be inferred from the original PR: https://github.com/owncloud/core/pull/21664

[2017-05-15 07:38] PVince81 commented on #2984
Some info can be inferred from the original PR which has a quick spec: https://github.com/owncloud/core/pull/20786#issuecomment-160735964

[2017-05-15 12:03] settermjd commented on #2992
Hi @meliody if the PHP binary is in the path, then that shouldn't be necessary. However, this advice isn't strictly applicable, if you have multiple PHP binaries, for different versions. On thinking over what you've said, your suggestion should remove any questions or potential issues caused by not providing the full path to the PHP binary. I'll make an update to the docs.

[2017-05-15 12:12] settermjd commented on #2970
Closed as #2961 has been finalised.

[2017-05-15 12:12] #2970 closed

[2017-05-15 12:13] settermjd commented on #2969
Closing as the implementing tickets #2961 and #2970 have been implemented and closed.

[2017-05-15 12:13] #2969 closed

[2017-05-15 12:14] settermjd commented on #2956
@dercorn I'm in the process of implementing #2984 and #2983 to cover the tags and comments APIs.

[2017-05-15 12:15] settermjd commented on #2973
Closed as the implementing PR has been merged and closed.

[2017-05-15 12:15] #2973 closed

[2017-05-15 12:17] settermjd commented on #2957
There were none that I know of.

[2017-05-15 12:17] #2957 closed

[2017-05-15 12:17] settermjd commented on #2958
@PVince81 happy for all assistance.

[2017-05-15 12:57] #2992 closed

[2017-05-15 13:00] PVince81 commented on #2958
I don't remember exactly what I meant here. Maybe it's related to the settings sections.

[2017-05-16 08:46] guruz commented on #2832
Maybe keep in in client documentation and link to it from server?

[2017-05-16 09:13] #2986 closed

[2017-05-16 09:14] settermjd commented on #2832
How about in an FAQ that spans all the manuals, a new "global" area?

[2017-05-16 09:15] settermjd commented on #2958
I'll go hunting :-)

[2017-05-16 13:17] voroyam opened #3059 "9.0 recommended upgrade method"
https://doc.owncloud.org/server/9.0/admin_manual/maintenance/upgrade.html

From the document:

There are three ways to upgrade your ownCloud server:
Using your Linux package manager with our official ownCloud repositories. This is the recommended method.

As far as I know, we don't recommend using the repositories, do we?

[2017-05-16 14:53] settermjd commented on #2983
It's taken a little while, but I've done sufficient research to be able to document the comments API. It's in progress and will likely be finished tomorrow.

[2017-05-16 19:28] PVince81 opened #3060 "More build warnings"
Today with v10.0.1RC1 tag on release server:
[code]

I wonder if we should somehow upgrade sphinx there if that's the problem ?

@settermjd

[2017-05-17 07:53] tboerger commented on #3060
I don't think that this is the problem. I'm even not being able to generate the documentation at all with latest sphinx from the Docker container `webhippie/sphinx`, tried it on our Jenkins instance.

[2017-05-17 09:02] #2150 closed

[2017-05-17 09:19] settermjd commented on #3060
Given that they're all warnings, I don't believe that they'd cause a build to fail. However, I will get them corrected (just to be sure).

[2017-05-17 09:23] settermjd commented on #3060
I only have one warning on the master branch.

[2017-05-18 07:41] tboerger opened #3070 "Outdated desktop client link on user manual"
The user manual links to an outdated (2.1) version of the desktop client. Maybe we should link to https://doc.owncloud.org/desktop/latest/ instead?

[2017-05-18 21:25] voroyam opened #3072 "Uneven font"
![installation](https://cloud.githubusercontent.com/assets/24212810/26223989/c5ae0f96-3c20-11e7-97cb-66608d597b75.png)

Why are some letters higher than others? Can we change this?

https://doc.owncloud.com/server/10.0/admin_manual/installation/index.html

[2017-05-19 09:07] PVince81 opened #3075 "Add path to email templates on disk for manual editing"
When not using the template editor app, we should specify in the docs where the email templates are actually located.

I suggest extending this list https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/email_configuration.html?highlight=email%20template#using-email-templates and adding the path to the respective templates.

See https://github.com/owncloud/templateeditor/blob/mast

[2017-05-19 09:16] pmaier1 commented on #3075
Added urgent label. When done please add the following to the [release notes](https://doc.owncloud.com/server/10.0/admin_manual/release_notes.html#changes-in-10-0): "- The template editor app is not included in the 10.0.1 release due to technical reasons. You can still edit template files manually, see [link]. The app will be distributed via the marketplace afterwards."

[2017-05-19 09:28] #2983 closed

[2017-05-19 09:49] phisch commented on #3075
The app will not be compatible with 10.0.1, but with 10.0.2.

[2017-05-21 09:10] michaelstingl opened #3078 "Document how to handle failed ownCloud 9.1 and 10 logins with fail2ban"
Docs already cover protection for SSH logins: https://github.com/owncloud/documentation/pull/2936

It's also very useful, to block failed ownCloud logins. To achieve this, fail2ban can "read" the owncloud.log.

Community documented it in the forums for the older versions:
https://central.owncloud.org/t/fail2ban-and-owncloud-8-x-9-0-x/837

It seems log format changed with oC 10:
https://central.own

[2017-05-21 15:01] kdslkdsaldsal commented on #3078
If it gets documented in more details this might also just replace https://github.com/owncloud/documentation/pull/3077

[2017-05-22 16:14] kdslkdsaldsal opened #3079 "Min. supported desktop client version: config.sample.php vs. release notes different"
The release notes of oC 10.0.0 currently says:

``* Requires to use the latest desktop client version 2.3``

where the config.sample.php and the default in the code of 10.0.1 says 2.0.0:

https://github.com/owncloud/core/blob/v10.0.1/config/config.sample.php#L1256
https://github.com/owncloud/core/blob/v10.0.1/apps/dav/lib/Connector/Sabre/BlockLegacyClientPlugin.php#L70

One might be wrong.

[2017-05-22 16:23] kdslkdsaldsal commented on #3079
Related: https://github.com/owncloud/core/pull/27978

[2017-05-23 10:24] PVince81 opened #3081 "Document ability to upgrade to 10.0.1 from 9.0.9+"
@settermjd

[2017-05-23 10:29] settermjd commented on #3081
Thank you, kind sir. I'll make that happen.

[2017-05-23 10:39] settermjd commented on #3078
Thanks @michaelstingl. I'll get on it.

[2017-05-23 10:42] settermjd commented on #3072
I'd assume that this is to do with the available fonts on your machine and the desktop manager that you're using. I don't believe it's an issue in ownCloud.

[2017-05-23 10:53] voroyam opened #3082 "Clarifying instructions for installing ownCloud from commandline"
https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/occ_command.html#command-line-installation

I suggest making clear, that you need more than the tarball and some permissions.

[2017-05-23 12:33] #2984 closed

[2017-05-23 19:58] #1626 closed

[2017-05-25 14:25] pmaier1 commented on #2832
Good idea!

[2017-05-26 09:27] kdslkdsaldsal opened #3087 "Following theming instructions might trigger an integrity warning"
Currently https://github.com/owncloud/documentation/blob/master/developer_manual/core/theming.rst is explaining how to write an example theme app.

Some notes to "copy" an existing theme (in case the example theme) can be found there. If people are following this, copy the "theme-example" and do modifications to it they will trigger an integrity warning as the theme got signed and contains the app

[2017-05-26 10:14] settermjd commented on #3079
@kdslkdsaldsal I've opened owncloud/core#28017 to address the required code changes. I'm going to update the documentation in just a moment as well.

[2017-05-26 10:17] settermjd commented on #3087
@kdslkdsaldsal will investigate further. Thanks.

[2017-05-26 10:25] PVince81 commented on #3087
cc @phisch

[2017-05-26 10:45] settermjd commented on #3075
@pmaier1 #3088 updates the release notes for 10.0.1 as requested.

[2017-05-26 10:45] #3075 closed

[2017-05-26 11:31] settermjd commented on #2996
@michaelstingl #3089 and #3090 have been created to ensure consistency of the documentation across the most recent versions. They're not major changes, just backporting the minor differences.

[2017-05-26 11:32] settermjd commented on #3070
Well said. On that now.

[2017-05-26 11:55] settermjd commented on #3059
@PVince81?

[2017-05-26 11:55] #3060 closed

[2017-05-26 12:04] PVince81 commented on #3059
I don't know what is recommended officially @DeepDiver1975 @butonic @cdamken @hodyroff.
Might have changed over time...

[2017-05-26 12:31] hodyroff commented on #3059
We should add Docker mechanism documentation to the mix.
And we should add the appliance approach.
Recommendation: That is a tough one as it depends a lot on the environment of the admin.
I'll check with @dercorn and @pmaier1 on that next week.
Other people are welcome to chime in if they have a favorite for recommendation and why.

[2017-05-29 08:59] tboerger commented on #3070
Looks like we can close that?

[2017-05-29 09:57] #3070 closed

[2017-05-29 09:58] #3072 closed

[2017-05-29 09:58] settermjd commented on #3087
@phisch?

[2017-05-29 10:01] settermjd commented on #2956
@michaelstingl wrt the smashbox API docs, is that information to be added into the existing docs?

[2017-05-29 10:49] phisch commented on #3087
@settermjd i thought you are investigating? :)
If someone bases his theme on an existing one, he has to make sure to delete/not copy the signature. We should add a note about this in the documentation.

Not checking themes is not an option for me, because we do package and offer themes. They need to be signed.

[2017-05-30 07:32] woofix opened #3096 "Error post"
Ooops error post

[2017-05-30 07:42] settermjd commented on #3096
@woofix did you create this issue by mistake? I don't understand what the title and description are meant to convey.

[2017-05-30 07:43] #3082 closed

[2017-05-30 07:44] settermjd commented on #3087
@phisch I did on the internal chat, but didn't get any further feedback there, hence the question here.

[2017-05-30 07:52] woofix commented on #3096
Creation of the post by mistake, not in the right section

[2017-05-30 08:02] #3039 closed

[2017-05-30 08:03] #3096 closed

[2017-05-30 10:34] voroyam opened #3097 "Table of contents fixed position"
It would be helpful if the Table of contents would stay on the right when scrolling down the documentation, you it's always accessible.

[2017-05-30 12:03] pmaier1 opened #3098 "Document reworked password policy feature"
Currently you only find [this](https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/file_sharing_configuration.html?highlight=password%20policy#password-policy-label) regarding password policy in our docs. The feature has lately been reworked to apply to all password endpoints, not only link shares (e.g. user passwords when creating a user, when a guest user sets a password, when

[2017-05-30 12:54] settermjd commented on #3098
Thanks @pmaier1 for taking the time to raise the issue. I'll get on it shortly.

[2017-05-30 12:55] settermjd commented on #3097
Thanks for raising the issue. I'll see what some research can uncover.

[2017-05-30 14:34] michaelstingl commented on #3087
In my opinion, self-made themes based on our example shouldn't require signing after every little modification. This increases the complexity level for web theming too much. I would propose to drop  the signature-json at least in the example theme.

[2017-05-31 08:29] settermjd commented on #3087
Absolutely agree, @michaelstingl. While it may be a good idea to sign a theme, requiring it after every change will likely dissuade people from wanting to do it.

[2017-05-31 08:51] settermjd commented on #2864
@PVince81 do you just want a revised version of https://github.com/cernbox/smashbox/blob/master/protocol/chunking.md added to the docs? /cc @DeepDiver1975

[2017-05-31 08:54] PVince81 commented on #2864
I don't mind as long as it's documented...

[2017-05-31 08:58] settermjd commented on #3048
Do you still want this documented if we're transitioning to only supporting the new Univention appliance?

[2017-05-31 09:27] kdslkdsaldsal commented on #3087
Still the comment in https://github.com/owncloud/documentation/issues/3087#issuecomment-304632594 makes sense:

People shouldn't modify the example theme shipped in ownCloud (which triggers the integrity warning) but use it as a base and either sign it correctly or remove the signature.

[2017-05-31 09:29] settermjd commented on #3087
@kdslkdsaldsal what's the signing process? I've just added #3105 to educate users about the signing situation. It'd be great to tell them about how to sign it as well.

[2017-05-31 09:41] PVince81 commented on #3087
Signing only makes sense if people are going to publish their own themes as apps in the marketplace.

For someone who only privately creates a theme for their own ownCloud, they likely don't need it and could get rid of the signature file.

[2017-05-31 09:41] PVince81 commented on #3087
https://doc.owncloud.org/server/10.0/developer_manual/app/code_signing.html

[2017-05-31 10:20] phisch commented on #3087
Currently there will still be a warning if there is no signature file in the theme, or an app. This will be fixed here: https://github.com/owncloud/core/issues/27988

[2017-05-31 11:06] settermjd commented on #2864
Ok. Will make it so!

[2017-05-31 11:16] settermjd commented on #3048
![screen shot 2017-05-31 at 13 15 17](https://cloud.githubusercontent.com/assets/196801/26629583/467dc95e-4603-11e7-906d-cdfe78e27c91.png)
It appears that, by default, the Univention appliance doesn't support a caching proxy. However, from a little bit of research, it looks like you can quickly make it happen.

[2017-05-31 11:38] #2972 closed

[2017-05-31 13:35] #2956 closed

[2017-06-01 11:20] jvillafanez commented on #3078
I haven't checked if it works or not, and I haven't used fail2ban before, so I can't recommend anything.
As base it looks fine, but I can't say anything more.

[2017-06-02 08:59] kdslkdsaldsal opened #3106 "Broken Links in 10.0 changelog"
There are a few broken links at:

https://doc.owncloud.org/server/10.0/admin_manual/release_notes.html

like:

``Client: You need to update to `the latest desktop client version`_ (2.3).``

[2017-06-02 15:02] settermjd commented on #3078
I've not been able to get this working when using it inside a Docker container and will revisit it in a while.

[2017-06-02 15:48] settermjd commented on #3106
Curious as to how that's come back. Thanks for spotting it.

[2017-06-03 13:59] bracca95 opened #3108 "Wrong Apache web server directory"
The [documentation](https://doc.owncloud.org/server/10.0/admin_manual/installation/source_installation.html#apache-configuration-label) claims that you have to create and edit the file owncloud.conf in the directory located in /etc/apache2/sites-available/, but if I do that, the configuration breaks and I am no longer able to start, reload or stop the apache service.

I noticed that if I install o

[2017-06-06 07:53] settermjd commented on #3108
@bracca95 thanks for raising this. I'll attempt to get this addressed for you today.

[2017-06-06 08:51] settermjd commented on #3106
I think that's to do with the current documentation build process issues. I'm aiming to have this resolved by the end of the week, at the latest.

[2017-06-06 09:04] settermjd commented on #3098
@pmaier1, are there default values for the settings listed in the linked screenshot?

[2017-06-06 09:11] pmaier1 commented on #3059
Hm, actually you should upgrade according to the way you installed, shouldn't you? Manual tarball upgrade is the most general way to upgrade of course but upgrading via repos is fine as well if I'm not missing out anything?!
Does the way to upgrade make any difference regarding the migrations from 9.0 to 10.0? @PVince81

[2017-06-06 10:50] settermjd commented on #3108
@bracca95 I've installed ownCloud this morning following the instructions, so am not in a position to help further and see this as a support issue, not an issue with the documentation. Given that, I suggest you take this up in either https://central.owncloud.org or on IRC: irc://#owncloud@freenode.net.

[2017-06-06 10:50] #3108 closed

[2017-06-06 11:10] settermjd commented on #3106
Ok, confirmed that the issue's still in effect. Will fix shortly.

[2017-06-06 13:25] pmaier1 commented on #3098
Yes, I just verified with the current version from GitHub: The defaults are just like in the screenshot, but they are unticked. Basically the feature and the configuration stay as they are, it just applies to user passwords as well.

[2017-06-06 13:47] #3106 closed

[2017-06-06 14:03] settermjd opened #3112 "New theme/look & feel for the docs"
I'll be honest, I find the look and feel of the docs rather drab and not that inspiring. But, like anything that you feel needs changing, you need to be part of the solution! So that's what this issue is intended to be.

What I'm keen to see happen, to resolve this issue, is to make the documentation a more exciting, easier to navigate, informative part of ownCloud. If people want to find anything

[2017-06-06 14:07] hodyroff commented on #3112
Honestly, lets get a great 10.0 documentation together from a customer perspetive and then I am happy to think about the next steps ...

[2017-06-06 14:30] settermjd opened #3113 "Add Marketplace documentation to the docs front page."
Add links to the marketplace documentation to the front page of the org and com docs.

[2017-06-06 14:35] settermjd opened #3114 "Deprecate the 9.1 appliance in favour of the new Univention appliance"
- [ ] Front page of the docs (org and com)
- [ ] admin_manual/contents.rst
- [ ] admin_manual/enterprise/appliance/installation.rst
- [ ] admin_manual/enterprise/external_storage/sharepoint-integration_configuration.rst
- [ ] admin_manual/installation/appliance_installation.rst
- [ ] admin_manual/installation/index.rst
- [ ] admin_manual/maintenance/migrating.rst

[2017-06-06 14:50] tomneedham opened #3115 "Improvements to federated user searching"
With this PR: https://github.com/owncloud/core/pull/27996/files it is possible to configure the VCARD properties that are searched in order to retrieve a list of federated users in the share dialog. By default, ownCloud uses CLOUD and FN properties however this list may be configured by the admin:

`occ config:app:set dav remote_search_properties --value=CLOUD,FN,EMAIL`

This should be added in th

[2017-06-07 08:28] #3087 closed

[2017-06-07 08:29] guruz commented on #2360
Related https://github.com/owncloud/client/issues/2325#issuecomment-306471142

[2017-06-07 12:29] settermjd commented on #3043
@jnweiger PR ready for review.

[2017-06-07 12:30] settermjd commented on #3048
@jnweiger can you comment pls?

[2017-06-07 12:48] voroyam commented on #3059
From the Doc:

For production environments, we recommend the installation from the tar archive.

So if we recommend / prefer the tar archive method, shouldn't the upgrade be the same?

[2017-06-07 13:02] settermjd commented on #3059
Makes sense to me.

[2017-06-07 13:11] #3043 closed

[2017-06-07 13:12] settermjd commented on #2023
@felixheidecke any further input?

[2017-06-07 13:32] voroyam commented on #3059
![daufq](https://user-images.githubusercontent.com/24212810/26880969-583be1f6-4b96-11e7-92cb-49cb6491bba0.png)

I am a little confused, if the "open build service packages" is the repo, then something isn't right. If it's the tar archive, then everything is fine.

[2017-06-07 13:36] voroyam opened #3119 "Community Appliance on GitHub"
![github](https://user-images.githubusercontent.com/24212810/26881143-da5d71e0-4b96-11e7-9c07-c086d117a381.png)

https://github.com/ownCloud/vm

Is that still being used / developed, or is there only the univetnion Appliance now?

[2017-06-07 13:38] lefherz opened #3120 "How to manually install an ownCloud app"
Hi,

we should write docs about how to manually install an ownCloud app. Especially if someone wants to test their app, they need to know how they install it.

In https://doc.owncloud.org/server/10.0/admin_manual/installation/apps_management_installation.html there is the option to setup your own appstore, but not how to manually install them. As the new marketplace is closed source, too, this cha

[2017-06-07 13:41] voroyam opened #3121 "Installing ownCloud from the command line"
![need-clarification](https://user-images.githubusercontent.com/24212810/26881242-2e0777fa-4b97-11e7-9e4e-030a5e998b87.png)

I would add that you need the [modules](https://doc.owncloud.com/server/10.0/admin_manual/installation/source_installation.html#example-installation-on-ubuntu-16-04-lts-server)  for owncloud to work properly. As it stands, it sounds  like you only need the commands on the pa

[2017-06-07 13:45] voroyam opened #3122 ""Configuring Federation Sharing" list"
![to-many-3ees](https://user-images.githubusercontent.com/24212810/26881505-e38812b0-4b97-11e7-867a-0dcae1069c83.png)

to many  [3.s](https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/federated_cloud_sharing_configuration.html), also maybe start the second one with "then"

[2017-06-07 13:46] voroyam opened #3123 "Virtual Box as host for ownCloud"
![why-no-virtual-box](https://user-images.githubusercontent.com/24212810/26881644-59c65572-4b98-11e7-8422-89675ede57ad.png)

Can we add Virtual Box to the [list](https://doc.owncloud.com/server/10.0/admin_manual/installation/system_requirements.html#hypervisors)?

[2017-06-07 13:49] voroyam opened #3124 "Instalation Sequence"
![wierd-sequence](https://user-images.githubusercontent.com/24212810/26881759-b057ddb6-4b98-11e7-806e-0e353d941fa2.png)

https://doc.owncloud.com/server/10.0/admin_manual/installation/index.html

Is it actually possible to install ownCloud this way?
Should the manual installation not come right after the preferred installation section?

[2017-06-07 13:53] settermjd commented on #3119
I didn't get a clear answer about this earlier. @jnweiger?

[2017-06-07 15:14] voroyam opened #3125 "Move Files External (occ) into Configuring External Storage (Configuration File)"
I suggest moving the commands from [here](https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/occ_command.html#files-external) into [here](https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/external_storage_configuration.html)

To avoid this

![empty page](https://user-images.githubusercontent.com/24212810/26886072-bea6e6da-4ba4-11e7-92e1-8734402c91ce.png)

[2017-06-07 15:23] voroyam opened #3126 "broken link ? "see occ_encryption_label""
https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/encryption_configuration.html#before-enabling-encryption

[2017-06-07 15:54] voroyam commented on #3059
![distro](https://user-images.githubusercontent.com/24212810/26888126-5ae409ce-4baa-11e7-9ada-c7c93ebb82a9.png)

[2017-06-07 16:00] phil-davis commented on #3123
I have a dev test oC setup on an Ubuntu VM running in VirtualBox on my Windows10 laptop, and that works. I guess that it would work OK to run "for real" also.

[2017-06-07 16:15] pmaier1 commented on #3059
As the doc is referring to 'package manager' the repos are meant there. Looks like there's some discrepancy in there, indeed.

[2017-06-07 16:26] voroyam opened #3127 "Manual owncloud Upgrade sequence"
To minimize the downtime for the users, shouldn't the maintenance mode command be further below?

![main](https://user-images.githubusercontent.com/24212810/26889486-a07491da-4bae-11e7-91c5-514a3b583e39.png)

For example at point 3, when we actually writing new files.

![pnt3](https://user-images.githubusercontent.com/24212810/26889502-afe6c070-4bae-11e7-9264-ee0084fb02a1.png)

[2017-06-08 09:48] settermjd commented on #3127
I'd have thought that you should enable maintenance mode first, before anything else. That way the backup will be consistent, and not be out of sync by changes made during the creation of the backup.

[2017-06-08 10:31] voroyam commented on #3127
make sence, I did not think of that. can be closed.

[2017-06-08 10:31] #3127 closed

[2017-06-08 11:11] voroyam opened #3129 "Migrating to a Different Server, list"
![migrating](https://user-images.githubusercontent.com/24212810/26925869-af065de4-4c4b-11e7-97b3-7fc31925d2f5.png)
list should continue with 5, not start with 1 again

https://doc.owncloud.com/server/10.0/admin_manual/maintenance/migrating.html

https://github.com/owncloud/documentation/blob/master/admin_manual/maintenance/migrating.rst

[2017-06-08 12:04] voroyam opened #3131 "Mimetypes Management"
Contents of the subsections should be put on the main page, since there is not much on it. Also, the "Icon retrieval"  jumps back to the main page. confusing.

![mime1](https://user-images.githubusercontent.com/24212810/26927663-1550540e-4c53-11e7-9662-b9117389b5bc.png)
![mime2](https://user-images.githubusercontent.com/24212810/26927666-17173df2-4c53-11e7-8132-9beb3e00f7e1.png)
![mime3](https://u

[2017-06-08 12:18] voroyam opened #3132 "occ remnants gone"
With the accounts table, there is no more "ldap:show-remnants" anymore.

![remnants](https://user-images.githubusercontent.com/24212810/26928138-32bd9c8e-4c55-11e7-8ce9-5ee8c733e104.png)

From a 10.0.2 ownCloud:

![no-rem](https://user-images.githubusercontent.com/24212810/26928141-35bb2294-4c55-11e7-9c4c-99d0af030a60.png)

[2017-06-08 13:13] voroyam opened #3134 "Virus Scanner Support"
![virus](https://user-images.githubusercontent.com/24212810/26930188-d65e0836-4c5c-11e7-93bc-5ec2414d8747.png)

_officially_

wrong format

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/antivirus_configuration.html

[2017-06-08 13:14] voroyam commented on #3134
also, on the same page
![header](https://user-images.githubusercontent.com/24212810/26930256-18adea6c-4c5d-11e7-9cbc-66ee091948ba.png)
maybe "works" and "with" should be lower case

[2017-06-08 13:16] voroyam commented on #3134
same page

![filecache](https://user-images.githubusercontent.com/24212810/26930333-59220d12-4c5d-11e7-8ae0-558cf7ee4374.png)

Filecache looks so lonely, it's supposed to be some kind of title?

[2017-06-08 13:17] voroyam commented on #3134
![note](https://user-images.githubusercontent.com/24212810/26930377-7fed0280-4c5d-11e7-9ee6-dd02d2fa1f53.png)

"Note" wrong format

[2017-06-08 13:19] #3046 closed

[2017-06-08 13:21] settermjd commented on #3123
I thought VirtualBox was only available on the desktop, and not suitable for production deployments. @mrlinux1?

[2017-06-08 13:25] voroyam opened #3135 "Syncing User Accounts, wrong format"
![format](https://user-images.githubusercontent.com/24212810/26930732-9d510d5c-4c5e-11e7-9ccc-3421d76860e0.png)

wrong format:  "_word_"

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/occ_command.html#syncing-user-accounts

[2017-06-08 13:40] settermjd commented on #3132
I've sought feedback and will update after I hear more.

[2017-06-08 13:43] voroyam opened #3138 "Warning, format"
![warning](https://user-images.githubusercontent.com/24212810/26931551-29107ee8-4c61-11e7-8c55-3bb7574b08e6.png)

Warning should be in a different format, right?

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#user-experience

[2017-06-08 13:48] voroyam commented on #3132
related

![ldap](https://user-images.githubusercontent.com/24212810/26931789-e53dffbe-4c61-11e7-8519-cc713883c194.png)

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#ldap

[2017-06-08 13:51] settermjd commented on #3131
After having a quick scan, this makes perfect sense.

[2017-06-08 13:55] voroyam opened #3139 "config.php, other"
![conf php](https://user-images.githubusercontent.com/24212810/26932087-c79268f0-4c62-11e7-91a6-1103595ac332.png)

mysql command should be in code format,

links should maybe be separated by an new line or some other separation.

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#all-other-configuration-options

[2017-06-08 13:57] voroyam commented on #3138
same page, down below, at:

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#all-other-configuration-options

![warning2](https://user-images.githubusercontent.com/24212810/26932178-0ab2691e-4c63-11e7-9396-9673dd794721.png)

[2017-06-08 13:58] voroyam commented on #3138
right below the last one
![warning3](https://user-images.githubusercontent.com/24212810/26932231-3a67e058-4c63-11e7-9c69-8c30c0172cca.png)

[2017-06-08 13:58] voroyam commented on #3138
![expe](https://user-images.githubusercontent.com/24212810/26932277-5c53b30e-4c63-11e7-94b1-625c00b7deb7.png)

[2017-06-08 14:00] #3135 closed

[2017-06-08 14:00] #3126 closed

[2017-06-08 14:00] voroyam commented on #3138
link in wrong format?
![environment](https://user-images.githubusercontent.com/24212810/26932367-96b5294c-4c63-11e7-8e74-707a4e0706b3.png)

https://doc.owncloud.com/server/10.0/admin_manual/configuration_server/config_sample_php_parameters.html#overriding-existing-parameter-values-using-environment-variables

[2017-06-08 14:12] #3131 closed

[2017-06-09 06:59] mrlinux1 commented on #3123
Hi Matthew,

there are versions for every OS of Virtualbox. So nobody will prevent you
from installing this on a Windows201X Server or a Linux server.

It's another question whether this makes sense or whether there are better
solutions to achieve the same ;-)

Kind regards,

Thomas

2017-06-08 15:22 GMT+02:00 Matthew Setter <notifications@github.com>:

[2017-06-09 09:49] phil-davis commented on #3123
Indeed, so it is a question of if ownCloud wants to make it seem like VirtualBox is "on par" with the other hypervisors in that list, or make a different list/item that says it works but not recommended for [big|any] production use, or not mention it at all.

[2017-06-12 07:17] settermjd commented on #3123
Thanks, @mrlinux1  & @phil-davis, for the further input. I'm not comfortable including it in the docs without being clear that 1) it's a desktop application, and 2) only makes sense in a development environment.

[2017-06-12 07:18] settermjd commented on #3120
Hey, @lefherz thanks for mentioning this. I'll aim to have it addressed by mid-week.

[2017-06-12 08:00] settermjd commented on #3125
I don't agree, sorry. The occ commands documentation is a well organised set of documentation and having this link to it, to me, makes more sense than either moving or repeating the information.

[2017-06-12 08:01] settermjd commented on #3132
@tomneedham says that this has been deprecated and is no longer supported. Given that, I'll raise a PR to remove the documentation for it. Thanks for raising @voroyam.

[2017-06-12 08:03] voroyam commented on #3125
Can't agree on everything :)

I felt it was a waste of documentation room to have one site just for the link to the other site.

[2017-06-12 08:08] settermjd commented on #3125
On the surface of it, it can seem that way. But I feel that this is a logical place to link to the information, so in that way it's helpful to have it there.

[2017-06-12 08:08] #3125 closed

[2017-06-12 08:11] settermjd commented on #3124
Yep, it is possible. With the recent overhaul of the installation documentation, this ticket is no longer necessary. Thanks for raising it though.

[2017-06-12 08:11] #3124 closed

[2017-06-12 08:12] settermjd commented on #3119
I'm deprecating this in favour of the new Univention appliance.

[2017-06-12 08:33] #3119 closed

[2017-06-12 08:33] #3132 closed

[2017-06-12 08:35] #3134 closed

[2017-06-12 09:14] voroyam commented on #3121
To prevent this:
![2](https://user-images.githubusercontent.com/24212810/27027038-3bc7a104-4f60-11e7-8609-51f171a6f757.png)

[2017-06-12 09:23] voroyam commented on #3121
something like here:
![3](https://user-images.githubusercontent.com/24212810/27027397-884a6b78-4f61-11e7-9122-cef68aae880f.png)

with a link to the prerequisites maybe

[2017-06-12 10:18] voroyam opened #3147 "Strong permissions"
The link links to itself, not to the document

![per](https://user-images.githubusercontent.com/24212810/27029548-16a1ae3e-4f69-11e7-85b7-4774dc6989ae.png)

https://doc.owncloud.com/server/10.0/admin_manual/installation/source_installation.html?highlight=permissions#set-strong-directory-permissions

[2017-06-12 10:24] voroyam commented on #3147
I suppose that the whole script is missing, because this links also to the doc above:

![per1](https://user-images.githubusercontent.com/24212810/27029747-e9bc6bc4-4f69-11e7-94f3-ef4d9c7a4a98.png)

https://doc.owncloud.com/server/10.0/admin_manual/maintenance/package_upgrade.html?highlight=permissions#setting-strong-directory-permissions

[2017-06-12 10:26] voroyam commented on #3147
![per3](https://user-images.githubusercontent.com/24212810/27029827-40a41c2a-4f6a-11e7-86f7-a0c5206f8a94.png)

https://doc.owncloud.com/server/10.0/admin_manual/maintenance/update.html?highlight=permissions#setting-permissions-for-updating

[2017-06-12 10:27] voroyam commented on #3147
![per2](https://user-images.githubusercontent.com/24212810/27029880-707281bc-4f6a-11e7-8b8e-0d80e77d95c8.png)

https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/big_file_upload_configuration.html?highlight=permissions

[2017-06-12 10:28] voroyam commented on #3147
![per4](https://user-images.githubusercontent.com/24212810/27029911-93991bf6-4f6a-11e7-831f-77edcfd4f7df.png)

https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/external_storage/local.html?highlight=permissions

[2017-06-12 11:58] voroyam commented on #3147
I suppose that's the script, that is missing

![per5](https://user-images.githubusercontent.com/24212810/27032864-15d886fe-4f77-11e7-900e-bbcd5ef4a25a.png)

https://doc.owncloud.com/server/10.0/admin_manual/installation/installation_wizard.html#post-installation-steps

[2017-06-12 12:44] pako81 opened #3149 "Upgrade to PHP 5.6/7.x on RHEL/CentOS"
It would be nice to have the ownCloud 10.x documentation updated with the process for upgrading the PHP version to 5.6 and 7.x on RHEL 7/CentOS 7 servers in order to reflect the new requirements: https://doc.owncloud.com/server/10.0/admin_manual/installation/system_requirements.html

So basically something similar to what we have done for PHP 5.5:
https://doc.owncloud.com/server/9.1/admin_manual/i

[2017-06-12 13:49] settermjd commented on #3147
Seems like it. Thanks for finding it (for me) 👍

[2017-06-12 13:53] voroyam commented on #3147
No Problem :)

[2017-06-12 13:54] pako81 commented on #3149
The process for upgrading from PHP 5.4 to 5.6 on RHEL 7 should look like this:

- You will first require to subscribe to the Red Hat Software Collections channel repository to download and install the PHP56 package in RHEL 7:
[code]

- Then proceed by installing the required PHP 5.6 modules:
[code]

- Enable PHP 5.6 system-wide:
[code]

- Disable loading the old PHP 5.5 Apache modules by changing

[2017-06-12 14:00] pako81 commented on #3149
The process for upgrading from PHP 5.4 to 7.0 on RHEL 7 should look like this:

- You will first require to subscribe to the Red Hat Software Collections channel repository to download and install the PHP70 package in RHEL 7:
[code]

- Then proceed by installing the required PHP 7.0 modules:
[code]

- Enable PHP 7.0 system-wide:
[code]

- Disable loading the old PHP 5.4 Apache modules by changing

[2017-06-12 16:00] michaelstingl opened #3151 "[10.0.1] Drop "Files Drop" – use "Upload-only link shares" instead"
Since oC 10.0.1 "Upload-only link shares" (CE) replace "Files Drop" EE.

**Upload-only link shares:**
- https://github.com/owncloud/core/issues/7747
- https://github.com/owncloud/core/pull/27548

**Please remove:**
https://github.com/owncloud/documentation/blob/master/user_manual/files/file_drop.rst
https://github.com/owncloud/documentation/blob/master/admin_manual/enterprise/file_management/files

[2017-06-12 19:58] tomneedham opened #3152 "Setting email using occ command is incorrect"
On this page: https://github.com/owncloud/documentation/blob/a39f6a7c14470e99c8734c570e94c6f71a133a7c/admin_manual/configuration_server/occ_command.rst#user-application-settings it gives an example of setting the users email using the OCC command.

The user:setting command updates oc_preferences table, but since email addresses are retrieved from the oc_accounts table now this example is no longer

[2017-06-12 20:01] tomneedham commented on #3152
Unless there is another way, I think we should add an email option to the user:add command: https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/occ_command.html#creating-users @PVince81 since this is metadata stored in the oc_accounts table

[2017-06-13 06:36] Emil-G commented on #3149
@pako81 , do you know of the steps to enable OCI8 support?
https://doc.owncloud.org/server/10.0/admin_manual/enterprise_installation/oracle_db_configuration.html does not seem to function after repeating the steps above for 5.6.

[2017-06-13 07:59] pako81 commented on #3149
@Emil-G I am going to reproduce this right now

[2017-06-13 12:09] settermjd commented on #3152
@tomneedham I'm a little confused. Are you both noting that the current example no longer works and seeking a change to the `occ` command?

[2017-06-13 12:12] #3147 closed

[2017-06-13 12:13] tomneedham commented on #3152
Hehe yes

[2017-06-13 12:13] settermjd commented on #3151
NP. Will make it so.

[2017-06-13 12:14] tomneedham commented on #3152
I actually started to code this - should have a PR done soon

[2017-06-13 12:32] settermjd commented on #3152
Let me know when it's done and I'll finish this PR up afterward.

[2017-06-13 12:52] phil-davis commented on #3152
@tomneedham has made PR https://github.com/owncloud/core/pull/28122

[2017-06-13 14:31] lefherz opened #3157 "Appliances look different now, update doc page?"
Hey, in the 10.0 appliances you specify your passphrase yourself instead of being given a random one. This site needs to be updated: https://doc.owncloud.org/server/10.0/admin_manual/installation/appliance_installation.html

maybe it would be worth your while to install a test instance and try out what needs to be changed.

[2017-06-14 08:20] kdslkdsaldsal opened #3159 "Update https://doc.owncloud.org/server/latest/* to point to 10.0 docs"
https://doc.owncloud.org/server/latest/admin_manual/ is e.g. pointing to the 9.1 docs, not to the expected 10.0 docs.

[2017-06-14 08:25] #3114 closed

[2017-06-14 09:13] kdslkdsaldsal commented on #3159
cc @jnweiger who IIRC did that in the past

[2017-06-14 09:17] settermjd commented on #3157
I was of the understanding that the community appliance is being deprecated in favour of the Univention appliance. No?

[2017-06-14 09:22] #3129 closed

[2017-06-14 09:46] #3139 closed

[2017-06-14 11:49] #3138 closed

[2017-06-14 12:07] lefherz commented on #3157
We just have one now, but as it runs the community version... engineering is atm publishing the enterprise-app-bundle, so the community-univention-appliance has enterprise functionality.

The relevant docs for this would still be the .org docs, I guess?

[2017-06-14 13:24] phil-davis commented on #3157
good to know - I wondered why when I downloaded an appliance from what I thought was the community web site, it went through the process of making me get a license...

[2017-06-14 13:30] lefherz commented on #3157
Well no, the license is univention stuff. You need it for the level below ownCloud. Quite the contrary, because we ship the community version as appliance you *dont* need a license for the ownCloud. only for the UCS below.

[2017-06-14 13:32] phil-davis commented on #3157
OK - now I think that I understand (I hope). Yes, the license was something that I loaded into Univention. ownCloud worked out-of-the-box.

[2017-06-14 13:47] settermjd commented on #3157
@lefherz, @phil-davis, it looks like I need to improve the new docs that I've created for the ownCloud X appliance.

[2017-06-14 14:11] jnweiger commented on #3159
@lefherz can you check please?

[2017-06-14 14:25] lefherz commented on #3159
this isn't specified in owncloud/owncloud.org/strings.php, so I can't change this.

I could change all the links pointing to /latest/ to point to 10.0 instead. bad solution though.

[2017-06-14 14:36] phil-davis commented on #3157
@settermjd the install doc that I just read and made some PR edits to seemed to be a reasonable description of the process.
Maybe there will need t be some explanation of what ownCloud is actually delivered with the appliance, as discussed above (that an enterprise edition ownCloud is delivered...). Or wait until it is sorted out to deliver a community appliance that has a community edition ownClo

[2017-06-14 14:37] jnweiger commented on #3159
While 'latest' still refers to '9.1' -- everybody is easily confused. When do we switch 'latest' to 10.0?

Looking at https://github.com/owncloud/doc-index-org/blob/master/index.rst
I believe it is correct that links under a heading '10.0' point to '10.0' instead of 'latest' in any case.

[2017-06-14 14:45] lefherz commented on #3159
@pmaier1 shall doc/latest point to our 9.1 or to our 10.0 docs? decision needed :)

[2017-06-14 14:49] jnweiger commented on #3159
'latest' is a symbolic link directly maintained on the doc.owncloud.org webserver. You currently need  a sysadmin (e.g. myself) to do the switch. :-)

[2017-06-14 14:50] pmaier1 commented on #3159
I don't see any reason why it shouldn't point to 10.0. Please adjust! Thanks

[2017-06-14 14:52] jnweiger commented on #3159
done.

[2017-06-14 14:52] #3159 closed

[2017-06-15 08:08] Emil-G commented on #3149
@pako81  I found some errors for php7 (wrong name on file to copy).

Anyways, here are the steps I needed to install OCI8 and PHP7.

Please do them in order. Also I have installed Oracle Instant Client (newest version)

[code]

Steps: (remember to change places that old instaclient may be referred to, like sysconfig httpd and crontab)

[code]

[code]

[code]

**Note, I am using ls -n here to link

[2017-06-16 09:55] settermjd commented on #3149
Love it! Less work for me :-D

[2017-06-16 10:23] jvillafanez opened #3162 "Document password options for WND"
Explained in https://github.com/owncloud/windows_network_drive/pull/112

@settermjd

[2017-06-16 10:59] pako81 commented on #3149
Thanks @Emil-G. Much appreciated! An additional side note, it looks like you installed Redis from the PECL repo while all other dependencies come from Software Collections. It looks like however that Red Hat does not support mixing modules from different package repositories( RHSCL vs EPEL ): https://access.redhat.com/solutions/2120461 so you may want to install Redis for PHP7 from RHSCL as well.

[2017-06-16 11:43] settermjd commented on #3159
Many thanks @jnweiger

[2017-06-16 11:44] settermjd commented on #3157
@phil-davis, I think it will be helpful to better clarify what is already there, that way we can save any unnecessary confusion. We can then update it progressively as the need presents itself.

[2017-06-16 12:15] settermjd commented on #3162
Thanks, @jvillafanez. I'll check it out.

[2017-06-16 12:55] felixboehm opened #3163 "add apache configuration to auth clients without shibboleth"
Description needs update, to allow access to sharing api, and maybe others.

- add to apache configuration

[code]

Together with

[code]

desktop clients can authenticate via basic auth, in a shibboleth environment.

Related doc page: https://doc.owncloud.org/server/9.1/admin_manual/enterprise_user_management/user_auth_shibboleth.html

[2017-06-16 13:00] #3151 closed

[2017-06-16 16:14] pako81 commented on #3149
It looks like the php-redis package for PHP7 is not available from the RHSCL repos: https://bugzilla.redhat.com/show_bug.cgi?id=1421895

@dercorn

[2017-06-19 09:28] settermjd commented on #3149
I'm working through this at the moment. It's taken a bit longer as I'm not as familiar with RedHat as I am with other distros. I expect this to be finished today though.

[2017-06-19 09:47] Emil-G commented on #3149
@pako81 : Yes, I see that it is not supported by RH. Thanks for linking that bugzilla, as I could not find a replacement package to the EPEL one.

However, the setup is not creating any errors at the moment, so it seems to be working. I am using this in config.php (9.1.6):

[code]

[2017-06-19 10:01] pako81 commented on #3149
@Emil-G Ok. I see you are using Redis for both local caching and Transactional File Locking. While this is still fine, I would rather recommend you to use APCu for local caching instead of Redis since APCu is faster at local caching than Redis. You may notice some performance improvements by using APCu rather than Redis for local caching:

https://doc.owncloud.com/server/9.1/admin_manual/configura

[2017-06-19 10:40] Emil-G commented on #3149
@pako81 Yes, but then I will be adding more unsupported packages to the mix... But I will test it out at a later stage. Cheers.

[2017-06-19 12:57] settermjd commented on #3149
As I've been stepping through the instructions, I've found the following errors:

- In `cp /opt/rh/httpd24/root/etc/httpd/conf.modules.d/10-rh-php70-php.conf /etc/httpd/conf.modules.d/` the file's actually named: `15-rh-php70-php.conf` not `10-rh-php70-php.conf`.

- In `cp /opt/rh/httpd24/root/etc/httpd/modules/librh-php70-php5.so /etc/httpd/modules/` the module is called `librh-php70-php7.so`, no

[2017-06-19 13:14] settermjd commented on #3149
For what it's worth, I see that the previous installation guides were deleted by Carla because: "because it's impossible to document sanely". I haven't talked to her about what lead her to write that. Regardless, I'll use them as a base template for creating two new guides.

[2017-06-19 13:49] Emil-G commented on #3149
@pako81 So, I tried yum install php-pecl-apcu. But the version it wants to install is 4.X. According to the changelog  [PECL-APCu](https://pecl.php.net/package-changelog.php?package=APCu), only in version 5.x+ and above that has PHP7 support. How should we go about installing supported APCu?

[code]

Cheers,
Emil

[2017-06-19 15:07] pako81 commented on #3149
@Emil-G yes, I am afraid you will have to manually compile the 5.1.x APCu PECL package

[2017-06-20 09:02] settermjd opened #3168 "Improve documentation SEO"
This is a general issue tasked with improving the SEO of the ownCloud documentation. Currently, if you look in the attached screenshot, the documentation is not ranking either consistently in the first spot in Google search results, nor when it is ranking, showing the latest version of the relevant documentation. This needs to be corrected.

![screen shot 2017-06-20 at 10 44 30](https://user-image

[2017-06-20 09:24] settermjd commented on #3168
fwiw, other search results perform better. But I still believe a further review and optimisation of the content is necessary.

[2017-06-20 12:30] haukman opened #3169 "Google Drive Integration has to be updated"
I just went through this part of the documentation:

https://doc.owncloud.org/server/10.0/admin_manual/configuration_files/external_storage/google.html

It looks like that google changed something regarding the API permissions. You now need to "Allow Risky Access Permissions By Unreviewed Apps" in order to allow the ownCloud to access the Google Drive API.

During the "Grant Access" process, you w

[2017-06-20 14:07] hurradieweltgehtunter opened #3170 "Update app dev docs | marketplace relevant"
Update for marketplace

- [x] General: Replace "App store" by "ownCloud marketplace" everywhere.
- [x] Also replace all app store links with https://marketplace.owncloud.com

Note: Old app store gets shut down soon.

#### https://doc.owncloud.org/server/latest/developer_manual/index.html
- [x] "App Development": replace link with https://marketplace.owncloud.com

#### https://doc.owncloud.org/serv

[2017-06-20 14:13] hurradieweltgehtunter commented on #3170
@DeepDiver1975 @felixboehm
Please provide feedback about validity of information.

@evirichard please provide feedback about writing. I think my english could be better :)

@settermjd please wait for feedback before updating

thx

[2017-06-20 15:34] DeepDiver1975 commented on #3170
mandatory on the marketplace - will be mandatory in owncloud server with the next version - 10.0 I guess

[2017-06-20 15:44] DeepDiver1975 commented on #3170
I disagree with the term 'is tested with'

[2017-06-20 15:46] hurradieweltgehtunter commented on #3170
"works with"?
"available for" ?

[2017-06-21 08:59] settermjd commented on #3170
@hurradieweltgehtunter thanks for the very comprehensive information.

[2017-06-21 09:36] pmaier1 commented on #3078
Adding high priority as we need to get this straight. Is it the community config that does not work or that you can't set up F2B with the oC docker container? What is blocking you? Where can we help?

[2017-06-21 11:21] felixboehm opened #3171 "Update developer docs, missing query"
https://doc.owncloud.org/server/10.0/developer_manual/app/backgroundjobs.html#testing

Then query is missing.
Unclear what exactly should the query be for.

[2017-06-21 15:09] lefherz opened #3172 "ownCloud X documentation still talking about ownCloud 9"
Hey,

on https://doc.owncloud.org/server/latest/admin_manual/installation/linux_installation.html#changes-in-owncloud-9 there is talked about changes of ownCloud 9. Is this still needed?

[2017-06-22 07:27] evirichard commented on #3170
Texts are fine from my end! A good and understandable read. Maybe @settermjd finds more points as he is a native speaker but I am good with it.

[2017-06-22 08:04] hurradieweltgehtunter commented on #3170
oh he is? :D
sry i didn't know that. But even better.

[2017-06-22 08:56] settermjd commented on #3171
@felixboehm thanks for spotting that. I'll get it fixed.

[2017-06-22 13:20] settermjd commented on #3172
@lefherz that's resolved in #3142 which I merged earlier this afternoon. It should be visible in about an hour.

[2017-06-23 08:48] pmaier1 opened #3176 "Document 'impersonate' app"
We need to document how the 'impersonation' app works. Basically this is an admin feature to log in as another user without knowing the password. There are some possible restrictions regarding group admins. The app can be installed via the marketplace (https://marketplace.owncloud.com/apps/impersonate). Please have a look and document how to configure it and how to use it.

Thanks a lot!

[2017-06-23 09:17] settermjd commented on #3176
No probs. Will get it done!

[2017-06-23 12:19] settermjd commented on #3172
This has been resolved in the latest deployment. Thanks for raising the issue though @lefherz

[2017-06-23 12:20] #3172 closed

[2017-06-23 12:38] #3149 closed

[2017-06-23 13:52] settermjd commented on #3176
@pmaier1 I appreciate that this is an admin feature, but should we create a new manual for the Marketplace and document it there instead?

[2017-06-23 14:12] butonic opened #3178 "🚧 Document SAML 2.0 based SSO with AD FS and mod_shib for ownCloud"
This is a work in progress item. @mrlinux1 @dercorn @CaptionF @pako81 and @haukman may be interested in reviewing and collaborating before we add it to the documentation. @settermjd should we add it to the existing SAML /shibboleth docs? I would prefer it as a dedicated example, so maybe a separate page makes more sense?

# Preparations
Ask your AD FS admin for the server URLs:
* the SAML 2.0 sing

[2017-06-23 14:21] pmaier1 commented on #3176
A general documentation for the MP would definitely be good but I don't really get your point how this relates to the impersonate app?! It's an admin feature as any other and should be documented in the admin docs. If you're not sure about which section to add it to I can have a look where it would fit best.

[2017-06-26 06:20] settermjd commented on #3176
I'll put it down to my lack of overall knowledge about the Marketplace for now. I'm nearly finished the initial draft and should have it up as a PR tomorrow at the latest.

[2017-06-26 06:21] #3163 closed

[2017-06-26 06:31] settermjd commented on #3178
@butonic from a cursory read through, I'd suggest that we add it, as you've suggested, as a separate page within the existing Shibboleth documents. I'll aim to finalise it this week.

[2017-06-26 06:33] #3171 closed

[2017-06-26 09:40] cdamken opened #3180 "update WND Listener documentation avoiding to many jumps"
In the documentation:

https://doc.owncloud.com/server/10.0/admin_manual/enterprise/external_storage/windows-network-drive_configuration.html?highlight=listener#running-the-wnd-listener-as-a-service

It sends us to anothe page:

https://github.com/owncloud/core/issues/18929

Tat send us to another page:

https://central.owncloud.org/t/wnd-listener-configuration/3114

IMHO, The documentation can be

[2017-06-27 08:31] settermjd commented on #3180
@cdamken that makes complete sense to me. As little redirection and effort as possible!

[2017-06-27 08:34] settermjd commented on #3180
Just read through the links. Yep, that information needs to be consolidated!

[2017-06-27 09:24] phil-davis opened #3182 "Put UI tests developer doco in its own document"
The developer instructions for setting up and running the UI tests are currently embedded down the end of https://github.com/owncloud/documentation/blob/master/developer_manual/core/unit-testing.rst
They are not unit tests, so people are not likely to look there for UI test instructions.
Put that section in its own "UI Testing" doc.

[2017-06-27 10:20] settermjd commented on #3182
Thanks @phil-davis

[2017-06-27 10:29] hurradieweltgehtunter commented on #3170
All these documented features are online since 22.06.2017.
Is it realistic to get the documentation online soon?

[2017-06-27 11:16] settermjd commented on #3170
Should be done by the end of the week.

[2017-06-27 12:07] cortho opened #3185 "404 for Developer Manual link"
In the _Latest Stable Release - ownCloud 10.0_ section at docs.owncloud.org both the HTML and the PDF link for the Developer Manual lead to a 404.

[2017-06-28 09:20] pako81 opened #3186 "Document new File Sharing options available on 10.0.x"
It looks like the File Sharing page is currently not documenting some of the new sharing settings available in 10.0.x:

https://doc.owncloud.com/server/10.0/admin_manual/configuration_files/file_sharing_configuration.html

Specifically, to me it looks like the two options `Allow users to share file via social media` and `Restrict enumeration to group members` are not documented.

@settermjd can we

[2017-06-28 12:03] settermjd commented on #3185
This has now been resolved. Thanks for raising the issue.

[2017-06-28 12:03] #3185 closed

[2017-06-28 12:08] #3182 closed

[2017-06-28 12:16] settermjd commented on #3078
The latter. I'm having issues setting up a container with Fail2Ban.

[2017-06-28 12:29] settermjd commented on #3078
Working on it now. Will make this happen ASAP.

[2017-06-29 08:46] hurradieweltgehtunter commented on #3170
updated texts.

[2017-06-29 09:40] settermjd commented on #3078
Hit a brick wall. Have sought further help in _support.

[2017-06-29 10:04] #3180 closed

[2017-06-29 10:17] michaelstingl commented on #3078
@tboerger Could you help with Docker setup? Should we add F2B as an option to the official Docker images?

[2017-06-30 08:38] pmaier1 commented on #3186
Thanks @pako81!

[2017-06-30 08:49] pmaier1 opened #3189 "Document public link sharing and it's options"
Public link sharing is missing in the docs (https://doc.owncloud.com/server/10.0/user_manual/files/access_webgui.html). With oC 10 we introduced multiple public links per file offering a lot of flexibility for creating different kinds of share links for a single file/folder (different passwords, expiry dates, permissions, file drop). I'm also not really happy about all those information being in t

[2017-06-30 09:36] settermjd commented on #3189
@pmaier1, it seems that the latest version of the user manual's not been updated, as it contains #3151, which drops "Files Drop" in favour of "Upload-only link shares".

[2017-06-30 10:33] pmaier1 commented on #3189
Mh, can you check pls? The term "Upload-only link shares" is bad as it does not cover the feature completely. The important point about file drop is that recipients can't view contents of the share and just upload ('drop') something. Imagine you are gathering confidential invoices in one folder. The feature allows you to send a public link to all your customers for a secure delivery of their invoi

[2017-06-30 11:59] settermjd commented on #3189
I'm going to refactor this section in stages, starting with documenting, in full, the public link share functionality. Then, I'm going to break up the webgui section to make it more accessible and better navigable.

[2017-07-02 06:56] kdslkdsaldsal commented on #3106
@settermjd Seems there is another one at the release notes at:

The changes from #3111 are somehow also not published at https://doc.owncloud.org/server/latest/admin_manual/release_notes.html yet after 26 days.

[2017-07-03 09:29] pmaier1 commented on #3189
Perfect! Thanks a lot! :+1:

[2017-07-03 09:31] pmaier1 commented on #3078
You will probably need to set up F2B outside of the docker as you need access to iptables. Please check with @tboerger.

[2017-07-03 11:06] voroyam opened #3192 "owncloud 10 enterprise > admin menu > "Helps & Tips" > "Advanced monitoring" > 404:"
[00007865](https://na56.salesforce.com/5000Z00000pW4kr?srPos=0&srKp=500)

In the latest owncloud 10 enterprise, in the admin menu under "Helps & Tips" the link for "Advanced monitoring" does not work leads to a 404:

https://doc.owncloud.com/server/10.0/admin_manual/operations/considerations_on_monitoring.html

[2017-07-03 11:12] pmaier1 commented on #3176
We missed documenting the additional configuration option that allows to restrict impersonation to groups / group admins. You can find that setting in the admin settings panel in the section 'Additional'. Basically it allows an administrator to specify groups to impersonate. When the admin specifies e.g. 'group1' all administrators and group administrators may impersonate users belonging to the gr

[2017-07-03 11:47] tomneedham commented on #2490
https://mariadb.com/kb/en/mariadb-enterprise/consistent-critical-read-filter/ should be configured when using macscale using the exampke configuration:
[code]

[2017-07-03 11:47] tomneedham opened #3193 "Document redis cluster configuration"

[2017-07-03 11:57] cdamken commented on #3192
@settermjd Please help ;)

[2017-07-03 15:41] PVince81 opened #3194 "Update "move data directory" section with oc_accounts"
Since OC 10.0 the new `oc_accounts` table also contains the absolute path for user folders.

For people who want to move manually, we need to add instructions how to do this with SQL in this section https://doc.owncloud.org/server/10.0/admin_manual/maintenance/manually-moving-data-folders.html?highlight=move%20data

@settermjd @DeepDiver1975

[2017-07-04 07:56] #3186 closed

[2017-07-04 08:04] tboerger commented on #3078
IMHO the fail2ban have to happen on the host system and not within the owncloud docker container.

[2017-07-04 08:09] michaelstingl commented on #3078
@tboerger f2b need to access the oC logfiles. Is this already possible?

@settermjd Perhaps install in VM, because Docker setup brings some extra complexity. (UCS appliance similar?)

[2017-07-04 08:32] settermjd commented on #3106
@kdslkdsaldsal thanks for the notification. I'm not sure what's going on exactly with some changes being published and others not. Will try to get it sorted out.

[2017-07-04 08:43] #3162 closed

[2017-07-04 08:46] tboerger commented on #3078
The oC log file is placed within the volume, so that should not be an issue.

[2017-07-04 08:48] settermjd commented on #3194
Sounds fair to me. I'll get it sorted out.

[2017-07-04 10:50] tomneedham opened #3197 "Document the user:inactive command"
Will be in 10.0.3 onwards: https://github.com/owncloud/core/pull/28171

Requires Backport to stable10: **No**

[2017-07-04 12:25] settermjd commented on #3197
Nice one. Thanks.

[2017-07-04 13:50] settermjd commented on #3192
Working on it.

[2017-07-04 14:08] settermjd commented on #3192
The related link in owncloud 10 enterprise is going to be removed.

[2017-07-04 14:08] #3192 closed

[2017-07-04 14:54] lefherz opened #3199 "Rework documentation to feature marketplace instead of appstore"
With the establishment of marketplace.owncloud.com, which is set to replace the old appstore apps.owncloud.com, the documentation is outdated in many places.

Not only the links to apps.owncloud.com are outdated now, also some processes changed, for example how to upload/download apps.

@settermjd, could you take a look over the docs and change this? especially https://doc.owncloud.org/server/late

[2017-07-05 11:15] settermjd commented on #3199
Hey @lefherz #3188, which was just merged this afternoon, should address a number of these issues. I'll check if it addresses all of the ones that you mentioned.

[2017-07-05 11:17] settermjd commented on #3199
Actually @lefherz, would you mind reviewing the PR and letting me know if I missed something?

[2017-07-05 12:45] tomneedham commented on #3115
PR is now merged https://github.com/owncloud/core/pull/28209 and there is a PR for 9.1.7 also waiting for merge.

So this effects 10.0.3 and (potentially) 9.1.7.

We should also document the available options here:
 - VERSION
 - UID
 - FN
 - N
 - EMAIL
 - CLOUD

[2017-07-05 13:00] lefherz commented on #3199
unfortunately I'm not deep enough in the documentation to be able to tell if you missed something and therefore not the right person to review it^^

But thank you, this is exactly the kind of work I wanted to ask for :))) so, nice that you already did it :D Thank you.

[2017-07-05 15:46] tomneedham commented on #2490
transaction_persistent = 1 in ProxySQL as well

[2017-07-05 16:42] phil-davis opened #3203 "New occ user and group listing commands"
Document the commands proposed to be added by PR https://github.com/owncloud/core/pull/28312

I can do it tomorrow, and it of course depends on people liking the PR and merging it.

[2017-07-05 19:07] settermjd commented on #3199
No problem at all.

[2017-07-05 19:07] #3199 closed

[2017-07-05 19:08] settermjd opened #3204 "Merged outstanding PRs to stable10."

[2017-07-06 11:32] settermjd commented on #3204
Closing as the related PR, #3206, was recently merged.

[2017-07-06 11:32] #3204 closed

[2017-07-06 11:35] settermjd commented on #3170
Closing as the implementing PR, #3188, has been merged.

[2017-07-06 11:35] #3170 closed

[2017-07-06 12:54] settermjd commented on #3193
Putting this on hold pending issues in provisioning a new ownCloud test instance. Questions have been asked in _support and _engineering.

[2017-07-06 13:08] voroyam opened #3207 "Set Up Web Server And Database in Dev Manual"
Currently the link goes to a 9.0 doc on the .org, section Installation with a note to the section that is needed.

https://doc.owncloud.org/server/9.0/admin_manual/installation/index.html

As the Dev Manual is for the latest owncloud Server, and on .com maybe it should link to owncloud 10 and the right section like

https://doc.owncloud.com/server/10.0/admin_manual/installation/index.html

or

htt

[2017-07-08 05:21] dbolton opened #3209 "10.0 documentaton refers and links to 9, 9.1, and 9.2 instead of 10.0"
The instructions on installing version 10.0 have not been changed to refer to version 10.0:
https://doc.owncloud.org/server/10.0/admin_manual/installation/linux_installation.html

Instead it links and refers to version 9, 9.1, or 9.2.

[2017-07-08 05:28] dbolton opened #3210 "10.0 repository missing instructions for install owncloud"
The 10.0 repository includes instructions for owncloud-files, but not owncloud (see the last line: "apt-get install owncloud-files")
https://download.owncloud.org/download/repositories/10.0/owncloud/

This differs from all the other repository instructions. For example:
https://download.owncloud.org/download/repositories/stable/owncloud/
https://download.owncloud.org/download/repositories/9.1/ownc

[2017-07-11 11:45] settermjd commented on #3209
A PR was merged for that some time ago. I'm not sure why it's not present in the current release. Thanks for raising the point. I'll follow up on that now.

[2017-07-11 12:05] settermjd commented on #3209
Ok, so #3142 removed the relevant information and #3206 merged those changes into the stable10 branch, which is what the latest version of the documentation is based on. Both of those were merged no later than 5 days ago. So, they should be in the latest copy of the documentation.

[2017-07-11 12:08] settermjd commented on #3209
I'm chasing it up with devops internally at the moment and hope to have an answer and resolution shortly.

[2017-07-11 12:23] phil-davis commented on #3203
PR is merged, doc done.

[2017-07-11 12:23] #3203 closed

[2017-07-11 14:39] pmaier1 commented on #3210
Correct, this change was done on purpose. The 'owncloud' package is a meta package that just installs dependencies around oC (e.g. apache and php modules) which we decided not to recommend as it can be harmful e.g. in environments where several applications are hosted at once. Just imagine some application depending on a certain version of a php module and owncloud depending on a later version cau

[2017-07-12 00:36] dbolton opened #3214 "It looks like doc.owncloud.org server is down"
Currently when I visit https://doc.owncloud.org/ the page does nothing for several seconds then displays the following message: "Gateway Timeout".

[2017-07-12 09:16] settermjd commented on #3214
Looks like it was a temporary outage. Thanks for mentioning it.

[2017-07-12 09:16] #3214 closed

[2017-07-12 09:17] settermjd commented on #3203
Awesome! Thanks.

[2017-07-12 09:49] settermjd commented on #3197
I just submitted [an issue](https://github.com/owncloud/core/issues/28377) as the command isn't working. As soon as it's addressed I'll get in and document it.

[2017-07-12 10:20] settermjd commented on #3122
@voroyam ready for your review - pls.

[2017-07-12 10:27] voroyam commented on #3122
reviewed and approved

[2017-07-12 10:27] #3122 closed

[2017-07-12 10:51] settermjd commented on #3169
@haukman I can't verify that this happens, but thanks for raising the issue.

[2017-07-12 11:55] settermjd commented on #3209
Still chasing this up internally to get the docs deployment process fixed.

[2017-07-13 00:44] felixboehm commented on #3028
service docs, see https://github.com/owncloud/windows_network_drive/issues/39#issuecomment-276063744

please do not use the github wiki
@settermjd

[2017-07-13 09:51] settermjd commented on #3210
@dbolton any further comment, or can the issue be closed?

[2017-07-13 10:08] pmaier1 commented on #3210
We should add a hint in the install from repo docs about this as previously the behavior was different which is why the question came up to @dbolton's mind, I assume.

[2017-07-13 11:34] settermjd commented on #3028
@jvillafanez @felixboehm can you provide further details on what needs to be changed, pls.

[2017-07-13 12:28] #2490 closed

[2017-07-14 08:20] settermjd commented on #3210
@pmaier1, your feedback on #3222, please?

[2017-07-14 10:53] guruz commented on #2924
I think this should be the default and not just an option?

What do you think @DeepDiver1975 @PVince81 ?

So make it more prominent in documentation and also https://github.com/owncloud/documentation/issues/2924#issuecomment-295202848

[2017-07-14 13:05] settermjd commented on #3169
I've an issue with being able to choose Google Drive as an external storage backend in a recent build. Given that I'll have to put the issue on hold. If someone else can verify and create a PR for the docs, please feel free to do so.

[2017-07-14 13:09] settermjd commented on #3176
Closing as the two related, implementing, issues have now been merged.

[2017-07-14 13:09] #3176 closed

[2017-07-14 13:09] settermjd commented on #3189
Closing as the two implementing issues have now been merged.

[2017-07-14 13:09] #3189 closed

[2017-07-17 09:01] jvillafanez commented on #3028
* [ ] Update output of the examples
* [ ] Mention to process-queue command, which is required to process the stored notifications. I guess https://github.com/owncloud/platform/pull/116/files has enough information about it.
* [ ] New wnd:listen-service (**WIP**) https://github.com/owncloud/windows_network_drive/pull/120. Once it's merged, instead of running the `wnd:listen` command as a service, t

[2017-07-18 08:23] #3197 closed

[2017-07-18 08:27] settermjd commented on #3152
@phil-davis thanks for letting me know.

[2017-07-18 09:05] #3123 closed

[2017-07-18 09:06] settermjd commented on #3121
I'll update the documentation to reflect the current state of the command. I'll create an issue in core to suggest a simplified output when required module's aren't present as well.

[2017-07-18 09:43] #3112 closed

[2017-07-18 09:49] settermjd commented on #3113
Need to find out if there's a job to build and deploy the documentation, and if so, where it deploys the documentation to.

[2017-07-18 09:51] settermjd commented on #3097
Hey, I'm going to close this, as I think it's not practical. This is because the length of the navigation menu can vary widely, plus there's the question of which point in the menu should be anchored to or near to the top of the screen.

[2017-07-18 09:51] #3097 closed

[2017-07-18 09:53] settermjd commented on #3059
I'll go over this, doing my best to take everything here into account.

[2017-07-18 10:00] settermjd commented on #3113
Closing as there is no (usable) documentation, as yet.

[2017-07-18 10:00] #3113 closed

[2017-07-18 10:02] settermjd commented on #3081
@PVince81, is this a straightforward upgrade using the WebUI and/or occ?

[2017-07-18 10:03] #3011 closed

[2017-07-18 10:03] settermjd commented on #3037
This seems to be sorted out now. The whole build process appears to have become quite convoluted, however it works.

[2017-07-18 10:03] #3037 closed

[2017-07-18 10:56] #3152 closed

[2017-07-18 11:49] settermjd commented on #3051
I've never created an ownCloud app before. I started through [the current, official, documentation](https://github.com/owncloudarchive/ocdev/blob/master/README.rst) only to find that `ocdev` isn't available. Given that, I'm currently blocked on this ticket.

[2017-07-19 08:03] #3121 closed

[2017-07-19 12:26] patrickjahns opened #3234 "Ldap User Configuration redirect leads to 404 for 10.0 documentation"
The following redirect will lead to 404 for owncloud 10 (while it works for 9.1)

https://doc.owncloud.org/server/10.0/go.php?to=admin-ldap

Checking the repository - it seems that the layout has changed from 9.x to 10. Any plans on updating the redirects or is it required to change link inside owncloud ldap module?

[2017-07-19 13:07] #3194 closed

[2017-07-19 13:22] #3234 closed

[2017-07-19 13:22] settermjd commented on #3234
Thanks for raising this @patrickjahns.

[2017-07-19 20:00] kdslkdsaldsal opened #3236 "Outdated 10.0.1 version shown in all documentation overviews"
e.g. https://doc.owncloud.org/server/latest/admin_manual/ currently shows:

``ownCloud 10.0.1 Server Administration Manual``

Why not using just 10.0 like it was previously used before the changes done in https://github.com/owncloud/documentation/pull/3084

This would avoid that the version there needs to be updated after every version release and also would prevent that an update like now is miss

[2017-07-20 08:50] michaelstingl commented on #3236
@settermjd Also on https://doc.owncloud.com/ :

![cursor_and_owncloud_documentation_overview_ _owncloud_documentation](https://user-images.githubusercontent.com/214010/28408905-3e6da3f8-6d39-11e7-9859-ec47923d80a4.png)

[2017-07-20 10:50] kdslkdsaldsal commented on #3236
Seems the .com index is hardcoded in https://github.com/owncloud/doc-index-com/blob/master/index.rst

[2017-07-20 11:10] michaelstingl commented on #2997
@tboerger aligned the setup for com and org docs, but why are the index pages still different? (https://github.com/owncloud/documentation/issues/3236#issuecomment-316639845) This always causes extra work to keep in sync.

- https://github.com/owncloud/doc-index-org
- https://github.com/owncloud/doc-index-com

[2017-07-21 16:09] felixboehm opened #3237 "update sharepoint troubleshooting"
Logging is enabled via option in config.php

[code]

See chapter: https://doc.owncloud.com/server/10.0/admin_manual/enterprise/external_storage/sharepoint-integration_configuration.html#troubleshooting

Code for this here: https://github.com/owncloud/sharepoint/blob/master/lib/sharepoint.php#L653
Not using this anymore `private static $enableLogs = TRUE;`

[2017-07-24 04:31] settermjd opened #3238 "Update ownCloud SELinux Settings"
From @silvake:

### Relates To

https://github.com/owncloud/documentation/pull/2693#issuecomment-317198477

[2017-07-24 04:35] settermjd commented on #2997
@tboerger can we just pick the most up-to-date and use that from now on?

[2017-07-24 05:05] #3209 closed

[2017-07-24 05:07] #3168 closed

[2017-07-24 05:08] settermjd commented on #3120
This got overlooked, sorry. I'm working on a rework at the moment of the developer manual. I'll bundle this work in with that.

[2017-07-24 05:54] tboerger commented on #2997
@settermjd what do you mean with most up to date?

[2017-07-24 09:45] michaelstingl opened #3240 "Search in desktop docs shows results from server docs"
On https://doc.owncloud.com/desktop/latest/ , I searched for the string "silent", and got the following result:

![search_ _owncloud_client_manual_2_3_3_documentation](https://user-images.githubusercontent.com/214010/28517664-6eb24b5c-7065-11e7-9698-04bd309dce21.png)
 (URL: https://doc.owncloud.com/desktop/latest/search.html?q=silent&check_keywords=yes&area=default)

[2017-07-24 12:26] #3210 closed

[2017-07-24 12:26] settermjd commented on #2997
The one that has the most up-to-date information.

[2017-07-24 12:27] #3236 closed

[2017-07-24 13:06] settermjd commented on #3240
I'll have a look at the search configuration and see what can be done.

[2017-07-24 13:55] settermjd commented on #3240
@michaelstingl, the documentation seems rather light with respect to how to configure search, and the Slach channel is a bit quiet at the moment. Still trying to find or figure out how to configure it properly.

[2017-07-24 14:00] settermjd commented on #3240
@michaelstingl, looking at the search results again, I don't see any duplication in the results provided. All of the results come from within the pages inside https://doc.owncloud.com/desktop/latest, which seems logical. Does this answer your question? Or have I not fully understood what you're asking here?

[2017-07-24 14:12] michaelstingl commented on #3240
@settermjd According to the URL, it looks like it's inside "`desktop/latest/`", but the 3rd result has nothing to do with the desktop sync client:
https://doc.owncloud.com/desktop/latest/ocdoc/admin_manual/installation/apps_management_installation.html?highlight=silent

Maybe something like include gone wrong?

[2017-07-24 14:55] michaelstingl commented on #3240
Duplicate seems like artifacts from older versions:

![client_doc_at_master_ _owncloud_client](https://user-images.githubusercontent.com/214010/28528427-edcfd9fe-708d-11e7-9e68-405853524ab4.png)

Those page aren't linked in the left-side navigation tree.

[2017-07-24 15:24] settermjd commented on #3240
@michaelstingl, if they can be removed, then I'm happy to do so.

[2017-07-26 07:16] pmaier1 opened #3242 "Move Notifications API docs to dev docs"
As the headline says:

- https://github.com/owncloud/notifications/blob/master/docs/ocs-endpoint-v1.md
- https://github.com/owncloud/notifications/blob/master/docs/notification-workflow.md

[2017-07-26 14:21] guruz opened #3243 "admin-transactional-locking link in settings webinterface"
I have a link here in the oC config interface for my server "Transactional file locking should be configured to use memory-based locking, not the default slow database-based locking. See the documentation ↗ for more information."... but this documentation link points to a 404 .. it points to https://doc.owncloud.org/server/10.0/go.php?to=admin-transactional-locking which goes to 404 https://doc.ow

[2017-07-27 09:27] cortho opened #3244 "Admin Settings links lead to 404"
Maybe this is a docs and not a core issue:
https://github.com/owncloud/core/issues/28498

[2017-07-27 12:03] settermjd commented on #3243
@guruz, I've written [a small PHP package](https://github.com/settermjd/regex-redirector) to redirect outdated URLs to their new location. I believe @tboerger may be implementing it shortly.

[2017-07-27 12:06] settermjd commented on #3244
A similar issue was reported in #3243 and is in the process of being rectified. Thanks for raising the issue and letting us know about the broken link. It should be fixed shortly.

[2017-07-27 12:10] michaelstingl opened #3245 "Theming documentation: mime type icons"
@phisch You made changes in https://github.com/owncloud/core/pull/26805 . Does this require changes in [our docs](https://doc.owncloud.com/server/10.0/admin_manual/configuration/mimetypes/index.html)?

@settermjd Could you review the [existing docs](https://doc.owncloud.com/server/10.0/admin_manual/configuration/mimetypes/index.html), and improve where necessary? I get feedback from users that str

[2017-07-27 12:38] settermjd commented on #3245
Hey @michaelstingl, happy to work my magic.

[2017-07-27 12:42] settermjd commented on #3242
I'm currently finishing up a restructure of a section of the developer documentation. I'll get this in just as soon as that restructure's completed.

[2017-07-28 15:43] cdamken opened #3248 "Missing recovery documentation"
Can you please add the information in the `backup/recovery` section and in the `occ commands`

https://github.com/owncloud/enterprise/issues/2188

This is important for the users.

Thanks

@settermjd @voroyam

[2017-07-28 15:46] michaelstingl commented on #3245
@phisch Something isn't working. Could you describe the steps that are needed to replace ownCloud default file type icons with modified ones from the theme directory?

![exemple](https://user-images.githubusercontent.com/214010/28725069-8d364542-73bc-11e7-8338-c3b6d996a013.png)

How would I configure that core/config/mimetypealiases.json file?

[2017-07-28 18:32] settermjd commented on #3248
Shall do @cdamken. Thanks for raising the issue.

[2017-07-31 11:35] #3238 closed

[2017-07-31 11:53] settermjd commented on #3245
@michaelstingl, your input on #3251 pls.

[2017-07-31 11:55] michaelstingl commented on #3245
@settermjd Do you cover the use case "override existing icons"?

[2017-07-31 12:06] settermjd commented on #3240
@michaelstingl can you review https://github.com/owncloud/client/issues/5929 pls?

[2017-07-31 12:10] settermjd commented on #3245
@michaelstingl, yes. It's not specifically noted with a related header. But the changes to both `Mimetype Mapping` and `Mimetype Aliases` talk about replacing the existing definitions, as well as adding new ones.

[2017-07-31 12:17] settermjd commented on #3079
Closing as the related PRs have been merged.

[2017-07-31 12:17] #3079 closed

[2017-07-31 14:19] michaelstingl commented on #3240
done

[2017-08-02 14:36] lazarohcm opened #3260 "Assign a Tag to a File"
So, I was following the [documentation](https://doc.owncloud.org/server/10.0/developer_manual/webdav_api/tags.html#assign-a-tag-to-a-file) to assign a tag to a file and found out that the parameter order is wrong in there. It shows the tagid as first parameter, but I could only assign when I used the fileid as first.
I think that instead of: `remote.php/dav/systemtags-relations/files/<tagid>/<file

[2017-08-02 14:45] phil-davis commented on #3260
What you say is correct, e.g. the integration and UI tests access tags:
https://github.com/owncloud/core/blob/master/tests/TestHelpers/TagsHelper.php#L60
[code]

PR #3261

[2017-08-02 17:26] cdamken opened #3262 "[9.1.X and newer] occ versions:cleanup removes all the files and files_versions folder"
In the documentation: https://doc.owncloud.com/server/9.1/admin_manual/configuration_server/occ_command.html?highlight=occ#versions

After talking with @hodyroff we have to change only the documentation to avoid confusions.

keeping  the most recent versions

means keep the original files that is the last version

@settermjd could you reformulate the sentence, please.

Reference case: https://gith

[2017-08-03 06:11] individual-it opened #3263 "Admin documentation links broken in ownCloud core"
1. login as admin
2. navigate to the apps page
3. open description of "Provisioning API"
4. click on "Admin documentation"

the link takes you to a not existing page https://doc.owncloud.org/server/10.0/admin_manual/configuration_user/user_provisioning_api.html
the correct localition is https://doc.owncloud.org/server/10.0/admin_manual/configuration/user/user_provisioning_api.html

same problem in

[2017-08-03 07:51] settermjd opened #3264 "Add sitemap.xml generation to the documentation build process"
There's no [sitemap.xml](https://www.sitemaps.org/protocol.html) file for the documentation. Given that it's hard to influence the indexing and re-indexing of the documentation by the various search engine bots; essential as the content is updated so often.

Please update the documentation build process to build a sitemap.xml file for the documentation, after a PR is merged to any of the branches.

[2017-08-03 09:21] settermjd commented on #3263
Thanks for raising that. In the middle of rectifying it.

[2017-08-03 09:32] settermjd opened #3265 "Add Google Analytics or Piwik to the documentation & Setup Google Search Console"
As a matter of urgency, we need to get Google Analytics setup for the documentation, along with Google Search Console. I'm happy to do it if necessary. This will help us know which sections of the documentation are most in demand, as well as help us know about errors and any related issues.

[2017-08-03 11:24] guruz commented on #3243
Also saw this link from admin interface going to 404
https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/background_jobs_configuration.html

[2017-08-03 11:38] settermjd commented on #3260
Thanks for raising it @lazarohcm. Closing this issue as [the related PR's](https://github.com/owncloud/documentation/pull/3261) now been merged.

[2017-08-03 11:38] #3260 closed

[2017-08-03 11:38] settermjd commented on #3243
Thanks.

[2017-08-03 11:48] settermjd opened #3267 "Fix broken documentation links"
There have been a number of issues created including #3263 & #3244, which record a series of broken links in the documentation. These should be pretty simple to fix by making use of [a small package](https://github.com/settermjd/regex-redirector) I wrote, or by adding a series of mod_rewrite directives in the server that hosts the documentation. If this could be done as a matter of some urgency, i

[2017-08-03 12:27] settermjd commented on #3248
Closing as the implementing PR was merged.

[2017-08-03 12:27] #3248 closed

[2017-08-03 12:39] settermjd commented on #3120
Sorry, coming back to this after a bit of distraction. What is the process for manually installing an application @lefherz?

[2017-08-03 12:45] PVince81 commented on #3081
@settermjd this is more a "happy announcement".

In the past if you had 8.2.x installed and then replaced the source code with 9.1, any update path (web UI or occ) would complain that you cannot skip major versions.

Now starting with 10.0, if your previous version was 9.0.8+ it also lets you update. 9.0.8->10.0 skips a major version which is 9.1.x

[2017-08-03 13:23] settermjd commented on #3207
No longer necessary, as per @voroyam

[2017-08-03 13:23] #3207 closed

[2017-08-03 16:29] guruz commented on #2924
What do you think @DeepDiver1975 @pmaier1 ?

[2017-08-03 17:57] DeepDiver1975 commented on #2924
During setup it is detected and properly set.

[2017-08-03 22:16] tboerger commented on #3265
What about the piwik account you already got?

[2017-08-04 13:30] patrickjahns opened #3273 "user_manual shows empty webdav api link"
When going to https://doc.owncloud.com/server/latest/user_manual/ - the user is presented with a link to webdav apis:

![image](https://user-images.githubusercontent.com/6403243/28970715-d6e8294a-7929-11e7-92f8-988f5199ecbd.png)

Clicking on it leads to an empty page:
https://doc.owncloud.com/server/latest/user_manual/webdav-api/index.html

[2017-08-05 10:08] kdslkdsaldsal opened #3275 "Wrong headlines in Migrating to a Different Server"
https://doc.owncloud.org/server/latest/admin_manual/maintenance/index.html

has currently the following ToC:

[code]

But when having a look at:

https://doc.owncloud.org/server/latest/admin_manual/maintenance/migrating.html

all those headlines should be sub-headlines of "Migrating to a Different Server" like:

[code]

or similar.

Overall i also think the migrating.html is quite messy and has al

[2017-08-06 23:15] hurradieweltgehtunter commented on #3265
Would also recommend Piwik. I set it up for the marketplace to deeply trace users. If you need any info or help, i'm happy to do so.
Google Search Console doesn't need google analytics AFAIK and can be implemented too without extra load.

[2017-08-07 08:27] tboerger commented on #3264
I don't understand the requirement for this PHP lib. We should add that to the Docker image to put all available versions to the sitemap. it's more like a simple shell script that walks through the directories and gathers all html documents.

[2017-08-07 08:30] tboerger commented on #3267
If we are not writing absolute links within the documentation we can use a tool like https://wummel.github.io/linkchecker/ to check for dead links on every pull request.

[2017-08-07 09:12] settermjd commented on #3081
Ok. I'll add that. Thanks for the clarification.

[2017-08-07 09:13] settermjd commented on #2924
I'll update the docs @guruz

[2017-08-07 09:14] settermjd commented on #3273
Thanks @patrickjahns. I'll get that corrected.

[2017-08-07 09:15] settermjd commented on #3275
Thanks @kdslkdsaldsal. I'll get that sorted out.

[2017-08-07 09:16] settermjd commented on #3265
I'm happy to use either/both.

[2017-08-07 09:16] settermjd commented on #3264
@tboerger the PHP lib does just what you described.

[2017-08-07 09:44] settermjd commented on #2924
@guruz, I'd suggest that https://github.com/owncloud/documentation/issues/2924#issuecomment-295202848 is a good idea.

[2017-08-07 09:46] settermjd commented on #2924
@guruz, the documentation already notes that it's used, if detected, during the installation. As for making it more prominent, I'm not sure how. However I'm open to suggestions.

[2017-08-07 12:30] settermjd commented on #3267
That'd be an excellent tool, however, because of how Sphinx-Doc works, there's an additional, complicating issue. This is where the RST link markup isn't used correctly in the source files, so a link isn't rendered, though the formatting of the text isn't normal text. I think that will be harder to check for.

[2017-08-07 12:59] settermjd commented on #3267
Having a play with linkchecker now.

[2017-08-07 13:32] settermjd commented on #3267
The package's documentation's misleading and incorrect. But after some experimentation, it's able to be installed on macOS. Running now to see what it's like.

[2017-08-07 13:34] settermjd commented on #3267
[code]

[2017-08-08 06:32] guruz commented on #2924
@DeepDiver1975 @settermjd but the "root thing to do" is setting this in the mysql config. So if no one set it there, oC won't dectect/use it.
So if we want this to be the default for users then we need to tell them the mysql config thing first?

[2017-08-08 06:48] jvillafanez opened #3278 "Make the ldap refresh attribute interval configurable"
PR: https://github.com/owncloud/user_ldap/pull/120

configurable via `occ config:app:set user_ldap updateAttributesInterval --value=7200` (adjust the value to your needs)

@settermjd

[2017-08-08 07:14] tboerger commented on #3267
Found 217 errors, nice :)

[2017-08-08 10:31] settermjd commented on #3267
Sadly. I'm working on fixing them today.

[2017-08-08 11:04] settermjd commented on #3267
On looking closer, most of the reported broken links are because of how the theme's constructed. It's got a broken link in the CSS includes. However, my knowledge of Sphinx-Doc templating is quite limited. So tracking the error down is slow going.

[2017-08-08 11:10] pmaier1 commented on #3193
Some information that should be incorporated around redis / redis clustering (@patrickjahns):

So there should be a recommendation about keeping phpredis up-to-date.

[2017-08-08 12:17] settermjd commented on #3193
Thanks @pmaier1

[2017-08-08 12:18] #3273 closed

[2017-08-08 14:24] settermjd commented on #2924
But if it's auto-detected, then what is the need to tell people? I'm sorry, but I think I'm missing some of the understanding here.

[2017-08-08 14:27] pmaier1 commented on #2924
MySQL/MariaDB needs to be configured properly before autodetection occurs for that the autodetection mechanism detects the settings correctly. I think this is what we should tell people for that the autodetection works 'properly'.

[2017-08-09 08:54] #3275 closed

[2017-08-09 09:43] Peter-Prochaska opened #3283 "Add a different session_save_path to every user on shared hosting systems"
As described in http://ha.xxor.se/2011/09/local-session-poisoning-in-php-part-1.html, admins should use a different `session_save_path` for every user on shared hosting systems. Can you add this to the documentation?

[2017-08-09 13:19] settermjd commented on #3283
Thanks for documenting this @Peter-Prochaska. I'll get that done.

[2017-08-09 16:24] michaelstingl opened #3285 ""Table of Contents" does nothing"
![owncloud_documentation_overview_ _owncloud_documentation](https://user-images.githubusercontent.com/214010/29132223-d52f450c-7d2f-11e7-9b2d-114685bb68d9.png)

Clicking the "Table of Contents" link does exactly nothing on https://doc.owncloud.org/ https://doc.owncloud.com/

[2017-08-09 16:27] michaelstingl opened #3286 "Broken link on doc.owncloud.org index page"
(https://doc.owncloud.org/#current-stable-server-release)

It seems the link doesn't get generated properly in the build process.

[2017-08-09 16:35] michaelstingl opened #3287 "Inconsistent appliance links on doc.owncloud.org and doc.owncloud.com index pages"
[doc.owncloud.org index page](https://doc.owncloud.org/#enterprise-appliance) (left) links to docs for new ownCloud X UCS-based appliance.

[doc.owncloud.com index page](https://doc.owncloud.com/#enterprise-appliance) (right) links to docs for old ownCloud 9.1.x appliance.

![owncloud_documentation_overview_ _owncloud_documentation_and_owncloud_documentation_overview_ _owncloud_documentation](http

[2017-08-09 20:51] sidey79 commented on #3278
Just a question. Is it correct to set `--value=7200` without specifying the value as int via `--type=integer`

[2017-08-10 06:55] jvillafanez commented on #3278
I'm not sure, but explicitly setting the type might be better.

[2017-08-10 08:17] pmaier1 opened #3289 "Document changed behavior of custom groups"
https://doc.owncloud.com/server/10.0/user_manual/files/webgui/custom_groups.html?highlight=custom%20groups

Some things will change with the upcoming release of the app. See here: https://github.com/owncloud/enterprise/issues/2092#issuecomment-321470519

Please add that to the docs.

Apart from that please add a hint (if not yet included, I just skimmed quickly :) ) that **ownCloud** admins can se

[2017-08-10 08:22] settermjd commented on #3287
Shall do. Thanks.

[2017-08-10 09:54] guruz commented on #2924
My argument is: Do we want (maximum-)4-byte-utf8 as the default or not? If @DeepDiver1975 @pmaier1 say it should be the default, then it should be mentioned in that first setup.php dialogue of oC that the mysql needs to be configured like this.
It should also be mentioned more clearly in the docs.

[2017-08-10 11:02] settermjd commented on #3283
Arguably, this guide should go further, such as discussing the encryption of session details, such as by using a package like [PHP-Secure-Session](https://github.com/ezimuel/PHP-Secure-Session).

[2017-08-10 11:32] DeepDiver1975 commented on #3283
Which reminds be of the fact that we already do encrypt the session - https://github.com/owncloud/core/tree/master/lib/private/Session

no idea if this is something different and if one/both fit the needs - I cannot judge on this

@Peter-Prochaska

[2017-08-10 11:44] DeepDiver1975 commented on #2924
Using a rather recent mysql/mariadb server has everything already set up properly.
We detect that the server is capable of mb4, we enable it and off we go.

Starting with mysql 5.7 Baraccuda file format is default https://dev.mysql.com/doc/refman/5.7/en/innodb-file-format.html
Starting 5.6.6  innodb_file_per_table is enabled by default https://dev.mysql.com/doc/refman/5.7/en/innodb-multiple-tables

[2017-08-10 12:12] settermjd commented on #3283
Thanks @DeepDiver1975

[2017-08-10 12:46] settermjd commented on #3286
Hmm, thanks for reporting that @michaelstingl, I wasn't aware of it. Seems we need a broken link checker as part of the build process.

[2017-08-10 13:15] settermjd commented on #3286
Hey @michaelstingl, Carla added that intentionally in owncloud/doc-index-org@b1320220. Based on the commit message, her intent was that it would be an example link, not a real one. I see what she was trying to do, but perhaps it would be better written as either:

- https ://doc.owncloud.org/server/latest/{admin,developer,user}_manual

or

- https ://doc.owncloud.org/server/latest/admin_manual
- h

[2017-08-10 13:17] felixboehm opened #3292 "Add docs for oneDrive"
Startpoint: https://github.com/owncloud/files_onedrive/wiki/Configuration-Info

[2017-08-10 13:39] settermjd commented on #3285
@michaelstingl as far as I know, that's auto-generated as part of the build and rendered as part of the theme. I'm not that familiar with Sphinx-Doc theming. However, I'll see what I can do about making the TOC meaningful.

[2017-08-10 13:47] voroyam opened #3293 "developer doc lacks php module installation"
In the developer environment section
https://doc.owncloud.com/server/10.0/developer_manual/general/devenv.html?highlight=environment

is written how to set up the environment.

But the required php modules for ownCloud are missing.

Can we add those to the documentation?

also the links in "Get the Source"

https://doc.owncloud.com/server/10.0/developer_manual/general/devenv.html?highlight=environ

[2017-08-10 13:53] DeepDiver1975 commented on #3293
a link to the installation manual should be enough - modules shall be listed there

[2017-08-10 14:16] settermjd commented on #3285
This is proving a little troublesome, but I hope to get it resolved tomorrow at the latest.

[2017-08-11 08:02] pmaier1 commented on #3098
Just ran over outdated docs for password policy again and discovered this ticket :) how's the status? Actually this is quite an easy one.

[2017-08-14 09:15] settermjd commented on #3098
Sorry, it slipped through the proverbial cracks.

[2017-08-14 13:38] #3278 closed

[2017-08-14 13:57] settermjd opened #3297 "Update Appliance Documentation"
- [x] Name of the appliance should not include "enterprise" - fixed in #3296.
  - [x] Name in Table of contents should be appliance / owncloud appliance
- [x] "How to install It" -> "How to install The Appliance"
- [ ] Download link for the appliance should open new tab, not open page

- [ ] Why link of the process links to lower part of doc?

- Link should go to the appliance, not only to the ent

[2017-08-14 14:00] settermjd opened #3298 "Update Appliance Anti-Virus Documentation"
- [ ] "Automating ClamAV Virus Database Updates"
- [ ] sounds weird, like you would kill someone with an automatic gun
- [ ] "Scheduling Automatic Virus Database Updates" - sounds better
- [ ] "ClamAV is the only officially supported virus scanner available for use with ownCloud. It:""
- [ ] "It" looks chopped off
  - [ ] "operating system ... mac" - macOS?
  - [ ] quick link at the top directly t

[2017-08-14 14:54] pmaier1 opened #3299 "Document OAuth2 feature"
Soon we will release a new app that adds server-side OAuth2 support (https://github.com/owncloud/oauth2).
It will be used for connecting the ownCloud clients (desktop and mobile) in a standardized and secure way and to make integrations in 3rd party software easier by providing an authorization interface.
We need user (what is it?, benefits?, connecting clients to oC via OAuth2, revoking sessions,

[2017-08-15 05:32] phil-davis opened #3302 "Firewall screenshots need updating"
https://github.com/owncloud/firewall/pull/319 made a change so that the 1st firewall rule group also has a button to delete the group, like subsequent firewall rule groups. (to the right of "Add Group" is a "Delete" button)

So the screenshots:
https://github.com/owncloud/documentation/blob/master/admin_manual/enterprise/firewall/images/firewall-1.png
https://github.com/owncloud/documentation/blob

[2017-08-15 05:33] phil-davis commented on #3302
@settermjd are you good at knowing the way to get screenshots that match nicely with others in the manuals?

[2017-08-15 07:58] tflidd commented on #3120
Just copy the app into the app-folder (/path/to/owncloud/apps). The folder name of the app and the name of the app must be  identical.

[2017-08-15 13:28] tomneedham opened #3304 "[:construction:] WIP Galera / MaxScale Recommendtions"

[2017-08-15 13:37] tomneedham commented on #3304
CCR Filter can be used to set a time or count based filter to send post-update based queries to the master node

[code]

[2017-08-15 13:39] tomneedham commented on #3304
wstep_sync_wait tells galera to wait after update based queries before answering selects
http://galeracluster.com/2015/06/achieving-read-after-write-semantics-with-galera/
http://galeracluster.com/documentation-webpages/mysqlwsrepoptions.html#wsrep-sync-wait

setting this to 1 should enable sync checking before executing more SELECT queries

[2017-08-15 14:31] settermjd commented on #3302
@phil-davis, all I usually do is just to attempt to match them as closely as possible.

[2017-08-15 14:32] settermjd commented on #3302
@phil-davis, regarding owncloud/documentation/issues/3302#issuecomment-322381135, do you mean that a PR for this issue should be created, but not merged until the next release is rolled out? I'm trying to avoid the pre-emptive PR merge that occurred in the last couple of weeks.

[2017-08-15 15:01] phil-davis commented on #3302
I raised some other PRs for little changes to the text of the firewall doco, 1 for each PR that changed user-facing stuff. I will need to do a more generally descriptive one also that clarifies what each of the blocking options does...
Then, when I am feeling confident that the UI element layout is not going to change any more, I can make a PR with updated screen shots.
Whenever the release is, it

[2017-08-15 15:03] phil-davis commented on #3302
Is there a label that would be appropriate for Firewall changes?
Then I can put that label on all the PRs and they will be easy to find.

[2017-08-15 15:04] settermjd commented on #3302
I'm trying to get access to an enterprise install so that I can document the changes. But currently, I'm unable to, but I'll keep trying tmrw.

[2017-08-15 15:07] #3120 closed

[2017-08-15 16:18] voroyam opened #3307 "Developer manual: "Development Environment" - Fixes"
https://doc.owncloud.com/server/10.0/developer_manual/general/devenv.html

I as a noob have tried to install the dev env with the doc, and failed. I suggest we make the following changes, to make things easier:

--------------

## "Note" Suggestions, for the beginning of the page

-  System has to be up to date

- Does not work with docker

- In ubuntu you need to install nodejs this way:

[code]

[2017-08-16 11:17] voroyam opened #3308 "Add "Redis Server" to "Deployment Recommendation" "For Mid-sized Enterprises""
I have updated the picture after a request from @cdamken

![mid-size](https://user-images.githubusercontent.com/24212810/29360836-0f95e1ce-8285-11e7-94be-264ee1af947c.png)

please update this in the doc

https://github.com/owncloud/documentation/blob/master/admin_manual/installation/deployment_recommendations.rst#recommended-system-requirements-1

[2017-08-16 11:28] voroyam opened #3309 "update to config.sample.php comment suggestion"
We should include "mid large installations" in the comment about transactional file locking:

[code]

Could be changed to:

[code]

https://github.com/owncloud/core/blob/master/config/config.sample.php#L1318

also, we should include this 2 lines of configuration:

[code]

[2017-08-16 11:44] voroyam commented on #3308
if we make the changes, we should add a it in here

Somethins like "Redis Server" or "Tansactional file locking via a Redis Server"

![here1](https://user-images.githubusercontent.com/24212810/29361570-7c9b2e48-8288-11e7-89bc-1d117379c86a.png)

also it should be noted below in the bullet points

![here2](https://user-images.githubusercontent.com/24212810/29361590-9b1ecaa0-8288-11e7-8ce7-95a649f2e1

[2017-08-17 09:14] #3262 closed

[2017-08-17 14:24] voroyam opened #3314 "Wrong link in user manual"
the link in this  [section](https://doc.owncloud.com/server/10.0/user_manual/files/desktop_mobile_sync.html#desktop-and-mobile-synchronization)

"ownCloud Desktop Client Manual"

should probably go to the Sync Client Manual [here](https://doc.owncloud.com/desktop/latest/)

but goes to the ownCloud documentation  [here](https://doc.owncloud.org/)

[2017-08-17 15:20] voroyam opened #3315 "Installation Modules improvement"
For better understanding what modules you need for the installation, and what optional modules you can install and what for, we should change this 9.1 modules list

https://doc.owncloud.com/server/9.1/admin_manual/installation/source_installation.html#example-installation-on-ubuntu-14-04-lts-server

to something like this:

https://github.com/owncloud/documentation/wiki/Manual%20installation%20det

[2017-08-17 22:15] nightspotlight commented on #2303
I would just like to thank you @PVince81 and @settermjd for the SQL commands and updated documentation! https://doc.owncloud.org/server/latest/admin_manual/maintenance/manually-moving-data-folders.html

[2017-08-18 10:32] voroyam opened #3317 "encryption difference explanation"
We should add to the encryption doc the explanation of the difference between master key and basic encryption.

something along those lines:

In regular encryption mode every user has their own private/public key pairs, and the private key is protected by the user's password.
In "master key" mode there is only on key (or keypair) and all files are encrypted using the same keys.

thankfully provide

[2017-08-18 12:28] pmaier1 commented on #3098
Just discovered that this is still here oO: https://doc.owncloud.com/server/10.0/admin_manual/configuration/files/file_sharing_configuration.html?highlight=password%20policy#share-link-password-policy

And I can't find the security section somehow?!

[2017-08-18 14:40] lazarohcm opened #3318 "Update tag"
So, XML example is a little wrong on [this section](https://doc.owncloud.org/server/10.0/developer_manual/webdav_api/tags.html#update-tags)

Instead of a` <<oc:name>>` property, it is needed a ` <<oc:display-name>>`

[2017-08-18 16:41] kdslkdsaldsal opened #3319 "Review links in go.php after doc layout change"
It seems at least master and stable10 has various links in the go.php which now 404s. E.g:

https://github.com/owncloud/documentation/blob/master/go.php#L12
https://github.com/owncloud/documentation/blob/stable10/go.php#L12

Ref: https://github.com/owncloud/core/issues/28743#issuecomment-323395077

*Edit* It seems it was also reported in https://github.com/owncloud/documentation/issues/3234 but no

[2017-08-21 10:03] settermjd commented on #3319
Thanks, @kdslkdsaldsal. I'll get that fixed as a matter of urgency today.

[2017-08-21 10:10] settermjd commented on #3319
@kdslkdsaldsal, can you review #3320, pls?

[2017-08-21 10:23] settermjd opened #3322 "Update ./occ user:sync command to reference deprecated show-remnants command"
Update the `./occ user:sync` command to reference the deprecated `show-remnants` command, with information from the release notes [that @tomneedham mentioned](https://github.com/owncloud/documentation/pull/3145#issuecomment-323700157). This should, hopefully, help to avoid any future confusion or concern as to what to do as the `show-remnants` command is no longer available.

[2017-08-21 11:47] PVince81 commented on #3318
@settermjd confirmed: https://github.com/owncloud/core/blob/master/apps/dav/lib/SystemTag/SystemTagPlugin.php#L52

[2017-08-21 11:54] settermjd commented on #3318
Wonderful. Thanks.

[2017-08-21 12:15] Kawohl opened #3324 "https://doc.owncloud.org/server/10.0/developer_manual/testing/ needs rework"
Mr. Freitag is not with ownCloud anymore. I'm not sure the IRC Channe still exists. etc.
@lefherz could you take a look please and help matthew out here?

Thanks!

[2017-08-21 12:28] #3318 closed

[2017-08-21 12:59] settermjd commented on #3314
@voroyam, that sounds fair to me. I'll get it done.

[2017-08-21 13:02] Kawohl commented on #3324
freitag@owncloud.com should probably change to mstingl@owncloud.com
the link   to contact devs  in the irc channel is wrong it points to https://doc.owncloud.org/server/10.0/developer_manual/testing/webchat.freenode.net/#owncloud-dev

The IRC Channel #owncloud-testing  doesn't exist any more

[2017-08-21 15:01] #3319 closed

[2017-08-21 15:02] #3324 closed

[2017-08-21 15:03] settermjd commented on #2303
@nightspotlight, happy to help. And thanks for the feedback

[2017-08-22 11:14] voroyam opened #3331 "ClamAV in ownCloud Appliance"
I have made a sample documentation, on How to enable the supported virus scanner in the new ownCloud Appliance.

https://github.com/owncloud/appliance/blob/master/clamav.md

Would be nice if this would find its way in the Appliance documentation

https://github.com/owncloud/documentation/tree/master/admin_manual/appliance

[2017-08-22 12:04] davitol opened #3332 "Command-line-upgrade documentation is missed"
When updating oC from an old version to a oC X it is said to update via CLI. If you click on the documentation link, user is redirected to an empty URL. (sorry for the screenshot in spanish)

![screen shot 2017-08-22 at 14 00 37](https://user-images.githubusercontent.com/10596560/29564591-bfa89586-8742-11e7-8a7b-3482f40ce9f7.png)

https://doc.owncloud.org/server/10.0/admin_manual/configuration_ser

[2017-08-22 13:02] voroyam opened #3333 "minor wording fix in dev docs"
https://doc.owncloud.com/server/10.0/developer_manual/general/security.html#unvalidated-redirects

Please change the sentence:

Always validate the URL before redirecting if the requested URL is on the same domain or an allowed resource.

to:

Before redirecting always validate the URL if the requested URL is on the same domain or an allowed resource.

[2017-08-22 13:14] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#css

remove the "TBD" at the end of the section

[2017-08-22 13:19] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#general

"So split things up where you can in smaller changes" please change to
"So split things up where you can get in smaller changes"

also this whole sentence seems to be too long:

So split things up where you can in smaller changes - if you need a small improvement like a API addition for a big feature addit

[2017-08-22 13:26] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#labels

We assign labels to issues and pull requests to make it easy to find them and to signal what needs to be done.

Could be changed to two separate sentences

We assign labels to issues and pull requests. It makes them easy to find and signal what needs to be done.

[2017-08-22 14:28] skriesch opened #3335 "installation instruction for different distributions (additional to Ubuntu procedure)"
Different distributions have got  different installation instructions. We offer only Ubuntu for ownCloud 10 at the moment.

We need that for openSUSE Leap/SLES and RedHat, too.
You can use [https://github.com/iosifidis/owncloud-opensuse-leap](that) as an example for openSUSE.

[2017-08-22 14:38] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#severity-level-labels

"To better understand which severity level to apply, if any, here is a description of each of the four respective labels."

this sounds clunky and unnecessary complicated

better:

"Here is a description of severity labels."

[2017-08-22 14:41] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#javascript

the link at "JSLint"

to

http://www.jslint.com/lint.html

delivers a 404 error.

[2017-08-22 14:54] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/general/codingguidelines.html#user-interface

"Software should get out of the way. Do things automatically instead of offering configuration options."

It's hard to understand what this sentence means. Out of the way of what?
Software should work out of the box?

[2017-08-22 14:58] voroyam commented on #3333
Software should be easy to use. Show only the most important elements. Secondary elements only on hover or via Advanced function.

What is "on hover"?
maybe rephrase?

[2017-08-22 15:00] voroyam commented on #3333
Regularly reset your installation to see how the first-run experience is like. And improve it.

There is a rule somewhere in the English grammar, that you should not start sentences with "and"
Also it looks funny

[2017-08-22 15:59] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#making-things-reusable-and-decoupling-controllers-from-the-database

"Making things reusable" - what things?

also the title jumps on some resolutions because of the end character.

"Let’s say our app is now on the ownCloud Marketplace and and we get a request that we should save the files in the filesystem which requires acce

[2017-08-22 16:00] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#unit-tests

"A simple test for the update method can be added by adding this to"

"added by adding"

[2017-08-22 16:03] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#integration-tests

"To do that create" could be changed to something better

[2017-08-22 16:10] voroyam commented on #3333
"The only pieces that need to be changed are the annotations which disable the CSRF check (not needed for a REST call usually) and add support for CORS so your API can be accessed from other webapps."

would separate this in 2.

We need to change two pieces:
- Annotations. They disable the CSRF check (not needed for a REST call usually)
- Support for CORS for acces from other webabbs to your API

[2017-08-22 16:15] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#creating-the-content

"The template file ownnotes/templates/part.content.php contains the content. It will just be a textarea and a button, so replace the content with the following:"

"contains the content" sounds repetitive

textarea >> text area

[2017-08-22 16:17] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#wiring-it-up

Furthermore we want to display the current note when you click on it in the navigation, a note should be deleted when we click the deleted button and clicking on New note should create a new note. To do that open ownnotes/js/script.js and replace the example code with the following:

new sentence after first comm

[2017-08-22 16:19] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/tutorial.html#apply-finishing-touches

"Now the only thing left is to style the textarea in a nicer fashion. To do that open ownnotes/css/style.css and replace the content with the following CSS code:"

textarea >> text area

nicer fashion >> don't know, something better

Again "To do that"

[2017-08-23 10:16] voroyam opened #3336 "Windows Network Drive Doc"
https://doc.owncloud.com/server/9.1/admin_manual/enterprise_external_storage/windows-network-drive_configuration.html?highlight=wnd#installation

"Enable the Windows Network Drive app on your ownCloud Apps page."

There is no "Windows Network Drive app", only "External storage support" in the App page to activate.

Also the "Installation" section could be done better with bullet points or code box

[2017-08-23 10:36] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/publishing.html#official

"App is at least 6 months old and has seen regular releases."

has been seen **in** regular releases?

[2017-08-23 10:49] settermjd commented on #3315
Will see what I can do for you, mate.

[2017-08-23 11:43] #3322 closed

[2017-08-23 11:52] settermjd commented on #3332
This is another issue related to #3267.

[2017-08-23 11:55] #3314 closed

[2017-08-23 12:34] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/publishing.html#technical

Apps should not hamper functionality of ownCloud unless that is explicitly the goal of the app @DeepDiver1975 please review and update technical requirements to new marketplace requirements if changed

should the "@" be in the doc?

[2017-08-23 12:36] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/publishing.html#providing-information

"When uploading an app it should provide a professional and informative look. To do so, please consider the following:"

"To do so"  can be replaced with "This can be achieved by"

[2017-08-23 12:38] voroyam commented on #3333
"Provide an unique name make it easy to users to identify the product."

either "Provide an unique name. Make it easy to users to ..." or

Provide an unique name that makes it easy...

[2017-08-23 12:40] voroyam commented on #3333
how can it be displayed below and on at the same time? O_o

Also "this gets displayed" could be changed to This will be displayed / shown

[2017-08-23 12:43] voroyam commented on #3333
I would make 2 sentences, it sounds wierd

provide all the necessary information about your app in a detailed form.

[2017-08-23 12:47] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/publishing.html#disclaimer

the and/or makes no sence

[2017-08-23 13:06] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/code_signing.html#code-signing

https://doc.owncloud.com/server/10.0/developer_manual/app/code_signing.html#why-did-owncloud-add-code-signing

would change to authorized people. Persons looks like it was "person" originally and then someone said - "no, its plural", so it was changed to "person**s**"

[2017-08-23 13:21] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/code_signing.html#technical-details

hashes is an array of all files in the folder with their corresponding SHA-512 hashes. certificate is the certificate used for signing. It has to be issued by the ownCloud Root Authority, and its CN needs to be permitted to perform the required action. The signature is then a signature of the hashes whic

[2017-08-23 13:24] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/code_signing.html#how-to-get-your-app-signed

the whole 1-4 steps box looks awful, would separate the code commands from the steps.

[2017-08-23 13:27] voroyam commented on #3333
Be aware that doing any changes to the application after it has been signed requires another signing.

would change to

Any changes to the application after it has been signed requires another signing.

[2017-08-23 13:28] voroyam commented on #3333
replace

https://marketplace.owncloud.com/

with a word-link like "marketplace"

[2017-08-23 13:30] voroyam commented on #3333
If there are cases where this is not feasible and multiple certificates are required ownCloud can create them on a case by case basis

In case this is not feasible and multiple certificates are required ownCloud can create them on a case by case basis

[2017-08-23 13:32] voroyam commented on #3333
would place a link here

https://doc.owncloud.com/server/10.0/developer_manual/app/code_signing.html#errors

The following errors can be encountered when trying to verify a code signature. For information about how to get access to those results please refer to the Issues section of the ownCloud Server Administration manual.

https://doc.owncloud.com/server/10.0/admin_manual/issues/code_signing.ht

[2017-08-23 13:36] voroyam commented on #3333
https://doc.owncloud.com/server/10.0/developer_manual/app/changelog.html#changelog

this suggests that everything after it is for 8.1

is that so?

[2017-08-23 13:56] SergioBertolinSG opened #3339 "Add required variable to use local storage to docs"
In the external storage section about local storage:

https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/external_storage/local.html

It is missing a description about how to use local storage if needed.

In the config.php a variable should be added before using this storage:

[code]

[2017-08-23 14:29] #3315 closed

[2017-08-23 19:24] tboerger commented on #3331
Normally you should not link to private repositories.

[2017-08-24 10:12] settermjd commented on #3333
@voroyam, regarding https://github.com/owncloud/documentation/issues/3333#issuecomment-324333651, I can clean it up, but it's going to take a little bit of time. I'm guessing that the reference to 8.1 was overlooked as the file was progressively updated.

[2017-08-24 13:28] patrickjahns commented on #3339
Also stumpled upon this when upgrading from 9.1 to 10

[2017-08-24 14:58] settermjd commented on #3339
PR is ready for review @SergioBertolinSG / @patrickjahns

[2017-08-24 15:03] #3339 closed

[2017-08-24 15:07] settermjd commented on #3335
As far as I know, at least according to @dercorn, Ubuntu 16.04, Debian 7 and 8, SUSE Linux Enterprise Server 12, and 12 SP1, Red Hat Enterprise Linux/Centos 6.5 and 7 are all supported.

[2017-08-24 15:07] settermjd commented on #3335
Or did you mean that the installation instructions currently available are only for Ubuntu? Please excuse my confusion, if so.

[2017-08-24 15:19] skriesch commented on #3335
Yes. I meant the installation instruction is only available for Ubuntu.

[2017-08-27 17:23] TheOtterslider opened #3345 "OCC command "enhancement""
I was needing to do some command line stuff via OCC.  My first thought was "oh, I need to put the server into admin mode"  so I did.  Only then, my server acted like the files command didn't exist.  I guess my "bug" is to clarify that some commands aren't available in maintenance mode.  It would have saved me a minor "flip out" moment.

Here's the page that needs edited:
https://github.com/ownclou

[2017-08-27 19:54] kdslkdsaldsal opened #3346 "Possible misleading "Upgrading" section"
There is currently the https://doc.owncloud.org/server/latest/admin_manual/upgrading/ section which contains two subsections on how to:

- upgrade PHP
- upgrade apps from the marketplace

I think a user would at least expect to have a documentation on how to upgrade ownCloud itself in this section.

Instead the first entry contains info how to upgrade PHP which is completely unrelated to ownCloud

[2017-08-28 10:15] settermjd commented on #3346
Thanks for raising the point, @kdslkdsaldsal. I'll have a look through and make changes as necessary.

[2017-08-28 10:30] pmaier1 commented on #3345
Well, as the name says, maintenance mode is for maintenance purposes like upgrading etc. and therefore disables key functionalities. See e.g. here https://doc.owncloud.com/server/10.0/admin_manual/maintenance/enable_maintenance.html?highlight=maintenance

When trying to use such via occ you get informed that the instance is in maintenance mode and can act on that.

Not sure what you refer to with

[2017-08-28 10:35] settermjd commented on #3345
On reviewing the docs further, perhaps adding a note may be helpful in avoiding unnecessary confusion.

[2017-08-28 10:41] pmaier1 commented on #3345
Ok fine, thanks! Will make it easier for those that are new to ownCloud.

[2017-08-28 10:46] TheOtterslider commented on #3345
Sorry....I should have re-read my comment before posting.  I should have said maintenance mode instead of admin mode.

You are correct...the docs do say "maintenance mode is for maintenance purposes like upgrading etc. and therefore disables key functionalities"  But I thought running a file rescan would be one of those things (my thinking went like:  if I'm rescanning the file system, I want to m

[2017-08-28 11:00] pmaier1 commented on #3345
Don't worry, we're always thankful for valuable feedback :)

For the records: A file scan can be conducted independently of users working with oC. Maybe changes that occur during the scan are not captured anymore in that 'run' but changes that occur within oC are written to the DB anyway making a file scan obsolete in most cases.

[2017-08-29 09:40] #3333 closed

[2017-08-29 09:42] #3336 closed

[2017-08-29 10:23] settermjd commented on #3346
After a quick review of the existing structure, the best course of action to take would likely be:

1. create `maintenance/upgrading`.
2. move `upgrading/marketplace_apps.rst`, `upgrading/upgrade_php.rst` , and `maintenance/upgrade.rst` to `maintenance/upgrading`.
3. create redirects for the old content.

How's that sound @kdslkdsaldsal, @felixboehm, @PVince81?

[2017-08-29 10:38] voroyam opened #3350 "Installing ownCloud in docker"
# How to setup ownCloud in docker

### The run command

docker run -it -p 80:80 -p 443:443 -p 636:636 -p 369:369 --rm -h oc --name oc ubuntu

--rm = remove container when you exit it.

### The script

I have 2 scripts. One with the prerequisites and one with the installation.

If you have an new container with the latest ubuntu you will need both.

If you want to create an docker image, and run it

[2017-08-29 10:55] settermjd commented on #3350
Thanks for the core information. Let's see where this goes.

[2017-08-29 11:18] settermjd commented on #3265
Any progress on this?

[2017-08-29 11:19] #3286 closed

[2017-08-29 11:20] #3287 closed

[2017-08-29 11:22] #3283 closed

[2017-08-29 11:23] #3317 closed

[2017-08-29 11:24] #3345 closed

[2017-08-29 11:38] #3308 closed

[2017-08-29 11:49] tboerger commented on #3265
Not from my side. I think it's up to you to integrate the Piwik snippet that you will get from piwik if you signin to https://piwik.owncloud.org or https://piwik.owncloud.com and select the Documentation page. If you need further help @hurradieweltgehtunter can help you to get it running.

[2017-08-29 12:03] voroyam opened #3353 ""not a secure connection" in dev doc"
https://doc.owncloud.com/server/10.0/developer_manual/app/#phpdoc-class-documentation

ownCloud App API

https://api.owncloud.org/namespaces/OCP.html

is not a secure connection

can we do something about this?

[2017-08-29 14:18] voroyam opened #3354 "Sync Client doc"
https://doc.owncloud.com/server/10.0/user_manual/

ownCloud Desktop Client

goes to the org site

https://doc.owncloud.org/desktop/latest/

should go to the com site

https://doc.owncloud.com/desktop/latest/

---------------------

https://doc.owncloud.com/desktop/latest/installing.html

"You can download the latest version of the ownCloud Desktop Synchronization Client from the ownCloud download

[2017-08-29 15:14] tboerger commented on #3353
Solved

[2017-08-29 15:14] #3353 closed

[2017-08-29 15:16] tboerger commented on #3350
Why are you doing this? We got `owncloud/base:latest` to launch any ownCloud version tarball. And even for git checkouts I'm working on an image that will also be used within our CI pipeline.

[2017-08-29 15:41] michaelstingl commented on #3350
@voroyam Which problem are you trying to solve?

[2017-08-29 15:45] voroyam commented on #3350
I was asked by @settermjd if I could write a documentation on how to install owncloud in docker, so I did.

[2017-08-29 15:48] jnweiger commented on #3350
Please make sure end user documentation is in sync with https://github.com/owncloud-docker/base/blob/master/Dockerfile

[2017-08-29 15:51] michaelstingl commented on #3350
@voroyam @settermjd I would propose, better improve documentation how to use award-winning [ownCloud-docker](https://github.com/owncloud-docker) that is available here:
https://hub.docker.com/r/owncloud/

This is also the base for our UCS appliance.

[2017-08-29 16:00] tboerger commented on #3350
I don't understand why the packages within the container should be documented at all. The usage of the containers should be documented, not the packages inside of them.

[2017-08-29 16:01] voroyam commented on #3350
I think the docker image of @tboerger is of course better but requires understanding in docker compose.
My documentation is simply how to install onwCloud in docker with one container. It requires basic docker knowledge.
I am not sure what we want, or what would be better.
Either way - I was asked to do something, so I did.

[2017-08-29 16:29] tboerger commented on #3350
It doesn't require docker-compose knowledge, the server readme also describes how to launch it with plain docker commands.

[2017-08-29 16:29] tboerger commented on #3350
It should never be required to install owncloud in docker manually, it's common to use images provided by a vendor.

[2017-08-29 16:30] #3350 closed

[2017-08-30 10:05] felixboehm commented on #3350
Ok, clarified task with @voroyam
Will find someone to create docs on how to use existing ownCloud docker images

[2017-08-30 19:09] voroyam opened #3357 "10.0.2 Warning message link"
The "Fililocking" link to the docs goes to a 404.

https://doc.owncloud.org/server/10.0/admin_manual/configuration_files/files_locking_transactional.html

if I change the 10.0 to a 9.0 I get the right page.

same goes for

PHP memory cache

https://doc.owncloud.org/server/10.0/admin_manual/configuration_server/oc_server_tuning.html

Also the "Admin Tips" link is also dead.

![warning](https://user

[2017-08-31 10:56] jvillafanez opened #3358 "New wnd:listen-service"
Relevant info in https://github.com/owncloud/windows_network_drive/pull/120#issue-240610353

Note that this "new" service is recommended to replace the "old" one in the places where the SMB notifications are expected to be placed, so the related documentation about how to setup the service might need to be changed.

@settermjd

[2017-08-31 13:29] tomneedham opened #3359 "Minimum supported galera verison"
We should document that at least 1.3.0 is required if using maxscale/galera.

This is because of a bug with last_insert_id which is not routed to the master node which could cause loops within our code and/or corrupted db rows.

ref: https://jira.mariadb.org/browse/MXS-220

[2017-08-31 14:26] pmaier1 opened #3360 "10.0.3 Release Notes"
For the official 10.0.3 release we need to gather release notes. They need to contain the known issues [here](https://github.com/owncloud/core/issues/28685). In addition we need to dig through the [changelog](https://github.com/owncloud/core/blob/stable10/CHANGELOG.md) and identify the items where admins need to be informed, take action or need to decide on the future handling (e.g. changed defaul

[2017-08-31 17:47] PVince81 commented on #3360
Adding the only one I know of here:
- known issue: SFTP + keypair regression: #28669 => deferred to later

So far I'm not aware of other known issues. There are some things not working properly in the last beta but I plan to revert stuff before RC1 if we don't have a proper solution until then.

[2017-09-01 09:46] voroyam opened #3361 "Appliance Documentation: How to add Groups and Users in UCS for ownCoud"
It would be nice to have the process documented, how you can add Groups and Users in UCS and see them in ownCloud. It's actually really easy, but you got to know how.

Here are the steps:

1. Go you "Favorites"

![g1](https://user-images.githubusercontent.com/24212810/29964521-9628fda2-8f0a-11e7-8dd1-81d36f1bb5a6.png)

2. Go to Users and add a new user
![g2](https://user-images.githubusercontent.c

[2017-09-01 10:26] kdslkdsaldsal commented on #3357
Probably just a matter of backporting https://github.com/owncloud/documentation/pull/3320

[2017-09-01 10:33] yoniy0 commented on #3357
The correct link for version 10.0 documentation is https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/files_locking_transactional.html

The underscore in `configuration_files` changed to a slash `/`.

[2017-09-03 21:46] Enverex commented on #3244
This still appears to be an issue. What was the expected timeframe on fixing this?

[2017-09-04 08:13] CaptionF opened #3363 "upgrade to version 10 refers to upgrade from 9.0 to 9.1"
to my understanding we have specific documentation for each version.

With this philosophy it seems to be strange to see the following information in red:
This documentation shouldnt refer to upgrades from 9.0 to 9.1
The reader gets the impression, this is the wrong document. If the information is still the case, we should outline that by upgrading from 9.0 or 9.1 with Calendars or Addressbooks  t

[2017-09-04 08:28] CaptionF opened #3364 "please move upgrade procedures sub-chapters from main chapter "Maintenance" into main chapter "Upgrading""
As major chapter Upgrading has been introduced,
wouldnt it make sense to MOVE the sub-chapters from the maintenance  main-chapter into the main-chapter Upgrading?

![image](https://user-images.githubusercontent.com/10551219/30017715-8a2dad70-915a-11e7-9993-7c8cba574690.png)

Maybe adding a special note about enterprises environments where we only recommend manual ownCloud Upgrade (via tar ball)

A

[2017-09-04 08:34] CaptionF commented on #3363
We shall introduce upgrade sections dependent on the version the ownCloud instance is running.

<= 8.2, 9.0, 9.1  direct migrations with 10.0.3 possible?

[2017-09-04 09:26] felixboehm commented on #3361
@settermjd can you add this to our appliance docs?

[2017-09-04 11:55] settermjd commented on #3265
@tboerger thanks for the feedback. PR created.

[2017-09-04 12:11] settermjd commented on #3244
This should be rectified today.

[2017-09-04 12:18] settermjd commented on #3354
Looking into these now.

[2017-09-04 12:42] kdslkdsaldsal commented on #3364
I guess this is more or less related to https://github.com/owncloud/documentation/issues/3346

[2017-09-04 13:05] settermjd commented on #3354
I've created PRs for points 2 & 3. But point one can't be changed, as Sphinx-Doc isn't domain-aware.

[2017-09-04 13:08] settermjd commented on #3354
I'm trying to find out if there is any possibility in the Sphinx-Doc Slack channel, but I don't believe there is.

[2017-09-04 13:12] settermjd commented on #3361
Sure can @felixboehm

[2017-09-04 15:08] kdslkdsaldsal commented on #3357
Fixed with https://github.com/owncloud/documentation/pull/3365, see e.g. https://doc.owncloud.org/server/10.0/go.php?to=admin-transactional-locking

[2017-09-04 15:08] #3357 closed

[2017-09-04 16:58] phil-davis opened #3369 "Document occ security:routes command"
(to be) added in core PR https://github.com/owncloud/core/pull/28901

[2017-09-05 09:46] PVince81 commented on #3081
Any update ? This is a rather important thing I think

[2017-09-05 13:19] settermjd commented on #3363
I believe there's a conditional include directive in rst. I'll see if I can use that to good effect here.

[2017-09-05 14:19] settermjd commented on #3363
I've figured out how to conditionally include information in the documentation, such as version-specific notes and admonitions. It's going to take a bit of work to find all the spots and include that information, along with upgrading the build process, but it works.

[2017-09-06 07:29] settermjd commented on #3081
Sorry, it slipped through. Back on it today.

[2017-09-06 08:52] settermjd opened #3373 "Remove version-specific notes from unrelated branches"
If a version-specific note isn't applicable to a given version, it is to be removed.

[2017-09-06 08:54] settermjd opened #3374 "Document how to deploy ownCloud using Docker"
Document how to deploy both a single and multi-server/container setup using Docker, likely using DigitalOcean as the host. [This guide on Master Zend Framework](https://www.masterzendframework.com/docker-from-development-to-deployment/) provides a lot of information that could be used as a foundation for the guide.

[2017-09-06 09:29] mmattel commented on #3369
@phil-davis @butonic
Needs not only to add this occ command, but also to rewrite the security text to reflect this command.
The original text is about to manage server-wide SSL certificates...
see ``admin_manual/configuration/server/occ_command.rst#security``

To be honest, the first attempt from @DeepDiver1975 in https://github.com/owncloud/core/pull/28642/files having this in ``maintenance:route

[2017-09-06 09:41] phil-davis commented on #3369
I just added this doc issue here so that it would not be forgotten.
@butonic is there a reason that you put this under ``security`` rather than somewhere else like ``maintenance`` ?

[2017-09-06 10:14] haukman opened #3375 "[FR] Collect error messages that appear to an ownCloud user"
Would be good the have a section inside the documentation that collects all the available error messages in the WebUI/Desktop Client/iOS- and Android-App. In addition to that it would make sense to also provides the most likely source of this error and how to resolve it.

[2017-09-06 12:59] settermjd commented on #3081
This is slow going, but here's what I've found, so far:

When attempting to upgrade from 9.0.9, I get the following output in the console:

[code]

When attempting to upgrade from 9.0.10, I get the following output in the console:

[code]

[2017-09-06 14:22] butonic commented on #3369
When using Big-IP F5 you can tell it the valid URLs used by oc. I needed a list, so I put it under security. Just found out that @DeepDiver1975 also worked on this.

[2017-09-06 14:41] patrickjahns commented on #3369
@butonic
Did the command return the correct list or do we need more for this to work?

[2017-09-06 14:51] mmattel commented on #3369
@butonic
From this perspective it is understandable to have that in security.
In this case, the security text needs rewriting which btw makes this open to additional security commands.

This is a good hint for admins, should be used, maybe with a different wording to highlight the use case.
Pls do also document the different output formats with examples (table, json, json-pretty)