[2018-06-19 08:57] voroyam commented on #4063
https://github.com/owncloud/documentation/pull/4212

[2018-06-19 17:17] phil-davis opened #4214 "files:scan doc is missing the --groups option"
https://doc.owncloud.org/server/10.0/admin_manual/configuration/server/occ_command.html

files:scan has a ``--groups`` option. It is mentioned in text, but is not in the command help output.

[2018-06-19 17:21] phil-davis opened #4215 "Modify doc for files:scan --groups"
https://github.com/owncloud/core/pull/31719 proposes to modify the ``files:scan --groups`` option so that each of multiple groups are listed by specifying the option multiple times e.g.:
[code]
This allows the sysadmin to scan a group that has a literal comma in its name - e.g. ``a,b``

New help output is:
[code]

Update the doc, if the PR is merged.

[2018-06-21 10:39] PVince81 commented on #4172
@Vicdeo can you add the code block in this ticket ?

[2018-06-24 17:07] LoZio opened #4224 "Outdated doc about external storage"
Here https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/external_storage/ftp.html you can read about FTP support that is not in OC in 10.0.8 (I'm using that).
You need an external plugin https://marketplace.owncloud.com/apps/files_external_ftp that is not referred anywhere.

[2018-06-25 12:04] cdamken commented on #3919
Before I forget again to write something: For discussion:

For the MariaDB  with 1 CPU:

add in /etc/sysctl.d/99-sysctl.conf
vm.swappiness=1

add in /etc/mysql/mariadb.conf.d/50-server.cnf

key_buffer_size         = 32M
table_cache            = 400
query_cache_size        = 128M

#in InnoDB seccion:
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=1
innodb_log_file_size=256Mser
innodb_l

[2018-06-25 12:17] cdamken commented on #3592
I think this is solved with the new documentation? (http://doc.owncloud-demo.com/owncloud-docs/)

[2018-06-26 08:22] patrickjahns opened #4226 "Update information on how to get started with theme-example"
With 10.0.9 - theme example is removed from release tarballs and resides in https://github.com/owncloud/theme-example

Please reflect this in the documentation so no further confusion is caused for people starting with their personal theme

[2018-06-26 18:28] michaelstingl commented on #4226
@settermjd and @voroyam created a script a while ago. This should be adjusted, maybe start with `wget https://github.com/owncloud/theme-example/archive/master.zip` or something…

https://github.com/owncloud/documentation/blob/f5b1d3b77273fa8786e0d20f03d9c68c41d54347/developer_manual/core/theming.rst#L25

[2018-06-27 11:44] settermjd opened #4229 "Add More Hardening Documentation"
Here are some ideas:

- Suggest including [PassProtect](https://github.com/OktaSecurityLabs/passprotect-js) browser extension
- Document security-related response headers to send
- Document how to review the existing headers via [securityheaders.io](securityheaders.io)

[2018-06-28 07:48] settermjd commented on #4226
Thanks @patrickjahns @michaelstingl

[2018-06-29 09:37] #3178 closed

[2018-06-29 09:48] #2937 closed

[2018-06-29 09:57] PVince81 commented on #4202
AFAIK the changes are as follows:
- [ ] document "auto-accept" checkbox setting from sharing page
- [ ] find sections related to sharing and add section about accept/rejecting shares in case the option "auto-accept" is disabled
- [ ] existing OCS endpoint for retrieving shares has a new optional "state" query parameter to query shares with or without pending ones
- [ ] new OCS endpoints for accept

[2018-06-29 09:58] PVince81 commented on #4202
will schedule this in next sprint as putting this info together will take some time

0.5md?

[2018-06-29 10:11] PVince81 commented on #4168
Some ideas of topics:

- copy some of the docs from the README of the app
- installing and configuring
    - point to config.php setting with some sample values for this one
- how to migrate from the old objectstore app to this one (later, pending concept)

[2018-06-29 10:13] PVince81 commented on #4107
is this page generated based on CHANGELOG.md ? this file contains an "Unreleased" section for now until 10.0.9 is out.

maybe we can already set this header to 10.0.9 while still in RC ? the problem is that the changelog entries might still change until final is out

[2018-06-29 12:47] jvillafanez commented on #4202
I'm not sure if I did some testing of the OCS endpoints outside of the regular web UI interaction, so it will take a bit of time to gather accurate information to properly use the OCS endpoints from the outside. I'd say 1md to gather the information, at least on my side.

[2018-06-29 13:34] mmattel commented on #4214
Closing because of merged PR

[2018-06-29 13:34] #4214 closed

[2018-06-29 13:39] mmattel commented on #4198
Do not close until https://github.com/owncloud/documentation/pull/4207#issuecomment-397298995 (backport to stable10) is made.

[2018-06-30 14:13] mmattel opened #4233 "Document: command to explicit create a S3 bucket (files_primary_s3)"
Refernces: https://github.com/owncloud/files_primary_s3/pull/80 (Adding command to explicit create a bucket)

[2018-07-02 06:56] mmattel opened #4234 "Document: system:cron (Run background jobs as cron)"
References: https://github.com/owncloud/core/pull/31914 (Have a real controller handling cron requests)

@DeepDiver1975

[2018-07-02 08:55] PVince81 commented on #2864
Notes:

- the header "OC-Chunked" should **not** be used any more for new chunking
- headers to send during final MOVE from ".file" to target location:
    - header "X-OC-Mtime" can be used to set the mtime
    - header "OC-Total-Length" should contain the total length of the file. This is used for verification when chunks are assembled. In case of mismatch, the server will return 400 Bad Request

[2018-07-02 08:57] PVince81 commented on #2864
New chunking goes like this:

- MKCOL http://localhost/owncloud/remote.php/dav/uploads/$userId/$transferId/
- PUT chunk 1 to http://localhost/owncloud/remote.php/dav/uploads/$userId/$transferId/0
- PUT chunk 2 to http://localhost/owncloud/remote.php/dav/uploads/$userId/$transferId/1
- PUT chunk 3 to http://localhost/owncloud/remote.php/dav/uploads/$userId/$transferId/2
- ...
- PUT chunk 999 to htt

[2018-07-02 11:02] phil-davis commented on #4211
Doc PR #4235

[2018-07-02 17:18] sp31415t1 opened #4236 "Improve documentation for custom webdav property about file hash"
https://doc.owncloud.org/desktop/2.4/architecture.html#custom-webdav-properties

That page is mentionning some custom property, but there is nothing about file hash.
I have access to an owncloud server which return oc:remoteChecksum. But I don't know when it's supposed to be present or not.
I notice it is empty for directory and for file provided by account creation.
I will be happy to learn more

[2018-07-04 07:35] CaptionF opened #4238 "Documentation - add example of Bearer authentication via curl"
Why:
for a project I need to show how oauth can be used for authentication on a webdav call via a curl.

[2018-07-04 09:36] PVince81 opened #4239 "Add known limitations to "save in session" aka session credentials of external storages"
Expand this section https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/external_storage/auth_mechanisms.html#password-based-mechanisms

Because of the way how credentials are stored, any operation that is not performed by the logged-ni mount owner cannot work because the credentials are not stored anywhere.

It needs to have a visible list of known limitations:
- sharing the sto

[2018-07-04 17:04] jvillafanez opened #4241 "Document new search API"
Most of the information should be in https://github.com/owncloud/core/pull/31873

https://github.com/owncloud/core/issues/25373#issuecomment-401040193 also contains some interesting information about how to check the available reports for that folder.

There is also a capability entry in the OCS capabilities endpoint for this.

[2018-07-05 08:22] butonic opened #4242 "Document IAccountModules / (Pluggable) Authentication Modules"
Following https://github.com/owncloud/core/issues/31546#issuecomment-402642319 we added IAccountModules. Developer docs should get an example on how to implement them.

[2018-07-05 09:18] voroyam opened #4243 "DB conversion missing steps"
The current version of the document does not work if someone would try to convert his DB.

Need to fill in the missing steps.

[2018-07-05 09:54] PVince81 opened #4244 "List of all Webdav properties"
- oc:checksum
- ...

Best is to look at the network console when the files app is doing a query as it already contains a lot.

[2018-07-05 10:03] voroyam opened #4246 "Federated Shares SSL requirement."
"For security reasons federated sharing (sharing between different ownCloud instances) strictly requires HTTPS (SSL/TLS)."

This sentence have to go in to the federated share docs.

Also the link to the configuration wizard at the bottom of the page makes no sense to me.

[2018-07-05 12:10] voroyam commented on #4246
https://github.com/owncloud/documentation/pull/4247

[2018-07-05 12:13] voroyam commented on #4063
merged, closing

[2018-07-05 12:13] #4063 closed

[2018-07-05 13:13] PVince81 commented on #4079
I looked found the original PR that introduces the command: https://github.com/owncloud/core/pull/23844 and confirmed locally:

Enable user: `curl -X PUT -u admin:admin http://localhost/owncloud/ocs/v1.php/cloud/users/user1/enable`
Disable user: `curl -X PUT -u admin:admin http://localhost/owncloud/ocs/v1.php/cloud/users/user1/disable`

@voroyam would that be enough info to start with ?

[2018-07-05 13:32] phil-davis commented on #4079
Indeed - although in PHPstorm I can right-click Goto->Implementation on the step text of a feature file and it will take me straight to the method/function that implements the step. If you keep drilling down, eventually something makes a real call to the API :smile:

[2018-07-05 14:02] voroyam commented on #4079
That would imply that I have and know PHPStorm :)

I am just the substitute docs guy

[2018-07-05 14:51] voroyam commented on #4224
Thanks for noticing. I will rewrite the document and include this plugin

[2018-07-05 14:53] voroyam commented on #4226
Sorry for unassigning you @michaelstingl and @ChrisEdS I misclicked.

I will take care of the script change.

[2018-07-05 14:59] voroyam commented on #4179
I have rewritten the current document for the encryption. Many things were dropped as result.

@mmattel can you tell me exactly what you are looking for?

I am unaware of limitations that would only work with master key.

Also this might be a unnecessary pursuit because user key will become deprecated in the future.

Or am I wrong in this issue?

[2018-07-05 15:02] voroyam commented on #4151
Thanks

[2018-07-05 15:02] #4151 closed

[2018-07-05 15:03] voroyam commented on #4136
@settermjd manual installation?

[2018-07-05 15:06] voroyam commented on #4062
@felixheidecke is this still relevant?

[2018-07-05 15:09] voroyam commented on #4055
So it should be documented, right?

Can you tell me where? @butonic

[2018-07-05 15:11] voroyam commented on #4024
That’s a great suggestion.

I think if the parameters are in code boxes, you can’t find them in search. At least in the current doc.

[2018-07-05 15:13] voroyam commented on #3985
Hm. Since I plan to work on the theming doc I could add this.
 But I still need to know what exactly to write :)

[2018-07-05 15:16] voroyam commented on #3975
I like this idea. Let’s chat about the details.

The script for setting permissions should be included in that list.

[2018-07-05 15:17] voroyam commented on #3940
Merged

Closing

[2018-07-05 15:17] #3940 closed

[2018-07-05 15:21] voroyam commented on #3921
I have seen a few of restructure issues in here. Maybe we should sum them up in one? @settermjd

[2018-07-05 15:22] voroyam commented on #3919
Where should this go? Server configuration? @cdamken

[2018-07-05 15:43] PVince81 commented on #3985
okay, now I saw https://doc.owncloud.com/server/10.0/admin_manual/configuration/server/email_configuration.html#using-email-templates, it should just be a matter of adding the two new templates inside that table:

with a description saying that these are the templates for any ownCloud notification (like the bell icon) that will be sent. The format of the default notification is defined here as an

[2018-07-05 15:44] PVince81 commented on #3985
@voroyam in case you aren't clear about what it is, go to a test OC instance in the sharing settings and untick "Automatically accept shares". Then share something with your user. You'll see the bell icon displaying a notification on the top right. The contents of that notification is also sent by email using the above template.

[2018-07-05 17:31] voroyam commented on #3834
Text formatting.

It goes from nowhere to point 8.

in the text there are #. which I suppose should be bullet points or numbers.

The URLs should be in a code block.

The existing code block should be formatted so that it fits on a page.

the troubleshooting links at the bottom either send you to a BlackBerry guide or to the general guide, but nothing specific about calendar on mac.

also, at the

[2018-07-05 17:34] voroyam commented on #3985
Okay, will do

[2018-07-05 18:16] mmattel commented on #3852
correct. screen and description structure should match

[2018-07-05 20:37] michaelstingl commented on #3834
@settermjd Could you help @voroyam fix the formatting in the new _AsciiDoc_ sources? (too late to learn proper _reStructuredText_)

[2018-07-05 21:11] tomneedham commented on #3919
IMO avoid actual numbers. Everything is usually a rough percentage of disk space, ram, and cpu cores

[2018-07-06 04:20] phil-davis commented on #4211
Released in Firewall ``2.6.0``
Doc PRs have been merged.

[2018-07-06 04:20] #4211 closed

[2018-07-06 05:00] phil-davis commented on #4079
PR #4249 to review

[2018-07-06 06:11] DeepDiver1975 commented on #3834
Thx for clarifying. I thought it was broken from a content pov

[2018-07-06 13:02] PVince81 commented on #4172
We still need to document the new methods.

@VicDeo can you provide more background for @settermjd for what steps to go through and where to put the above pasted snippets ?

[2018-07-06 15:33] PVince81 commented on #4241
@settermjd please let us know if that's enough information to start

[2018-07-06 15:33] PVince81 commented on #4241
Estimate 1md or more depending how difficult it is to add code examples / tables ?

[2018-07-06 15:37] VicDeo commented on #4172
@settermjd @PVince81 please let me know if it is still not descriptive enough

[2018-07-06 15:39] PVince81 commented on #4168
I asked @deepdiver1975 and he confirmed that to migrate all one needs to do is to adjust the config.php.

Now would be good to know what exactly to change for the docs ? @DeepDiver1975 mind posting or is there a link that already explains this ?

[2018-07-06 15:41] PVince81 commented on #4168
@DeepDiver1975 I've assigned you to provide raw/rough information to be added to the documentation so @settermjd can put it in.

[2018-07-06 16:06] VicDeo commented on #4172
## Emails
1. We have 2 common templates for email footer. As any email has both html and plaintext parts
2. If OC has a link to Imprint/Privacy Policy  set it is displayed in the email footer
3. These footers are included in all core email notifications automatically
4. Any app developer can reuse these footers using snippets from my previous post
5. If it is necessary to adjust markup or use diff

[2018-07-08 11:44] mmattel opened #4252 "Doc improvements for commands occ config:xxx necessary"
The command set config:xxx is documented vary basic and not with all parameters available.
Pls see:  https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/server/occ_command.rst#L329

I came across this with https://github.com/owncloud/core/issues/32006

**Based on the example:**
[code]

**But this is currently documented:**
[code]

**Missing in the example above:**
- ``

[2018-07-09 07:13] davitol opened #4254 "Update info shown in What’s New in ownCloud section"
https://doc.owncloud.org/server/10.0/user_manual/whats_new.html

The URL above shows:

[code]

we should update the documentationwith the important changes in every new version

[2018-07-09 07:20] phil-davis opened #4255 "Review API examples"
See comment https://github.com/owncloud/documentation/pull/4249#issuecomment-402943648

- ``Authentication is done by sending a Basic HTTP Authorization header``
This should be clarified more. I strongly believe that it is meant to authenticate the request itself and not the user to be enabled/disabled. What about:
``To authentication this request by a user who has proper ownCloud rights, you need

[2018-07-09 08:33] PVince81 commented on #4172
Thanks, that looks clearer. @settermjd please check it

[2018-07-09 08:49] felixheidecke commented on #4062
@voroyam yeah … still is. Haven't attended to it yet :-P

[2018-07-09 09:03] voroyam commented on #4166
There is no QA docs yet @PVince81

[2018-07-09 09:07] voroyam commented on #4062
well, if it's easy, I thought that it would be done in no time :)

[2018-07-09 10:16] cdamken opened #4256 "For security reasons debug => true in config.php should never be in production systems"
when you set 'debug'=>true in the config.php exceptions will show the trace on the web interface, inclusive passwords in plain text!

This is a good reason not to use it in production

[2018-07-09 10:51] settermjd commented on #4256
Thanks for creating this, @cdamken. Definitely top of the priority list atm.

[2018-07-09 10:51] settermjd commented on #4255
Closing, as it has been implemented and backported.

[2018-07-09 10:53] settermjd commented on #4254
Right you are, @davitol. Adding this to the priority todo list.

[2018-07-09 10:57] #4079 closed

[2018-07-09 11:35] phil-davis commented on #4255
This one is about the more general comments that @mmattel made during the review of that referenced PR that is merged. We should have some discussion of those (see original post above). If any are to be implemented then a more general search/replace will need to be done.

[2018-07-09 12:45] mmattel opened #4257 "Improvement: Remove CleanupChunks background job"
Referencing merged: https://github.com/owncloud/documentation/pull/3799 (Remove CleanupChunks background job)

The text can be improved when the backport of
https://github.com/owncloud/core/pull/31630 (Adding background:queue commands: status and delete) (merged)
Because you can use the new occ command to do so.

@PVince81

@DeepDiver1975 @butonic pls take care that 31630 is merged in master but n

[2018-07-09 12:55] PVince81 commented on #4201
Here are more detailed steps for an admin to restore an encrypted file "files/restorethis.txt" located in the storage of a user "user1":

1. Find store numeric id in oc_storages (likely need other docs about this due to trickiness of said table: https://github.com/owncloud/core/wiki/Storage-IDs). Write down numeric id as `$storageNumericId`
1. In the **real instance**, find the oc_filecache entry

[2018-07-09 13:10] micbar opened #4258 "Document how to create WND Drives using occ"
Create Shares programmatically
---

Some customers ask Support for creating new shares by command line scripts. This is not documented in our current documentation.
I am aware of two different approaches.

### 1. occ files_external:create

**One liner**
`occ files_external:create /WND windows_network_drive password::logincredentials --config={host=127.0.0.1,share='home',root='$user',domain='ownclo

[2018-07-09 14:20] voroyam commented on #4258
This looks very good, and makes it very easy to implement this in to the docs. Thank you @micbar

[2018-07-10 07:14] settermjd commented on #4257
Thanks @mmattel. https://github.com/owncloud/core/pull/31630 has been merged. As soon as this issue's in a sprint, I'll get it done.

[2018-07-10 07:59] mmattel commented on #4257
pls see also #4198 for the occ command reference (to be created)

[2018-07-10 08:09] #4256 closed

[2018-07-10 09:15] voroyam commented on #3028
seemd to be important at the time

[2018-07-10 11:32] #4201 closed

[2018-07-10 11:50] settermjd opened #4264 "Style the new Antora documentation build"
Update the styling in [the test deploy of the Antora build](http://doc.owncloud-demo.com/owncloud-docs/) to, as close as is meaningful, match [the existing ownCloud documentation](https://doc.owncloud.org/).

[2018-07-10 11:52] PVince81 commented on #4264
I suggest we do this after we merged the PR to master.

@felixheidecke I'd schedule this in the upcoming sprint. I hope it's not too much work.

[2018-07-10 13:47] voroyam commented on #1884
What exactly has to go in the documentation?

[2018-07-10 13:48] voroyam commented on #2023
Is this not obsolete with the change to the new antora docs?

[2018-07-10 13:49] voroyam commented on #2070
8.2 is OOL, so is the docs.

Can we close this?

[2018-07-10 13:50] voroyam commented on #2120
If this should go in the dev docs, we need a developer to formulate what need to go in the docs.

[2018-07-10 13:51] voroyam commented on #2132
What exactly has to go in the documentation?

[2018-07-10 13:52] voroyam commented on #2145
Need developer input.

[2018-07-10 13:53] voroyam commented on #2159
PR for this issue is merged - can we close this?

[2018-07-10 14:01] voroyam commented on #2196
with the plan to switch to antora docs, is this issue obsolete?

[2018-07-10 14:02] voroyam commented on #2212
since 9.0 is OOL, can this be closed?

[2018-07-10 14:04] voroyam commented on #2224
is someone working on this? last change was 2016.

@PVince81 can you specify what exactly is missing from the documentation? And where to put it.

[2018-07-10 14:06] voroyam commented on #2338
document no longer available, can this be closed?

[2018-07-10 14:34] PVince81 commented on #2070
this feature still exists, need API docs and developer input

[2018-07-10 14:44] voroyam commented on #343
https://www.transifex.com is an option

[2018-07-10 14:44] #343 closed

[2018-07-10 14:46] PVince81 commented on #1884
to raise again if the core ticket is ever done

[2018-07-10 14:46] #1884 closed

[2018-07-10 14:57] PVince81 commented on #2212
still to be done

[2018-07-10 15:00] PVince81 commented on #2224
the new endpoint still exists.

maybe we could gather all DAV related tickets into a single one ?

[2018-07-10 15:06] voroyam commented on #2886
@mmattel your PR in this issue is closed, does it mean this issue can be closed or is there something that needs to go in the docs?

[2018-07-10 15:08] voroyam commented on #2929
@settermjd your PR is merged, can this be closed?

[2018-07-10 15:23] voroyam commented on #2967
how do you install this mod? @butonic

[2018-07-10 15:25] PVince81 commented on #2023
the Asciidocs will need restyling, so this ticket could be addressed as well as part of #4264

[2018-07-10 15:29] voroyam commented on #2997
is this still relevant in the wake of the new docs?

[2018-07-10 15:31] PVince81 commented on #2997
yes, it's part of the plan for the new docs to merge them.

[2018-07-10 15:44] voroyam commented on #2998
@dercorn provided this very useful script. I will make some comments to explain each line and PR it in to the docs.

### Configure log rotation for the owncloud.log
[code]

[2018-07-10 15:59] voroyam commented on #2998
https://github.com/owncloud/documentation/pull/4267

[2018-07-10 16:08] #2996 closed

[2018-07-10 16:14] mmattel commented on #2886
as @PVince81 wrote in the corresponding core issue (a year ago)

I have not tried it with an updated version. Someone should try it to be sure. I have currently very limited time to do so... In case others have time constratints too, close

[2018-07-10 17:04] voroyam commented on #3028
This PR is merged https://github.com/owncloud/documentation/pull/3569

Were the changes in the PR insufficient?

[2018-07-10 17:05] voroyam commented on #3040
@sharidas what exactly needs to be documented where?

[2018-07-10 17:08] voroyam commented on #3078
what's the status on this issue?

[2018-07-10 17:10] voroyam commented on #3081
so it works and has been implemented in the docs? @settermjd

[2018-07-10 17:12] voroyam commented on #3115
to what step should this be added?

also the options are for the `value` I assume?

@tomneedham

[2018-07-10 17:14] voroyam commented on #3157
@lefherz can you confirm that this is still an issue? The appliance doc has been updated since

[2018-07-10 17:16] voroyam commented on #3169
@haukman what form needs to be filled out? can you post a link?

Also the documentation is for users and admins, right?

Organisations mostly buy support from us and we do it for them in deployment?

[2018-07-10 17:17] voroyam commented on #3193
@tomneedham please clarify what has to go where

[2018-07-10 17:21] voroyam commented on #3244
settermjd commented on 4 Sep 2017

what's the status on this issue? @settermjd

[2018-07-10 17:21] voroyam commented on #3243
https://github.com/owncloud/documentation/issues/3244#issuecomment-403901146

[2018-07-10 17:23] voroyam commented on #3267
what's the status on this issue?

[2018-07-10 17:29] mmattel commented on #2967
I guess there was a typo in @butonic issue description:

I believe it is meant ``mod_unique_id``

Pls see:
https://httpd.apache.org/docs/2.4/mod/mod_unique_id.html

As a hint how to enable:
https://vpsrobots.com/documents/how-to-enable-apache-mod_unique_id-on-linux-with-vpsrobots.html
``a2enmod unique_id``

[2018-07-10 17:30] voroyam commented on #3285
Can this be resolved?

[2018-07-10 17:55] michaelstingl commented on #3240
Desktop search still contains many server results:
https://doc.owncloud.com/desktop/latest/search.html?q=ssl&check_keywords=yes&area=default

Please move forward with new docs!

[2018-07-11 08:38] voroyam commented on #3293
A direct link to the section where the modules are listed is required. The current link, links to the .org site, that is a general info about the installation without any modules.

oh god. The link get's redirected somehow.
this:
https://doc.owncloud.org/server/latest/admin_manual/#installation
gets redirected to this:
https://doc.owncloud.com/server/latest/admin_manual/#introduction

What I want

[2018-07-11 08:47] voroyam commented on #3293
16.04

[code]

[2018-07-11 09:37] voroyam commented on #3293
18.04

[code]

[2018-07-11 09:57] voroyam commented on #3293
https://github.com/owncloud/documentation/pull/4268

[2018-07-11 10:16] voroyam commented on #3267
the issues summed up:
#3263
1. login as admin
2. navigate to the apps page
3. open description of "Provisioning API"
4. click on "Admin documentation"

the link takes you to a not existing page https://doc.owncloud.org/server/10.0/admin_manual/configuration_user/user_provisioning_api.html
the correct localition is https://doc.owncloud.org/server/10.0/admin_manual/configuration/user/user_provisioni

[2018-07-11 10:17] voroyam commented on #3263
closing this, fix in the https://github.com/owncloud/documentation/issues/3267

[2018-07-11 10:17] #3263 closed

[2018-07-11 10:17] voroyam commented on #3244
closing this, fix will be in https://github.com/owncloud/documentation/issues/3267

[2018-07-11 10:17] #3244 closed

[2018-07-11 10:23] voroyam commented on #2967
Can we please not work with "hints" ?

If you know something and I want to do the work and make a PR for the docs to improve - can't you simply tell me what you know?

[2018-07-11 10:29] voroyam commented on #3289
https://github.com/owncloud/documentation/pull/4269

[2018-07-11 10:34] voroyam commented on #3297
most if not all of those stuff is already done. closing

[2018-07-11 10:34] #3297 closed

[2018-07-11 10:38] voroyam commented on #3304
@PVince81 is this a feature request or something we actually need?

[2018-07-11 10:39] voroyam commented on #3293
found an old issue of mine, will post it here, and implement it:

https://doc.owncloud.com/server/10.0/developer_manual/general/devenv.html

I as a noob have tried to install the dev env with the doc, and failed. I suggest we make the following changes, to make things easier:

--------------

## "Note" Suggestions, for the beginning of the page

-  System has to be up to date

- Does not work with

[2018-07-11 10:39] voroyam commented on #3293
https://github.com/owncloud/documentation/issues/3307

[2018-07-11 10:39] voroyam commented on #3307
closing here, will fix in https://github.com/owncloud/documentation/issues/3293

[2018-07-11 10:39] #3307 closed

[2018-07-11 10:42] patrickjahns opened #4271 "[files_antivirus] HTTP status code has changed"
ref: https://github.com/owncloud/files_antivirus/issues/221#issuecomment-382495899

Status code for infected files has changed from `415` to `403`

[2018-07-11 10:43] mmattel commented on #2967
ping me on talk

[2018-07-11 12:01] pmaier1 commented on #3078
There will soon be a native "Brute-force protection" app that will cover requirements on application level and does not require much configuration (Actually it's already there: https://marketplace.owncloud.com/apps/security; will get a re-release soon only containing brute-force protection capabilities). In some scenarios fail2ban might still be beneficial. It looks like the documentation on f2b h

[2018-07-11 12:16] pmaier1 opened #4273 "Document new password_policy features"
https://doc.owncloud.com/server/10.0/admin_manual/configuration/server/security/password-policy.html

- Password policy went from Enterprise to Community (OCL => GPLv2) with a new major release (2.0.0)
- New features have been implemented to impose policies on local users (not LDAP or any other user backend)
  - Forced password expiration
  - Forced password change on first login
  - Password hist

[2018-07-11 13:48] voroyam commented on #3837
Issue persists, the upgrade page is still with faulty information.

[2018-07-11 13:54] micbar commented on #3837
I propose to delete the part "Upgrading from 9.1 to |Latest|" from the page upgrade.html. this topic is covered in "manual upgrade"

[2018-07-11 14:45] voroyam commented on #3335
link points to a 404, as @settermjd pointed out.

@skriesch if you want to extend instructions for other distributions - pull requests welcome.

propose milestone "someday maybe"

[2018-07-11 14:47] voroyam commented on #3346
@settermjd will this be done?

please milestone this issue so it can be planed / triaged.

[2018-07-11 14:50] voroyam commented on #3364
fix will be here, closing this

[2018-07-11 14:50] #3364 closed

[2018-07-11 14:50] voroyam commented on #3346
@CaptionF pointed something related out:

As major chapter Upgrading has been introduced,
wouldnt it make sense to MOVE the sub-chapters from the maintenance  main-chapter into the main-chapter Upgrading?

![image](https://user-images.githubusercontent.com/10551219/30017715-8a2dad70-915a-11e7-9993-7c8cba574690.png)

Maybe adding a special note about enterprises environments where we only recommend

[2018-07-11 14:53] voroyam commented on #3375
@haukman do you have the

?

[2018-07-11 14:54] PVince81 commented on #4273
assigning self to figure out how that command works and what exactly it does

unclear is whether the app still stores password history even when the expiration rule isn't set

@butonic if you have time please add details to help for the docs

[2018-07-11 14:55] voroyam commented on #3402
@settermjd what needs to be clarified from your POV?

[2018-07-11 14:57] phil-davis commented on #4273
"ten" is configurable - the default is to not allow re-use of the last 3 passwords, the settings let you change that.

[2018-07-11 15:08] voroyam commented on #3375
label someday maybe please

@PVince81

[2018-07-11 15:09] pmaier1 commented on #4273
Ahh, thanks a lot for pointing that out, I was unsure.

[2018-07-11 15:19] voroyam commented on #3375
https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/files/external_storage/google.rst

current process, seems like this screen does not appear anymore

[2018-07-11 15:33] pmaier1 commented on #3375
current process, seems like this screen does not appear anymore

?? Where is the relation and why do you close the ticket?

[2018-07-11 15:36] voroyam commented on #3436
There is a client for Mac for testing:

https://download.owncloud.com/desktop/testing/ownCloud-qt5.10.1-2.4.2.10127rc1.pkg

[2018-07-11 15:54] voroyam commented on #3436
https://github.com/owncloud/client/pull/6645

[2018-07-11 16:00] voroyam commented on #3375
Talked to @haukman

The message from the screenshot does not appear anymore, as documented in my new google drive guide.

that's why I closed this. after talking to hauke.

Do you have other suggestions?

[2018-07-11 16:02] voroyam commented on #3460
@pmaier1 can you provide more information so this can be resolved?

[2018-07-11 16:03] voroyam commented on #3468
need milestone? @PVince81

[2018-07-11 16:05] voroyam commented on #3481
So SMBv1 can not be supported in production but ownCloud can not deal with notifications for SMBv1 or above?

@patrickjahns

[2018-07-12 07:34] PVince81 commented on #3468
backlog. we could also gather this in a bigger "document all the Webdav" ticket

[2018-07-12 07:37] PVince81 commented on #3346
sounds good, would consider in next sprint. Though I wonder if we should wait for the asciidoc migration and avoid moving sections until then

[2018-07-12 09:33] voroyam commented on #3610
Hey @settermjd

Your issue / PR was closed, I don't see any new PR.

Why the "Ready for Review label"? Did I miss something?

[2018-07-12 09:38] voroyam commented on #3621
[code]

This is how it's done in the docker container. The paths can be adjusted I think.

Is this what you were thinking of @mmattel ?

[2018-07-12 09:41] voroyam commented on #3639
issue relevant because we now configure the collabora settings during the setup

[2018-07-12 09:41] #3639 closed

[2018-07-12 09:47] voroyam commented on #3622
Tested with 10.0.8.

Installed calendar app and got no error.

If issue still persists, please reopen. @amandabee

closing.

[2018-07-12 09:47] #3622 closed

[2018-07-12 09:49] voroyam commented on #3629
@guruz how is this a documentation issue? O_o

[2018-07-12 09:52] mmattel commented on #3621
@voroyam yes, that is the oc internal docker config setup. Historically, the second directory got named „config“ (ask @tboerger). We agreed in the referenced issue and PR and in the documentation to use „apps-external“ as directory name.
Having the config setup is one thing, but when you have a system installed without that key everything is in „apps“. When you then set this key, you want to migra

[2018-07-12 09:53] voroyam commented on #3655
@hurradieweltgehtunter Tested, works.

Can you check if the error still persists or if it got fixed in the mean time?

[2018-07-12 09:57] voroyam commented on #3793
@PVince81 so apart from the merged PR in this issue, another PR is required?

maybe @DeepDiver1975 ?

[2018-07-12 10:03] voroyam commented on #3805
So to sum up, @PVince81  you want something along those lines?
[code]

and this should be added here:

![image](https://user-images.githubusercontent.com/24212810/42626827-94a4b544-85cb-11e8-89bd-49c947ed01de.png)

[2018-07-12 10:04] voroyam commented on #3806
PR merged, closing

[2018-07-12 10:04] #3806 closed

[2018-07-12 10:05] voroyam commented on #3829
@phil-davis are you still on this?

[2018-07-12 10:06] voroyam commented on #3834
I suppose this will be fixed in the new docs? @settermjd

[2018-07-12 10:07] voroyam commented on #3837
https://github.com/owncloud/documentation/pull/3949

waiting on review by @settermjd

[2018-07-12 10:11] voroyam commented on #3621
Okay,

1. what are the non core shipped apps? Everything that has to be installed after the ownCloud installation?

2. "Do it properly" . I don't know, just move them in the other directory and specify that directory in the config.php? Would that be enough? I really have no idea.

[2018-07-12 10:12] voroyam commented on #3852
I suggest we do the structure changes in the new antora doc, since it's still in development, and the .rst docs are very fragile.

Do you agree @mmattel @settermjd

[2018-07-12 10:14] voroyam commented on #3912
@PVince81 ^

[2018-07-12 10:23] phil-davis commented on #3829
Yes, and I really should do it so that others can feel more comfortable writing acceptance test scenarios.

[2018-07-12 10:38] tboerger commented on #3621
If you list the installed apps there is a flag to show the shipped apps, so it should be possible to migrate the apps with a pretty simple shell script.

[2018-07-12 10:38] PVince81 commented on #4273
I tested the command:
[code]

[code]

[2018-07-12 10:47] voroyam commented on #3621
is=as?

Sorry I don't understand the sentence :)

So simple you can write one up? ;)

[2018-07-12 10:48] mmattel commented on #3852
ok for me. just let us know how this change is made and visible to review either in this branch or any other

[2018-07-12 10:53] voroyam commented on #3916
@mmattel I don't quite get what you want.

This statement can be applied about the documentation in general, concrete suggestions would be nice.

so  this

https://github.com/owncloud/documentation/blob/master/developer_manual/core/theming.rst

should be move to

here

https://github.com/owncloud/documentation/blob/master/developer_manual/theming.rst

right?

This would require an Index change and

[2018-07-12 10:55] voroyam commented on #3918
okay, we should document this.

But what are the concrete steps to setup  apache without relying on .htaccess ?

@butonic ^

or should this be milestoned to "someday maybe"? @PVince81

Is there a customer request at the moment?

[2018-07-12 10:56] voroyam commented on #3919
@tomneedham and to what percentage would you change that numbers?

[2018-07-12 10:57] voroyam commented on #3921
@settermjd is this still a thing? Was this implemented in the new docs?

Or should this go under "someday maybe" milestone? @PVince81

[2018-07-12 10:58] voroyam commented on #3922
@settermjd is this still followed?

The demo instance looks pretty good, can some of this checks be checked?

[2018-07-12 10:58] voroyam commented on #3923
minor improvement, can be closed

[2018-07-12 10:58] #3923 closed

[2018-07-12 11:01] mmattel commented on #3621
Depending on how you want to do it, you can use either the default:plain or json_pretty output to identify all core-shipped apps. Exampe output see below.

All those core shipped apps remain in the ``apps`` folder, all other have to be copied to ``apps-external``.

In case you manually do it, enable maintenance, move the folders, exit mainenance mode.
In case of a scipt, the script should enable m

[2018-07-12 11:04] tboerger commented on #3621
[code]

[2018-07-12 11:06] voroyam commented on #3621
So...for not docker = occ app:list --shipped=false --output=json | jq .enabled | jq -r keys[]

and then we have all the apps that are no core/shipped.

Then we need to move them? O_o

But if they are not installed yet, we can't move them, can we?

[2018-07-12 11:07] voroyam commented on #3924
@settermjd  I am not sure about the picture format, can you do this?

[2018-07-12 11:08] tboerger commented on #3621
[code]

[code]

[2018-07-12 11:08] voroyam commented on #3975
@mmattel can you make one example PR and I will follow this?

[2018-07-12 11:09] tboerger commented on #3621
Only installed apps are listed by the `app:list` command.

[2018-07-12 11:09] voroyam commented on #3621
nice

[2018-07-12 11:10] mmattel commented on #3916
yes

10.0 -> latest

eMail configuration is also a themeing thing, you just need to follow the path in my description and read it... https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/server/email_configuration.rst#using-email-templates
Headline: Using Email Templates

So we have theming and eMail theming ... they are not linked or at one place (with links from the he

[2018-07-12 11:12] voroyam commented on #3916
would you like to remove e-mail theming from admin manual and include it in the dev manual in theming?

[2018-07-12 11:13] mmattel commented on #3621
pls have all enabled and disabled moved!
installed but disabled is a valid app to be moved !

[2018-07-12 11:16] mmattel commented on #3916
would make sense to me.
my pov is to have all theming things at one place.
the headline eg at email templates can remain, the content should be linked to the new location.
to be discussed, but if I look at it, the current way is confusing

[2018-07-12 11:23] voroyam commented on #3621
Why so serious? :D

The exclamation marks make it sound critical.

How would you change the command to move disabled apps? @mmattel

[2018-07-12 11:51] voroyam commented on #4037
could @mmattel or @phil-davis sum up the changes that needed to be made?

I have read your posts but I have no idea where to start.

[2018-07-12 11:58] tboerger commented on #3621
I have updated the snippet to include disabled apps.

[2018-07-12 12:23] voroyam commented on #3621
great

included in PR

[2018-07-12 12:39] voroyam commented on #4179
@mmattel ^

[2018-07-12 12:41] voroyam commented on #4189
Is there someone other than you two who is willing to join the discussion?

If not @mmattel or @settermjd can make a proposal and then just go with it.

Am I wrong?

[2018-07-12 12:42] voroyam commented on #4195
is this a reminder issue? @settermjd

[2018-07-12 12:46] voroyam commented on #4197
You are welcome to create it :)

Read the PR - no info how to use it.

My question is as always - what needs to be documented?

Link to PR is not sufficient

[2018-07-12 12:51] voroyam commented on #4198
https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/server/background_jobs_configuration.rst

where do you think should this be added in this document?

also What shold be added? the command output?

this? https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/server/background_jobs_configuration.rst

[2018-07-12 12:51] voroyam commented on #4208
@patrickjahns where do you think should this be added?

[2018-07-12 12:53] voroyam commented on #4215
PR is still open, waiting for review of PR

[2018-07-12 12:55] voroyam commented on #4080
@LoZio reported in https://github.com/owncloud/documentation/issues/4224

Here https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/external_storage/ftp.html you can read about FTP support that is not in OC in 10.0.8 (I'm using that).
You need an external plugin https://marketplace.owncloud.com/apps/files_external_ftp that is not referred anywhere.

adding this here to be fixed

[2018-07-12 12:55] voroyam commented on #4224
closing this, fix will be here

https://github.com/owncloud/documentation/issues/4080

[2018-07-12 12:55] #4224 closed

[2018-07-12 12:56] voroyam commented on #4229
As the security expert, would you take care of this?

@settermjd

[2018-07-12 12:57] voroyam commented on #4233
would be nice to have the command output

[2018-07-12 12:58] voroyam commented on #4234
what needs to be documented?

[2018-07-12 13:01] voroyam commented on #4236
oc:removeChecksum is not a property that is used by ownCloud, but custom properties can be created by some weddav client.

What client do you use?

[2018-07-12 13:07] voroyam commented on #4238
@DeepDiver1975 can you help?

[2018-07-12 13:08] voroyam commented on #4246
merged - closing

[2018-07-12 13:08] #4246 closed

[2018-07-12 13:09] sp31415t1 commented on #4236
I used curl to see oc:remoteChecksum, but server may not be standard. server is provided by transip (nl company). Unofficially, it is based on owncloud.

[2018-07-12 13:20] voroyam commented on #4271
@patrickjahns

so.. here

![image](https://user-images.githubusercontent.com/24212810/42635668-f08dc0a6-85e6-11e8-92a1-1ca523775a44.png)

`403  Forbidden infected`

?

[2018-07-12 13:39] voroyam opened #4278 "API Issues Collection"
- [ ] Document Files Versions API

opened by @DeepDiver1975

https://github.com/owncloud/documentation/issues/3468

How to list versions of a file:

perform PROPFIND to /remote.php/dav/meta/$fileid/v
How to restore a version:

COPY /remote.php/dav/meta/$fileid/v/$versionid /remote.php/dav/files/$user/foo/bar

will be merged to master first - we need to decide when to merge this to 10.0.x

PR: ownc

[2018-07-12 13:47] voroyam opened #4279 "WebDAV Issue Collection"
WebDAV Issue Collection

- [ ] Document required HTTP/WebDAV methods (in FAQ?)

@michaelstingl

https://github.com/owncloud/documentation/issues/2753

Today, a user asked me about the HTTP/WebDAV methods ownCloud uses. Could we document it somewhere?

This are the answers I've got from my colleagues:

@davivel

mobile clients use PROPFIND, MKCOL, COPY & MOVE from that list

@guruz

same for deskto

[2018-07-12 14:15] sp31415t1 commented on #4236
Is there any property that official client is using to detect file move/rename ?

[2018-07-12 14:19] voroyam commented on #4236
I don't know what to tell you other than

[2018-07-12 14:33] voroyam commented on #4243
https://github.com/owncloud/documentation/pull/4280

[2018-07-12 14:42] voroyam commented on #4226
https://github.com/owncloud/documentation/pull/4281

[2018-07-12 14:47] voroyam commented on #2753
closing, fix will be in the collection issue

[2018-07-12 14:47] #2753 closed

[2018-07-12 14:47] voroyam commented on #2224
closing, fix will be in the collection issue

[2018-07-12 14:47] #2224 closed

[2018-07-12 14:47] voroyam commented on #2145
closing, fix will be in the collection issue

[2018-07-12 14:47] #2145 closed

[2018-07-12 14:47] voroyam commented on #2120
closing, fix will be in the collection issue

[2018-07-12 14:47] #2120 closed

[2018-07-12 14:47] voroyam commented on #3468
closing, fix will be in the collection issue

[2018-07-12 14:47] #3468 closed

[2018-07-12 14:47] voroyam commented on #3242
closing, fix will be in the collection issue

[2018-07-12 14:47] #3242 closed

[2018-07-12 14:47] voroyam commented on #2212
closing, fix will be in the collection issue

[2018-07-12 14:47] #2212 closed

[2018-07-12 15:04] michaelstingl commented on #3629
we should have another look after migration of the docs to the new toolchain

[2018-07-12 16:20] mmattel commented on #4107
The comment of @PVince81 is valid. I would keep the things as they are to minimize efforts.
To avoid further confusion and to remind all readers (including us), I proposed just to add the following text on top: ``The format is based on [Keep a Changelog](http://keepachangelog.com/en/1.0.0/)``

[2018-07-13 03:48] phil-davis commented on #4271
This is about the HTTP status code returned to the client when they have tried to do an upload and the upload is refused because a virus has been detected. I don't see where  the previous ``415`` was already documented.

The ruleset status in the image above is detailed status codes that are returned to the ownCloud server by the back-end anti-virus software.

@patrickjahns ?

[2018-07-13 07:56] davigonz opened #4282 "[Android] Include 2.8.0 features"
2.8.0 Android app was released a couple of days ago and we need to update the documentation according to the recent changes:

- Side menu redesign with user quota
- New icons to download/set available offline and new pins for syncing/downloaded/av. offline files
- New sort descending option
- Redesign public sharing options for folders
- OAuth2 chrome custom tabs (not sure if you could include som

[2018-07-13 09:35] PVince81 commented on #4273
this occ command thing as workaround is too complicated to explain and understand. I understand it only because I know the background

you basically have three categories of users:
1) users who never changed password after policy activate: these will never expire
2) users who changed password once after policy activate: these will expire based on the define rule, even if the rule is changed in-bet

[2018-07-13 10:19] settermjd commented on #4273
Is https://marketplace.owncloud.com/apps/password_policy going to be updated to refer to the 2.0.0 release?

[2018-07-13 12:06] mmattel commented on #4179
@voroyam @PVince81
can you clarify this please before we continue on that issue?
no / yes / when ect...

[2018-07-13 12:36] mmattel commented on #4180
Master has not been merged
and stable10 not been created  (that is the reason for label: waiting for PR merge)
Things are a bit tricky, because for stable10 it is intended to have some PR´s to be added to one...
See issue comment from @DeepDiver1975 (different but related PR) https://github.com/owncloud/core/pull/31630#issuecomment-396834060

But what can be done in the meanwhile is, to prepare th

[2018-07-13 12:37] settermjd commented on #4273
@pmaier1, can you be a bit more specific when you say:

[2018-07-13 12:38] PVince81 commented on #4273
please ignore the occ parts for now... we need to settle some issues with https://github.com/owncloud/password_policy/issues/47 where its semantics could change...

[2018-07-13 12:41] mmattel opened #4284 "Backport reminder for #4207, waiting core/stable10 to be merged"
Master doc has been merged already #4207 (Document: Adding background:queue commands: status and delete)

See issue comment in https://github.com/owncloud/documentation/pull/4207#issuecomment-397298995

Quote:
Not to be backported to stable10 until owncloud/core#31630 and owncloud/core#31617 have been backported to stable10 in core.

[2018-07-13 13:07] mmattel commented on #4197
The waiting for PR label was accidentially removed, stable10 is still open

[2018-07-13 13:11] mmattel commented on #4198
First of all it is a core occ command therefore in the occ command description.
in addition it must be described with the right text in the background job configuration description page

[2018-07-13 13:17] mmattel commented on #4233
It is an occ command, (lib/command/createbucket.php) I would start with:
[code]

An example can be found in (.drone.yml)
``./occ s3:create-bucket owncloud --accept-warning``

[2018-07-13 15:00] pmaier1 commented on #4273
Once the app is released it will show up there as a new major version, yes.

I just recommend to add some statements that admins should carefully think about the hurdles they put upon users in regards of UX and user adoption. Using all policy options might become annoying for users. As an orientation: The 10.0.9 release notes and password_policy 2.0 info.xml description contain some words on this.

[2018-07-13 15:34] pmaier1 commented on #4273
Raising this to p2 as administrators will not understand how to deploy password expiration policies on existing installations without proper docs (they will need to run an occ command once to define the first expiration date!).

[2018-07-13 15:37] pmaier1 commented on #4273
I adapted the info.xml description of the new password_policy app to also mention the new features. This might be helpful input for adapting the docs https://github.com/owncloud/password_policy/blob/master/appinfo/info.xml

[2018-07-16 07:55] pmaier1 opened #4288 "Document federated system addressbook sync"
Federation between ownCloud's has not yet taken off as it actually should due to many UX issues for the average user. One major issue is that users frequently don't understand the concept because they're used to centralized platforms. Remembering a federation ID and entering this in the share dialog goes way beyond the skills of the average user which is why federation currently is reserved to pow

[2018-07-16 08:53] PVince81 commented on #4179
so far we only changed the priority as shown in the UI: master key appears first, user-key next.
from what I see we already swapped the sections in the docs https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/encryption_configuration.html?

we might deprecate it in the future but there are no concrete plans for that @pmaier1

@voroyam regarding limitations, it seems not all are d

[2018-07-16 09:06] voroyam commented on #4179
Ye, I swapped them after writing the quick guide.

What I don't know I can't write :)

If @cdamken or someone else points me in the right direction, I could write up the limitations.

[2018-07-16 09:21] #3793 closed

[2018-07-16 09:23] PVince81 commented on #3805
@voroyam yes, would be great. Maybe it should rather appear after "Database Access" since accessing is the first step. Then we go into details about guidelines.

Is this something you'd like to put in yourself ?

[2018-07-16 09:30] voroyam commented on #3805
If no one else will - I could.

I'd rather let a developer or engineer write the documentation for developers because of my lack of knowledge. But the chances of that are close to zero :)

You, @DeepDiver1975 @VicDeo made the effort to write up the guidelines in this issue, so I thought if I just copy paste them and adjust the formatting, it would be fine.

What do you think? @PVince81

[2018-07-16 09:41] voroyam commented on #4233
Need more info

[2018-07-16 09:50] mmattel commented on #4233
There is no more info present, only that what you can read in the referenced PR what I tried to highlight to give a better understanding what it is about.

Please ask the PR developers like @DeepDiver1975 @mrow4a and @patrickjahns fo more details.

[2018-07-16 10:01] mmattel commented on #4233
@voroyam
I file doc issues because there is a PR that impacts documentation.
It does not matter if the PR is already merged or not.
This early stage gives the ability to prepare documenation and in case also the PR accordingly.
When the PR is merged, you MUST act, when the PR is in development you CAN act.
AND in the stage of PR dev, you have the ability to positively influence the PR as developer

[2018-07-16 10:06] voroyam commented on #4198
I don't understand. You already did a PR that does exactly this.
Why is this issue still open if you already did the PR yourself?

The only thing that is missing is the description of that command in the background job configuration page.

[2018-07-16 10:07] voroyam commented on #4233
How do you propose I prepare the documentation?

[2018-07-16 10:10] PVince81 commented on #4273
no change required to my statement above even with the latest occ command version. it just "works better" than it did before but still applies to the different user states

[2018-07-16 10:17] voroyam commented on #4198
Okay what I got so far.

[2018-07-16 10:46] mmattel commented on #4198
👍

[2018-07-16 11:57] PVince81 commented on #3805
It should be possible to plan for someone to put it in, if everyone agrees that the guidelines as they are here make sense.

[2018-07-16 12:49] PVince81 commented on #3304
there are already supported setups out there using Galera cluster.

in many cases we had to provide tweaks for the settings of Galera so this ticket is about documenting them.

Need input from @butonic and @tomneedham.

[2018-07-16 13:33] voroyam commented on #3985
Also after reading the comments from JP, your comments and the PR I know where I should put the new information, but not what the information is. Just that you can choose from html and plain.

I think I am the wrong person for that job, at least without further information.

[2018-07-16 14:55] voroyam commented on #4080
https://github.com/owncloud/documentation/pull/4290

[2018-07-17 08:05] #2998 closed

[2018-07-17 08:13] PVince81 commented on #4273
PR here: https://github.com/owncloud/documentation/pull/4285#discussion_r202928713

[2018-07-17 09:40] PVince81 commented on #3985
yes, this is the new option ^

[2018-07-17 09:41] voroyam commented on #3985
https://github.com/owncloud/documentation/pull/4292

[2018-07-17 09:42] voroyam commented on #3985
@PVince81 can you have a look and tell me if what I did was correct?

[2018-07-17 10:17] #3912 closed

[2018-07-17 10:58] mmattel commented on #4233
Due to some issues, https://github.com/owncloud/files_primary_s3/pull/80 has been closed,
a replacement PR is available at: https://github.com/owncloud/files_primary_s3/pull/93 (adding s3:createBucket command)

[2018-07-17 14:23] voroyam opened #4294 "Theming. Note: Occ to change mimetype"
Note: Occ command required to change mimetype

Theming document is missing this step.

Link to https://doc.owncloud.com/server/10.0/admin_manual/configuration/mimetypes/

https://github.com/owncloud/documentation/blob/master/developer_manual/core/theming.rst

[2018-07-17 15:23] #4172 closed

[2018-07-17 17:25] mmattel opened #4295 "reminder to run ownCloud-config-converter for 10.0.9"
This is a reminder to run the ``ownCloud-config-converter`` to update any changes made in ``config.sampe.php`` for the documentation part of ownCloud 10.0.9 release.

@settermjd
@PVince81 fyi

[2018-07-18 07:07] jvillafanez commented on #4197
I'd prefer not to provide information unless the feature needs it. I usually include some information if the behaviour might be confusing or if there are some problematic scenarios, but this isn't the case.

The feature should be easy to use. If you have doubts, feel free to ask: we'll likely need to add documentation for that.

At least basic stuff: that the feature is there, how you can configur

[2018-07-18 08:16] mmattel commented on #4197
Any example that helps making the use more clear is always a good thing.

[2018-07-18 08:41] PVince81 opened #4296 "Blacklist sharing groups feature"
This feature makes it possible to exclude some groups from sharing.
Its purpose is to prevent people sharing to big system groups that contain all possible users, while said groups should still be available in other places in ownCloud. (so these groups aren't completely invisible to OC)

This would go into the sharing category.

core ticket: https://github.com/owncloud/core/issues/31578

@settermj

[2018-07-18 10:07] mmattel commented on #2384
Any update on this one? seems that this info is important but still missing in the docs.

[2018-07-18 10:47] PVince81 commented on #2384
no one working on this currently and there's a bunch of other dev tickets to schedule

need a good plan to tackle all of these step by step
I'll attempt to schedule some of these every sprint

@DeepDiver1975 this will need more input if we want @settermjd to be able to put this in easily

[2018-07-18 14:31] PVince81 commented on #3985
Yes, correct. closing

[2018-07-18 14:31] #3985 closed

[2018-07-18 14:36] PVince81 commented on #3918
Can someone with more knowledge provide details (maybe a documentation snippet) about how the configuration in question should be done ?

Moving to "someday" for now

[2018-07-18 14:43] PVince81 commented on #4179
I went through the current tickets in core and only found https://github.com/owncloud/core/issues/16332 as limitation.

There's another one I remember, it's that if you use user-key encryption with external storages, if the admin adds new users to an existing system-wide external storage (aka admin defined external storage) they also cannot decrypt the files. This is very similar to the group shar

[2018-07-20 15:22] hurradieweltgehtunter commented on #3655
no, still broken:
![image](https://user-images.githubusercontent.com/16665512/43010695-09331ac2-8c39-11e8-9811-1573c03cbd93.png)

[2018-07-20 15:24] hurradieweltgehtunter commented on #3655
see page header:
[code]
The piwik url is missing the colon: https **:** //piwik.owncloud.org/piwik.js
Also the url is piwik.owncloud.**com**, not .org

[2018-07-23 09:37] settermjd commented on #4241
Am on it, @PVince81.

[2018-07-23 10:20] DeepDiver1975 commented on #4168
@settermjd please let me know what information you need - I happily assist - but I cannot write docs

[2018-07-23 10:37] DeepDiver1975 commented on #4168
well
 - let the original doc continue to exist
 - state that swift is deprecated
 - state that the objectstore app is still supported
 - add information about files_primary_s3
 - state that migrations from objectstore to files_primary_s3 are upon consulting by owncloud gmbh (@hodyroff agreed)
 - state that in files_primary_s3 the bucket needs to be created manually according to the documentstion o

[2018-07-23 14:38] PVince81 commented on #4264
let's spend 0.75md to do this. if this takes longer, please estimate based what you found out @felixheidecke

[2018-07-23 14:39] PVince81 commented on #4264
@settermjd please provide the necessary information for setting up, modifying the code and testing this

[2018-07-23 15:11] mmattel opened #4308 "occ files_external needs doc improvement"
The current occ command documentation of ``files_external`` is limited to a list of possible commands but without any description of arguments, options or examples.
Identified by creating core PR https://github.com/owncloud/core/pull/32098 (Option: show a short list of mount infos in files_external:list)

@settermjd @voroyam

[2018-07-23 16:23] VicDeo opened #4309 "Document language settings for sharing via email"
what needs to be documented:
<img width="534" alt="screenshot_20180718_221917" src="https://user-images.githubusercontent.com/991300/42902872-b1f9ae94-8ad8-11e8-8268-cf819e6b1b5b.png">

`Language used for public mail notifications for shared files`
1. appears when `Allow users to send mail notification for shared files` is checked
2. default value is `owner language`. it means that email notificat

[2018-07-23 16:29] PVince81 commented on #4296
Expecting only a small addition, screenshots likely unnecessary

[2018-07-23 16:33] PVince81 commented on #4273
@settermjd done ? close ?

[2018-07-24 08:48] pmaier1 commented on #4273
:+1:

[2018-07-24 08:48] #4273 closed

[2018-07-24 08:59] jvillafanez commented on #4202
The list of OCS requests related to the feature.
* Get all files shared with me
[code]
    {state} can be:
      "all": to get all the shares regardless of the state
      "" (empty): show only accepted shares
      "0": only accepted
      "1": only pending shares
      "2": only rejected shares
* accept the share (either pending or rejected)
[code]
* reject the share
[code]

[2018-07-24 09:12] PVince81 commented on #4309
Estimate: 0.25md.

Should be enough to explain that this option exists and clarify what exactly it does.

[2018-07-24 09:13] PVince81 commented on #4296
Estimate: 0.25md

[2018-07-24 09:13] PVince81 commented on #4168
Estimate 0.5md

[2018-07-24 13:00] PVince81 commented on #4202
what about the responses and error codes ?

what if I accept a share that was already accepted ? etc

[2018-07-25 07:48] jvillafanez commented on #4202
For the error codes, the "GET" doesn't have any change comparing with previous versions. It's merely filtering the shares.

The error codes for the "POST" and "DELETE" (accept and reject) are shared, so both requests will return the same errors under the same circumstances:
* 404:
    * If the share API is disabled ("Share API is disabled")
    * If the share id doesn't exists or the user can't ac

[2018-07-25 13:39] pmaier1 commented on #4179
We are still discussing. As user-based storage encryption does not provide a real-world benefit (except obscurity maybe) but creates a lot of problems we will deprecate and remove it sooner or later, yes.

Some more input that came up to my mind:

- OnlyOffice can only deal with master-key encryption
- When having data shared with a group and group membership changes after the share is established

[2018-07-25 15:57] PVince81 commented on #4241
moving to next sprint as we're tight on time

[2018-07-26 04:52] phil-davis opened #4315 "Merged webUI and API test script"
Document how to run webUI and API acceptance tests using the common ``tests/acceptance/run.sh`` script.

Core PR https://github.com/owncloud/core/pull/31348

[2018-07-26 09:53] pmaier1 commented on #4288
Some input based on research I did with @micbar and @cdamken:

### Requirements / prerequisites
- Valid SSL certs
- `overwrite.cli.url` must match the domain the instance is available at for other instances (incl. `https://`)
- what else?

### Syncing address books

- Mutual trust and shared secret exchange
  - Add server 2 in server 1 via UI
  - Add server 1 in server 2 via UI
  - Run cron.php on

[2018-07-26 11:58] voroyam commented on #4308
So this:

![image](https://user-images.githubusercontent.com/24212810/43261113-e7157d3e-90db-11e8-84ab-c45a8f93bed8.png)

should be supplied with description of arguments, options, examples?

[2018-07-26 12:12] pmaier1 commented on #4168
Regarding Swift:
- I think we can leave it there if the steps would still work BUT
- we should add a note that it has been deprecated and is legacy now + link to 10.0.9 release notes, deprecation note

[2018-07-26 12:14] voroyam commented on #4282
https://github.com/owncloud/android/pull/2268

[2018-07-26 22:14] mmattel commented on #4308
you got it :+:

[2018-07-27 13:35] voroyam commented on #4308
files_external:applicable

possible arguments for command:
[code]
example:
[code]

Something like this?

[2018-07-27 13:39] mmattel commented on #4308
Exact, pls try to have the description of the option underneath for better readability, example below
[code]

[2018-07-27 13:48] mmattel commented on #4308
Hint, for the above exmple with :applicable, you get the mount_id from command files_external:list.
This info can be useful in all cases where the mount_id is a parameter

[2018-07-27 13:52] voroyam commented on #4308
Will do

[2018-07-31 11:36] PVince81 commented on #4179
- oauth2 currently doesn't work with user-key encryption: https://github.com/owncloud/oauth2/issues/105

[2018-07-31 13:08] pmaier1 commented on #4179
- search_elastic won't work with user-key encryption.

[2018-07-31 13:42] mmattel opened #4332 "occ federation:sync-addressbooks description improvement"
The command is described in https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/server/occ_command.rst

The description text tells only:
"Servers connected with federation shares can share user address books, and auto-complete usernames in share dialogs."
- What exactly does sync addressbook mean
Getting the users from the foreign instance and store the locally?
Pushin

[2018-07-31 20:45] dwainsims commented on #4168
Hope I am not messaging out of turn here, but I am trying to get this plug in to work with a Ceph backend.   We have a client that is very interested in this capability.  But my impression is that the docs not quite cooked yet.  I have tried to follow the chain of changes, but no happiness yet.  Any eta on when full documentation on this plugin will be done?

[2018-08-01 08:10] pmaier1 commented on #4168
@dwainsims You are right, the docs are still for the former 'Objectstore' extension. We're still in the process of updating it to the new extension. If you need an example of how to configure it with CEPH you might want to have a look at https://github.com/owncloud/files_primary_s3/blob/master/tests/drone/ceph.config.php for now.

[2018-08-01 08:31] sharidas opened #4333 "Documentation update required for 'user:expire-password' command in password_policy"
Add 'group' and 'all' options to 'user:expire-password' command in password_policy app.
PR for reference: https://github.com/owncloud/password_policy/pull/77

[2018-08-01 08:51] PVince81 commented on #4332
@DeepDiver1975 might be able to provide more input

[2018-08-01 09:02] mmattel opened #4334 "Documentation of App "Brute Force Protection""
The capability of this app needs documentation preperation, as earlier as better, makes things more easy and relaxed when app is ready/available.

@voroyam @settermjd

[2018-08-01 11:36] #4296 closed

[2018-08-01 14:16] mmattel opened #4336 "Improve admin_manual/configuration/files/external_storage_configuration_gui.html"
**Available Storage Backends** gives you a complete list inlcuding Local (if enabled)
But
**Allow Users to Mount External Storage** has only a list without Local

The missing Local Storage is totally fine, but it should be described that it is only avalable as sharable mount created by the admin - if this is the intention...

@settermjd @voroyam

[2018-08-02 00:12] phil-davis commented on #4315
core PR and doc PR merged - closing this issue.

[2018-08-02 00:12] #4315 closed

[2018-08-02 00:15] phil-davis opened #4337 "Update doc of files:scan groups command"
core PR https://github.com/owncloud/core/pull/31719

[code]

becomes

[code]

to allow for groups which contain a comma:
[code]

[2018-08-02 00:17] phil-davis commented on #4337
Duplicate!

[2018-08-02 00:17] #4337 closed

[2018-08-02 08:59] settermjd commented on #4309
Sounds fair to me @PVince81. I'll have that done today.

[2018-08-03 07:51] pmaier1 opened #4340 "Document classification & policy enforcement"
Soon there will be a new app which extends the capabilities to classify files upon upload and enforce policies upon the classification. As I will prepare the things around the release I'll probably take care of the doc draft as well.

[2018-08-04 22:39] johnwayne4d opened #4341 "how to remove updater backups missing from documentation"
owncloud 10.0.9.5 community edition with root and ftp access to the server.

I cannot find in the forum nor the documentation, how do i properly remove older installation backups created-by or created-from-within the updater?

additionally there is no documentation on how to run the updater via my below method when there is no update available. typically i go to settings>admin>general and click ‘u

[2018-08-06 07:59] PVince81 opened #4342 "Document notifications API"
There are several aspects to document:
- [ ] how it works internally in the server, the PHP APIs (INotification, etc)
- [ ] how the different components interact, the "protocol", with actions, etc

[2018-08-06 08:59] voroyam commented on #4179
@PVince81 where do you think should this warnings be added?

I suppose somewhere on this page, right? But where?

https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/encryption_configuration.html

[2018-08-06 09:03] mmattel commented on #4179
one thing is popping up:
https://doc.owncloud.org/server/10.0/
why is this not latest?
https://doc.owncloud.org/server/latest/
I thougt we have fixed all 10.0 -> latest links

[2018-08-06 09:05] PVince81 commented on #4179
@voroyam sounds good, because this is also where an admin would make a choice what encryption type to use, so it's good to mention the limitations there as well.

@mmattel separate ticket please. Both pages look the same to me.

[2018-08-06 10:42] PVince81 commented on #3738
@sharidas I don't think you need to document where they are triggered but more about their names and their arguments, and semantically when they are triggered.

For example:

- "config_change", triggered before/after an app configuration change, arguments:
    - appId: app id
    - configKey: key
    - ...

If args different in before and after, might need to specify separately.

Then this can be

[2018-08-06 11:05] PVince81 commented on #4202
ok, I hope that's enough info for now. moving to future sprint

[2018-08-06 11:06] voroyam commented on #4341
why would you want to do that?

delete the ones that you don't need anymore?

[2018-08-06 13:55] mmattel commented on #4234
Info: core:master has been merged

[2018-08-06 14:12] mmattel opened #4345 "How to identify and manage doc PR´s which are for oC11+ only"
There are PR´s made in core which will not be backported and therefore only available for the new major release of oc11+

The question is, how to identify / tag them and make sure that they are NOT doc backported and ONLY available for the oc11+ doc releases?

[2018-08-06 15:04] PVince81 commented on #4345
maybe just add `[OC11]` in the ticket title and/or state explicitly for each ticket for what OC version they are valid for

[2018-08-06 15:17] phil-davis commented on #4345
PRs for oc11 can be merged to doc master. Doing that will make the PRs "disappear" from view because they will be closed. Do we care about that happening?

What @PVince81 says above ^^ sounds fine. If the ticket title (issue and PR) mention ``[OC11]`` then it is obvious to anyone that a backport to ``stable10`` is not to be done.

[2018-08-06 15:52] #4309 closed

[2018-08-06 19:09] johnwayne4d commented on #4341
@voroyam for the note, thanks.

I would want to run the updater at ANY time, solely to be able to make use of the "create backup" function, and to see when the last backup was made. The server side backup creation via the updater webUI is much more efficient than making one via ftp.

It was not stated anywhere that I could find that: "just directly delete the backups you do not need, it will not b

[2018-08-07 06:27] mmattel opened #4346 "Encryption: Use envrironment vars for recovery and oc password"
Referencing: https://github.com/owncloud/core/pull/32172
Core PR merged, stable10 created
``encryption:decrypt-all [-m|--method [METHOD]] [-c|--continue [CONTINUE]] [--] [<user>]``
For details please see the referenced PR

[2018-08-08 10:10] pmaier1 opened #4348 "Document Notifications features"
When looking at user/admin docs there is not much about notifications. In the latest server versions we made a lot of progress in this area. We should document the different kinds of notifications, especially the points that are relevant for admins. In some other context I summarized the different notification types. This might not yet be complete/comprehensive as it was written for some other con

[2018-08-08 11:56] felixboehm opened #4350 "Add more infos on Appliance Certs"
- Link to UCS infos https://help.univention.com/t/using-your-own-ssl-certificates/38
- Howto enforce https

here: https://github.com/owncloud/documentation/blob/master/admin_manual/appliance/certificates.rst

@voroyam

[2018-08-09 10:27] pmaier1 opened #4353 "Document recommendations for using NFS storage"
There can be different scenarios where ownCloud's storage is located on a NFS mount (primary/secondary). Also in some scenarios multiple application servers can use the same NFS mount.

We should document some basic examples/recommendations of mounting NFS to the underlying OS to be used with oC. Probably this is basic NFS mounting but I think it makes a lot of sense to give admins some confidence

[2018-08-09 10:28] pmaier1 commented on #4353
@DeepDiver1975 @cdamken @pako81

[2018-08-09 10:55] cdamken commented on #4353
I'm not an expert, but I learned:

One important part is to check the blocks size allowed from the NFS for reading and writing

you can get that information asking the mount point:

[code]
mounting in fstab could be like this:
[code]

NFS version 3 is easier to mount as version 4, but the version 4 has more security.

Soft-mount is recommended in case that a storage failure happens. otherwise turn

[2018-08-09 11:52] DeepDiver1975 commented on #4353
Since the NFS storage is a shared resource among the Webservers and acts as a Kind of Quorum it has to provide a consistent state to all web servers.
To ensure this No caching on the NFS clients ist allowed.
Current approach: use mount Option noac

To be verified

[2018-08-10 08:42] mmattel opened #4354 "files_primary_s3: renaming occ command s3:ls to s3:list"
Referencing: https://github.com/owncloud/files_primary_s3/pull/112 (Rename command s3:ls to s3:list)

[2018-08-10 08:49] voroyam commented on #4354
without further info I can not do anything - where is this section? I tried to search occ document and the whole docs, there is no files_primary_s3

omg, why is there already an issue for an PR that is not even in the code yet?

[2018-08-10 08:54] voroyam commented on #4354
I can understand that you, @mmattel , have the goal in mind to raise the documentation of ownCloud to a higher standard.

But for me it feels like you are jumping over the target here. If you create an Issue - that's fine.
If you assign me - I will try to do this issue as soon as possible. If I then notice that I am doing the work for something that is not even there yet, for a unmerged PR, that's

[2018-08-10 09:31] mmattel commented on #4354
You are right, I missed the label waiting for pr merged...
Just added

[2018-08-10 09:51] mmattel commented on #4353
FYI, I am using NFS as primary connection to ownCloud and MySQL since the beginning and am quite happy with.

Parameters from fstab as example: ``bg,nfsvers=3,wsize=32768,rsize=32768,tcp,_netdev``

The option ``_netdev`` is importatnt to me, as MySQL is also running over NFS and would / clould error if the connection to the storage is not ready when the application starts.

[2018-08-10 10:57] mmattel commented on #4064
I just stumbled while writing a PR over a complaint of drone/php-cs-fixer. The code itself was fine.
I got some time ago a tip from @phil-davis how to fix that on the command line which I now cant find anymore. Remembering that I filed this issue, I looked what progress has been made and saw no changes. It would be really good to have some documentation for developers to support code writing and e

[2018-08-10 11:19] phil-davis commented on #4064
When you do:
[code]

It spits out output that includes the actual command line it is running:
[code]

To make it fix the things it finds, just take off the ``--dry-run``
[code]

Then when you ``make test-php-style`` again, it will be happy.

When someone documents this thing, this can be included as a handy hint.

[2018-08-10 11:27] DeepDiver1975 commented on #4353
THX for the input @mmattel - your setup is a single server which mounts the NFS server - right?

Just for my understanding - THX

[2018-08-10 12:39] mmattel commented on #4353
Single physical server running VMWare ESX with virtual machines. All Ubuntu servers have NFS connections to the storage. No server clustering implemented. More details if you want during occonf.

[2018-08-13 11:38] voroyam commented on #4350
https://github.com/owncloud/documentation/pull/4367

The other information was already in the document

[2018-08-13 11:48] voroyam commented on #4341
You will create a backup only of your ownCloud code, excluding your data, config and DB. This is not a real backup, you won't be able to restore your data config or shares in case of emergency.

If you are, however, satisfied with this kind of backup, keep doing it.

Do you have any requests to the Pull Request changes or is everything fine?

[2018-08-14 13:31] DeepDiver1975 commented on #4168
fixed with #4339

[2018-08-14 13:31] #4168 closed

[2018-08-14 20:01] mmattel opened #4374 "files_external:create accidentially deleted from occ command reference"
In recently merged https://github.com/owncloud/documentation/pull/4361
The command description for ``files_external:create`` was accidentially deleted and should be restored.

[2018-08-15 09:49] voroyam commented on #4374
https://github.com/owncloud/docs/blob/master/modules/ROOT/pages/configuration/server/occ_command.adoc

![image](https://user-images.githubusercontent.com/24212810/44142681-3c6035c2-a081-11e8-89cf-48a6f187baaa.png)

![image](https://user-images.githubusercontent.com/24212810/44142703-4f6bf2f0-a081-11e8-878f-52fcedee8c67.png)

[2018-08-15 09:50] voroyam commented on #4374
What is missing in your opinion?

[2018-08-15 13:47] jnweiger opened #4377 "update installation examples to php7"
https://doc.owncloud.com/server/10.0/admin_manual/installation/source_installation.html
starts by saying that we recommend php7 over php5, but ends with RHEL, SLE and Ubuntu examples
showing only the php5 dependencies.

As we no longer maintain owncloud-deps packages, we need to keep the documentation up to date, please!

[2018-08-15 13:49] jnweiger commented on #4377
A CType module is listed. This no longer exists in php7, it is part of php-common these days.

[2018-08-15 15:38] pmaier1 commented on #4377
Thanks for filing this issue. The latest Ubuntu example shows php7 and the older ones just come with php5  so actually we would need to update the instructions for later versions of the respective distributions. I'm not sure if this scales anyhow as we would always have to update all instructions according to the packages in later releases of the respective distributions. @settermjd for scheduling

[2018-08-15 15:51] jnweiger commented on #4377
CentOS7 and RHEL7 systems are neverending LTS. There are multiple ways to bring php7.2 into these dinosaurs. EPEL, Remi, SCP come to mind, most of this is covered in the old dependency packages or known to our customer happiness team anyway.

On Ubuntu 18.04 my minimal server install looks like this:
[code]

[2018-08-16 11:57] jnweiger commented on #4377
@voroyam  @pmaier1 Is Ubuntu18.04 now officially supported?
I have done several installations with the above script now. works like a charm!

[2018-08-16 14:13] pmaier1 commented on #4377
I'd say "of course it is". One caveat is that it ships PHP 7.2 which we are not yet officially capable of.

[2018-08-20 07:56] mmattel commented on #4064
The path given above ``lib/composer/bin/`` may be dependent of how the repro is setup and must be used according the actual paths used. In ``files_primary_s3`` it is ``vendor/bin/``.

[2018-08-20 08:38] DeepDiver1975 commented on #3805
use IQueryBuilder::createPositionalParameter instead of IQueryBuilder::createNamedParameter when using like()

[2018-08-20 08:44] mmattel commented on #4064
Additional note made by experience:
if you use a namespace and extend the class, the extending class name MUST NOT have a php reserved name. I case you have that, you may get a "linting" error of php-cs-fixer and no checks made.

[2018-08-20 09:27] settermjd commented on #4377
So, what's the official decision with this? Are we making the move preemptively, or waiting until oC officially supports 7.2? I'm all for preemptively moving.

[2018-08-20 09:31] settermjd commented on #4334
Ok, I thought that this was already documented in `admin_manual/configuration/server/security/password_policy.rst`, for some reason. Turns out I was wrong :-( I'll get it sorted this week.

[2018-08-20 10:42] settermjd commented on #4334
[I've proposed a change to the app's description](
https://github.com/owncloud/brute_force_protection/pull/10). If approved, I'll use that as the foundation of the app's documentation.

[2018-08-20 10:44] settermjd commented on #4374
I don't see the issue, @mmattel. Can you clarify pls?

[2018-08-20 10:58] mmattel commented on #4374
files_external:create is present, but a lot of content has been removed, my wording was perfect, sorry
I did an update with more improvements of other files_external command descriptions, see refernced PR

[2018-08-20 10:59] settermjd commented on #4354
@mmattel, any movement on this?

[2018-08-20 11:05] settermjd commented on #4374
On further review, I see what you're saying. Will fix.

[2018-08-20 11:08] mmattel commented on #4354
yes 😄 the referenced PR is now all green, just waiting for being merged.

Please note that there are two ``s3:`` commands that need an occ description:
- ``s3:list``
- ``s3:create-bucket``

[2018-08-20 11:12] mmattel commented on #4374
My keyboard is not taking all keys I press. Wanted to say: not perfect.
Edited the comment above accordingly 😃

[2018-08-20 11:13] mmattel commented on #4374
@settermjd I did that in the referenced PR, just review it and merge if you are ok with

[2018-08-20 13:00] settermjd commented on #4353
I'd like to chip in, but it's been too long since I've worked with NFS, so my knowledge has gone stale.

[2018-08-21 07:49] PVince81 commented on #4179
- user getting access to external storage already containing existing encrypted files cannot get access to said files for similar reasons like the group case above. https://github.com/owncloud/encryption/issues/43

[2018-08-21 08:58] settermjd commented on #4350
@voroyam, are you updating the docs for "Link to UCS infos"?

[2018-08-21 11:33] jnweiger commented on #4353
@cdamken or @dercorn might have more recent NFS use cases. Mine is > 10 years old.

[2018-08-21 14:14] settermjd commented on #4271
On scanning the documentation, I don't find any trace of existing documentation for this.

[2018-08-21 14:15] settermjd commented on #4271
@patrickjahns?

[2018-08-21 14:16] settermjd commented on #4295
OK. Thanks.

[2018-08-21 14:37] settermjd commented on #4353
@cdamken @dercorn?

[2018-08-21 15:10] settermjd commented on #4345
:100:% agree with @phil-davis.

[2018-08-21 15:46] mmattel commented on #4334
Are you sure you want to close this before the doc PR is made ?

[2018-08-21 15:50] mmattel commented on #4345
I know, maybe a label again, to support this way what about a label like "Master only".
After [oc11] will be [oc xy]

[2018-08-22 02:28] phil-davis commented on #4345
I think the problem with the workflow here is similar to in core. At the moment, so much stuff is backported that "backport" becomes the normal case, and "no backport" is unusual. So we feel the need to tag/label/indicate the unusual "no backport" items.

With the implementation of "proper" semver, there should be few doc changes to 10.0 - because backports there would only be for real bug fixes a

[2018-08-23 12:30] settermjd commented on #4264
All the relevant information can be found in https://github.com/owncloud/docs-ui/blob/master/README.adoc.

[2018-08-23 12:33] settermjd commented on #2997
The new docs only has one version - so it seems like this PR can be closed; unless there are any objections.

[2018-08-23 15:09] PVince81 commented on #4333
Also make sure to change the signature in the docs to say to use `-u` for users instead of direct.
Basically, use this:
[code]
instead of the old (in 2.0.0):
[code]

[2018-08-24 06:55] settermjd commented on #4345
Agreed.

[2018-08-28 19:09] mmattel commented on #4354
Fixed with: https://github.com/owncloud/documentation/pull/4381
Closing

[2018-08-28 19:09] #4354 closed

[2018-08-29 02:02] phil-davis opened #4392 "Undefined variables"
My IDE shouts at me about errors in this example code:

https://github.com/owncloud/documentation/blob/47c1dbfc8771f00d935fc3bf6518f0cc1bb41413/developer_manual/examples/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php#L33

[2018-08-29 02:03] phil-davis commented on #4392
https://github.com/owncloud/documentation/blob/47c1dbfc8771f00d935fc3bf6518f0cc1bb41413/developer_manual/examples/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php#L148

[2018-08-29 02:03] phil-davis commented on #4392
https://github.com/owncloud/documentation/blob/47c1dbfc8771f00d935fc3bf6518f0cc1bb41413/developer_manual/examples/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php#L154

[2018-08-31 10:35] sharidas opened #4403 "Document new options required for decrypt-all command"
Two new options are added to the command `encryption:decrypt-all`. They are:
- `-m` which stands for the method. method accepts arguments `recovery` or `password`.
- `-c` which accepts `yes` or `no`. This lets the command know whether to ask for permission to continue or not.

The --help for the command will show user like this:
[code]

### Description about the methods
#### recovery - method

Thi

[2018-08-31 10:36] sharidas commented on #4403
core ticket https://github.com/owncloud/documentation/issues/4403

[2018-09-01 01:39] phil-davis opened #4404 "Document config:system:set --type=json"
Introduced in core PR https://github.com/owncloud/core/pull/32512
and merged to core ``stable10`` - so it should be in 10.0.10

[2018-09-03 10:03] #4403 closed

[2018-09-03 11:01] settermjd commented on #4392
Turn the speakers off?

[2018-09-03 11:04] settermjd commented on #4392
But seriously, checking it out now.

[2018-09-03 11:12] settermjd commented on #4392
I have no idea what it is for. Did you use it recently?

[2018-09-03 11:16] phil-davis commented on #4392
I was in the documentation repo with PHPstorm and had clicked "Inspect code..."
It came up with typos that I fixed last week, and various errors in code - like these.
I have not looked at what they are about - just that the code is clearly not correct.

[2018-09-03 12:34] voroyam commented on #4341
PR is merged, no feedback from author, closing

[2018-09-03 12:34] #4341 closed

[2018-09-03 14:31] sharidas opened #4408 "User creation changes"
For the release 10.0.10 we have made changes to the users page or the user_management app. Prior to 10.0.10 release the user can be created from the users page using username and password. Now it has been changed to Username and Email address. So by default when user opens the users page, user would see Username and Email text box to fill in order to create the user.

![default-mail](https://user-

[2018-09-03 14:36] sharidas opened #4409 "Reset password command changes made for the release"
The reset password command  has been updated with additional options:
- `--send-email`
- `--output-link`

#### Description for `--send-email`

As the option suggests, an email will be sent to the user's email address ( if configured ), and the link sent in the email will be displayed in the command line. This link can be used to reset the password for the user.

#### Description for `--output-link

[2018-09-03 15:57] mmattel opened #4410 "Reminder to run the config.sample converter script from now on twice for core ans apps"
see: https://github.com/owncloud/documentation/pull/4390 (Prepare for config_apps_sample_php_parameters.rst)

[2018-09-04 07:43] settermjd commented on #4409
@sharidas, what's the implementing PR of this functionality?

[2018-09-04 07:44] settermjd commented on #4392
I did a quick search of the documentation and don't find any reference to these code files. Are they worth keeping?

[2018-09-04 07:44] settermjd commented on #4408
@sharidas, what is the implementing PR for these changes?

[2018-09-04 07:50] phil-davis commented on #4392
I have no idea. I am just the "code is invalid" messenger.
I wonder who might know?

[2018-09-04 07:54] sharidas commented on #4408
The PR which got merged to master branch of user_management app https://github.com/owncloud/user_management/pull/48

For the stable10 branch the PR is https://github.com/owncloud/core/pull/32466 , merged.

[2018-09-04 07:56] sharidas commented on #4409
The master branch PR which got merged : https://github.com/owncloud/core/pull/32345
The PR for stable10 branch which got merged : https://github.com/owncloud/core/pull/32500

[2018-09-04 07:58] settermjd commented on #4332
@DeepDiver1975, can you provide extra input/clarity here, pls?

[2018-09-04 08:02] settermjd commented on #4409
Thanks. The code and tests read clearly enough.

[2018-09-05 06:17] #4410 closed

[2018-09-05 13:35] settermjd commented on #4308
Is this finished?

[2018-09-05 13:36] settermjd commented on #4294
Is this finished?

[2018-09-05 14:06] voroyam commented on #4308
yes

[2018-09-05 14:06] #4308 closed

[2018-09-05 14:07] voroyam commented on #4294
yes

[2018-09-05 14:07] #4294 closed

[2018-09-06 10:53] settermjd commented on #3115
@voroyam, any progress on this?

[2018-09-06 10:56] settermjd commented on #4254
@davitol, is it worth just linking to the relevant page in the Wiki, e.g, https://github.com/owncloud/core/wiki/ownCloud-10.0-Features?

[2018-09-06 10:56] settermjd commented on #4334
Might have been closed by mistake.

[2018-09-06 10:57] settermjd commented on #4179
@mmattel, is this still actively in progress?

[2018-09-06 10:58] settermjd commented on #4064
@mmattel, is this addressed now?

[2018-09-06 10:59] settermjd commented on #3805
@voroyam, are you implementing this? Or has it already been done?

[2018-09-06 17:02] patrickjahns commented on #4064
We are trying to establish two make-file targets for the time being:

- `test-php-style` -> check for errors and exit with failure ( used in CI or pre-commit hooks )
- `test-php-style-fix` -> fix detected errors

Example:
https://github.com/owncloud/password_policy/blob/master/Makefile#L114-L122

[2018-09-06 17:04] patrickjahns commented on #4064
Also note:

We are moving towards segregating cli tool dependencies into `vendor-bin` folders - example also in
https://github.com/owncloud/password_policy/blob/master/Makefile

This has the benefit, that tools can fetch their dependencies independently from the ownCloud app. As the CLI tool can have any dependency and not affect the app itself.

[2018-09-07 06:45] mmattel commented on #4064
@patrickjahns it would be great to start documenting these things, even not 100% ready or final. Currently there is nothing. I am lacking knowledge to write the text...

[2018-09-07 06:54] mmattel commented on #4179
There is still no content created which is imho a must to give admins advice and limitations. I am not an encryption expert, I just highlighted the case as I see the issues/discussions/notes

[2018-09-07 08:48] voroyam commented on #4179
If @PVince81 or/and @pmaier1  estimate that the cases are enough to document I can document them in the encryption document.

[2018-09-07 08:51] voroyam commented on #3805
No, but I will.

[2018-09-07 09:10] phil-davis opened #4413 "User password cannot be "0""
In the upcoming 10.0.10 a user password cannot be set to "0".
Do we document this?
If so, where?

https://github.com/owncloud/core/issues/32626
https://github.com/owncloud/core/pull/32261

[2018-09-07 09:15] sharidas commented on #3738
Below is the detailed list of the symfony events triggered by the core:

| File Name  | Method Name | Event Triggered | Arguments | Description |
| ------------- | ------------- | ------------- |------------- |------------- |
| View.php  | `mkdir` | `file.beforecreate`/`file.aftercreate` | `path` | The `path` here would provide the absolute path |
| View.php  | `emit_file_hooks_pre` | `file.before

[2018-09-07 09:20] PVince81 commented on #3738
in general I think the file name is irrelevant.

try thinking in terms of who will be using these events and what they want to know

[2018-09-07 10:42] PVince81 commented on #4179
@voroyam I think the current list is enough for now, thanks

[2018-09-07 10:44] voroyam commented on #4179
Okay, what's left to figure out is the place and wording.

I have a draft here, please review @PVince81 @pmaier1 @mmattel @settermjd

https://github.com/owncloud/docs/pull/70

[2018-09-07 11:53] voroyam commented on #3805
Question

Are those both statements correct?
[code]
@PVince81 @DeepDiver1975

[2018-09-07 12:07] voroyam commented on #3805
https://github.com/owncloud/docs/pull/71

[2018-09-07 12:14] voroyam commented on #3837
PR is backported, issue can be closed

[2018-09-07 12:14] #3837 closed

[2018-09-07 12:15] voroyam commented on #4080
PR merged, closing

[2018-09-07 12:15] #4080 closed

[2018-09-07 12:15] voroyam commented on #4137
https://github.com/owncloud/documentation/pull/4310

PR is merged, issue can be closed

[2018-09-07 12:15] #4137 closed

[2018-09-07 12:17] voroyam commented on #4226
PR is merged, closing

[2018-09-07 12:17] #4226 closed

[2018-09-07 12:18] voroyam commented on #4243
PR is merged, closing

[2018-09-07 12:18] #4243 closed

[2018-09-07 12:34] voroyam commented on #4350
no, because the relevant info was already on the document. But I can include the link for completion reasons.

[2018-09-07 12:38] voroyam commented on #4350
https://github.com/owncloud/docs/pull/72

[2018-09-07 13:13] mmattel commented on #4346
As you see in the core PR, it is an occ core command, ``admin_manual/configuration/server/occ_command.rst``, under section Encryption

[2018-09-07 13:51] voroyam commented on #4346
I already did implement this in the occ. Just found out because I wanted to implement this.

[2018-09-07 14:10] mmattel commented on #4346
Where is this documented?

https://github.com/owncloud/documentation/edit/master/admin_manual/configuration/server/occ_command.rst#L671 is the only place where this command gets a note but it tells its existance but with no details as I highlighted above (see also the referenced core PR), so this is not enough.
?

[2018-09-07 14:18] voroyam commented on #4346
https://github.com/owncloud/docs/edit/master/modules/ROOT/pages/configuration/server/occ_command.adoc#L612

[2018-09-07 14:30] mmattel commented on #4346
ok, I see. closing is fine.
just wondering as the documents are diverging.
eg occ_commands is in documentation now split into two which is not here...
in documentation your (this) change is not present
so how to make it that things do not get lost?
@settermjd

[2018-09-07 14:34] voroyam commented on #4346
I think the docs version is the final version since we are moving to that version.

But you are correct, it should have been backported

@settermjd

[2018-09-09 11:58] sharidas commented on #3738
Yes you are right, the file name doesn't make any sense. I have removed the column. So the columns on the updated https://github.com/owncloud/documentation/issues/3738#issuecomment-419377043 are
`Method Name`, `Event Triggered`, `Arguments`, `Description`.

Let me know if this looks ok? I am quite not sure if the app developer would be interested to know which method triggered this event. Because

[2018-09-10 07:27] PVince81 commented on #3738
the method name is irrelevant as well.

better have a description column that describes when each event is happening / in what context

[2018-09-10 08:11] sharidas commented on #3738
Sure.

[2018-09-10 14:31] voroyam commented on #3805
@PVince81

Those two lines in one line?
[code]
in

`* Don't add more than 999 conditions in a `WHERE ... IN ...` statement but chunk it into separate queries when using SQLite`

[2018-09-10 16:56] cdamken commented on #2748
@michaelstingl Can you take a look to this issue? or you prefer to bring a 2 years Cake on my birthday :smile:

[2018-09-10 17:16] michaelstingl commented on #2748
Let’s bring this to Asciidoc and Antora first, then @ChrisEdS and I can take care …

[2018-09-11 07:30] PVince81 commented on #3805
@voroyam sounds good

[2018-09-11 09:10] cdamken commented on #2748
No, please let's do the documentation and then we can migrate when another migration exists, please stop to postpone with excuses. Or you need a special feature for Asciidocs or Antora to do the job?

[2018-09-11 10:36] sharidas commented on #3738
Updated again with a new column which has the description about when the event is triggered.

[2018-09-11 16:16] voroyam commented on #3805
@PVince81 done

[2018-09-13 11:52] settermjd commented on #4377
I'm working on this at the moment. Hope to have a PR completed for it today.

[2018-09-14 13:31] voroyam commented on #4413
Would this be the right place to document this?

https://github.com/owncloud/docs/blob/master/modules/ROOT/pages/configuration/user/user_configuration.adoc#creating-a-new-user

[2018-09-14 13:43] voroyam commented on #4408
Do we have to update the screenshots here?

https://doc.owncloud.com/server/10.0/admin_manual/configuration/user/user_configuration.html?highlight=users

[2018-09-14 13:46] phil-davis commented on #4413
I guess so. But also you cannot create the user using ``occ user:add`` or reset their password with ``occ`` or the webUI and give a password of "0".

And if it has not been done already, that will need updating for 10.0.10 also because of thee change in the UI to default to sending users an email, and the admin does not create an initial password.

[2018-09-17 13:43] voroyam commented on #3805
PR merged, closing

[2018-09-17 13:43] #3805 closed

[2018-09-19 13:01] mmattel commented on #4189
Solved, having now two files for config and occ, closing.

[2018-09-19 13:01] #4189 closed

[2018-09-20 10:56] #4404 closed

[2018-09-21 06:46] settermjd commented on #4413
Sounds like https://github.com/owncloud/docs/blob/master/modules/ROOT/pages/configuration/user/user_configuration.adoc#creating-a-new-user and https://github.com/owncloud/docs/blob/master/modules/ROOT/pages/configuration/server/occ_command.adoc are the correct places for this.

[2018-09-21 06:47] settermjd commented on #4413
When completed, it needs to be back(cross)ported to the Antora version of the docs. Actually, best to move the issue there.

[2018-09-21 06:47] settermjd commented on #4408
@sharidas?

[2018-09-21 06:48] settermjd commented on #4346
@mmattel, re https://github.com/owncloud/documentation/issues/4346#issuecomment-419457627, best to make/keep a list of any discrepancies that you find.

[2018-09-24 07:59] settermjd commented on #2748
@cdamken, can you, or someone more knowledgeable than I on iOS, please provide the relevant documentation changes, even if it's just dumped as a comment. I can (or someone else) take it from there.

[2018-09-24 08:06] settermjd commented on #4179
Closing as the implementing PR has been merged.

[2018-09-24 08:06] #4179 closed

[2018-09-24 08:09] settermjd commented on #4064
@patrickjahns, when more concrete information's available, can you provide the core text for the docs, pls?

[2018-09-24 08:16] settermjd commented on #4234
@mmattel, is this only applicable to OC11? That's what I infer after reading through the PR discussion thread.

[2018-09-24 08:18] phil-davis commented on #4064
One question is what  to document. ``make test-php-style-fix`` can "just fix it" for you. So you can "shut your eyes" and write "randomly-formatted" code. Then let the fixer fix it for you :) If you do that, then you do not need to know what the standard is!

I guess we should document some links to the standard that is chosen (e.g. PSR-0, PSR-42, whatever) so that people have some idea what the s

[2018-09-24 09:48] mmattel commented on #4234
@settermjd correct, core PR got merged to master only. On request fo backporting the answer was oC11 only. I do not know how to handle such a doc issue so things get not forgotten when oC is released...

[2018-09-24 09:49] michaelstingl commented on #2748
### 1st change

https://github.com/owncloud/branded_clients/blob/master/branded_ios_app/publishing_ios_app_5.rst

**Previously**

Customers had to send 4 Ad Hoc provisioning profiles to `support <at> owncloud.com` and needed 4 App Store provisioning profiles for some magic in their Xcode.

**Now**

Customers can upload 4 Ad Hoc provisioning profiles and 4 App Store provisioning profiles to their a

[2018-09-24 09:54] michaelstingl commented on #2748
### 2nd change

https://github.com/owncloud/branded_clients/blob/master/branded_ios_app/publishing_ios_app_9.rst

**Previously**

Customers got a `*.xcarchive` that needed processing in Xcode, then can be uploaded to iTunes connect (App Store).

**Now**

Customers now get an `*.IPA`, that can be uploaded with [Application loader](https://help.apple.com/itc/apploader/) directly to iTunes connect (A

[2018-09-24 12:21] sharidas commented on #4408
@voroyam @settermjd Yes we should update the screenshots at https://doc.owncloud.com/server/10.0/admin_manual/configuration/user/user_configuration.html?highlight=users. By default it points to `password`. Also we would need to change the https://doc.owncloud.com/server/10.0/admin_manual/_images/users-config-2.png with
![setpassword](https://user-images.githubusercontent.com/3600427/45951717-3d05a

[2018-09-24 13:27] micbar commented on #4258
@settermjdI forgot to ping someone for review.

[2018-09-24 13:34] patrickjahns commented on #4064
The coding standard is open and has its own repository - https://github.com/owncloud/coding-standard/

Latest cs-fixer configuration is to be found in the repository
https://github.com/owncloud/coding-standard/blob/master/src/Config.php

And yes - we shall not write more details then the configuration provides by default. Running the `make test-php-style` will provide reasonable details of what is

[2018-09-28 09:18] #3028 closed

[2018-09-28 13:43] settermjd commented on #4413
Closing as the implementing PR has been merged.

[2018-09-28 13:43] #4413 closed

[2018-10-02 08:56] settermjd commented on #4288
Sorry to ask so late after the fact, but can you re-open this in [the docs repo](https://github.com/owncloud/docs), pls?

[2018-10-02 11:28] pmaier1 commented on #4288
Moved to https://github.com/owncloud/docs/issues/133.

[2018-10-02 11:28] #4288 closed

[2018-10-05 11:55] pmaier1 commented on #4333
Also the screenshot (and maybe the table below) needs an update as we changed some wording and ordering of the password policy settings (https://doc.owncloud.com/server/latest/admin_manual/configuration/server/security/password_policy.html).

![password_pol](https://user-images.githubusercontent.com/21193500/46533824-528e8b80-c8a6-11e8-8d86-078eacc50c69.png)

[2018-10-12 10:43] phil-davis commented on #3829
Moved over to docs repo https://github.com/owncloud/docs/issues/156

[2018-10-12 10:43] #3829 closed

[2018-10-15 07:48] sharidas opened #4445 "Migration guide from user keys encryption to master key"
We need to provide a migration guide for users to migrate from user keys encryption to master key encryption. The doc should provide step by step guide what to be done from the command line to achieve this task.

[2018-10-15 14:57] sharidas commented on #4445
Closing this ticket in favour of https://github.com/owncloud/docs/issues/157

[2018-10-15 14:57] #4445 closed

[2018-10-16 09:59] settermjd commented on #4340
Closing, as this is now being implemented by https://github.com/owncloud/docs/issues/159.

[2018-10-16 09:59] #4340 closed

[2018-10-24 15:04] pmaier1 commented on #4377
What's the state here? Any blockers? Server 10.0.10 with PHP 7.2 support is released and people start asking for installation instructions, e.g. on 18.04.

[2018-10-24 15:22] DeepDiver1975 commented on #4377
recommendation of 7.2 is there - https://doc.owncloud.com/server/10.0/admin_manual/installation/source_installation.html#php-version

What's missing? Talk about Ubuntu 18 instead of 16?

[2018-10-25 14:10] cdamken commented on #4377
Since 10.0.10 you can install 18.04 with php 7.2

I'm agree with @DeepDiver1975 that nothing is missing now and we could/should recommend the latest LTS version too

[2018-10-26 08:02] pmaier1 commented on #4377
Yep, I agree, too. But the doc page still mentions 16.04 and I understand that people are confused. Also the first point is to add the php ppa (add-apt-repository ppa:ondrej/php) which should not be necessary with 18.04. Also I remember something about a change in packages (php-openssl?) which is not reflected in the docs. Tell me when I'm wrong :)

[2018-11-02 10:00] meisterleise opened #4456 "Password special charakters"
I’m surprised there’s no question about it yet:
Which special characters can be used for entering passwords? Where can I find more information?
So far I have found out that the following characters do not work:

Space
Underscore _

Surely there are many more…?

[2018-11-02 10:02] meisterleise commented on #4456
Hm, made a ticket there, too. Let's see...

[2018-11-06 12:41] PVince81 commented on #4264
do we still need this or do the docs look ok  as they are ?

[2018-11-06 14:10] mrlinux1 opened #4457 "knowledgebaseenabled parameter description"
https://doc.owncloud.org/server/10.0/admin_manual/configuration/server/knowledgebase_configuration.html

This option seems to work only for community edition. And it seems to be a legacy thing.

Then there is a problem to write " you have to use it to disable ..."
but showing "knowledgebaseenabled" => true.

And please change "knowledgebaseenabled" to 'knowledgebaseenabled'.

[2018-11-07 08:38] davitol commented on #4254
@settermjd _What’s New in ownCloud_ section must be different from the  https://github.com/owncloud/core/wiki/ownCloud-10.0-Features. The 1st one must show at a glance the new stuff and the second one I think it should include all the oC 10 features, but that page seems very outdated

[2018-11-07 08:38] davitol commented on #4254
Anyway the 1st issue spotted in this ticket is solved, so IMHO we can close the ticket

[2018-11-07 08:38] #4254 closed

[2018-11-07 11:02] settermjd commented on #4409
This [has been implemented](https://github.com/owncloud/docs/pull/164) in the new documentation. @PVince81, do you want these changes backported to the old docs?

[2018-11-07 16:02] davitol opened #4460 "Wrong path for browsing to Impersonate settings shown in the manual"
In the manual we say here: https://doc.owncloud.org/server/10.0/admin_manual/issues/impersonate_users.html#restrict-impersonation-to-groups-group-administrators

![screen shot 2018-11-07 at 16 59 26](https://user-images.githubusercontent.com/10596560/48143170-864a4000-e2ae-11e8-8fee-cc471c9bc82b.png)

**But Impersonate settings are located in User_Authentication Section instead of Additional**

<i

[2018-11-14 12:45] cdamken commented on #3919
@JKawohl @CaptionF FYI

[2018-11-14 14:05] patrickjahns commented on #3919
@voroyam

There are plenty of guides from mysql / mariadb about tuning/configuring the database accordingly which give hints on percentages and numbers. However - every system is different and it is the responsibility of the database admin to observer and learn how the database should be configured.

Instead of providing the information for mariadb ( and then respectively for mysql, oracle databas

[2018-11-14 16:41] PVince81 commented on #4409
@settermjd I don't think it's urgent. We could also wait for when the new docs format is applied to stable10.

[2018-11-16 11:18] #4460 closed

[2018-11-19 13:07] settermjd commented on #4409
Okay, closing as new docs are going live ASAP.

[2018-11-19 13:07] #4409 closed

[2019-02-05 20:18] #2403 closed

[2019-02-05 20:46] settermjd commented on #3346
This is being implemented in https://github.com/owncloud/docs/pull/584.

[2019-02-06 08:19] #2929 closed

[2019-02-06 08:20] #2730 closed

[2019-02-06 08:20] #2725 closed

[2019-02-06 08:53] settermjd commented on #3402
I'm going to have to chase this up further, later, as I've not been able to make any changes using the current instructions, or `occ maintenance:mimetype:update-{js,db}`.

[2019-02-12 18:14] IljaN opened #4474 "Document login to marketplace from market-app [WIP]"
With https://github.com/owncloud/market/issues/425 we can login directly from inside market-app in to marketplace to auto-install the api-key in to the instance.